
<div [formGroup]="editForm">
    <div class="form-group row" *ngIf="field.properties.isContentField">
        <div class="col-9 offset-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="{{field.fieldId}}_fieldResolveImage" formControlName="resolveImage" />
                <label class="form-check-label" for="{{field.fieldId}}_fieldResolveImage">
                    Resolve image
                </label>
            </div>

            <sqx-form-hint>
                Show the first referenced image in the content list.
            </sqx-form-hint>
        </div>
    </div>
</div>