<div [formGroup]="editForm">
    <div class="form-group row">
        <label class="col col-3 col-form-checkbox-label" for="field-required">Required</label>

        <div class="col col-6">
            <input type="checkbox" class="form-check-input" id="field-required" formControlName="isRequired" />
        </div>
    </div>

    <div class="form-group row" *ngIf="!(hideDefaultValue | async)">
        <label class="col col-3 col-form-checkbox-label" for="field-default-value">Default Value</label>

        <div class="col col-6">
            <input type="checkbox" class="form-check-input" id="field-default-value" formControlName="defaultValue" sqxIndeterminateValue />
        </div>
    </div>
</div>