<div [formGroup]="editForm">
    <div class="form-group row">
        <label for="field-placeholder" class="col col-3 col-form-label">Placeholder</label>

        <div class="col col-6">
            <input type="text" class="form-control" id="field-placeholder" maxlength="100" formControlName="placeholder" />

            <span class="form-hint">
                Define the placeholder for the input control.
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label for="field-editor" class="col col-3 col-form-label">Editor</label>

        <div class="col col-9">
            <label class="btn btn-radio" [class.active]="editForm.controls.editor.value === 'Date'">
                <input type="radio" class="radio-input" formControlName="editor" value="Date" />

                <i class="icon-control-date"></i>

                <span class="radio-label">Date</span>
            </label>
            <label class="btn btn-radio" [class.active]="editForm.controls.editor.value === 'DateTime'">
                <input type="radio" class="radio-input" formControlName="editor" value="DateTime" />

                <i class="icon-control-datetime"></i>

                <span class="radio-label" clas>DateTime</span>
            </label>
        </div>
    </div>
</div>