<div [formGroup]="editForm">
    <div class="form-group row">
        <label class="col-xs-3 col-form-checkbox-label" for="field-required">Required</label>

        <div class="col-xs-6">
            <input type="checkbox" class="form-check-input" id="field-required" formControlName="isRequired" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-3 col-form-label">Range</label>

        <div class="col-xs-3 minlength-col">
            <input type="number" class="form-control" id="field-min-value" formControlName="minValue" placeholder="Min Value" />
            
            <label class="col-form-label minlength-label">-</label>
        </div>
        <div class="col-xs-3">
            <input type="number" class="form-control" id="field-max-value" formControlName="maxValue" placeholder="Max Value" />
        </div>
    </div>

    <div class="form-group row" [class.hidden]="(hideDefaultValue | async)">
        <label class="col-xs-3 col-form-label" for="field-default-value">Default Value</label>

        <div class="col-xs-6">
            <input type="number" class="form-control" id="field-default-value" formControlName="defaultValue" />
        </div>
    </div>
</div>