<div [formGroup]="editForm">
    <div class="form-group row">
        <label class="col col-3 col-form-label" for="{{field.fieldId}}_fieldPlaceholder">Placeholder</label>

        <div class="col col-6">
            <input type="text" class="form-control" id="{{field.fieldId}}_fieldPlaceholder" maxlength="100" formControlName="placeholder" />

            <small class="form-text text-muted">
                Define the placeholder for the input control.
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col col-3 col-form-label">Editor</label>

        <div class="col col-9">
            <label class="btn btn-radio" [class.active]="editForm.controls['editor'].value === 'Input'">
                <input type="radio" class="radio-input" formControlName="editor" value="Input" />

                <i class="icon-control-Input"></i>

                <span class="radio-label">Input</span>
            </label>
            <label class="btn btn-radio" [class.active]="editForm.controls['editor'].value === 'Slug'">
                <input type="radio" class="radio-input" formControlName="editor" value="Slug" />

                <i class="icon-control-Slug"></i>

                <span class="radio-label">Slug</span>
            </label>
            <label class="btn btn-radio" [class.active]="editForm.controls['editor'].value === 'TextArea'">
                <input type="radio" class="radio-input" formControlName="editor" value="TextArea" />

                <i class="icon-control-TextArea"></i>

                <span class="radio-label">TextArea</span>
            </label>
            <label class="btn btn-radio" [class.active]="editForm.controls['editor'].value === 'RichText'">
                <input type="radio" class="radio-input" formControlName="editor" value="RichText" />

                <i class="icon-control-RichText"></i>

                <span class="radio-label">RichText</span>
            </label>
            <label class="btn btn-radio" [class.active]="editForm.controls['editor'].value === 'Markdown'">
                <input type="radio" class="radio-input" formControlName="editor" value="Markdown" />

                <i class="icon-control-Markdown"></i>

                <span class="radio-label">Markdown</span>
            </label>
            <label class="btn btn-radio" [class.active]="editForm.controls['editor'].value === 'Dropdown'">
                <input type="radio" class="radio-input" formControlName="editor" value="Dropdown" />

                <i class="icon-control-Dropdown"></i>

                <span class="radio-label" clas>Dropdown</span>
            </label>
            <label class="btn btn-radio" [class.active]="editForm.controls['editor'].value === 'Radio'">
                <input type="radio" class="radio-input" formControlName="editor" value="Radio" />

                <i class="icon-control-Radio"></i>

                <span class="radio-label">Radio</span>
            </label>
        </div>
    </div>
    <div class="form-group row" [class.hidden]="hideAllowedValues | async">
        <label class="col col-3 col-form-label">Allowed Values</label>

        <div class="col col-6">
            <sqx-tag-editor formControlName="allowedValues"></sqx-tag-editor>
        </div>
    </div>
    <div class="form-group row" [class.hidden]="hideInlineEditable | async">
        <div class="col col-9 offset-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="{{field.fieldId}}_fieldInlineEditable" formControlName="inlineEditable" />
                <label class="form-check-label" for="{{field.fieldId}}_fieldInlineEditable">
                    Inline Editable
                </label>
            </div>
        </div>
    </div>
</div>