<div [formGroup]="editForm">
    <div class="form-group row">
        <label for="field-input-placeholder" class="col-xs-3 col-form-label">Placeholder</label>

        <div class="col-xs-6">
            <sqx-control-errors for="placeholder" [submitted]="editForm.touched"></sqx-control-errors>

            <input type="text" class="form-control" id="field-input-placeholder" maxlength="100" formControlName="placeholder" />

            <span class="form-hint">
                Define the placeholder for the input control.
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label for="field-input-editor" class="col-xs-3 col-form-label">Editor</label>

        <div class="col-xs-9">
            <label class="btn btn-radio" [class.active]="editForm.controls.editor.value === 'Input'">
                <input type="radio" class="radio-input" formControlName="editor" value="Input" />

                <i class="icon-control-input"></i>

                <span class="radio-label">Input</span>
            </label>
            <label class="btn btn-radio" [class.active]="editForm.controls.editor.value === 'TextArea'">
                <input type="radio" class="radio-input" formControlName="editor" value="TextArea" />

                <i class="icon-control-textarea"></i>

                <span class="radio-label">TextArea</span>
            </label>
            <label class="btn btn-radio" [class.active]="editForm.controls.editor.value === 'Dropdown'">
                <input type="radio" class="radio-input" formControlName="editor" value="Dropdown" />

                <i class="icon-control-dropdown"></i>

                <span class="radio-label" clas>Dropdown</span>
            </label>
            <label class="btn btn-radio" [class.active]="editForm.controls.editor.value === 'Radio'">
                <input type="radio" class="radio-input" formControlName="editor" value="Radio" />

                <i class="icon-control-radio"></i>

                <span class="radio-label">Radio</span>
            </label>
        </div>
    </div>
    <div class="form-group row" [class.hide]="hideAllowedValues | async">
        <label for="field-allowed-values" class="col-xs-3 col-form-label">Allowed Values</label>

        <div class="col-xs-6">
            <sqx-tag-editor formControlName="allowedValues"></sqx-tag-editor>
        </div>
    </div>
</div>