@import '_vars';
@import '_mixins';

.minlength {
    &-col {
        position: relative;
    }

    &-label {
        @include absolute(0, -2rem, auto, auto);
    }
}

.form-check-input {
    margin: 0;
}