<div [formGroup]="editForm">
    <div class="form-group row">
        <label class="col col-3 col-form-checkbox-label" for="field-required">Required</label>

        <div class="col col-6">
            <input type="checkbox" class="form-check-input" id="field-required" formControlName="isRequired" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col col-3 col-form-label">Length</label>

        <div class="col col-3 minlength-col">
            <input type="number" class="form-control" id="field-min-length" formControlName="minLength" placeholder="Min Length" />
            
            <label class="col-form-label minlength-label">-</label>
        </div>
        <div class="col col-3">
            <input type="number" class="form-control" id="field-max-length" formControlName="maxLength" placeholder="Max Length" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col col-3 col-form-label" for="field-pattern">Pattern</label>

        <div class="col col-6">
            <input type="text" class="form-control" id="field-pattern" formControlName="pattern" placeholder="Regex Pattern" #patternInput
                autocomplete="off" 
                autocorrect="off"
                autocapitalize="off" 
                (focus)="regexSuggestionsModal.show()" (blur)="regexSuggestionsModal.hide()" />

            <div *ngIf="regexSuggestions.length > 0 && (regexSuggestionsModal.isOpen | async) && (showPatternSuggestions | async)" [sqxModalTarget]="patternInput" class="control-dropdown">
                <h4>Suggestions</h4>

                <div *ngFor="let suggestion of regexSuggestions" class="control-dropdown-item control-dropdown-item-selectable" (mousedown)="setPattern(suggestion.pattern)">
                    <div class="truncate">{{suggestion.name}}</div>
                    <div class="truncate text-muted">{{suggestion.pattern}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row" *ngIf="showPatternMessage | async">
        <label class="col col-3 col-form-label" for="field-pattern-message">Pattern Message</label>

        <div class="col col-6">
            <input type="text" class="form-control" id="field-pattern-message" formControlName="patternMessage" />
        </div>
    </div>

    <div class="form-group row" *ngIf="showDefaultValue | async">
        <label class="col col-3 col-form-label" for="field-default-value">Default Value</label>

        <div class="col col-6">
            <input type="text" class="form-control" id="field-default-value" formControlName="defaultValue" />
        </div>
    </div>
</div>