<td *ngFor="let value of values">
    <span class="field">
        {{value}}
    </span>
</td>
<td>
    <span class="item-published" [class.unpublished]="!content.isPublished"></span>
    <span class="item-modified">{{content.lastModified | fromNow}}</span>
</td>
<td>
    <img class="user-picture" [attr.title]="userName(content.lastModifiedBy, true) | async" [attr.src]="userPicture(content.lastModifiedBy, true) | async" />
</td>
<td>
    <div class="dropdown dropdown-options" *ngIf="content">
        <button type="button" class="btn btn-simple" (click)="dropdown.toggle(); $event.stopPropagation()" [class.active]="dropdown.isOpen | async">
            <i class="icon-dots"></i>
        </button>
        <div class="dropdown-menu" *sqxModalView="dropdown" closeAlways="true" [@fade]>
            <a class="dropdown-item" (click)="publishing.emit(); $event.stopPropagation()" *ngIf="!content.isPublished">
                Publish
            </a>
            <a class="dropdown-item" (click)="unpublishing.emit(); $event.stopPropagation()" *ngIf="content.isPublished">
                Unpublish
            </a>
            <a class="dropdown-item" (click)="deleting.emit(); $event.stopPropagation()">
                Delete
            </a>
        </div>
    </div>
</td>