@import '_vars';
@import '_mixins';

.panel {
    min-width: 64rem;
    max-width: 64rem;
}

.languages-buttons {
    margin-right: 1rem;
}

.field {
    @include truncate;
}

.content {
    cursor: pointer;
}

.user-picture {
    & {
        @include circle(2.2rem);
    }

    &:not([src]) {
        @include opacity(0);
    }
}