<sqx-title message="{app} | Contents" parameter1="app" value1="{{appName() | async}}"></sqx-title>

<sqx-panel panelWidth="61rem">
    <div class="panel-header">
        <div class="panel-title-row">
            <div class="float-xs-right">
                <div class="btn-group languages-buttons" role="group">
                    <button type="button" class="btn btn-secondary" *ngFor="let language of languages" [attr.title]="language.englishName" [class.active]="language == languageSelected" (click)="selectLanguage(language)">
                        {{language.iso2Code}}
                    </button>
                </div>

                <a class="btn btn-success" [routerLink]="['new']">
                    <i class="icon-plus"></i> New
                </a>
            </div>

            <h3 class="panel-title">{{schema|displayName}} Contents</h3>
        </div>

        <a class="panel-close" routerLink="../">
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content panel-content-scroll">
            <table class="table table-items table-fixed" *ngIf="contentItems">
                <colgroup>
                    <col *ngFor="let field of contentFields" [style.width]="columnWidth + '%'" />
                    <col style="width: 190px" />
                    <col style="width: 80px" />
                    <col style="width: 80px" />
                </colgroup>

                <thead>
                    <tr>
                        <th *ngFor="let field of contentFields">
                            <span class="field">{{field|displayName:'properties.label':'name'}}</span>
                        </th>
                        <th>
                            Updated
                        </th>
                        <th>
                            By
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <template ngFor let-content [ngForOf]="contentItems">
                        <tr [routerLink]="[content.id]" routerLinkActive="active" class="content" 
                            [sqxContent]="content" 
                            [language]="languageSelected"
                            [fields]="contentFields"
                            [schema]="schema"
                            (unpublished)="unpublishContent(content)"
                            (published)="publishContent(content)"
                            (deleted)="deleteContent(content)"></tr>
                        <tr class="spacer"></tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div class="panel-sidebar">
            <a class="panel-link" routerLink="history" routerLinkActive="active">
                <i class="icon-time"></i>
            </a>
        </div>
    </div>
</sqx-panel>

<router-outlet></router-outlet>