@import '_vars';
@import '_mixins';

.languages-buttons {
    margin-right: 2rem;
}

.content {
    cursor: pointer;
}

.btn-group {
    margin-left: 1rem;
}

.icon-plus {
    font-size: .8rem;
}

.form-control {
    width: 15rem;
}

.form-inline {
    display: inline-block;
}