@import '_vars';
@import '_mixins';

:host /deep/ .search-form {
    display: block;
}

.content {
    cursor: pointer;
}

.icon-plus {
    font-size: .8rem;
}

.selection {
    background: $color-table-footer;
    border-bottom: 2px solid $color-border;
    padding: .25 * $panel-padding $panel-padding;
}