@import '_vars';
@import '_mixins';

.form-horizontal {
    padding: 1rem 1.5rem;
    min-width: 25rem;
    max-width: 25rem;
}

.form-check {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: normal;
    text-align: right;
}

.link {
    margin-top: 1.5rem;
    font-size: .8rem;
    font-weight: normal;
}

.col-form-label {
    text-align: left;
}