<div class="table-items-footer">
    <form [formGroup]="addLanguageForm.form" (ngSubmit)="addLanguage()">
        <div class="row no-gutters">
            <div class="col">
                <select class="custom-select" formControlName="language">
                    <option *ngFor="let language of newLanguages" [ngValue]="language">{{language.englishName}}</option>
                </select>
            </div>
            <div class="col-auto pl-1">
                <button type="submit" class="btn btn-success">
                    {{ 'languages.add' | sqxTranslate }}
                </button>
            </div>
        </div>
    </form>
</div>