<tr [class.faulted]="eventConsumer.error && eventConsumer.error && eventConsumer.error.length > 0">
    <td class="cell-auto">
        <span class="truncate">
            <i class="faulted-icon icon icon-bug" (click)="error.emit()" [class.hidden]="!eventConsumer.error || eventConsumer.error.length === 0"></i>

            {{eventConsumer.name}}
        </span>
    </td>
    <td class="cell-auto-right">
        <span>{{eventConsumer.count}}</span>
    </td>
    <td class="cell-auto-right">
        <span>{{eventConsumer.position}}</span>
    </td>
    <td class="cell-actions-lg">
        <button type="button" class="btn btn-text-secondary" (click)="reset()" *ngIf="eventConsumer.canReset" title="i18n:eventConsumers.resetTooltip">
            <i class="icon icon-reset"></i>
        </button>
        <button type="button" class="btn btn-text-secondary" (click)="start()" *ngIf="eventConsumer.canStart" title="i18n:eventConsumers.startTooltip">
            <i class="icon icon-play"></i>
        </button>
        <button type="button" class="btn btn-text-secondary" (click)="stop()" *ngIf="eventConsumer.canStop" title="i18n:eventConsumers.stopTooltip">
            <i class="icon icon-pause"></i>
        </button>
    </td>
</tr>
<tr class="spacer"></tr>