<div class="card">
    <div class="card-header">
        <div class="row no-gutters">
            <div class="col col-name">
                <sqx-editable-title [name]="client.name" (nameChange)="rename($event)" [disabled]="!client.canUpdate">
                </sqx-editable-title>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" (click)="connectDialog.show()">
                    {{ 'clients.connect' | sqxTranslate }}
                </button>
            </div>
            <div class="col-auto cell-actions no-padding">
                <button type="button" class="btn btn-text-danger" [disabled]="!client.canRevoke"
                    (sqxConfirmClick)="revoke()"
                    confirmTitle="i18n:clients.deleteConfirmTitle"
                    confirmText="i18n:clients.deleteConfirmText"
                    confirmRememberKey="revokeClient">
                    <i class="icon-bin2"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="form-group row">
                <label class="col-3 col-form-label">
                    {{ 'common.clientId' | sqxTranslate }}
                </label>
                <div class="col cell-input">
                    <input readonly class="form-control" value="{{appsState.appName}}:{{client.id}}" #inputName>
                </div>
                <div class="col-auto cell-actions no-padding">
                    <button type="button" class="btn btn-text" [sqxCopy]="inputName">
                        <i class="icon-copy"></i>
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">
                    {{ 'common.clientSecret' | sqxTranslate }}
                </label>
                <div class="col cell-input">
                    <input readonly class="form-control" [value]="client.secret" #inputSecret>
                </div>
                <div class="col-auto cell-actions no-padding">
                    <button type="button" class="btn btn-text" [sqxCopy]="inputSecret">
                        <i class="icon-copy"></i>
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">
                    {{ 'common.role' | sqxTranslate }}
                </label>
                <div class="col cell-input">
                    <select class="custom-select" [disabled]="!client.canUpdate" [ngModel]="client.role" (ngModelChange)="updateRole($event)">
                        <option *ngFor="let role of clientRoles; trackBy: trackByRole" [ngValue]="role.name">{{role.name}}</option>
                    </select>
                </div>
                <div class="col-auto cell-actions"></div>
            </div>
            <div class="form-group row">
                <div class="col cell-input offset-3">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="{{client.id}}_allowAnonymous" [disabled]="!client.canUpdate" [ngModel]="client.allowAnonymous" (ngModelChange)="updateAllowAnonymous($event)">
            
                        <label class="custom-control-label" for="{{client.id}}_allowAnonymous">
                            {{ 'clients.allowAnonymous' | sqxTranslate }}
                        </label>
                    </div>
        
                    <sqx-form-hint>
                        {{ 'clients.allowAnonymousHint' | sqxTranslate }}
                    </sqx-form-hint>
                </div>
                <div class="col-auto cell-actions"></div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">
                    {{ 'clients.apiCallsLimit' | sqxTranslate }}
                </label>
                <div class="col cell-input">
                    <input type="number" class="form-control" min="0" [disabled]="!client.canUpdate" [(ngModel)]="apiCallsLimit">

                    <sqx-form-hint>{{ 'clients.apiCallsLimitHint' | sqxTranslate }}</sqx-form-hint>
                </div>
                <div class="col-auto cell-input cell-button" *ngIf="client.canUpdate">
                    <button class="btn btn-secondary" (click)="updateApiCallsLimit()">
                        {{ 'common.save' | sqxTranslate }}
                    </button>
                </div>
                <div class="col-auto cell-actions"></div>
            </div>
        </div>
    </div>
</div>

<ng-container *sqxModal="connectDialog">
    <sqx-client-connect-form [client]="client" 
        (complete)="connectDialog.hide()">
    </sqx-client-connect-form>   
</ng-container>