<sqx-title message="i18n:common.clients"></sqx-title>

<sqx-layout layout="main" titleText="i18n:common.clients" titleIcon="clients" [innerWidth]="55">
    <ng-container menu>
        <button type="button" class="btn btn-text-secondary" (click)="reload()" title="i18n:clients.refreshTooltip" shortcut="CTRL + B">
            <i class="icon-reset"></i> {{ 'common.refresh' | sqxTranslate }}
        </button>
    </ng-container>
    
    <ng-container>
        <sqx-list-view innerWidth="55rem" [isLoading]="clientsState.isLoading | async">
            <ng-container *ngIf="(clientsState.isLoaded | async) && (clientsState.clients | async); let clients">
                <sqx-client-add-form *ngIf="clientsState.canCreate | async"></sqx-client-add-form>

                <div class="table-items-row  table-items-row-summary table-items-row-empty" *ngIf="clients.length === 0">
                    {{ 'clients.empty' | sqxTranslate }}
                </div>
            
                <ng-container *ngIf="rolesState.roles | async; let roles">
                    <sqx-client *ngFor="let client of clients; trackBy: trackByClient"
                        [client]="client"
                        [clientRoles]="roles">
                    </sqx-client>
                </ng-container>
            </ng-container>
        </sqx-list-view>
    </ng-container>

    <ng-container sidebarMenu>
        <div class="panel-nav">
            <a class="panel-link" routerLink="history" routerLinkActive="active" queryParamsHandling="preserve" title="i18n:common.history" titlePosition="left">
                <i class="icon-time"></i>
            </a>

            <a class="panel-link" routerLink="help" routerLinkActive="active" queryParamsHandling="preserve" title="i18n:common.help" titlePosition="left">
                <i class="icon-help2"></i>
            </a>
        </div>
    </ng-container>
</sqx-layout>

<router-outlet></router-outlet>