@import 'mixins';
@import 'vars';

$icon-size: 4.5rem;

.btn-text {
    margin-left: -.5rem;
    margin-top: -1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.name-group {
    margin-bottom: 1.5rem;
}