<sqx-modal-dialog (dialogClose)="emitClose()" size="lg" tourId="fieldForm">
    <ng-container title>
        @if (parent) {
            {{ "schemas.addNestedField" | sqxTranslate }}
        } @else {
            {{ "schemas.addField" | sqxTranslate }}
        }
    </ng-container>

    <ng-container content>
        @if (editForm) {
            <form class="edit-form" [formGroup]="editForm.form" (ngSubmit)="save()">
                <sqx-field-form
                    [languages]="(languagesState.isoLanguages | async)!"
                    [field]="field"
                    [fieldForm]="editForm.form"
                    [schema]="schema"
                    [isLocalizable]="isLocalizable"
                    [settings]="settings"
                    isEditable="true"></sqx-field-form>
            </form>
        } @else {
            <form [formGroup]="addFieldForm.form" (ngSubmit)="addField(false)">
                <sqx-form-error [error]="addFieldForm.error | async"></sqx-form-error>
                <div class="form-group">
                    <div class="row">
                        @for (fieldType of fieldTypes; track fieldType) {
                            <div class="col-4 type">
                                <label>
                                    <input
                                        class="radio-input"
                                        type="radio"
                                        name="type"
                                        formControlName="type"
                                        value="{{ fieldType.type }}" />
                                    <div class="row g-0">
                                        <div class="col-auto">
                                            <div
                                                class="btn-radio"
                                                [class.active]="addFieldForm.form.controls['type'].value === fieldType.type">
                                                <i class="icon-type-{{ fieldType.type }}"></i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="type-title">{{ fieldType.type }}</div>
                                            <div class="type-text text-muted">{{ fieldType.description | sqxTranslate }}</div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <sqx-control-errors for="name"></sqx-control-errors>
                    <input
                        class="form-control"
                        #nameInput
                        formControlName="name"
                        maxlength="40"
                        placeholder="{{ 'schemas.field.namePlaceholder' | sqxTranslate }}"
                        sqxFocusOnInit />
                </div>
                @if (schema.type !== "Component" && !parent && (addFieldForm.isContentField | async)) {
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" id="isLocalizable" type="checkbox" formControlName="isLocalizable" />
                            <label class="form-check-label" for="isLocalizable">
                                {{ "schemas.field.localizable" | sqxTranslate }}
                            </label>
                        </div>
                        <sqx-form-hint>
                            {{ "schemas.field.localizableHint" | sqxTranslate }}
                        </sqx-form-hint>
                    </div>
                }
                <sqx-form-alert class="mt-4">
                    {{ "schemas.nameWarning" | sqxTranslate }}
                </sqx-form-alert>
            </form>
        }
    </ng-container>

    <ng-container footer>
        <button class="float-start btn btn-text-secondary" (click)="emitClose()" type="button">
            {{ "common.cancel" | sqxTranslate }}
        </button>

        @if (!editForm) {
            <div>
                <button class="btn btn-outline-success" (click)="addField(false)" type="button">
                    {{ "schemas.addFieldAndClose" | sqxTranslate }}
                </button>
                <button class="btn btn-success ms-2" (click)="addField(true)" type="button">
                    {{ "schemas.addFieldAndCreate" | sqxTranslate }}
                </button>
                <button class="btn btn-success ms-2" (click)="addField(false, true)" type="button">
                    {{ "schemas.addFieldAndEdit" | sqxTranslate }}
                </button>
            </div>
        }

        @if (editForm) {
            <div>
                <button class="btn btn-success" (click)="save(true)" type="button">
                    {{ "schemas.saveFieldAndNew" | sqxTranslate }}
                </button>
                <button class="btn btn-primary ms-2" (click)="save()" type="button">
                    {{ "schemas.saveFieldAndClose" | sqxTranslate }}
                </button>
            </div>
        }
    </ng-container>
</sqx-modal-dialog>
