<div class="table-items-row  table-items-row-summary table-items-row-empty" *ngIf="schema && schema.fields.length === 0">
    {{ 'schemas.field.empty' | sqxTranslate }}
    
    <button type="button" class="btn btn-success btn-sm ms-2" (click)="fieldWizard.show()" *ngIf="schema.canAddField">
        <i class="icon icon-plus"></i> {{ 'schemas.addField' | sqxTranslate }}
    </button>
</div>

<ng-container *ngIf="appsState.selectedSettings| async; let settings">
    <ng-container *ngIf="languageState.isoLanguages | async; let languages">
        <sqx-sortable-field-list
            [fields]="schema.fields"
            [fieldsEmpty]="schema.fields.length === 0"
            [languages]="languages"
            [schema]="schema"
            [settings]="settings"
            [sortable]="schema.canOrderFields"
            (sorted)="sortFields($event)">
        </sqx-sortable-field-list>

        <button type="button" class="btn btn-success field-button" (click)="fieldWizard.show()" *ngIf="schema.canAddField">
            <i class="icon icon-plus field-button-icon"></i> <div class="field-button-text">{{ 'schemas.addFieldButton' | sqxTranslate }}</div>
        </button>
    </ng-container>

    <ng-container *sqxModal="fieldWizard">
        <sqx-field-wizard 
            [settings]="settings"
            [schema]="schema"
            (complete)="fieldWizard.hide()">
        </sqx-field-wizard>
    </ng-container>
</ng-container>