<div cdkDropListGroup
    cdkDropList
    [cdkDropListDisabled]="!sortable"
    [cdkDropListData]="fieldGroups"
    (cdkDropListDropped)="sortGroups($event)">
    <div *ngFor="let group of fieldGroups;" class="table-drag" cdkDrag cdkDragLockAxis="y">
        <sqx-field-group 
            [languages]="languages"
            [fieldsEmpty]="fieldsEmpty" 
            [fieldGroup]="group" 
            [parent]="parent"
            [schema]="schema"
            [settings]="settings" 
            [sortable]="sortable"
            (sorted)="sortFields($event)">
        </sqx-field-group>
    </div>
</div>