<sqx-title message="{app} | Languages | Settings" parameter1="app" value1="{{appName() | async}}"></sqx-title>

<sqx-panel panelWidth="42rem">
    <div class="panel-header">
        <div class="panel-title-row">
            <h3 class="panel-title">Languages</h3>
        </div>

        <a class="panel-close" routerLink="../">
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content panel-content-scroll">
            <table class="table table-items table-fixed">
                <colgroup>
                    <col style="width: 60px" />
                    <col style="width: 100%" />
                    <col style="width: 200px" />
                    <col style="width: 80px" />
                </colgroup>

                <thead>
                    <tr>
                        <th>
                            Code
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <template ngFor let-language [ngForOf]="appLanguages">
                        <tr>
                            <td>
                                <span class="language-code">
                                    {{language.iso2Code}}
                                </span>
                            </td>
                            <td>
                                <span class="language-name">
                                    {{language.englishName}}
                                </span>
                            </td>
                            <td>
                                <label class="language-default">
                                    <input type="radio" [value]="true" [checked]="language.isMasterLanguage" (click)="setMasterLanguage(language)"> Master Language
                                </label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-danger" [disabled]="language.isMasterLanguage" (click)="removeLanguage(language)">
                                    <i class="icon-bin2"></i>
                                </button>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </template>
                </tbody>
            </table>

            <div class="table-items-footer">
                <form class="form-inline" [formGroup]="addLanguageForm" (ngSubmit)="addLanguage()">
                    <div class="form-group">
                        <select class="form-control language-select" formControlName="language">
                            <option *ngFor="let language of newLanguages" [ngValue]="language">{{language.englishName}}</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="!addLanguageForm.valid">Add Language</button>
                </form>
            </div>
        </div>
        <div class="panel-sidebar">
            <a class="panel-link" routerLink="history" routerLinkActive="active">
                <i class="icon-time"></i>
            </a>
        </div>
    </div>
</sqx-panel>

<router-outlet></router-outlet>