<sqx-title message="{app} | Languages | Settings" parameter1="app" value1="{{appName() | async}}"></sqx-title>

<sqx-panel panelWidth="42rem">
    <div class="panel-header">
        <div class="panel-title-row">
            <h3 class="panel-title">Languages</h3>
        </div>

        <a class="panel-close" sqxParentLink>
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content panel-content-scroll">
            <div *ngFor="let language of appLanguages?.languages">
                <sqx-language [language]="language" [allLanguages]="appLanguages.languages"
                    (saving)="updateLanguage($event)" 
                    (removing)="removeLanguage($event)"></sqx-language>
            </div>

            <div class="table-items-footer" *ngIf="appLanguages">
                <form [formGroup]="addLanguageForm" (ngSubmit)="addLanguage()">
                    <div class="row no-gutters">
                        <div class="col">
                            <select class="form-control language-select" formControlName="language">
                                <option *ngFor="let language of newLanguages" [ngValue]="language">{{language.englishName}}</option>
                            </select>
                        </div>
                        <div class="col col-auto pl-1">
                            <button type="submit" class="btn btn-success" [disabled]="!addLanguageForm.valid">Add Language</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-sidebar">
            <a class="panel-link" routerLink="history" routerLinkActive="active" #linkHistory> 
                <i class="icon-time"></i>
            </a>
            <a class="panel-link" routerLink="help" routerLinkActive="active" #linkHelp>
                <i class="icon-help"></i>
            </a>

            <sqx-onboarding-tooltip id="history" [for]="linkHistory" position="leftTop" after="120000">
                The sidebar navigation contains useful context specific links. Here you can view the history how this schema has changed over time.
            </sqx-onboarding-tooltip>
            
            <sqx-onboarding-tooltip id="help" [for]="linkHelp" position="leftTop" after="180000">
                Click the help icon to show a context specific help page. Go to <a href="https://docs.squidex.io" target="_blank">https://docs.squidex.io</a> for the full documentation.
            </sqx-onboarding-tooltip>
        </div>
    </div>
</sqx-panel>

<router-outlet></router-outlet>