<div class="table-items-row table-items-row-expandable language"> 
    <div class="table-items-row-summary">        
        <div class="row">
            <div class="col col-2">
                <span class="language-code" [class.language-optional]="language.isOptional" [class.language-master]="language.isMaster">{{language.iso2Code}}</span>
            </div>
            <div class="col col-6">
                <span class="language-name table-cell" [class.language-optional]="language.isOptional" [class.language-master]="language.isMaster">{{language.englishName}}</span>
            </div>
            <div class="col col-options">
                <div class="float-right">
                    <button type="button" class="btn btn-secondary table-items-edit-button" [class.active]="isEditing" (click)="toggleEditing()" *ngIf="!language.isMaster">
                        <i class="icon-settings"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-danger" [class.invisible]="language.isMaster"
                        (sqxConfirmClick)="remove()"
                        confirmTitle="Remove language" 
                        confirmText="Do you really want to remove the language?">
                        <i class="icon-bin2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="table-items-row-details" *ngIf="isEditing">
        <form [formGroup]="editForm.form" (ngSubmit)="save()">
            <div class="table-items-row-details-tabs clearfix">
                <div class="float-right">
                    <button type="reset" class="btn btn-link" (click)="toggleEditing()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

            <div class="table-items-row-details-tab">
                <div class="form-group row">
                    <label class="col col-3 col-form-label fallback-label">Fallback</label>

                    <div class="col col-9">
                        <div class="fallback-languages" [sqxSortModel]="fallbackLanguages.mutableValues" *ngIf="fallbackLanguages.length > 0">
                            <div class="fallback-language" *ngFor="let language of fallbackLanguages">
                                <div class="row no-gutter">
                                    <div class="col">
                                        {{language.englishName}}
                                    </div>
                                    <div class="col col-auto">
                                        <button type="button" class="btn btn-link btn-secondary btn-sm" (click)="removeFallbackLanguage(language)">
                                            <i class="icon-close"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form class="form fallback-form" (ngSubmit)="addFallbackLanguage()" *ngIf="otherLanguage">
                            <div class="row no-gutters">
                                <div class="col">
                                    <select class="form-control fallback-select" [(ngModel)]="otherLanguage" name="otherLanguage">
                                        <option *ngFor="let otherLanguage of fallbackLanguagesNew; trackBy: trackByLanguage" [ngValue]="otherLanguage">{{otherLanguage.englishName}}</option>
                                    </select>
                                </div>
                                <div class="col col-auto pl-1">
                                    <button type="submit" class="btn btn-success">Add Language</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="form-group row" *ngIf="!language.isMaster">
                    <div class="col offset-3 col-9">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="{{language.iso2Code}}_isMaster" formControlName="isMaster" />
                            <label class="form-check-label" for="{{language.iso2Code}}_isMaster">
                                Is Master
                            </label>
                        </div>
    
                        <small class="form-text text-muted">
                            Master language is the last fallback language, when no value for a content and a language is available.
                        </small>
                    </div>
                </div>

                <div class="form-group row" *ngIf="!language.isMaster">
                    <div class="col offset-3 col-9" *ngIf="!isMaster">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="{{language.iso2Code}}_isOptional" formControlName="isOptional" />
                            <label class="form-check-label" for="{{language.iso2Code}}_isOptional">
                                Is Optional
                            </label> 
                        </div>

                        <small class="form-text text-muted">
                            Values for optional languages must not be specified, even if the field is set to required.
                        </small>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>