@import '_vars';
@import '_mixins';

.panel {
    min-width: 600px;
    max-width: 600px;
}

.language {
    &-select {
        max-width: 200px;
    }

    &-name {
        @include truncate;
    }

    &-default {
        margin: 0;
    }
}