<div class="table-items-row table-items-row-expandable language"> 
    <div class="table-items-row-summary">        
        <div class="row">
            <div class="col col-2">
                <span class="language-code" [class.language-optional]="language.isOptional" [class.language-master]="language.isMaster">{{language.iso2Code}}</span>
            </div>
            <div class="col col-6">
                <span class="language-name table-cell" [class.language-optional]="language.isOptional" [class.language-master]="language.isMaster">{{language.englishName}}</span>
            </div>
            <div class="col col-4">
                <div class="float-right">
                    <button type="button" class="btn btn-secondary table-items-edit-button" [class.active]="isEditing" (click)="toggleEditing()" *ngIf="!language.isMaster || allLanguages.length > 1">
                        <i class="icon-settings2"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-danger" [class.invisible]="language.isMaster"
                        (sqxConfirmClick)="removing.emit(language)"
                        confirmTitle="Remove language" 
                        confirmText="Do you really want to remove the language?">
                        <i class="icon-bin2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="table-items-row-details" *ngIf="isEditing">
        <form [formGroup]="editForm" (ngSubmit)="save()">
            <div class="table-items-row-details-tabs clearfix">
                <div class="float-right">
                    <button type="reset" class="btn btn-link" (click)="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

            <div class="table-items-row-details-tab">
                <div class="form-group row" *ngIf="allLanguages.length > 1">
                    <label for="field-label" class="col col-3 col-form-label fallback-label">Fallback</label>

                    <div class="col col-9">
                        <div class="fallback-languages" dnd-sortable-container [sortableData]="fallbackLanguages" *ngIf="fallbackLanguages.length > 0">
                            <div class="fallback-language" *ngFor="let language of fallbackLanguages; let i = index" dnd-sortable [sortableIndex]="i">
                                {{language.englishName}}

                                <button type="button" class="btn btn-link btn-secondary btn-sm float-right" (click)="removeFallbackLanguage(language)">
                                    <i class="icon-close"></i>
                                </button>
                            </div>
                        </div>

                        <form class="form-inline fallback-form" (ngSubmit)="addLanguage()" *ngIf="otherLanguages.length > 0">
                            <div class="form-group mr-1">
                                <select class="form-control fallback-select" [(ngModel)]="otherLanguage" name="otherLanguage">
                                    <option *ngFor="let otherLanguage of otherLanguages" [ngValue]="otherLanguage">{{otherLanguage.englishName}}</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-success">Add Language</button>
                        </form>
                    </div>
                </div>

                <div class="form-check offset-3 col col-9" *ngIf="!language.isMaster">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" formControlName="isMaster"> Is Master
                    </label>

                    <small class="form-text text-muted">
                        Master language is the last fallback language, when no value for a content and a language is available.
                    </small>
                </div>

                <div class="form-check offset-3 col col-9" *ngIf="!isMaster">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" formControlName="isOptional"> Is Optional
                    </label>

                    <small class="form-text text-muted">
                        Values for optional languages must not be specified, even if the field is set to required.
                    </small>
                </div>
            </div>
        </form>
    </div>
</div>