@import '_vars';
@import '_mixins';

$field-header: #e7ebef;

.language {
    &-master {
        font-weight: bold;
    }

    &-optional {
        color: $color-text-decent;
    }
}

.btn-danger {
    width: 3.2rem;
}

.fallback {
    &-languages {
        @include border-radius;
        min-height: 2rem;
        background: $color-border;
        border: 0;
        padding: .5rem;
    }

    &-language {
        & {
            @include border-radius(2px);
            padding: .5rem;
            background: $color-dark-foreground;
            border: 0;
            margin-bottom: .5rem;
        }

        &:last-child {
            margin: 0;
        }
    }

    &-label {
        margin-top: .4rem;
    }

    &-form {
        margin-top: .5rem;
    }

    &-select {
        width: 14rem;
    }
}