<ng-container *ngIf="languages.length > 1">
    <ng-container *ngIf="languages.length > 3 || percents; else smallMode">
        <button type="button" class="btn btn-outline-secondary btn-{{size}} dropdown-toggle" title="{{language.englishName}}" (click)="dropdown.toggle()" #button tabindex="-1">
            {{language.iso2Code}}
        </button>
    
        <ng-container *sqxModal="dropdown;closeAlways:true">
            <sqx-dropdown-menu [sqxAnchoredTo]="button" [scrollY]="true" [position]="dropdownPosition">
                <table>
                    <tbody>
                        <tr class="dropdown-item" *ngFor="let supported of languages; trackBy: trackByLanguage" 
                            [class.active]="supported === language"
                            [class.missing]="exists && !exists[supported.iso2Code]"
                            (click)="selectLanguage(supported)">
                            <td class="text-language">{{supported.iso2Code}}</td>
                            <td>({{supported.englishName}})</td>
    
                            <td *ngIf="percents" class="text-right">
                                {{percents[supported.iso2Code] || 0}} %
                            </td>
                        </tr>
                    </tbody>
                </table>
            </sqx-dropdown-menu>
        </ng-container>
    </ng-container>

    <ng-template #smallMode>
        <div class="btn-group btn-group-{{size}}">
            <button type="button" class="btn btn-outline-secondary" *ngFor="let supported of languages; trackBy: trackByLanguage" title="{{supported.englishName}}" 
                [class.active]="supported === language"
                [class.missing]="exists && !exists[supported.iso2Code]"
                (click)="selectLanguage(supported)" tabindex="-1">
                <span>{{supported.iso2Code}}</span>
            </button>
        </div>
    </ng-template>
</ng-container>