@import 'mixins';
@import 'vars';


:host {
    background: $color-black;
}

:host ::ng-deep {
    .video-js {
        &.vjs-fluid {
            height: 100%;
            padding: 0;
            position: static;
        }
    }
}

.hidden {
    display: none !important;
}