<ng-container *ngIf="type === 'Text'; else code">
    <div class="input-group">
        <input class="form-control" ngDefaultControl />

        <div class="input-group-apppend">
            <select class="form-select" [ngModel]="mode" (ngModelChange)="setMode($event)" [disabled]="disabled" tabindex="-1">
                <option *ngFor="let supportedMode of modes" [ngValue]="supportedMode">{{supportedMode}}</option>
            </select>
        </div>
    </div>
</ng-container>

<ng-template #code>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-toggle" *ngFor="let supportedMode of modes" [class.active]="mode === supportedMode" (click)="setMode(supportedMode)" tabindex="-1">
            {{supportedMode}}
        </button>
    </div>

    <sqx-code-editor [completion]="actualCompletion" [height]="350" [mode]="aceMode"></sqx-code-editor>
</ng-template>