@if (type === "Text") {
    <div class="input-group">
        <sqx-code-editor
            [completion]="editorCompletion"
            [mode]="editorMode"
            [snippets]="mode === 'Script'"
            singleLine="true"></sqx-code-editor>
        <div class="input-group-apppend">
            <select class="form-select" [ngModel]="mode" [disabled]="disabled" (ngModelChange)="setMode($event)" tabindex="-1">
                @for (supportedMode of modes; track supportedMode) {
                    <option [ngValue]="supportedMode">{{ supportedMode }}</option>
                }
            </select>
        </div>
    </div>
} @else {
    <div class="btn-group btn-group-sm">
        @for (supportedMode of modes; track supportedMode) {
            <button
                class="btn btn-toggle"
                [class.active]="mode === supportedMode"
                (click)="setMode(supportedMode)"
                type="button"
                tabindex="-1">
                {{ supportedMode }}
            </button>
        }
    </div>
    <sqx-code-editor [completion]="editorCompletion" [height]="350" [mode]="editorMode" [snippets]="mode === 'Script'"></sqx-code-editor>
}
