<div class="form-horizontal" [formGroup]="actionForm.form">
    @for (property of actionForm.definition.properties; track property.name) {
        <div class="form-group row">
            <label class="col-3 col-form-label" [for]="property.name">
                @if (property.editor !== "Checkbox") {
                    {{ property.display }}
                }
                @if (property.isRequired) {
                    <small class="hint">&nbsp;*</small>
                }
            </label>

            <div class="col-9">
                <sqx-control-errors [for]="property.name"></sqx-control-errors>

                @switch (property.editor) {
                    @case ("Text") {
                        @if (property.isFormattable) {
                            <sqx-formattable-input [formControlName]="property.name" type="Text"></sqx-formattable-input>
                        } @else {
                            <input class="form-control" id="{{ property.name }}" [formControlName]="property.name" />
                        }
                    }
                    @case ("TextArea") {
                        @if (property.isFormattable) {
                            <sqx-formattable-input
                                [completion]="ruleCompletions | async"
                                [formControlName]="property.name"
                                type="Code"></sqx-formattable-input>
                        } @else {
                            <textarea class="form-control" id="{{ property.name }}" [formControlName]="property.name"></textarea>
                        }
                    }
                    @case ("JavaScript") {
                        <sqx-code-editor
                            [completion]="ruleCompletions | async"
                            [formControlName]="property.name"
                            [height]="350"></sqx-code-editor>
                    }
                    @case ("Checkbox") {
                        <div class="form-check">
                            <input class="form-check-input" id="{{ property.name }}" [formControlName]="property.name" type="checkbox" />
                            <label class="form-check-label" for="{{ property.name }}">
                                {{ property.display }}
                            </label>
                        </div>
                    }
                    @case ("Dropdown") {
                        <select class="form-select" [formControlName]="property.name">
                            @if (!property.isRequired) {
                                <option></option>
                            }

                            @for (option of property.options; track option) {
                                <option [ngValue]="option">{{ option }}</option>
                            }
                        </select>
                    }
                    @default {
                        <input
                            class="form-control"
                            id="{{ property.name }}"
                            [formControlName]="property.name"
                            type="{{ property.editor | lowercase }}" />
                    }
                }

                <sqx-form-hint>
                    <span inline="true" [sqxMarkdown]="property.description"></span>

                    @if (property.isFormattable) {
                        <div>
                            {{ "rules.advancedFormattingHint" | sqxTranslate }}:
                            <a href="https://docs.squidex.io/concepts/rules#3-formatting" sqxExternalLink tabindex="-1">
                                {{ "common.documentation" | sqxTranslate }}
                            </a>
                        </div>
                    }
                </sqx-form-hint>
            </div>
        </div>
    }
</div>
