<div class="card item" [class.invalid]="isInvalidForm | async">
    <div class="card-header drag-handle">
        <div class="row">
            <div class="col-auto pe-1">
                <ng-content></ng-content>
            </div>
            <div class="col">
                <div class="truncate">
                    <span class="header-index">#{{ index + 1 }}</span>
                    <span class="header-title">{{ title | async }}</span>
                </div>
            </div>
            <div class="col-auto pe-4">
                <button
                    class="btn btn-text-secondary"
                    [disabled]="isDisabled || isFirst"
                    (click)="moveTop()"
                    type="button"
                    title="i18n:contents.arrayMoveTop">
                    <i class="icon-caret-top"></i>
                </button>
                <button
                    class="btn btn-text-secondary"
                    [disabled]="isDisabled || isFirst"
                    (click)="moveUp()"
                    type="button"
                    title="i18n:contents.arrayMoveUp">
                    <i class="icon-caret-up"></i>
                </button>
                <button
                    class="btn btn-text-secondary"
                    [disabled]="isDisabled || isLast"
                    (click)="moveDown()"
                    type="button"
                    title="i18n:contents.arrayMoveDown">
                    <i class="icon-caret-down"></i>
                </button>
                <button
                    class="btn btn-text-secondary"
                    [disabled]="isDisabled || isLast"
                    (click)="moveBottom()"
                    type="button"
                    title="i18n:contents.arrayMoveBottom">
                    <i class="icon-caret-bottom"></i>
                </button>
                <button
                    class="btn btn-text-secondary"
                    [class.hidden]="!(isCollapsed | async)"
                    (click)="expand()"
                    type="button"
                    title="i18n:contents.arrayExpandItem">
                    <i class="icon-plus-square"></i>
                </button>
                <button
                    class="btn btn-text-secondary"
                    [class.hidden]="isCollapsed | async"
                    (click)="collapse()"
                    type="button"
                    title="i18n:contents.arrayCollapseItem">
                    <i class="icon-minus-square"></i>
                </button>
            </div>
            <div class="col-auto">
                <button
                    class="btn btn-text-secondary"
                    [disabled]="isDisabled"
                    (click)="clone.emit()"
                    type="button"
                    title="i18n:contents.arrayCloneItem">
                    <i class="icon-clone"></i>
                </button>

                <button class="btn btn-text-danger" [disabled]="isDisabled" (click)="itemRemove.emit()" type="button">
                    <i class="icon-bin2"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="card-body" *sqxIfOnce="!(isCollapsed | async)" [class.hidden]="isCollapsed | async">
        @for (section of formModel.sectionsChanges | async; track section) {
            <div class="form-group">
                <sqx-component-section
                    [form]="form"
                    [formContext]="formContext"
                    [formLevel]="formLevel"
                    [formSection]="$any(section)"
                    [index]="index"
                    [isComparing]="isComparing"
                    [hasChatBot]="hasChatBot"
                    [language]="language"
                    [languages]="languages"></sqx-component-section>
            </div>
        }

        @if (isInvalidComponent | async) {
            <sqx-form-hint>
                {{ "contents.componentInvalid" | sqxTranslate }}
            </sqx-form-hint>
        }
    </div>
</div>
