@use 'sass:color';
@import 'mixins';
@import 'vars';

:host {
    &.expanded {
        @include absolute(3.25rem, 1.25rem, .75rem, 1.25rem);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

.assets-container {
    background: $color-background;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    height: 12rem;
    margin-top: .5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
    padding-bottom: 0;

    &.expanded {
        flex-grow: 1;
    }
}

.disabled {
    pointer-events: none;
}

.header {
    margin-bottom: -.25rem;
}

.list-view {
    margin-bottom: 1rem;
}

.btn-add {
    &.drag {
        border-color: color.adjust($color-theme-secondary, $lightness: -20%);
        color: color.adjust($color-border, $lightness: -40%);
        cursor: copy;
    }
}