@import 'mixins';
@import 'vars';

.table-items-row {
    border-left-width: 4px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 1.125rem;
}

.col-6 {
    padding-right: .5rem;

    &.col-right {
        padding-left: .5rem;
    }
}

.copy-button-container {
    position: relative;
}

.change-marker-host {
    position: relative;
    overflow-x: visible;
    overflow-y: visible;
}

.change-marker {
    @include absolute(-.5rem, null, null, 1rem);
    background: $color-white;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    font-size: $font-smallest;
    padding: .125rem .5rem;
}

.field {
    &-required {
        color: $color-theme-error;
    }

    &-invalid {
        border-left-color: $color-theme-error;
    }

    &-disabled {
        color: $color-border-dark;
    }

    &-copy {
        @include absolute($t: 1rem, $l: -1.5rem);
        z-index: 1000;
    }
}

.compare {
    border: 0;
    border-bottom: 1px solid $color-border;
    padding-bottom: .25rem;
    padding-top: .5rem;
}

.btn-square {
    width: 2rem;
}

:host {
    &:last-child {
        margin-bottom: 0;

        .compare {
            border: 0;
        }
    }
}