@import 'mixins';
@import 'vars';

h3 {
    margin: 0;
}

.header {
    margin-bottom: .25rem;
    margin-top: 1rem;

    h3 {
        line-height: 2rem;
        font-size: 1rem;
        font-weight: 500;
    }

    sqx-form-hint {
        margin-top: -.25rem;
    }
}

:host {
    &:first-child {
        .header {
            margin-top: 0;
        }
    }
}

.btn {
    width: 2rem;

    &:focus {
        border-color: transparent;
    }
}