@if (formModel.field.isLocalizable && languages.length > 1) {
    @if (!formModel.field.properties.isComplexUI) {
        <button class="btn btn-sm btn-outline-secondary force no-focus-shadow" (click)="toggleShowAllControls()" type="button">
            @if (showAllControls) {
                <span>{{ "contents.languageModeSingle" | sqxTranslate }}</span>
            } @else {
                <span>{{ "contents.languageModeAll" | sqxTranslate }}</span>
            }
        </button>
    }
    @if (formModel.field.properties.isComplexUI || !showAllControls) {
        <div class="button-container ms-1">
            <sqx-language-selector
                [exists]="formModel.translationStatus | async"
                hintAfter="120000"
                hintPosition="top-end"
                hintText="i18n:contents.validationHint"
                [language]="language"
                (languageChange)="languageChange.emit($event)"
                [languages]="languages"
                size="sm"
                sqxTourStep="languages"></sqx-language-selector>
        </div>
    }
}
