<div #container>
    <div #inner [class.fullscreen]="snapshot.isFullscreen" [class.expanded]="isExpanded">
        <iframe #iframe [scrolling]="!isExpanded ? 'no' : 'yes'" width="100%" [style.height]="0" [attr.src]="computedUrl | sqxSafeResourceUrl"></iframe>
    </div>
</div>

<ng-container *sqxModal="assetsDialog">
    <sqx-asset-selector
        (select)="pickAssets($event)">
    </sqx-asset-selector>
</ng-container>

<ng-container *sqxModal="contentsDialog">
    <sqx-content-selector 
        (select)="pickContents($event)"
        [language]="language"
        [languages]="languages"
        [schemaNames]="contentsSchemas">
    </sqx-content-selector>
</ng-container>
