<div class="input-group">
    <button class="btn btn-outline-secondary" [disabled]="!valueControl.value" (click)="reset()" type="button">
        <i class="icon-close"></i>
    </button>

    <button class="btn btn-outline-secondary" (click)="searchDialog.show()" type="button">
        <i class="icon-search"></i>
    </button>

    <input class="form-control" [disabled]="true" [formControl]="valueControl" readonly />
</div>

@if (stockPhotoThumbnail | async; as url) {
    <div class="preview mt-1" [class.hidden-important]="snapshot.thumbnailStatus === 'Failed'">
        <img [src]="url" (error)="onThumbnailFailed()" (load)="onThumbnailLoaded()" />
        @if (snapshot.thumbnailStatus !== "Loaded") {
            <sqx-loader color="white"></sqx-loader>
        }
    </div>
}

<sqx-modal-dialog *sqxModal="searchDialog" (dialogClose)="searchDialog.hide()" size="lg" fullHeight="true">
    <ng-container title>
        <input
            class="form-control search"
            [formControl]="stockPhotoSearch"
            sqxFocusOnInit
            placeholder="{{ 'contents.stockPhotoSearch' | sqxTranslate }}" />

        @if (snapshot.isLoading) {
            <sqx-loader></sqx-loader>
        }
    </ng-container>

    <ng-container content>
        <div class="photos">
            @for (photo of snapshot.stockPhotos; track photo.thumbUrl) {
                <div class="photo" [class.selected]="isSelected(photo)" (click)="selectPhoto(photo)">
                    <img [src]="photo.thumbUrl" />
                    <div class="photo-user">
                        <a class="photo-user-link" [href]="photo.userProfileUrl" sqxExternalLink sqxStopClick>
                            {{ photo.user }}
                        </a>
                    </div>
                </div>
            }
        </div>

        @if (snapshot.stockPhotos.length === 0) {
            <div class="empty small text-muted text-center">
                {{ "contents.stockPhotoSearchEmpty" | sqxTranslate }}
            </div>
        }

        @if (snapshot.hasMore) {
            <div class="mt-4 text-center">
                <button class="btn btn-outline-secondary" [disabled]="snapshot.isLoading" (click)="loadMore()" type="button">
                    {{ "common.loadMore" | sqxTranslate }}
                    @if (snapshot.isLoading) {
                        <sqx-loader></sqx-loader>
                    }
                </button>
            </div>
        }
    </ng-container>
</sqx-modal-dialog>
