<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="nav-icon icon-dashboard"></i> <div class="nav-text">{{ 'common.dashboard' | sqxTranslate }}</div>
        </a>
    </li>
</ul>

<ul class="nav flex-column bottom">
    <li class="nav-item">
        <a class="nav-link" href="https://squidex.io/help" target="_blank">
            <i class="nav-icon icon-help2"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="settings" routerLinkActive="active">
            <i class="nav-icon icon-settings"></i>
        </a>
    </li>
</ul>