@import '_vars';
@import '_mixins';

.content {
    cursor: pointer;
}

.table-container {
    display: inline-block;
    min-width: 100%;
    padding: 0;
    padding-right: 1.5rem;
}

.icon-plus {
    font-size: .8rem;
}

.hidden {
    display: none !important;
}

.settings {
    &-container {
        position: relative;
    }

    &-button {
        @include absolute(null, 1rem, -2.375rem);
    }
}

.btn-status {
    background: $color-dark-foreground;
}

.selection {
    background: $color-theme-secondary;
    border-bottom: 1px solid $color-border;
    padding: .25 * $panel-padding $panel-padding;
}