<sqx-panel desiredWidth="20rem" [isBlank]="true" [isLazyLoaded]="false">
    <ng-container title>
        {{ 'common.filters' | sqxTranslate }}
    </ng-container>

    <ng-container content>
        <ng-container *ngIf="schemaQueries | async; let queries">
            <sqx-query-list
                [types]="'common.contents' | sqxTranslate"
                [queryUsed]="contentsState.query | async"
                [queries]="queries.defaultQueries"
                (search)="search($event)">
            </sqx-query-list>
    
            <hr>
    
            <div class="sidebar-section">
                <h3>{{ 'contents.statusQueries' | sqxTranslate }}</h3>
    
                <sqx-query-list
                    [types]="'common.contents' | sqxTranslate"
                    [queryUsed]="contentsState.query | async"
                    [queries]="contentsState.statusQueries | async"
                    (search)="search($event)">
                </sqx-query-list>
            </div>
    
            <hr>
    
            <sqx-shared-queries
                [types]="'common.contents' | sqxTranslate"
                [queryUsed]="contentsState.query | async"
                [queries]="queries"
                (search)="search($event)">
            </sqx-shared-queries>
        </ng-container>
    </ng-container>
</sqx-panel>