<sqx-layout titleText="i18n:common.filters" [width]="20" [white]="true" [padding]="true" [overflow]="true">
    <ng-container *ngIf="schemaQueries | async; let queries">
        <sqx-query-list
            [types]="'common.contents' | sqxTranslate"
            [queryUsed]="contentsState.query | async"
            [queries]="queries.defaultQueries"
            (search)="search($event)">
        </sqx-query-list>

        <hr>

        <div class="sidebar-section">
            <h3>{{ 'contents.statusQueries' | sqxTranslate }}</h3>

            <sqx-query-list
                [types]="'common.contents' | sqxTranslate"
                [queryUsed]="contentsState.query | async"
                [queries]="contentsState.statusQueries | async"
                (search)="search($event)">
            </sqx-query-list>
        </div>

        <hr>

        <sqx-shared-queries
            [types]="'common.contents' | sqxTranslate"
            [queryUsed]="contentsState.query | async"
            [queries]="queries"
            (search)="search($event)">
        </sqx-shared-queries>
    </ng-container>
</sqx-layout>