@import '_vars';
@import '_mixins';

:host ::ng-deep {
    .search-form {
        display: block;
    }
}

.content {
    cursor: pointer;
}

.table-container {
    display: inline-block;
    min-width: 100%;
    padding: 0;
    padding-right: 1.5rem;
}

.icon-plus {
    font-size: .8rem;
}

.btn-status {
    background: $color-dark-foreground;
}

.selection {
    background: $color-theme-secondary;
    border-bottom: 2px solid $color-border;
    padding: .25 * $panel-padding $panel-padding;
}