<sqx-title message="i18n:common.subscription"></sqx-title>

<sqx-layout layout="main" titleText="i18n:common.subscription" titleIcon="subscription" [innerWidth]="60">
    <ng-container menu>
        <sqx-notifo topic="apps/{{plansState.teamId}}/settings/plan"></sqx-notifo>

        <button type="button" class="btn btn-text-secondary" (click)="reload()" title="i18n:plans.refreshTooltip" shortcut="CTRL + B">
            <i class="icon-reset"></i> {{ 'common.refresh' | sqxTranslate }}
        </button>
    </ng-container>

    <ng-container>
        <sqx-list-view innerWidth="60rem" [isLoading]="plansState.isLoading | async">
            <ng-container *ngIf="(plansState.isLoaded | async) && (plansState.plans | async); let plans">
                <div class="alert alert-info">
                    {{ 'plans.allApps' | sqxTranslate }}
                </div>

                <div class="card card-body mb-4" *ngIf="plansState.referral | async; let referral">
                    <h5 class="card-title">Squidex Referal Program</h5>
                    
                    <sqx-form-hint>
                        <div [innerHTML]="'plans.referralHint' | sqxTranslate: referral | sqxMarkdown | sqxSafeHtml"></div>
                        <div [innerHTML]="referral.condition | sqxMarkdown | sqxSafeHtml"></div>
                        <div [innerHTML]="'plans.referralEarned' | sqxTranslate: referral | sqxMarkdown | sqxSafeHtml"></div>
                    </sqx-form-hint>
                </div>

                <div>
                    <div class="text-muted text-center empty" *ngIf="plans.length === 0">
                        {{ 'plans.noPlanConfigured' | sqxTranslate }}
                    </div>

                    <div class="plans">
                        <div class="plan" *ngFor="let planInfo of plans; trackBy: trackByPlan">
                            <sqx-plan [planInfo]="planInfo"></sqx-plan>
                        </div>
                    </div>

                    <div *ngIf="plansState.portalLink| async; let portalLink" class="billing-portal-link">
                        {{ 'plans.billingPortalHint' | sqxTranslate }} <a [href]="portalLink" sqxExternalLink>{{ 'plans.billingPortal' | sqxTranslate }}</a>
                    </div>
                </div>
            </ng-container>
        </sqx-list-view>
    </ng-container>

    <ng-container sidebarMenu>
        <div class="panel-nav">
            <a class="panel-link" routerLink="history" routerLinkActive="active" queryParamsHandling="preserve" title="i18n:common.history" titlePosition="left-center">
                <i class="icon-time"></i>
            </a>

            <a class="panel-link" routerLink="help" routerLinkActive="active" queryParamsHandling="preserve" title="i18n:common.help" titlePosition="left-center">
                <i class="icon-help2"></i>
            </a>
        </div>
    </ng-container>
</sqx-layout>

<router-outlet></router-outlet>
