@import 'mixins';
@import 'vars';

.empty {
    margin: 1.25rem;
    margin-top: 6.25rem;
}

.plans {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -4px;
    margin-right: -4px;
    padding-bottom: 1rem;
    overflow-x: auto;
}

.plan {
    @include force-width(25%);
    padding-left: 4px;
    padding-right: 4px;
}

.billing-portal-link {
    padding: 2rem .5rem 0;
}

.no-wrap {
    white-space: nowrap;
}