@{
    ViewBag.Title = "Account locked";
}

<h1 class="splash-h1">Access denied</h1>

<p class="splash-text">
    This operation is not allowed, your account might be locked.
</p>

<p class="splash-text">
    <a href="~/account/logout-redirect">Logout</a>
</p>