<!DOCTYPE html>
<html>
<head>
    <title>Squidex - Login failed</title>

    <style>
        body {
            padding: 40px;
        }

        h1, p {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Login failed</h1>
    <p>
        We are really sorry, something failed when you tried to login.
    </p>
</body>
</html>