<!DOCTYPE html>
<html>
    <head>
        <base href="/">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Squidex - Login failed</title>
    
        <link href="/styles/static.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Login failed</h1>
        <p>
            We are really sorry, something failed when you tried to login.
        </p>
    </body>
</html>