<!DOCTYPE html>
<html>
    <head>
        <title>Squidex - Account locked</title>

        <style>
            body {
                padding: 40px;
            }

            h1, p {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Account locked</h1>
        <p>
            Your account is locked, please contact the administrator.
        </p>
    </body>
</html>