<!DOCTYPE html>
<html>
    <head>
        <title>Squidex - Account locked</title>

        <link href="/styles/static.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Account locked</h1>
        <p>
            Your account is locked, please contact the administrator.
        </p>
    </body>
</html>