@{
    ViewBag.Title = "Account locked";
}

<h1 class="splash-h1">Account locked</h1>

<p class="splash-text">
    Your account is locked, please contact the administrator.
</p>
        
<p class="splash-text">
    <a href="~/account/logout-redirect">Logout</a>
</p>