<!DOCTYPE html>
<html>
    <head>
        <base href="/">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Squidex - Account locked</title>

        <link href="/styles/static.css" rel="stylesheet" />
    </head>
    <body>
        <h1 class="splash-h1">Account locked</h1>

        <p class="splash-text">
            Your account is locked, please contact the administrator.
        </p>
    </body>
</html>