@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model Squidex.Controllers.UI.Account.LoginVM

@{
    ViewBag.Title = "Login";
}

<form asp-controller="Account" asp-action="External" asp-route-returnurl="@Model.ReturnUrl" method="post">
    <div>
        <p>
            @foreach (var provider in Model.ExternalProviders)
            {
                <button class="redirect-button" type="submit" name="provider" id="loginButton" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
            }
        </p>
    </div>
</form>

<script>
    document.getElementById("loginButton").click();
</script>