@import '_vars';
@import '_mixins';

:host /deep/ {
    .cdk-drag-placeholder {
        display: none;
    }
}

img {
    height: 1.5rem;
    margin-right: 1rem;
    margin-bottom: .25rem;
}

.card {
    & {
        border-bottom-width: 1px;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: $asset-width;
    }

    &-body {
        font-size: 1.1rem;
        padding-top: .75rem;
        padding-bottom: .75rem;
        padding-right: .5rem;
        line-height: 2.2rem;
    }
}

.icon-folder {
    color: $color-dark1-border1;
    margin-right: .5rem;
    margin-top: 0;
}