@import '_vars';
@import '_mixins';

.comments {
    &-list {
        @include flex-grow(1);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1rem;
        padding-left: 1.5rem;
    }

    &-footer {
        @include flex-shrink(0);
        border-top: 1px solid $color-border;
    }
}


.form-control {
    border: 0;

    &:focus {
        @include box-shadow-none;
    }
}