@import '_vars';
@import '_mixins';

.dropdown-item {
    cursor: pointer;
}

.iso-code {
    font-family: monospace;
}

.iso-code-dropdown {
    display: inline-block;
    min-width: 40px;
    max-width: 60px;
}