<div *ngIf="!forContent || filteredSchemas.length > 0" class="droppable category"
    cdkDropList
    cdkDropListSortingDisabled
    [cdkDropListData]="schemaCategory.name"
    (cdkDropListDropped)="changeCategory($event)">

    <div class="header clearfix">
        <div class="row no-gutters">
            <div class="col-auto">
                <button type="button" class="btn btn-sm btn-text-secondary" (click)="toggle()">
                    <i [class.icon-caret-right]="isCollapsed" [class.icon-caret-down]="!isCollapsed"></i> 
                </button>
            </div>
            <div class="col">
                <h3 class="truncate">
                    <ng-container *ngIf="schemaCategory && schemaCategory.name.length > 0; else noName">
                        {{schemaCategory.name}}
                    </ng-container>
                    <ng-template #noName>
                        {{ 'common.schemas' | sqxTranslate }}
                    </ng-template>
                </h3>
            </div>
            <div class="col-auto">
                <ng-container *ngIf="schemaCategory.schemas.length > 0; else noSchemas">
                    <span class="badge badge-pill badge-light">{{filteredSchemas.length}}</span>
                </ng-container>
                <ng-template #noSchemas>
                    <button type="button" class="btn btn-sm btn-text-danger btn-remove" (click)="remove.emit()">
                        <i class="icon-bin2"></i> 
                    </button>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="nav nav-light flex-column" *ngIf="!isCollapsed" @fade [style.height]="getContainerHeight()">
        <ng-container *ngIf="!forContent; else simpleMode">
            <div *ngFor="let schema of filteredSchemas; trackBy: trackBySchema" class="nav-item" [style.height]="getItemHeight()"
                cdkDrag
                cdkDragLockAxis="y"
                [cdkDragData]="schema"
                (cdkDragStarted)="dragStarted($event)">

                <a class="nav-link" [routerLink]="schemaRoute(schema)" routerLinkActive="active" title="{{schema.displayName}}" titlePosition="top-left">
                    <i cdkDragHandle class="icon-drag2 drag-handle"></i>

                    <span class="item-published mr-1" [class.unpublished]="!schema.isPublished"></span> {{schema.displayName}}
                </a>
            </div>
        </ng-container>
    
        <ng-template #simpleMode>
            <li *ngFor="let schema of filteredSchemas; trackBy: trackBySchema" class="nav-item">
                <a class="nav-link" [routerLink]="schemaRoute(schema)" routerLinkActive="active" title="{{schema.displayName}}" titlePosition="top-left">
                    <span class="schema-name">{{schema.displayName}}</span>
                </a>
            </li>
        </ng-template>
    </div>

    <div class="drop-indicator"></div>
</div>
