<div *ngIf="!forContent || filteredSchemas.length > 0" class="droppable category"
    cdkDropList
    cdkDropListSortingDisabled
    [cdkDropListData]="schemaCategory.name"
    (cdkDropListDropped)="changeCategory($event)">

    <div class="header clearfix">
        <div class="row no-gutters">
            <div class="col-auto">
                <button type="button" class="btn btn-sm btn-text-secondary" (click)="toggle()">
                    <i [class.icon-caret-right]="isCollapsed" [class.icon-caret-down]="!isCollapsed"></i> 
                </button>
            </div>
            <div class="col">
                <h3 class="truncate">
                    {{schemaCategory.displayName | sqxTranslate}}
                </h3>
            </div>
            <div class="col-auto">
                <ng-container *ngIf="schemaCategory.schemas.length > 0; else noSchemas">
                    ({{filteredSchemas.length}})
                </ng-container>
                <ng-template #noSchemas>
                    <button type="button" class="btn btn-sm btn-text-secondary btn-remove" (click)="remove.emit()" *ngIf="schemaCategory.name">
                        <i class="icon-bin2"></i> 
                    </button>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="nav nav-panel nav-dark nav-dark-bordered flex-column" *ngIf="!isCollapsed" @fade [style.height]="getContainerHeight()">
        <ng-container *ngIf="!forContent; else simpleMode">
            <div *ngFor="let schema of filteredSchemas; trackBy: trackBySchema" class="nav-item"
                [style.height]="getItemHeight()"
                routerLinkActive="active"
                cdkDrag
                cdkDragLockAxis="y"
                [cdkDragData]="schema"
                (cdkDragStarted)="dragStarted($event)">

                <i cdkDragHandle class="icon-drag2 drag-handle"></i>

                <a class="nav-link" [routerLink]="schemaRoute(schema)">
                    <div class="row">
                        <div class="col-4">
                            <span class="schema-name schema-name-accent" title="{{schema.displayName}}" titlePosition="top-left">{{schema.displayName}}</span> 
                        </div>
                        <div class="col-4">
                            <span class="schema-user">
                                <i class="icon-user"></i> {{schema.lastModifiedBy | sqxUserNameRef}}
                            </span>
                        </div>
                        <div class="col-4 schema-modified">
                            <small class="item-modified">{{schema.lastModified | sqxFromNow}}</small>
                            
                            <span class="item-published" [class.unpublished]="!schema.isPublished"></span>
                        </div>
                    </div>
                </a>
            </div>
        </ng-container>
    
        <ng-template #simpleMode>
            <li *ngFor="let schema of filteredSchemas; trackBy: trackBySchema" class="nav-item">
                <a class="nav-link" [routerLink]="schemaRoute(schema)" routerLinkActive="active" title="{{schema.displayName}}" titlePosition="top-left">
                    <span class="schema-name">{{schema.displayName}}</span>
                </a>
            </li>
        </ng-template>
    </div>

    <div class="drop-indicator"></div>
</div>
