$drag-margin: -8px;

.col {
    overflow: hidden;
}

.btn {
    & {
        width: 2rem;
    }

    &:focus {
        border-color: transparent;
    }
}

.category {
    margin-bottom: 1rem;
}

.droppable {
    & {
        position: relative;
    }

    .drop-indicator {
        @include absolute($drag-margin, $drag-margin, $drag-margin, $drag-margin);
        background: none;
        border: 2px dashed $color-dark-black;
        display: none;
        pointer-events: none;
    }

    &.cdk-drop-list-dragging {
        & {
            border: 0;
        }

        .drop-indicator {
            display: block;
        }
    }
}

.cdk-drag-preview {
    background: $color-dark2-background !important;

    a {
        color: $color-dark1-foreground !important;
    }
}

.cdk-drag-placeholder {
    display: none;
}

.cdk-drag-animating {
    transition: none;
}

.header {
    align-items: center;
    margin-bottom: 0;
    margin-left: -1rem;

    h3 {
        margin: 0;
    }
}

.nav-light {
    margin: 0;
}

.nav-link {
    align-items: center;
}

.nav-item {
    & {
        @include truncate;
    }

    .drag-handle {
        margin-right: .5rem;
    }
}