<ng-container *ngIf="enableShortcut">
    <sqx-shortcut keys="ctrl+shift+f" (trigger)="inputFind.focus()"></sqx-shortcut>
</ng-container>

<form [class]="formClass" (ngSubmit)="search()">
    <input class="form-control form-control-expandable" #inputFind
        [ngModel]="query?.fullText"
        (ngModelChange)="changeQueryFullText($event)"
        [ngModelOptions]="standalone"
        [placeholder]="placeholder" />

    <div class="buttons">
        <ng-container *ngIf="queries">
            <ng-container *ngIf="saveKey | async; else notBookmarked; let key">
                <a class="save-search" (click)="queries.remove(key)">
                    <i class="icon-star-full"></i>
                </a>
            </ng-container>
        
            <ng-template #notBookmarked>
                <a class="save-search" (click)="saveQuery()">
                    <i class="icon-star-empty"></i>
                </a>
            </ng-template>
        </ng-container>

        <ng-container *ngIf="queryModel">
            <a class="expand-search" (click)="searchDialog.toggle()" [class.highlighted]="hasFilter" #expand>
                <i class="icon-filter-filled"></i>
            </a>
    
            <sqx-onboarding-tooltip helpId="contentArchive" [for]="expand" position="bottom-right" after="60000">
                Click this icon to show the advanced search menu!
            </sqx-onboarding-tooltip>
        </ng-container>
    </div>
</form>

<sqx-onboarding-tooltip helpId="contentFind" [for]="inputFind" position="bottom-right" after="120000">
    Search for content using full text search over all fields and languages!
</sqx-onboarding-tooltip>

<ng-container *sqxModal="searchDialog">
    <sqx-modal-dialog (close)="searchDialog.hide()" large="true">
        <ng-container title>
            Custom Query
        </ng-container>
        
        <ng-container content>
            <div class="form-horizontal">
                <sqx-query
                    [model]="queryModel" 
                    [query]="query"
                    (queryChange)="changeQuery($event)"
                    [language]="language">
                </sqx-query>

                <div class="link">
                    Read more about filtering in the <a href="https://docs.squidex.io/04-guides/02-api.html" sqxExternalLink>Documentation</a>.
                </div>
            </div>
        </ng-container>
        
        <ng-container footer>
                <button type="button" class="float-right btn btn-primary" (click)="search(true)">
                    Submit
                </button>
        </ng-container>
    </sqx-modal-dialog>        
</ng-container>

<ng-container *sqxModal="saveQueryDialog">
    <form [formGroup]="saveQueryForm.form" (ngSubmit)="saveQueryComplete()">
        <sqx-modal-dialog (close)="saveQueryDialog.hide()">
            <ng-container title>
                Name your query
            </ng-container>
        
            <ng-container content>    
                <div class="form-group">            
                    <sqx-control-errors for="name" submitOnly="true" [submitted]="saveQueryForm.submitted | async"></sqx-control-errors>
            
                    <input type="text" class="form-control" id="appName" formControlName="name" autocomplete="off" sqxFocusOnInit />
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="user" id="user" />
                    <label class="form-check-label" for="user">
                        Save the query only for myself.
                    </label>
                </div>
            </ng-container>
        
            <ng-container footer>
                <button type="reset" class="float-left btn btn-secondary" (click)="saveQueryDialog.hide()" [disabled]="saveQueryForm.submitted | async">Cancel</button>
                <button type="submit" class="float-right btn btn-success">Create</button>
            </ng-container>
        </sqx-modal-dialog>
    </form>
</ng-container>
