@import '_vars';
@import '_mixins';

.search-form {
    display: inline-block;
}

.form-inline {
    position: relative;
}

.form-control-expandable {
    padding-right: 3rem;
}

.form-horizontal {
    min-width: 35rem;
}

.buttons {
    @include absolute(8px, 8px, auto, auto);
}

.save-search {
    color: $color-border-dark !important;
    font-size: .9rem;
    font-weight: normal;
    cursor: pointer !important;
}

.expand-search {
    & {
        color: $color-border-dark !important;
        font-size: .9rem;
        font-weight: normal;
        cursor: pointer !important;
        padding: 0 .5rem;
    }

    &.highlighted {
        color: $color-title !important;
    }
}

.link {
    margin-top: 1.5rem;
    font-size: .8rem;
    font-weight: normal;
}

.col-form-label {
    text-align: left;
}