<div [formGroup]="fieldForm">
    <sqx-form-row for="minItems" label="schemas.fieldTypes.array.count" [prefix]="field.fieldId">
        <div class="row g-0">
            <div class="col">
                <input class="form-control" formControlName="minItems" placeholder="{{ 'schemas.fieldTypes.array.countMin' | sqxTranslate }}" type="number" />
            </div>

            <div class="col-auto"><label class="col-form-label minmax">-</label></div>

            <div class="col">
                <input class="form-control" formControlName="maxItems" placeholder="{{ 'schemas.fieldTypes.array.countMax' | sqxTranslate }}" type="number" />
            </div>
        </div>
    </sqx-form-row>

    <sqx-form-row for="minItems" label="schemas.fieldTypes.array.uniqueFields" [prefix]="field.fieldId">
        <sqx-tag-editor formControlName="uniqueFields" />
    </sqx-form-row>
</div>
