<div [formGroup]="fieldForm">
    <sqx-form-row for="previewMode" hint="schemas.fieldTypes.assets.previewModeHint" label="schemas.fieldTypes.assets.previewMode" [prefix]="field.fieldId">
        <select class="form-select" id="{{ field.fieldId }}_previewMode" formControlName="previewMode">
            <option value="ImageAndFileName">{{ "schemas.fieldTypes.assets.previewImageAndFileName" | sqxTranslate }}</option>
            <option value="Image">{{ "schemas.fieldTypes.assets.previewImage" | sqxTranslate }}</option>
            <option value="FileName">{{ "schemas.fieldTypes.assets.previewFileName" | sqxTranslate }}</option>
        </select>
    </sqx-form-row>

    <sqx-form-row
        for="previewFormat"
        hint="schemas.fieldTypes.assets.previewFormatHint"
        label="schemas.fieldTypes.assets.previewFormat"
        [prefix]="field.fieldId">
        <input class="form-control" id="{{ field.fieldId }}_previewFormat" formControlName="previewFormat" />
    </sqx-form-row>

    <sqx-form-row check for="previewFormat" hint="schemas.fieldTypes.assets.resolveHint" label="schemas.fieldTypes.assets.resolve" [prefix]="field.fieldId">
        <input class="form-check-input" id="{{ field.fieldId }}_fieldResolveFirst" formControlName="resolveFirst" type="checkbox" />
    </sqx-form-row>

    <sqx-form-row for="folderId" hint="schemas.fieldTypes.assets.folderIdHint" label="schemas.fieldTypes.assets.folderId" [prefix]="field.fieldId">
        <sqx-asset-folder-dropdown formControlName="folderId" />
    </sqx-form-row>
</div>
