<div [formGroup]="fieldForm">
    <sqx-form-row for="minItems" hideError label="schemas.fieldTypes.assets.count" [prefix]="field.fieldId" showUnit="true">
        <div class="row g-0">
            <div class="col">
                <input class="form-control" formControlName="minItems" placeholder="{{ 'schemas.fieldTypes.assets.countMin' | sqxTranslate }}" type="number" />
            </div>

            <div class="col-auto"><label class="col-form-label minmax">-</label></div>

            <div class="col">
                <input class="form-control" formControlName="maxItems" placeholder="{{ 'schemas.fieldTypes.assets.countMax' | sqxTranslate }}" type="number" />
            </div>
        </div>
    </sqx-form-row>

    <sqx-form-row for="minSize" hideError label="schemas.fieldTypes.assets.size" [prefix]="field.fieldId" unit="common.bytes">
        <div class="row g-0">
            <div class="col">
                <input class="form-control" formControlName="minSize" placeholder="{{ 'schemas.fieldTypes.assets.sizeMin' | sqxTranslate }}" type="number" />
            </div>

            <div class="col-auto"><label class="col-form-label minmax">-</label></div>

            <div class="col">
                <input class="form-control" formControlName="maxSize" placeholder="{{ 'schemas.fieldTypes.assets.sizeMax' | sqxTranslate }}" type="number" />
            </div>
        </div>
    </sqx-form-row>

    <hr />

    <sqx-form-row for="minSize" label="schemas.fieldTypes.assets.expectedType" [prefix]="field.fieldId" showUnit="true">
        <select class="form-select" formControlName="expectedType">
            <option></option>
            <option ngValue="Image">Image</option>
            <option ngValue="Audio">Audio</option>
            <option ngValue="Video">Video</option>
            <option ngValue="Unknown">Unknown</option>
        </select>
    </sqx-form-row>

    <sqx-form-row for="minWidth" hideError label="common.width" [prefix]="field.fieldId" unit="px">
        <div class="row g-0">
            <div class="col"><input class="form-control" formControlName="minWidth" type="number" /></div>

            <div class="col-auto"><label class="col-form-label minmax">-</label></div>

            <div class="col"><input class="form-control" formControlName="maxWidth" type="number" /></div>
        </div>
    </sqx-form-row>

    <sqx-form-row for="minHeight" hideError label="common.height" [prefix]="field.fieldId" unit="px">
        <div class="row g-0">
            <div class="col"><input class="form-control" formControlName="minHeight" type="number" /></div>

            <div class="col-auto"><label class="col-form-label minmax">-</label></div>

            <div class="col"><input class="form-control" formControlName="maxHeight" type="number" /></div>
        </div>
    </sqx-form-row>

    <sqx-form-row for="aspectRatio" hideError label="common.aspectRatio" [prefix]="field.fieldId" unit="px">
        <div class="row g-0">
            <div class="col"><input class="form-control" formControlName="aspectWidth" type="number" /></div>

            <div class="col-auto"><label class="col-form-label minmax">:</label></div>

            <div class="col"><input class="form-control" formControlName="aspectHeight" type="number" /></div>
        </div>
    </sqx-form-row>

    <hr />

    <sqx-form-row check for="allowDuplicates" hideError label="schemas.fieldTypes.assets.allowDuplicates" [prefix]="field.fieldId">
        <input class="form-check-input" id="{{ field.fieldId }}_fieldAllowDuplicates" formControlName="allowDuplicates" type="checkbox" />
    </sqx-form-row>

    <sqx-form-row for="allowedExtensions" hideError label="schemas.fieldTypes.assets.fileExtensions" [prefix]="field.fieldId">
        <sqx-tag-editor formControlName="allowedExtensions" />
    </sqx-form-row>

    <sqx-form-row for="defaultValue" hideError label="schemas.field.defaultValue" [prefix]="field.fieldId">
        <sqx-tag-editor formControlName="defaultValue" />
    </sqx-form-row>

    @if (isLocalizable) {
        <sqx-form-row for="defaultValues" hideError hint="schemas.field.defaultValuesHint" label="schemas.field.defaultValues" [prefix]="field.fieldId">
            <sqx-localized-input formControlName="defaultValues" [languages]="languages" type="tags" />
        </sqx-form-row>
    }
</div>
