<div [formGroup]="fieldForm">
    <div class="form-group row">
        <div class="col-9 offset-3">
            <div class="form-check">
                <input
                    class="form-check-input"
                    id="{{ field.fieldId }}_fieldDefaultValue"
                    formControlName="defaultValue"
                    sqxIndeterminateValue
                    type="checkbox" />
                <label class="form-check-label" for="{{ field.fieldId }}_fieldDefaultValue">
                    {{ "schemas.field.defaultValue" | sqxTranslate }}
                </label>
            </div>
        </div>
    </div>

    @if (isLocalizable) {
        <div class="form-group row">
            <label class="col-3 col-form-label" for="{{ field.fieldId }}_fieldDefaultValues">
                {{ "schemas.field.defaultValues" | sqxTranslate }}
            </label>
            <div class="col-9">
                <sqx-localized-input
                    id="{{ field.fieldId }}_fieldDefaultValues"
                    formControlName="defaultValues"
                    [languages]="languages"
                    type="boolean"></sqx-localized-input>
                <sqx-form-hint>
                    {{ "schemas.field.defaultValuesHint" | sqxTranslate }}
                </sqx-form-hint>
            </div>
        </div>
    }
</div>
