<div [formGroup]="fieldForm">
    <sqx-form-row for="defaultValue" label="schemas.field.defaultValue" [prefix]="field.fieldId">
        <input class="form-check-input" id="{{ field.fieldId }}_fieldDefaultValue" formControlName="defaultValue" sqxIndeterminateValue type="checkbox" />
    </sqx-form-row>

    @if (isLocalizable) {
        <sqx-form-row for="defaultValues" hint="schemas.field.defaultValuesHint" label="schemas.field.defaultValues" [prefix]="field.fieldId">
            <sqx-localized-input id="{{ field.fieldId }}_fieldDefaultValues" formControlName="defaultValues" [languages]="languages" type="boolean" />
        </sqx-form-row>
    }
</div>
