<div [formGroup]="fieldForm">
    <div class="form-group row">
        <label class="col-3 col-form-label" for="{{field.fieldId}}_fieldPlaceholder">{{ 'schemas.field.placeholder' | sqxTranslate }}</label>

        <div class="col-9">
            <input class="form-control" id="{{field.fieldId}}_fieldPlaceholder" maxlength="100" formControlName="placeholder">

            <sqx-form-hint>
                {{ 'schemas.field.placeholderHint' | sqxTranslate }}
            </sqx-form-hint>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-3 col-form-label" for="{{field.fieldId}}_fieldFormat">{{ 'schemas.fieldTypes.dateTime.format' | sqxTranslate }}</label>

        <div class="col-9">
            <input class="form-control" id="{{field.fieldId}}_fieldFormat" maxlength="100" formControlName="format">

            <sqx-form-hint>
                <span [innerHTML]="'schemas.fieldTypes.dateTime.formatHint' | sqxTranslate | sqxMarkdownInline | sqxSafeHtml"></span>
            </sqx-form-hint>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-3 col-form-label">{{ 'schemas.field.editor' | sqxTranslate }}</label>

        <div class="col-9">
            <label class="btn btn-radio" *ngFor="let editor of editors" [class.active]="fieldForm.controls['editor'].value === editor">
                <input type="radio" class="radio-input" name="editor" formControlName="editor" [value]="editor">

                <i class="icon-control-{{editor}}"></i>

                <span class="radio-label">{{editor}}</span>
            </label>
        </div>
    </div>
</div>