<div [formGroup]="fieldForm">
    @if (showUnique) {
        <sqx-form-row check for="isUnique" label="schemas.field.unique" [prefix]="field.fieldId">
            <input class="form-check-input" id="{{ field.fieldId }}_fieldUnique" formControlName="isUnique" type="checkbox" />
        </sqx-form-row>
    }

    <sqx-form-row for="minValue" hideError label="schemas.fieldTypes.number.range" [prefix]="field.fieldId">
        <div class="row g-0">
            <div class="col">
                <input class="form-control" formControlName="minValue" placeholder="{{ 'schemas.fieldTypes.number.rangeMin' | sqxTranslate }}" type="number" />
            </div>

            <div class="col-auto"><label class="col-form-label minmax">-</label></div>

            <div class="col">
                <input class="form-control" formControlName="maxValue" placeholder="{{ 'schemas.fieldTypes.number.rangeMax' | sqxTranslate }}" type="number" />
            </div>
        </div>
    </sqx-form-row>

    <sqx-form-row for="defaultValue" hideError label="schemas.field.defaultValue" [prefix]="field.fieldId">
        <input class="form-control" id="{{ field.fieldId }}_fieldDefaultValue" formControlName="defaultValue" type="number" />
    </sqx-form-row>

    @if (isLocalizable) {
        <sqx-form-row for="defaultValues" hideError label="schemas.field.defaultValues" [prefix]="field.fieldId">
            <sqx-localized-input id="{{ field.fieldId }}_fieldDefaultValues" formControlName="defaultValues" [languages]="languages" type="number" />
        </sqx-form-row>
    }
</div>
