<div [formGroup]="fieldForm">
    <sqx-form-row for="editor" label="schemas.field.editor" [prefix]="field.fieldId">
        @for (editor of editors; track editor) {
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === editor">
                <input class="radio-input" formControlName="editor" name="editor" type="radio" [value]="editor" />
                <i class="icon-control-{{ editor }}"></i> <span class="radio-label">{{ editor }}</span>
            </label>
        }
    </sqx-form-row>

    @if (field.properties.isContentField) {
        <sqx-form-row
            check
            for="resolveReference"
            hint="schemas.fieldTypes.references.resolveHint"
            label="schemas.fieldTypes.references.resolve"
            [prefix]="field.fieldId">
            <input class="form-check-input" id="{{ field.fieldId }}_fieldResolveReference" formControlName="resolveReference" type="checkbox" />
        </sqx-form-row>
    }

    <sqx-form-row for="query" hint="schemas.fieldTypes.references.queryHint" label="schemas.fieldTypes.references.query" [prefix]="field.fieldId">
        <input class="form-control" id="{{ field.fieldId }}_query" formControlName="query" type="text" />
    </sqx-form-row>
</div>
