<div [formGroup]="fieldForm">
    <sqx-form-row #classNamesRow for="classNames" hint="schemas.fieldTypes.string.classNamesHint" label="schemas.fieldTypes.string.classNames" [prefix]="field.fieldId">
        <sqx-tag-editor [id]="classNamesRow.fieldName" formControlName="classNames" />
    </sqx-form-row>

    <sqx-form-row for="folderId" hint="schemas.fieldTypes.string.folderIdHint" label="schemas.fieldTypes.string.folderId" [prefix]="field.fieldId">
        <sqx-asset-folder-dropdown formControlName="folderId" />
    </sqx-form-row>

    <sqx-form-row #schemaIdsRow for="schemaIds" label="common.schemas" [prefix]="field.fieldId">
        <sqx-tag-editor
            [id]="schemaIdsRow.fieldName"
            formControlName="schemaIds"
            [itemConverter]="(schemasSource.normalConverter | async)!"
            [itemsSource]="(schemasSource.normalConverter | async)?.suggestions"
            placeholder="{{ 'common.tagAddSchema' | sqxTranslate }}" />
    </sqx-form-row>
</div>
