<div [formGroup]="fieldForm">
    @if (showUnique) {
        <sqx-form-row #placeholderRow for="placeholder" hint="schemas.field.placeholderHint" label="schemas.field.placeholder" [prefix]="field.fieldId">
            <input class="form-control" [id]="placeholderRow.fieldName" formControlName="placeholder" maxlength="100" />
        </sqx-form-row>
    }

    <sqx-form-row for="minLength" hideError label="schemas.fieldTypes.string.length" [prefix]="field.fieldId">
        <div class="row g-0">
            <div class="col">
                <input
                    class="form-control"
                    formControlName="minLength"
                    placeholder="{{ 'schemas.fieldTypes.string.lengthMin' | sqxTranslate }}"
                    type="number" />
            </div>

            <div class="col-auto"><label class="col-form-label minmax">-</label></div>

            <div class="col">
                <input
                    class="form-control"
                    formControlName="maxLength"
                    placeholder="{{ 'schemas.fieldTypes.string.lengthMax' | sqxTranslate }}"
                    type="number" />
            </div>
        </div>
    </sqx-form-row>

    <sqx-form-row #patternRow for="pattern" [hint]="patternName" label="common.pattern" [prefix]="field.fieldId">
        <input
            class="form-control"
            [id]="patternRow.fieldName"
            #inputPattern
            autocapitalize="off"
            autocomplete="off"
            autocorrect="off"
            (focus)="patternsModal.show()"
            formControlName="pattern"
            placeholder="{{ 'schemas.fieldTypes.string.pattern' | sqxTranslate }}" />
        @if (settings.patterns.length > 0 && (showPatternSuggestions | async)) {
            <sqx-dropdown-menu class="control-dropdown" position="bottom-start" scrollY="true" [sqxAnchoredTo]="inputPattern" *sqxModal="patternsModal">
                <h4>{{ "schemas.fieldTypes.string.suggestions" | sqxTranslate }}</h4>

                @for (pattern of settings.patterns; track pattern) {
                    <div class="control-dropdown-item control-dropdown-item-selectable" (mousedown)="setPattern(pattern)">
                        <div class="truncate">{{ pattern.name }}</div>

                        <div class="truncate text-muted">{{ pattern.regex }}</div>
                    </div>
                }
            </sqx-dropdown-menu>
        }
    </sqx-form-row>

    @if (showPatternMessage | async) {
        <sqx-form-row #patternMessageRow for="patternMessage" label="schemas.fieldTypes.string.patternMessage" [prefix]="field.fieldId">
            <input class="form-control" [id]="patternMessageRow.fieldName" formControlName="patternMessage" />
        </sqx-form-row>
    }

    <sqx-form-row check for="none" hideError hint="schemas.fieldTypes.string.wordHint" [prefix]="field.fieldId" />

    <sqx-form-row for="contentType" label="schemas.fieldTypes.string.contentType" [prefix]="field.fieldId">
        <select class="form-select" formControlName="contentType">
            @for (contentType of contentTypes; track contentType) {
                <option [ngValue]="contentType">{{ contentType }}</option>
            }
        </select>
    </sqx-form-row>

    <sqx-form-row for="minCharacters" hideError label="schemas.fieldTypes.string.characters" [prefix]="field.fieldId">
        <div class="row g-0">
            <div class="col">
                <input
                    class="form-control"
                    formControlName="minCharacters"
                    placeholder="{{ 'schemas.fieldTypes.string.charactersMin' | sqxTranslate }}"
                    type="number" />
            </div>

            <div class="col-auto"><label class="col-form-label minmax">-</label></div>

            <div class="col">
                <input
                    class="form-control"
                    formControlName="maxCharacters"
                    placeholder="{{ 'schemas.fieldTypes.string.charactersMax' | sqxTranslate }}"
                    type="number" />
            </div>
        </div>
    </sqx-form-row>

    <sqx-form-row for="minWords" hideError label="schemas.fieldTypes.string.words" [prefix]="field.fieldId">
        <div class="row g-0">
            <div class="col">
                <input class="form-control" formControlName="minWords" placeholder="{{ 'schemas.fieldTypes.string.wordsMin' | sqxTranslate }}" type="number" />
            </div>

            <div class="col-auto"><label class="col-form-label minmax">-</label></div>

            <div class="col">
                <input class="form-control" formControlName="maxWords" placeholder="{{ 'schemas.fieldTypes.string.wordsMax' | sqxTranslate }}" type="number" />
            </div>
        </div>
    </sqx-form-row>

    <sqx-form-row #defaultValueRow for="defaultValue" label="schemas.field.defaultValue" [prefix]="field.fieldId">
        <input class="form-control" [id]="defaultValueRow.fieldName" formControlName="defaultValue" />
    </sqx-form-row>

    @if (isLocalizable) {
        <sqx-form-row #defaultValuesRow for="defaultValues" hint="schemas.field.defaultValuesHint" label="schemas.field.defaultValues" [prefix]="field.fieldId">
            <sqx-localized-input [id]="defaultValuesRow.fieldName" formControlName="defaultValues" [languages]="languages" />
        </sqx-form-row>
    }
</div>
