<div [formGroup]="fieldForm">
    <sqx-form-row for="minItems" hideError label="schemas.fieldTypes.tags.count" [prefix]="field.fieldId">
        <div class="row g-0">
            <div class="col">
                <input class="form-control" formControlName="minItems" placeholder="{{ 'schemas.fieldTypes.tags.countMin' | sqxTranslate }}" type="number" />
            </div>

            <div class="col-auto"><label class="col-form-label minmax">-</label></div>

            <div class="col">
                <input class="form-control" formControlName="maxItems" placeholder="{{ 'schemas.fieldTypes.tags.countMax' | sqxTranslate }}" type="number" />
            </div>
        </div>
    </sqx-form-row>

    <sqx-form-row #defaultValueRow for="defaultValue" label="schemas.field.defaultValue" [prefix]="field.fieldId">
        <sqx-tag-editor [id]="defaultValueRow.fieldName" formControlName="defaultValue" />
    </sqx-form-row>

    @if (isLocalizable) {
        <sqx-form-row #defaultValuesRow for="defaultValues" hint="schemas.field.defaultValuesHint" label="schemas.field.defaultValues" [prefix]="field.fieldId">
            <sqx-localized-input [id]="defaultValuesRow.fieldName" formControlName="defaultValues" [languages]="languages" type="tags" />
        </sqx-form-row>
    }
</div>
