<div [formGroup]="fieldForm">
    <sqx-form-row #placeholderRow for="placeholder" hint="schemas.field.placeholderHint" label="schemas.field.placeholder" [prefix]="field.fieldId">
        <input class="form-control" [id]="placeholderRow.fieldName" formControlName="placeholder" maxlength="100" />
    </sqx-form-row>

    <sqx-form-row for="editor" label="schemas.field.editor" [prefix]="field.fieldId">
        @for (editor of editors; track editor) {
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === editor">
                <input class="radio-input" formControlName="editor" name="editor" type="radio" [value]="editor" />
                <i class="icon-control-{{ editor }}"></i> <span class="radio-label">{{ editor }}</span>
            </label>
        }
    </sqx-form-row>

    <sqx-form-row #allowedValuesRow for="allowedValues" label="schemas.field.allowedValues" [prefix]="field.fieldId">
        <sqx-tag-editor [id]="allowedValuesRow.fieldName" formControlName="allowedValues" />
    </sqx-form-row>

    <sqx-form-row #createEnumRow check for="createEnum" hint="schemas.field.createEnumHint" label="schemas.field.createEnum" [prefix]="field.fieldId">
        <input class="form-check-input" [id]="createEnumRow.fieldName" formControlName="createEnum" type="checkbox" />
    </sqx-form-row>
</div>
