<div class="control-container">
    <input
        class="form-control"
        #input
        [sqxFocusOnInit]="autoFocus"
        [class.form-empty]="inputStyle === 'empty'"
        [class.form-icon]="!!icon"
        [class.form-underlined]="inputStyle === 'underlined'"
        [formControl]="queryInput"
        [placeholder]="placeholder"
        (blur)="blur()"
        (keydown)="onKeyDown($event)"
        autocapitalize="off"
        autocomplete="off"
        autocorrect="off" />

    @if (icon) {
        <div class="icon">
            @if (snapshot.isLoading) {
                <sqx-loader color="input"></sqx-loader>
            } @else {
                <i class="icon-{{ icon }}"></i>
            }
        </div>
    }

    @if (allowOpen) {
        <div class="btn btn-sm" (click)="openModal()" sqxStopClick>
            <i class="icon-caret-down"></i>
        </div>
    }

    <sqx-dropdown-menu
        class="control-dropdown"
        #container
        *sqxModal="suggestionsModal"
        [sqxAnchoredTo]="input"
        [adjustWidth]="dropdownFullWidth"
        [style]="dropdownStyles"
        [position]="dropdownPosition"
        adjustHeight="false"
        scrollX="false"
        scrollY="true">
        @for (item of snapshot.suggestedItems; track item; let i = $index) {
            <div
                class="control-dropdown-item control-dropdown-item-selectable"
                [class.active]="i === snapshot.suggestedIndex"
                [sqxScrollActive]="i === snapshot.suggestedIndex"
                [sqxScrollContainer]="$any(container.nativeElement)"
                (mousedown)="selectItem(item)"
                (mouseover)="selectIndex(i)">
                @if (!itemTemplate) {
                    {{ item }}
                }
                @if (itemTemplate) {
                    <ng-template [sqxTemplateWrapper]="itemTemplate" [item]="item" [index]="i"></ng-template>
                }
            </div>
        }
    </sqx-dropdown-menu>
</div>
