@import 'mixins';
@import 'vars';

.control-container {
    position: relative;
}

.measurer {
    @include absolute(0, null, null, 0);
    white-space: pre;
    background-color: red;
    opacity: .2;
    pointer-events: none;
}

.anchor {
    @include absolute(0, null, null, 0);
}

.anchor span {
    background-color: blue;
    opacity: .2;
    pointer-events: none;
    margin-top: -.375rem;
}

.form-icon {
    padding-left: 2.25rem;
}

.icon {
    @include absolute(.5rem, null, null, .75rem);
    color: $color-input;
    font-size: 1.1rem;
    font-weight: normal;
}

.btn {
    @include absolute(.25rem, 0, null, null);
    border: 0;
    cursor: pointer;
    font-size: $font-small;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
}