@import 'mixins';
@import 'vars';

.control-container {
    position: relative;
}

.anchor {
    @include absolute(0, null, null, 0);
    background-color: red;

    &.full-size {
        @include absolute(0, 0, 0, 0);
    }

    &.cursor-size {
        margin-top: -.375rem !important;
    }
}

.form-icon {
    padding-left: 2.25rem;
}

.icon {
    @include absolute(.5rem, null, null, .75rem);
    color: $color-input;
    font-size: 1.1rem;
    font-weight: normal;
}

.btn {
    @include absolute(.25rem, 0, null, null);
    border: 0;
    cursor: pointer;
    font-size: $font-small;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
}

textarea {
    overflow-x: hidden;
    overflow-y: hidden;
    resize: none;
}