<span class="color-container" #input>
    @if (mode === "Input") {
        <input
            class="form-control"
            (blur)="blur()"
            (click)="picker.click()"
            (focus)="picker.click()"
            [ngModel]="snapshot.value"
            (ngModelChange)="updateValue($event)"
            [placeholder]="placeholder"
            [style.background]="snapshot.value"
            [style.color]="snapshot.foreground"
            type="text" />
    } @else {
        <div class="circle" (click)="picker.click()" (focus)="picker.click()" [style.background]="snapshot.value"></div>
    }

    <input class="color-picker" #picker [ngModel]="snapshot.parsed" (ngModelChange)="updateValue($event)" type="color" />
</span>
