<div class="d-flex root gap-1" [class.compact]="size === 'Compact'" [class.mini]="size === 'Mini'" (sqxResized)="setSize($event)">
    <div class="form-container flex-grow">
        @if (isDateTimeMode && shouldShowDateTimeModeButton) {
            <div>
                @if (snapshot.isLocal) {
                    <button class="btn btn-text-secondary btn-sm btn-time-mode" (click)="setLocalMode(false)" type="button">
                        {{ "common.dateTimeEditor.local" | sqxTranslate }}
                    </button>
                }

                @if (!snapshot.isLocal) {
                    <button class="btn btn-text-secondary btn-sm btn-time-mode" (click)="setLocalMode(true)" type="button">
                        {{ "common.dateTimeEditor.utc" | sqxTranslate }}
                    </button>
                }
            </div>
        }

        <input
            class="form-control form-date"
            #dateInput
            (blur)="callTouched()"
            [class.with-buttons]="isDateTimeMode && shouldShowDateTimeModeButton"
            [class.with-clear]="!hideClear"
            [disabled]="snapshot.isDisabled"
            [ngModel]="snapshot.inputValue"
            (ngModelChange)="updateValue($event)"
            [ngModelOptions]="{ standalone: true }"
            placeholder="{{ 'common.date' | sqxTranslate }}"
            [type]="isDateTimeMode ? 'datetime-local' : 'date'" />
    </div>

    @if (isDateTimeMode && shouldShowDateButtons) {
        <button
            class="btn btn-text-secondary btn-quick"
            (click)="writeNow()"
            [disabled]="snapshot.isDisabled"
            title="i18n:common.dateTimeEditor.nowTooltip"
            type="button">
            {{ "common.dateTimeEditor.now" | sqxTranslate }}
        </button>
    }

    @if (!isDateTimeMode && shouldShowDateButtons) {
        <button
            class="btn btn-text-secondary btn-quick"
            (click)="writeToday()"
            [disabled]="snapshot.isDisabled"
            title="i18n:common.dateTimeEditor.todayTooltip"
            type="button">
            {{ "common.dateTimeEditor.today" | sqxTranslate }}
        </button>
    }

    @if (!hideClear) {
        <button class="btn btn-text-secondary btn-clear" [class.invisible]="!hasValue" (click)="reset()" [disabled]="snapshot.isDisabled" type="button">
            <i class="icon-close"></i>
        </button>
    }
</div>
