<div class="selection">
    <input
        class="form-select"
        #input
        [disabled]="snapshot.isDisabled"
        (click)="openModal()"
        (keydown)="onKeyDown($event)"
        readonly
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off" />

    @if (snapshot.selectedItem; as selectedItem) {
        <div class="control-dropdown-item">
            <div class="no-wrap">
                @if (!templateSelection) {
                    <span class="truncate">{{ selectedItem }}</span>
                }
                @if (templateSelection) {
                    <ng-template [sqxTemplateWrapper]="templateSelection" [item]="selectedItem"></ng-template>
                }
            </div>
        </div>
    }
</div>

<div class="items-container">
    <sqx-dropdown-menu
        *sqxModal="dropdown"
        [sqxAnchoredTo]="input"
        [adjustWidth]="dropdownFullWidth"
        [style]="dropdownStyles"
        [position]="dropdownPosition"
        r
        adjustHeight="false"
        scrollX="false"
        scrollY="true">
        @if (canSearch) {
            <div class="search-form">
                <input
                    class="form-control search"
                    [formControl]="queryInput"
                    (keydown)="onKeyDown($event)"
                    placeholder="{{ 'common.search' | sqxTranslate }}"
                    sqxFocusOnInit />
            </div>
        }

        <div class="control-dropdown-items" #container>
            @for (item of snapshot.suggestedItems; track item; let i = $index) {
                <div
                    class="control-dropdown-item control-dropdown-item-selectable"
                    [class.active]="i === snapshot.suggestedIndex"
                    [class.separated]="itemSeparator"
                    [sqxScrollActive]="i === snapshot.suggestedIndex"
                    [sqxScrollContainer]="container"
                    (mousedown)="selectIndexAndClose(i)">
                    @if (!templateItem) {
                        {{ item }}
                    }
                    @if (templateItem) {
                        <ng-template [sqxTemplateWrapper]="templateItem" [item]="item" [index]="i" [context]="snapshot.query"></ng-template>
                    }
                </div>
            }

            @if (snapshot.suggestedItems.length === 0) {
                <div class="text-decent control-dropdown-item no-events">
                    @if (itemsLoading) {
                        <sqx-loader color="input"></sqx-loader>
                    } @else {
                        <small>{{ itemsEmptyText | sqxTranslate }}</small>
                    }
                </div>
            }
        </div>
    </sqx-dropdown-menu>
</div>
