<div class="row mb-1">
    <div class="col">
        <sqx-language-selector
            [language]="snapshot.language"
            [languages]="languages"
            (languageChange)="setLanguage($event)"
            size="sm"></sqx-language-selector>
    </div>
    <div class="col-auto">
        <button class="btn btn-sm btn-secondary" [disabled]="isEmpty" (click)="unset()" type="button">
            <i class="icon-close"></i>
        </button>
    </div>
</div>

@switch (type) {
    @case ("text") {
        <input
            class="form-control"
            [attr.type]="type"
            [attr.id]="id"
            [attr.name]="name"
            [ngModel]="currentValue"
            (ngModelChange)="setValue($event)"
            (blur)="callTouched()" />
    }
    @case ("number") {
        <input
            class="form-control"
            [attr.type]="type"
            [attr.id]="id"
            [attr.name]="name"
            [ngModel]="currentValue"
            (ngModelChange)="setValue($event)"
            (blur)="callTouched()" />
    }
    @case ("tags") {
        <sqx-tag-editor [ngModel]="currentValue" (ngModelChange)="setValue($event)" (editorBlur)="callTouched()"></sqx-tag-editor>
    }
    @case ("datetime") {
        <sqx-date-time-editor
            [ngModel]="currentValue"
            (ngModelChange)="setValue($event)"
            (editorBlur)="callTouched()"
            mode="DateTime"></sqx-date-time-editor>
    }
    @case ("date") {
        <sqx-date-time-editor
            [ngModel]="currentValue"
            (ngModelChange)="setValue($event)"
            (editorBlur)="callTouched()"
            mode="Date"></sqx-date-time-editor>
    }
    @case ("boolean") {
        <div class="form-check">
            <input
                class="form-check-input"
                [attr.id]="id"
                [ngModel]="currentValue"
                (ngModelChange)="setValue($event)"
                (blur)="callTouched()"
                type="checkbox"
                sqxIndeterminateValue />
            <label class="form-check-label" [attr.for]="id"></label>
        </div>
    }
}
