<ng-container *sqxModal="tooltipModal">
    <div class="onboarding-rect" [sqxAnchoredTo]="for" [offset]="4" position="full"></div>
    <div class="onboarding-help" [sqxAnchoredTo]="for" [offset]="4" @fade>
        <div class="onboarding-text">
            <ng-content></ng-content>
        </div>

        <div class="onboarding-buttons clearfix">
            <button (click)="hideAll()" class="btn btn-text-primary btn-sm float-left">
                Stop Tour
            </button>

            <button (click)="hideThis()" class="btn btn-text-success btn-sm float-right">
                Got It
            </button>
        </div>
    </div>
</ng-container>