<sqx-modal [model]="tooltipModal" [target]="for" [offset]="4" position="full">
    <div class="onboarding-rect"></div>
</sqx-modal>

<sqx-modal [model]="tooltipModal" [target]="for" [offset]="4">
    <div class="onboarding-help" @fade>
        <div class="onboarding-text">
            <ng-content></ng-content>
        </div>

        <div class="onboarding-buttons clearfix">
            <button (click)="hideAll()" class="btn btn-text-primary btn-sm float-left">
                Stop Tour
            </button>

            <button (click)="hideThis()" class="btn btn-text-success btn-sm float-right">
                Got It
            </button>
        </div>
    </div>
</sqx-modal>