@import '_vars';
@import '_mixins';

.tooltip-container {
    @include border-radius;
    background: $color-tooltip;
    border: 0;
    font-size: .9rem;
    font-weight: normal;
    white-space: nowrap;
    color: $color-dark-foreground;
    padding: .5rem;
}