<tr (click)="toggle()">
    <td class="cell-select" sqxStopClick>
        <input type="checkbox" class="form-check"
            [disabled]="!selectable"
            [ngModel]="selected || !selectable"
            (ngModelChange)="select($event)"
        />
    </td>

    <td sqxContentListCell="meta.lastModifiedBy.avatar">
        <sqx-content-list-field [language]="language" field="meta.lastModifiedBy.avatar" [content]="content"></sqx-content-list-field>
    </td>

    <td *ngFor="let field of schema.defaultReferenceFields" [sqxContentListCell]="field">
        <sqx-content-list-field [field]="field" [content]="content" [language]="language"></sqx-content-list-field>
    </td>

    <td sqxContentListCell="meta.status.color">
        <sqx-content-list-field [language]="language" field="meta.status.color" [content]="content"></sqx-content-list-field>
    </td>
</tr>
<tr class="spacer"></tr>