.control-container {
    position: relative;
}

.form-icon {
    padding-left: 2.25rem;
}

.icon {
    @include absolute(.5rem, null, null, .75rem);
    color: $color-input;
    font-size: 1.1rem;
    font-weight: normal;
}