<div class="control-container">
    <input type="text" class="form-control" (blur)="blur()" (keydown)="onKeyDown($event)" #input
        [sqxFocusOnInit]="autoFocus"
        [name]="inputName" 
        [placeholder]="placeholder"
        autocomplete="off" 
        autocorrect="off"
        autocapitalize="off"
        [class.form-empty]="inputStyle === 'empty'"
        [class.form-underlined]="inputStyle === 'underlined'"
        [class.form-icon]="!!icon"
        [formControl]="queryInput">

    <div class="icon" *ngIf="icon">
        <i class="icon-{{icon}}" [class.icon-spinner2]="snapshot.isLoading" [class.spin2]="snapshot.isLoading"></i>
    </div>

    <ng-container *sqxModal="snapshot.suggestedItems.length > 0" position="bottom-left">
        <div class="control-dropdown" [sqxAnchoredTo]="input" [style.width]="dropdownWidth" position="bottom-left" #container @fade>
            <div *ngFor="let item of snapshot.suggestedItems; let i = index" class="control-dropdown-item control-dropdown-item-selectable"
                [class.active]="i === snapshot.suggestedIndex"
                (mousedown)="selectItem(item)"
                (mouseover)="selectIndex(i)"
                [sqxScrollActive]="i === snapshot.suggestedIndex"
                [sqxScrollContainer]="container">

                <ng-container *ngIf="!itemTemplate">{{item}}</ng-container>

                <ng-template *ngIf="itemTemplate" [sqxTemplateWrapper]="itemTemplate" [item]="item" [index]="i"></ng-template>
            </div>
        </div>
    </ng-container>
</div>