<div #container (sqxResized)="updateContainerWidth($event.width)">
    <div class="custom-control custom-checkbox" *ngFor="let value of valuesSorted"
        [class.custom-control-block]="!snapshot.isSingleLine"
        [class.custom-control-inline]="snapshot.isSingleLine">
        <input class="custom-control-input" type="checkbox" id="{{controlId}}_{{value}}"
            (blur)="callTouched()"
            (change)="check($event!.target!.checked!, value)" 
            [checked]="isChecked(value)"
            [disabled]="snapshot.isDisabled">
    
        <label class="custom-control-label" for="{{controlId}}_{{value}}">{{value}}</label>
    </div>
</div>