.form-group {
    position: relative;
}

.input-group {
    .form-control {
        &:last-child {
            padding-left: .75rem;
            padding-right: 2rem;
            position: relative;
        }
    }

    .form-date {
        width: 8.5rem;
    }

    .form-date-only {
        width: 8.5rem;
    }

    .form-date-time-only {
        padding-left: 3.3rem;
        padding-right: .75rem;
        width: 11rem;
    }

    .form-time {
        width: 7rem;
    }
}

:host(.ng-invalid) {
    &.ng-dirty {
        .form-control {
            border-color: $color-theme-error;

            &:hover,
            &:focus {
                border-color: $color-theme-error-dark;
            }
        }
    }
}

.btn {
    &-clear {
        @include absolute(auto, 4px, 3px, auto);
    }

    &-time-mode {
        @include absolute(1px, auto, -1px, auto);
        z-index: 1000;
    }

    &:focus {
        box-shadow: none;
    }
}