<div>
    <div class="form-inline">
        <div class="form-group mr-1">
            <div class="input-group">
                <input type="text" class="form-control form-date" [formControl]="dateControl" placeholder="{{ 'common.date' | sqxTranslate }}" [class.form-date-only]="!showTime" (blur)="callTouched()" maxlength="10" #dateInput>

                <input type="text" class="form-control form-time" [formControl]="timeControl" placeholder="{{ 'common.time' | sqxTranslate }}" (blur)="callTouched()" *ngIf="showTime">
            </div>

            <button type="button" class="btn btn-text-secondary btn-sm btn-clear" [class.hidden]="!hasValue" [disabled]="snapshot.isDisabled" (click)="reset()" *ngIf="!hideClear">
                <i class="icon-close"></i>
            </button>
        </div>
        <div class="form-group" *ngIf="showTime && shouldShowDateButtons">
            <button type="button" class="btn btn-text-secondary" [disabled]="snapshot.isDisabled" (click)="writeNow()" title="i18n:common.dateTimePickerNow">
                {{ 'common.dateTimePickerNow2' | sqxTranslate }}
            </button>
        </div>
        <div class="form-group" *ngIf="!showTime && shouldShowDateButtons">
            <button type="button" class="btn btn-text-secondary" [disabled]="snapshot.isDisabled" (click)="writeNow()" title="i18n:common.dateTimeEditor.todayTooltip">
                {{ 'common.dateTimeEditor.today' | sqxTranslate }}
            </button>
        </div>
    </div>
</div>
