<div class="selection">
    <input type="text" class="form-select" [disabled]="snapshot.isDisabled" (click)="open()" readonly (keydown)="onKeyDown($event)" #input 
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off">
    
    <div class="control-dropdown-item" *ngIf="snapshot.selectedItem; let selectedItem">
        <div>
            <span class="truncate" *ngIf="!templateSelection">{{selectedItem}}</span>
            
            <ng-template *ngIf="templateSelection" [sqxTemplateWrapper]="templateSelection" [item]="selectedItem"></ng-template>
        </div>
    </div>
</div> 

<div class="items-container">
    <ng-container *sqxModal="dropdown">
        <div class="control-dropdown" [sqxAnchoredTo]="input" position="bottom-left">
            <div *ngIf="canSearch" class="search-form">
                <input class="form-control search" [formControl]="queryInput" placeholder="{{ 'contributors.search' | sqxTranslate }}" (keydown)="onKeyDown($event)" sqxFocusOnInit>
            </div>

            <div class="control-dropdown-items" #container>
                <div *ngFor="let item of snapshot.suggestedItems; let i = index;" class="control-dropdown-item control-dropdown-item-selectable"
                    [class.active]="i === snapshot.suggestedIndex"
                    [class.separated]="itemsBordered" 
                    (mousedown)="selectIndexAndClose(i)" 
                    [sqxScrollActive]="i === snapshot.suggestedIndex"
                    [sqxScrollContainer]="container">
                    <ng-container *ngIf="!templateItem">{{item}}</ng-container>
                    
                    <ng-template *ngIf="templateItem" [sqxTemplateWrapper]="templateItem" [item]="item" [index]="i" [context]="snapshot.query"></ng-template>
                </div>
            </div>
        </div>
    </ng-container>
</div>