<div class="form-container">
    <div class="form-control tags" #form (click)="input.focus()"
        [class.blank]="styleBlank" 
        [class.singleline]="singleLine"
        [class.readonly]="readonly"
        [class.suggested]="suggestionsSorted.length > 0"
        [class.multiline]="!singleLine"
        [class.focus]="snapshot.hasFocus" 
        [class.disabled]="snapshot.isDisabled"
        [class.dashed]="dashed && !(snapshot.items.length > 0)">

        <span class="item" *ngFor="let item of snapshot.items; let i = index" [class.disabled]="addInput.disabled">
            {{item}} <i class="icon-close" (click)="remove(i)"></i>
        </span>

        <input type="text" class="blank text-input" #input
            (blur)="markTouched()" (copy)="onCopy($event)" (cut)="onCut($event)" (focus)="focus()" (keydown)="onKeyDown($event)" (paste)="onPaste($event)"
            [name]="inputName"
            [placeholder]="placeholder | sqxTranslate"
            autocomplete="off" 
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            [formControl]="addInput">
    </div>

    <div class="btn btn-sm" (click)="suggestionsModal.show()" sqxStopClick *ngIf="suggestionsSorted.length > 0">
        <i class="icon-caret-down"></i>
    </div>

    <ng-container *sqxModal="snapshot.suggestedItems.length > 0">
        <div class="control-dropdown" [sqxAnchoredTo]="form" position="bottom-left" #container @fade>
            <div *ngFor="let item of snapshot.suggestedItems; let i = index" class="control-dropdown-item control-dropdown-item-selectable"
                [class.active]="i === snapshot.suggestedIndex"
                [class.separated]="separated"
                (mousedown)="selectValue(item)" 
                (mouseover)="selectIndex(i)"
                [sqxScrollActive]="i === snapshot.suggestedIndex"
                [sqxScrollContainer]="container">
                <ng-container>{{item}}</ng-container>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="snapshot.suggestedItems.length === 0 && suggestionsSorted.length > 0">
        <ng-container *sqxModal="suggestionsModal">
            <div class="control-dropdown suggestions-dropdown" [sqxAnchoredTo]="form" position="bottom-left" @fade>
                <div class="row">
                    <div class=" col-6" *ngFor="let item of suggestionsSorted; let i = index">
                        <div class="form-check form-check">
                            <input class="form-check-input" type="checkbox" id="tag_{{i}}"
                                [ngModel]="isSelected(item)"
                                (ngModelChange)="toggleValue($event, item)"
                            />

                            <label class="form-check-label" for="tag_{{i}}" title="{{item.name}}" titlePosition="top-left">
                                <span class="truncate">{{item.name}}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>