$focus-color: #b3d3ff;
$focus-shadow: rgba(51, 137, 255, .25);

$inner-height: 1.75rem;

:host {
    text-align: left;
}

.form-container {
    position: relative;
}

.form-control {
    & {
        cursor: text;
        padding-bottom: 0;
        padding-left: .25rem;
        padding-right: 2rem;
        padding-top: .25rem;
        position: relative;
        text-align: left;
        text-decoration: none;
    }

    &.disabled {
        cursor: inherit;
    }

    &.disabled,
    &:disabled {
        background: $color-input-disabled;
    }

    &.focus {
        border-color: $focus-color;
        box-shadow: 0 0 0 .2rem $focus-shadow;
    }

    &.singleline {
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
    }

    &.dashed {
        border-style: dashed;
    }
}

.multiline {
    height: auto;
}

div {
    &.blank {
        height: auto;
    }
}

.blank {
    & {
        @include placeholder-color($color-input-placeholder);
        background: transparent;
        border: 0;
        border-radius: 0;
        padding: 0;
    }

    &:focus,
    &.focus {
        outline: none;
    }

    &.disabled,
    &:disabled {
        background: transparent;
    }

    &:hover {
        background: transparent;
    }

    &.singleline {
        .item {
            margin-bottom: 0;
        }

        .blank {
            margin-bottom: 0;
        }
    }
}

.text-input {
    height: $inner-height;
    margin-bottom: .25rem;
    margin-left: .25rem;
    max-width: 100%;
    min-width: 50px;
    padding-left: .25rem;
}

.gray {
    .item {
        background: $color-border;
        color: $color-text;
        cursor: default;
    }
}

.icon-close {
    font-size: .6rem;
}

.item {
    & {
        background: $color-theme-blue;
        border: 0;
        border-radius: 2px;
        color: $color-dark-foreground;
        cursor: default;
        display: inline-block;
        height: $inner-height;
        margin-bottom: .25rem;
        margin-right: 2px;
        padding: 1px .5rem;
        vertical-align: top;
        white-space: nowrap;
        width: auto;
    }

    &.disabled {
        pointer-events: none;

        i {
            display: none;
        }
    }

    &:hover {
        background: $color-theme-blue-dark;
    }
}

.btn {
    @include absolute(.25rem, 0, null, null);
    border: 0;
    cursor: pointer;
    font-size: .9rem;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
}

.suggestions-dropdown {
    max-width: 300px;
    min-width: 300px;
    padding: 1rem;
}