<div class="group">
    <div class="row no-gutters">
        <div class="col">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary btn-toggle" [class.btn-primary]="filter.and" [disabled]="filter.and" (click)="toggleType()">
                    AND
                </button>
                <button type="button" class="btn btn-secondary btn-toggle" [class.btn-primary]="filter.or" [disabled]="filter.or" (click)="toggleType()">
                    OR
                </button>
            </div>
        </div>

        
        <div class="col-auto pl-2" *ngIf="!isRoot">
            <button type="button" class="btn btn-text-danger" (click)="emitRemove()">
                <i class="icon-bin2"></i>
            </button>
        </div>
    </div>

    <div class="filters">
        <span class="filter-line-v"></span>
        
        <div class="filter mt-3" *ngFor="let filter of filters">
            <span class="filter-line-h"></span>
    
            <sqx-filter-node [filter]="filter" [language]="language" [level]="nestedLevel" [model]="model"
                (remove)="removeFilter(filter)" (change)="emitChange()">
            </sqx-filter-node>
        </div>

        <div class="filter filter-add mt-3">
            <span class="filter-line-h"></span>

            <button class="btn btn-outline-success btn-sm mr-2" (click)="addComparison()">
                Add Filter
            </button>
            
            <button class="btn btn-outline-success btn-sm" (click)="addLogical()" *ngIf="level < 1">
                Add Group
            </button>
        </div>
    </div>
</div>