<ng-container *ngIf="type === 'Text'; else textarea">
    <div class="input-group">
        <input class="form-control" ngDefaultControl />

        <div class="input-group-apppend">
            <select class="form-select" [ngModel]="mode" (ngModelChange)="setMode($event)" [disabled]="disabled">
                <option *ngFor="let supportedMode of modes" [ngValue]="supportedMode">{{supportedMode}}</option>
            </select>
        </div>
    </div>
</ng-container>

<ng-template #textarea>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-toggle" *ngFor="let supportedMode of modes" [class.active]="mode === supportedMode" (click)="setMode(supportedMode)">
            {{supportedMode}}
        </button>
    </div>

    <sqx-code-editor [height]="350" [mode]="aceMode"></sqx-code-editor>
</ng-template>