:host ::ng-deep {
    @import '~graphiql/graphiql';

    & {
        position: relative;
    }

    .graphiql-container {
        & {
            @include absolute(0, 0, 0, 0);
        }

        & * {
            box-sizing: content-box;
        }

        /* stylelint-disable-next-line selector-class-pattern */
        & .editorWrap {
            overflow: hidden;
        }

        svg {
            fill: $color-dark-black;
        }
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .CodeMirror-linenumbers {
        min-width: 29px;
    }
}
