@import '_vars';
@import '_mixins';

$circle-size: 2.8rem;

.backup-status {
    & {
        @include circle($circle-size);
        line-height: $circle-size + .1rem;
        text-align: center;
        font-size: .4 * $circle-size;
        font-weight: normal;
        background: $color-border;
        color: $color-dark-foreground;
        vertical-align: middle;
    }

    &-pending {
        color: inherit;
    }

    &-failed {
        background: $color-theme-error;
    }

    &-success {
        background: $color-theme-green;
    }
}