<main sqxCopyGlobal>
    <sqx-root-view>
        <router-outlet (activate)="isLoaded = true">
            @if (!isLoaded) {
                <div class="loading">
                    <img alt="Loading" src="./images/loader.svg" />
                    <div>{{ "common.loading" | sqxTranslate }}</div>
                </div>
            }
        </router-outlet>

        <sqx-tour-guide></sqx-tour-guide>
        <sqx-tour-template></sqx-tour-template>
        <sqx-dialog-renderer></sqx-dialog-renderer>
    </sqx-root-view>
</main>
