@model  Squidex.Areas.Api.Controllers.DocsVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>API Docs</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body { margin: 0; padding: 0; }
    </style>
</head>
<body>
    <redoc spec-url="@Url.Content(Model.Specification)"></redoc>

    <script src="https://unpkg.com/redoc@2.0.0-alpha.3/bundles/redoc.standalone.js"></script>
</body>
</html>