<sqx-title message="i18n:rules.ruleEvents.listPageTitle"></sqx-title>

<sqx-panel desiredWidth="*" minWidth="40rem" [grid]="true" closeQueryParamsHandling="">
    <ng-container title>
        {{ 'common.events' | sqxTranslate }}
    </ng-container>
    
    <ng-container menu>
        <button type="button" class="btn btn-text-secondary" (click)="reload()" title="i18n:rules.refreshEventsTooltip">
            <i class="icon-reset"></i> {{ 'common.refresh' | sqxTranslate }}
        </button>

        <sqx-shortcut keys="ctrl+shift+r" (trigger)="reload()"></sqx-shortcut>
    </ng-container>
    
    <ng-container content>
        <sqx-list-view>
            <ng-container content>
                <table class="table table-items table-fixed">
                    <thead>
                        <tr>
                            <th class="cell-label">
                                <span class="truncate">{{ 'common.status' | sqxTranslate }}</span>
                            </th>
                            <th class="cell-40">
                                <span class="truncate">{{ 'common.event' | sqxTranslate }}</span>
                            </th>
                            <th class="cell-60">
                                <span class="truncate">{{ 'common.description' | sqxTranslate }}</span>
                            </th>
                            <th class="cell-time">
                                <span class="truncate">{{ 'common.created' | sqxTranslate }}</span>
                            </th>
                            <th class="cell-actions">&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let event of ruleEventsState.ruleEvents | async; trackBy: trackByRuleEvent"
                        [sqxRuleEvent]="event"
                        (cancel)="cancel(event)"
                        (enqueue)="enqueue(event)"
                        [expanded]="event.id === selectedEventId"
                        (expandedChange)="selectEvent(event.id)">
                    </tbody>
                </table>

                <sqx-pager [autoHide]="true" [paging]="ruleEventsState.paging | async" (pagingChange)="ruleEventsState.page($event)"></sqx-pager>
            </ng-container>
        </sqx-list-view>
    </ng-container>
</sqx-panel>

<router-outlet></router-outlet>
