h4 {
    margin-bottom: 1rem;
}

.expanded {
    border-bottom: 0;
}

$color-dark-onboarding:#273039;

.event {
    &-stats {
        @include text-smallest;
    }

    &-dump {
        margin-top: 1rem;
    }

    &-header {
        background: $color-white;
        border: 0;
        margin: -.75rem -1.25rem;
        margin-bottom: 1rem;
        padding: .75rem 1.25rem;
        position: relative;

        &::before {
            @include caret-top($color-white);
            @include absolute(-1.1rem, 1.8rem, auto, auto);
        }

        h3 {
            margin: 0;
        }
    }
}