<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Squidex Rules" Description="Squidex Rules" ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1002" Action="Error" />
    <Rule Id="SA1003" Action="Error" />
    <Rule Id="SA1008" Action="None" />
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1012" Action="Error" />
    <Rule Id="SA1013" Action="Error" />
    <Rule Id="SA1025" Action="Error" />
    <Rule Id="SA1026" Action="Error" />
    <Rule Id="SA1028" Action="Error" />
    <Rule Id="SA1000" Action="Error" />
    <Rule Id="SA1001" Action="Error" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1004" Action="Error" />
    <Rule Id="SA1107" Action="None" />
    <Rule Id="SA1010" Action="Error" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1119" Action="None" />
    <Rule Id="SA1122" Action="Error" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1128" Action="Error" />
    <Rule Id="SA1129" Action="Error" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1203" Action="Error" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1208" Action="Error" />
    <Rule Id="SA1210" Action="Error" />
    <Rule Id="SA1214" Action="Error" />
    <Rule Id="SA1306" Action="Error" />
    <Rule Id="SA1311" Action="Error" />
    <Rule Id="SA1400" Action="Error" />
    <Rule Id="SA1401" Action="Error" />
    <Rul Id="SA1402" Action="None" />
    <Rule Id="SA1407" Action="Error" />
    <Rule Id="SA1408" Action="None" />
    <Rule Id="SA1502" Action="Error" />
    <Rule Id="SA1504" Action="Error" />
    <Rule Id="SA1505" Action="Error" />
    <Rule Id="SA1507" Action="Error" />
    <Rule Id="SA1508" Action="Error" />
    <Rule Id="SA1518" Action="Error" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="Error" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1649" Action="Error" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SA1404" Action="None" />
  </Rules>
  <Rules AnalyzerId="RefactoringEssentials" RuleNamespace="RefactoringEssentials">
    <Rule Id="RECS0061" Action="Error" />
    <Rule Id="RECS0017" Action="Error" />
    <Rule Id="RECS0060" Action="Error" />
    <Rule Id="RECS0062" Action="Error" />
    <Rule Id="RECS0063" Action="Error" />
    <Rule Id="RECS0064" Action="Error" />
    <Rule Id="RECS0133" Action="Error" />
    <Rule Id="REVB0145" Action="None" />
    <Rule Id="RECS0002" Action="Error" />
    <Rule Id="RECS0154" Action="None" />
    <Rule Id="RECS0146" Action="Error" />
    <Rule Id="RECS0026" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Roslyn.Core" RuleNamespace="Roslyn.Core">
	<Rule Id="AD0001" Action="None" />
  </Rules>
</RuleSet>