<form class="inner-form" [formGroup]="synchronizeForm.form" (submit)="synchronize()">
    <div class="inner-header" *ngIf="isEditable">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col-auto">
                <div class="form-inline">
                    <div class="custom-control custom-checkbox pr-4">
                        <input class="custom-control-input" type="checkbox" id="fieldsDelete" formControlName="fieldsDelete">
                        <label class="custom-control-label" for="fieldsDelete">
                            {{ 'schemas.export.deleteFields' | sqxTranslate }}
                        </label>
                    </div>
    
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="fieldsRecreate" formControlName="fieldsRecreate">
                        <label class="custom-control-label" for="fieldsRecreate">
                            {{ 'schemas.export.recreateFields' | sqxTranslate }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">
                    {{ 'schemas.export.synchronize' | sqxTranslate }}
                </button>
            </div>
        </div>
    </div>
    
    <div class="inner-main">
        <sqx-code-editor [borderless]="true" formControlName="json" valueMode="Json"></sqx-code-editor>
    </div>
</form>