@model Squidex.Controllers.DocsVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>API Docs</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body { margin: 0; padding: 0; }

        h1,
        .menu-header,
        .menu-cat-header:hover,
        .menu-cat-header.active,
        .menu-item-depth-1 > .menu-item-header:not(.disabled):hover,
        .menu-item-depth-1.active > .menu-item-header {
            color: #3f83df !important;
        }

        .method-content a {
            color: #3d7dd5 !important;
        }

        .redoc-markdown-block code {
            color: #ffffff !important;
        }
    </style>
</head>
<body>
    <redoc spec-url="@Url.Content(Model.Specification)"></redoc>

    <script src="/scripts/redoc.min.js"></script>
</body>
</html>