<sqx-list-view [isLoading]="contentsState.isLoading | async" [table]="true">
    <ng-container>
        <table class="table table-items table-fixed" *ngIf="contentsState.contents | async; let contents">
            <tbody *ngFor="let content of contents; trackBy: trackByContent"
                [sqxReferenceItem]="content"
                [canRemove]="false"
                [columns]="contents | sqxContentsColumns"
                [isCompact]="false"
                [isDisabled]="false"
                [validations]="(contentsState.validationResults | async)!"
                [validityVisible]="true"
                [language]="language">
            </tbody>

            <tbody *ngIf="(contentsState.isLoaded | async) && contents.length === 0">
                <tr>
                    <td class="table-items-row-empty" *ngIf="mode === 'references'">
                        {{ 'contents.noReferences' | sqxTranslate }}
                    </td>
                    <td class="table-items-row-empty"  *ngIf="mode === 'referencing'">
                        {{ 'contents.noReferencing' | sqxTranslate }}
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-container footer>
        <sqx-pager [paging]="contentsState.paging | async" (pagingChange)="contentsState.page($event)"></sqx-pager>
    </ng-container>
</sqx-list-view>