<div>

    <div class="row g-0">

        <div class="col">
             <label>{{ "common.started" | sqxTranslate }}:&nbsp;</label> <span class="text-sm">{{ attempt.started.toISOString() }}</span
            >
        </div>

        <div class="col">
             <label>{{ "common.completed" | sqxTranslate }}:&nbsp;</label> <span class="text-sm">{{ attempt.completed.toISOString() }}</span
            >
        </div>

    </div>

    @if (attempt.error) {
         <label class="mt-3">{{ "common.error" | sqxTranslate }}</label
        > <sqx-code-editor disabled="true" height="auto" mode="ace/mode/text" [ngModel]="attempt.error" wordWrap="true" />
    }

    @if (output) {
         <label class="mt-3">{{ "common.output" | sqxTranslate }}</label
        > <sqx-code-editor disabled="true" height="auto" mode="ace/mode/text" [ngModel]="output" wordWrap="true" />
    }

</div>

