<div class="step row g-0">
    <div class="col-auto pe-4 icon">
        <div class="circle"></div>
    </div>

    <div class="col details">
        <div class="row g-2 align-items-center mt-0">
            <div class="col">
                <span class="text-sm">{{ "common.event" | sqxTranslate }}</span>
            </div>

            <div class="col-auto">
                <div class="col-auto">
                    <button class="btn btn-sm btn-text-secondary text-muted btn-expand" (click)="toggle()" type="button">
                        <span class="hidden">{{ "common.more" | sqxTranslate }}</span>
                        <i class="icon-sm" [class.icon-angle-down]="isExpanded" [class.icon-angle-right]="!isExpanded"></i>
                    </button>
                </div>
            </div>
        </div>

        @if (isExpanded) {
            <div class="mt-3">
                <sqx-code-editor disabled="true" height="auto" mode="ace/mode/json" [ngModel]="state.context" valueFile="" valueMode="Json" wordWrap="true" />
            </div>
        }
    </div>
</div>

@for (stepItem of stepItems; track stepItem.id) {
    <sqx-state-step
        [isFirst]="$first"
        [isLast]="$last"
        [isNext]="state.nextStepId === stepItem.id"
        [state]="state.steps[stepItem.id]"
        [stepInfo]="availableSteps[stepItem.step.step.stepType]"
        [stepItem]="stepItem" />
}
