@if (showEvent) {
    <sqx-history-step isExpandable="true">
        <ng-container summary>
            <div class="col">
                <span class="text-sm">{{ "common.event" | sqxTranslate }}</span>
            </div>
        </ng-container>

        <ng-container details>
            <sqx-code-editor disabled="true" height="auto" mode="ace/mode/json" [ngModel]="state.context" valueFile="" valueMode="Json" wordWrap="true" />
        </ng-container>
    </sqx-history-step>
}

@for (stepItem of stepItems; track stepItem.id) {
    <sqx-state-step
        [isFirst]="$first"
        [isLast]="$last"
        [isNext]="state.nextStepId === stepItem.id"
        [state]="state.steps[stepItem.id]"
        [stepInfo]="availableSteps[stepItem.step.step.stepType]"
        [stepItem]="stepItem" />
}
