@import "mixins";
@import "vars";

.col,
.col-auto {
    margin-top: 0;
}

.step {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;

    &::before {
        @include absolute(1rem, null, -1.5rem, 1rem);
        border: 2px solid $color-border;
        content: "";
        margin-bottom: 0;
        margin-left: -2px;
    }
}

.icon {
    padding-top: 0.75rem;
}

.circle {
    @include circle(2rem);
    border: 1px solid $color-border;
    background: $color-white;
    position: relative;
}

.details {
    border: 1px solid $color-border;
    border-radius: $border-radius;
    padding: 0.75rem;
}
