<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col col-name">
                <sqx-editable-title [disabled]="!rule.canUpdate"
                    [fallback]="'rules.unnamed' | sqxTranslate" 
                    [name]="rule.name"
                    (nameChange)="rename($event)"
                    [maxLength]="60"
                    [isRequired]="false">
                </sqx-editable-title>
            </div>
            <div class="col-auto" *ngIf="rule.canDelete || rule.canRun">
                <button type="button" class="btn btn-text-secondary" (click)="dropdown.toggle()" #buttonOptions>
                    <i class="icon-dots"></i>
                </button>
        
                <ng-container *sqxModal="dropdown;closeAlways:true">
                    <div class="dropdown-menu" [sqxAnchoredTo]="buttonOptions" position="bottom-right" @fade>
                        <a class="dropdown-item" *ngIf="rule.canUpdate" [routerLink]="rule.id">
                            {{ 'common.edit' | sqxTranslate }}
                        </a>

                        <a class="dropdown-item" *ngIf="rule.canEnable" (click)="enable()">
                            {{ 'common.enable' | sqxTranslate }}
                        </a>

                        <a class="dropdown-item" *ngIf="rule.canDisable" (click)="disable()">
                            {{ 'common.disable' | sqxTranslate }}
                        </a>

                        <div class="dropdown-divider"></div>

                        <ng-container *ngIf="rule.canRun || rule.canRunFromSnapshots">
                            <a class="dropdown-item" *ngIf="rule.canRun"
                                (sqxConfirmClick)="run()"
                                confirmTitle="i18n:rules.runRuleConfirmTitle"
                                confirmText="i18n:rules.runRuleConfirmText"
                                confirmRememberKey="runRule">
                                {{ 'rules.run' | sqxTranslate }}
                            </a>
    
                            <a class="dropdown-item" *ngIf="rule.canRunFromSnapshots"
                                (sqxConfirmClick)="runFromSnapshots()"
                                confirmTitle="i18n:rules.runRuleConfirmTitle"
                                confirmText="i18n:rules.runRuleConfirmText"
                                confirmRememberKey="runRuleFromSnapshots">
                                {{ 'rules.runFromSnapshots' | sqxTranslate }}
                            </a>

                            <div class="dropdown-divider"></div>
                        </ng-container>
            
                        <a class="dropdown-item dropdown-item-delete" *ngIf="rule.canDelete"
                            (sqxConfirmClick)="delete()"
                            confirmTitle="i18n:rules.deleteConfirmTitle"
                            confirmText="i18n:rules.deleteConfirmText"
                            confirmRememberKey="deleteRule">
                            {{ 'common.delete' | sqxTranslate }}
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-auto">
                <h3>{{ 'rules.ruleSyntax.if' | sqxTranslate }}</h3>
            </div>
            <div class="col">
                <sqx-rule-element [disabled]="true" [type]="rule.triggerType" [element]="ruleTriggers[rule.triggerType]"></sqx-rule-element>
            </div>
            <div class="col-auto">
                <h3>{{ 'rules.ruleSyntax.then' | sqxTranslate }}</h3>
            </div>
            <div class="col">
                <sqx-rule-element [disabled]="true" [type]="rule.actionType" [element]="ruleActions[rule.actionType]"></sqx-rule-element>
            </div>
            <div class="col col-last text-end">
                <ng-container *ngIf="isManual; else notManual">
                    <button class="btn btn-outline-secondary btn-run" [disabled]="!rule.canTrigger"
                        (sqxConfirmClick)="trigger()"
                        confirmTitle="i18n:rules.triggerConfirmTitle"
                        confirmText="i18n:rules.triggerConfirmText"
                        confirmRememberKey="triggerRule">
                        <i class="icon-play-line"></i>
                    </button>
                </ng-container>

                <ng-template #notManual>
                    <sqx-toggle [disabled]="!rule.canDisable && !rule.canEnable" [ngModel]="rule.isEnabled" (ngModelChange)="toggle()"></sqx-toggle>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-3">
                {{ 'common.succeeded' | sqxTranslate }} 
                
                <span class="badge badge-success rounded-pill" *ngIf="rule.numSucceeded > 0">{{rule.numSucceeded}}</span>
            </div>
            <div class="col-3">
                {{ 'common.failed' | sqxTranslate }} 
                
                <span class="badge badge-danger rounded-pill" *ngIf="rule.numFailed > 0">{{rule.numFailed}}</span>
            </div>
            <div class="col">
                {{ 'common.executed' | sqxTranslate }}: <span>{{rule.lastExecuted | sqxFromNow:'-'}}</span>
            </div>
            <div class="col-auto">
                <a routerLink="events" [queryParams]="{ ruleId: rule.id }" *ngIf="rule.canTrigger">
                    {{ 'common.logs' | sqxTranslate }}
                </a>
                
                <a routerLink="simulator" [queryParams]="{ ruleId: rule.id }" *ngIf="!isManual" class="ms-2">
                    {{ 'rules.simulator' | sqxTranslate }}
                </a>
            </div>
        </div>
    </div>
</div>