.card {
    & {
        border-bottom-width: 2px;
        border-radius: 0;
        border-top-width: 0;
        margin-bottom: .25rem;
    }

    &-header,
    &-body {
        padding: .75rem 1.25rem;
    }

    &-footer {
        background: $color-theme-secondary;
        font-size: 90%;
        font-weight: normal;
    }
}

.col-last {
    @include force-width(80px);
}