<sqx-modal-dialog size="lg" fullHeight="true" (close)="emitComplete()" [showFooter]="step === 2 || step === 4">
    <ng-container title>
        <ng-container *ngIf="mode === 'EditTrigger'">
            {{ 'rules.triggerEdit' | sqxTranslate }}
        </ng-container>
        <ng-container *ngIf="mode === 'EditAction'">
            {{ 'rules.actionEdit' | sqxTranslate }}
        </ng-container>
        <ng-container *ngIf="mode === 'Wizard'">
            {{ 'rules.create' | sqxTranslate }}
        </ng-container>
    </ng-container>

    <ng-container content>
        <nav aria-label="breadcrumb" *ngIf="isWizard">
            <ol class="breadcrumb steps">
                <li class="breadcrumb-item" [class.active]="step === 1" [class.done]="step > 1">
                    <a class="force" (click)="go(1)" [class.disabled]="step <= 1">
                        <i class="icon-checkmark"></i> {{ 'rules.wizard.selectTrigger' | sqxTranslate }}
                    </a>
                </li>
                <li class="breadcrumb-item" [class.active]="step === 2" [class.done]="step > 2">
                    <a class="force" (click)="go(2)" [class.disabled]="step <= 2">
                        <i class="icon-checkmark"></i> {{ 'rules.triggerEdit' | sqxTranslate }}
                    </a>
                </li>
                <li class="breadcrumb-item" [class.active]="step === 3" [class.done]="step > 3">
                    <a class="force" (click)="go(3)" [class.disabled]="step <= 3">
                        <i class="icon-checkmark"></i> {{ 'rules.wizard.selectAction' | sqxTranslate }}
                    </a>
                </li>
                <li class="breadcrumb-item" [class.active]="step === 4">
                    <i class="icon-checkmark"></i> {{ 'rules.actionEdit' | sqxTranslate }}
                </li>
            </ol>
        </nav>

        <ng-container [ngSwitch]="step">
            <ng-container *ngSwitchCase="1">
                <sqx-form-alert>
                    {{ 'rules.wizard.triggerHint' | sqxTranslate }}
                </sqx-form-alert>
    
                <div class="row no-gutters">
                    <div *ngFor="let triggerType of ruleTriggers | sqxKeys" class="col-12 col-md-6">
                        <div class="rule-element" (click)="selectTriggerType(triggerType)">
                            <sqx-rule-element [type]="triggerType" [isSmall]="false" [element]="ruleTriggers[triggerType]"></sqx-rule-element>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
                <form [formGroup]="triggerForm.form" (ngSubmit)="saveTrigger()">
                    <h3 class="wizard-title">
                        {{triggerElement.display}}
                    </h3>
    
                    <ng-container [ngSwitch]="trigger.triggerType">
                        <ng-container *ngSwitchCase="'AssetChanged'">
                            <sqx-asset-changed-trigger [trigger]="trigger" [triggerForm]="triggerForm.form">
                            </sqx-asset-changed-trigger>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Comment'">
                            <sqx-comment-trigger [trigger]="trigger" [triggerForm]="triggerForm.form">
                            </sqx-comment-trigger>
                        </ng-container>
                        <ng-container *ngSwitchCase="'ContentChanged'">
                            <sqx-content-changed-trigger [schemas]="schemas" [trigger]="trigger" [triggerForm]="triggerForm.form">
                            </sqx-content-changed-trigger>
                        </ng-container>
                        <ng-container *ngSwitchCase="'SchemaChanged'">
                            <sqx-schema-changed-trigger [trigger]="trigger" [triggerForm]="triggerForm.form">
                            </sqx-schema-changed-trigger>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Usage'">
                            <sqx-usage-trigger [trigger]="trigger" [triggerForm]="triggerForm.form">
                            </sqx-usage-trigger>
                        </ng-container>
                    </ng-container>
                </form>
            </ng-container>
            <ng-container *ngSwitchCase="3">
                <sqx-form-alert marginTop="0">
                    {{ 'rules.wizard.actionHint' | sqxTranslate }}
                </sqx-form-alert>
    
                <div class="row no-gutters">
                    <div *ngFor="let actionType of ruleActions | sqxKeys" class="col-12 col-md-6">
                        <div class="rule-element" (click)="selectActionType(actionType)">
                            <sqx-rule-element [type]="actionType" [isSmall]="false" [element]="ruleActions[actionType]"></sqx-rule-element>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="4">
                <form [formGroup]="actionForm.form" (ngSubmit)="saveAction()">
                    <h3 class="wizard-title">
                        {{actionElement.display}}
                    </h3>
    
                    <sqx-generic-action [definition]="actionElement" [action]="action" [actionForm]="actionForm.form"></sqx-generic-action>
                </form>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container footer>
        <ng-container *ngIf="step === 2 || step === 4">
            <button type="button" class="btn btn-text-secondary2" (click)="emitComplete()">
                {{ 'common.cancel' | sqxTranslate }}
            </button>
        </ng-container>

        <ng-container *ngIf="isEditable">
            <button *ngIf="step === 2 &&  isWizard" type="submit" class="btn btn-primary" (click)="saveTrigger()">
                {{ 'common.continue' | sqxTranslate }}
            </button>

            <button *ngIf="step === 2 && !isWizard" type="submit" class="btn btn-primary" (click)="saveTrigger()">
                {{ 'common.save' | sqxTranslate }}
            </button>

            <button *ngIf="step === 4" type="submit" class="btn btn-primary" (click)="saveAction()">
                {{ 'common.save' | sqxTranslate }}
            </button>
        </ng-container>
    </ng-container>
</sqx-modal-dialog>