@import '_mixins';
@import '_vars';

body {
    // Default body with padding for fixed navbar and sidebar.
    & {
        background: $color-background;
        padding-left: 0;
        padding-top: $size-navbar-height;
    }

    // White body for login and profile page.
    &.white {
        background: $color-dark-foreground;
    }
}

// Common style for user email.
.user-email {
    font-style: italic;
    font-size: .8rem;
}

// Rich editor icon. Must be placed here, because element is not created by angular.
.mce-i-assets {
    & {
        font-family: 'icomoon' !important;
    }

    &::before {
        content: '\e948';
    }
}

.icon-bold {
    font-weight: bold;
}

//
// Profile picture in circle
//
.user-picture {
    & {
        @include circle(2rem);
    }

    &:not([src]) {
        @include opacity(0);
    }
}

//
// Green or red circle if element is published or unpublished
//
.item-published {
    & {
        @include circle(.5rem);
        display: inline-block;
        border: 0;
        background: $color-theme-green;
        margin-left: .4rem;
    }

    &.unpublished {
        background: $color-theme-error;
    }
}

.dropdown-options {
    & {
        display: inline-block;
    }

    .dropdown-menu {
        @include absolute(100%, 0, auto, auto);
    }

    .dropdown-item {
        cursor: pointer;
    }
}

//
// Landing page with loading spinner.
//
.landing-page {
    & {
        margin: 8rem auto;
        max-width: 32rem;
        text-align: center;
    }

    h1 {
        margin-top: 2.5rem;
    }

    .logo {
        height: 4rem;
    }
}

// Hidden helper (fast *ngIf replacement)
.hidden {
    display: none;
}

// Hidden helper (fast *ngIf replacement)
.invisible {
    visibility: hidden;
}

//
// Drop area for drag and drop features.
//
.drop-container {
    & {
        position: relative;
    }

    .drop-area {
        & {
            @include absolute(30px, 30px, 30px, 30px);
            @include border-radius;
            z-index: 10;
            align-content: center;
            align-items: center;
            display: none;
            border: 2px dashed $color-border;
            font-size: 1.2rem;
            font-weight: normal;
            justify-content: center;
            color: darken($color-border, 30%);
        }

        &.dragging {
            @include flex-box;
        }

        &.drag {
            border-color: darken($color-border, 10%);
            cursor: copy;
            color: darken($color-border, 40%);
            text-decoration: none;
        }
    }

    .drop-text {
        background: $color-dark-foreground;
    }
}

.sorting {
    &,
    & > * {
        @include opacity(.5);
    }
}

//
// Animations
//
.spin {
    @include animation(spin 3s infinite linear);
}

@include keyframes (spin) {
    20% {
        @include rotate(0deg);
    }

    30% {
        @include rotate(180deg);
    }

    70% {
        @include rotate(180deg);
    }

    80% {
        @include rotate(360deg);
    }

    100% {
        @include rotate(360deg);
    }
}