@import '_mixins';
@import '_vars';

body {
    // Default body with padding for fixed navbar and sidebar.
    & {
        background: $color-background;
        padding-left: 0;
        padding-top: $size-navbar-height;
    }

    // White body for login and profile page.
    &.white {
        background: $color-dark-foreground;
    }
}

// User ref for history panel. Must be placed here, because element is created dynamically.
.user-ref {
    color: $color-theme-blue-dark;
}

// Marker ref for history panel. Must be placed here, because element is created dynamically.
.marker-ref {
    font-weight: bolder;
}

// Common style for user email.
.user-email {
    font-style: italic;
    font-size: .8rem;
}

//
// Profile picture in circle
//
.user-picture {
    & {
        @include circle(2rem);
    }

    &:not([src]) {
        @include opacity(0);
    }
}

//
// Green or red circle if element is published or unpublished
//
.item-published {
    & {
        @include circle(.5rem);
        display: inline-block;
        border: 0;
        background: $color-theme-green;
        margin-left: .4rem;
    }

    &.unpublished {
        background: $color-theme-error;
    }
}

.dropdown-options {
    & {
        display: inline-block;
    }

    .dropdown-menu {
        @include absolute(100%, 0, auto, auto);
    }

    .dropdown-item {
        cursor: pointer;
    }
}

//
// Landing page with loading spinner.
//
.landing-page {
    & {
        margin: 8rem auto;
        max-width: 32rem;
        text-align: center;
    }

    h1 {
        margin-top: 2.5rem;
    }

    .logo {
        height: 4rem;
    }
}

// Hidden helper (fast *ngIf replacement)
.hidden {
    display: none;
}

// Hidden helper (fast *ngIf replacement)
.invisible {
    visibility: hidden;
}