@import '_mixins';
@import '_vars';

body {
    background: $color-background;
    padding-top: $size-navbar-height;
    padding-left: $size-sidebar-width;
}

h1 {
    font-size: 2rem;
}

.hidden {
    display: none;
}

.card {
    @include box-shadow(0, 2px, 2px, .1);
}