@import '_mixins';
@import '_vars';

$sidebar-color: #fff;

body {
    background: $color-background;
}

h1 {
    font-size: 2rem;
}

.hidden {
    display: none;
}

.card {
    @include box-shadow(0, 2px, 2px, .1);
}

.layout {
    & {
        @include fixed(54px, 0, 0, 0);
        @include flex-box;
        @include flex-flow(row);
    }

    &-title-icon {
        margin-right: .6rem;
        font-size: 1.7rem;
        font-weight: normal;
    }

    &-left,
    &-right,
    &-middle-header,
    &-middle-content {
        padding: $padding-layout-v $padding-layout-h;
    }

    &-left,
    &-right {
        background: $sidebar-color;
        position: relative;
        width: 220px;
    }

    &-right {
        border-left: 1px solid $color-border;
    }

    &-left {
        border-right: 1px solid $color-border;
    }
    
    &-middle {
        & {
            @include flex-grow(1);
            @include flex-box;
            @include flex-flow(column);
        }

        &-header {
            @include box-shadow(0, 2px, 2px, .1);
            background: $sidebar-color;
            border-bottom: 1px solid $color-border;
        }

        &-content {
            @include flex-grow(1);
            padding: $padding-layout-v;
            overflow-y: scroll;
        }
    }
}