@import '_mixins';
@import '_vars';

.completer-dropdown {
    & {
        margin-top: 2px !important;
        width: 400px !important;
    }

    .completer {
        &-image {
            @include circle(2.2rem);
        }

        &-row {
            & {
                @include clearfix;
                width: auto !important;
                margin: 0;
                margin-bottom: 0 !important;
                display: block !important;
            }
        }

        &-selected-row {
            background: $color-theme-blue-dark !important;
        }

        &-description {
            font-style: italic;
        }

        &-title,
        &-description {
            @include truncate;
            padding-left: .3rem;
        }
    }
}