@import '_mixins';
@import '_vars';

//
// Custom list that can either be used with a table or divs.
//
.table-items {
    & {
        margin-bottom: -.25rem;
    }

    th,
    td {
        // Unified padding for all table cells.
        & {
            padding: 1rem;
        }

        // Additional padding for the first column.
        &:first-child {
            padding-left: 1.25rem;
        }

        // Additional padding for the last. column.
        &:last-child {
            padding-right: 1.25rem;
        }
    }

    thead {
        // Small font size for the table header, content is more important!
        th {
            color: $color-table-header;
            font-size: .8rem;
            font-weight: normal;
            border: 0;
            padding-top: 0;

            // Auto truncate all header elements.
            & > span {
                @include truncate;
            }
        }
    }

    //
    // Use the list style with a table.
    //
    tbody {
        td {
            margin: 0;
            margin-bottom: 10px;
            vertical-align: middle;
        }

        tr {
            // Each row is white and a has a border.
            & {
                @include transition(all .2s ease);
                background: $color-table-background;
                border: 1px solid $color-table-border;
                border-bottom: 2px solid $color-table-border;
                margin-bottom: .5rem;
            }

            &:focus {
                outline: none;
            }

            // Blue background and white text when active.
            &.active {
                & {
                    background: $color-theme-blue;
                    border-color: $color-theme-blue;
                    color: $color-dark-foreground;
                }

                .btn-link {
                    &,
                    &:hover {
                        // Enforce white color for links.
                        color: $color-dark-foreground;
                    }
                }
            }
        }
    }

    //
    // Use the list style with divs.
    //
    &-row {
        & {
            padding: 1rem 1.25rem;
            background: $color-table-background;
            border: 1px solid $color-border;
            border-top: 0;
            border-bottom-width: 2px;
            margin-bottom: .25rem;
        }

        // Summary row for expandable rows.
        &-summary {
            padding: 1rem 1.25rem;
            position: relative;
            line-height: 2.5rem;
        }

        &-expandable {
            padding: 0;
        }

        &-empty {
            color: $color-text-decent;
        }

        // Detail row for expandable rows.
        &-details {
            & {
                position: relative;
            }

            // Caret that is placed next to the expand button.
            &::before {
                @include caret-top;
                @include absolute(-.5rem, 5.2rem, auto, auto);
                border-color: transparent transparent $color-border;
                border-width: .6rem;
            }

            &-tab {
                padding: 1rem 1.25rem 1.25rem;
            }

            &-tabs {
                background: $color-border;
                position: relative;
                padding: 1rem 1.25rem;
            }
        }
    }

    // Footer that typically contains an add-item-form.
    &-footer {
        padding: 1rem 1.25rem;
        background: $color-table-footer;
        border: 1px solid $color-border;
        border-bottom-width: 2px;
        margin-top: .8rem;
    }

    // Edit or expand button.
    &-edit-button {
        & {
            color: $color-theme-blue;
            line-height: 1rem;
            font-size: 1rem;
            font-weight: normal;
            padding-left: 0;
            padding-right: 0;
            width: 2.2rem;
        }

        &:hover {
            color: $color-theme-blue-dark;
        }

        &.active {
            background: $color-theme-blue;
            border-color: $color-theme-blue;
            color: $color-dark-foreground;
        }
    }

    // Spacer item between two normal items, because table rows cannot have margins.
    .spacer {
        border: 0;
        height: .3rem;
    }
}

//
// Table cell with truncated content.
//
.table-cell {
    @include truncate;
}

//
// Lightweight pagination controls.
//
.pagination {
    & {
        margin-top: 1rem;
    }

    &-text {
        line-height: 2.2rem;
    }

    &-button {
        & {
            color: $color-text;
            font-size: 1.1rem;
            font-weight: bold;
            margin-left: .4rem;
        }

        &:hover,
        &.active {
            color: darken($color-text, 20%);
        }
    }
}