@import '_mixins';
@import '_vars';

$trigger-asset-changed:   #3389ff;
$trigger-content-changed: #3389ff;

$action-webhook:          #4bb958;
$action-elasticsearch:    #1e5470;
$action-algolia:          #0d9bf9;
$action-slack:            #5c3a58;
$action-azure:            #55b3ff;
$action-fastly:           #e23335;

// sass-lint:disable class-name-format

@mixin build-element($color) {
    & {
        background: $color;
    }

    &:hover {
        background: darken($color, 5%);
    }

    .rule-element-icon {
        background: darken($color, 5%);
    }
}

.rule-title {
    margin-bottom: 1rem;
}

.rule-element {
    & {
        @include truncate;
        @include transition(background-color .4s ease);
        color: $color-dark-foreground;
        cursor: pointer;
        display: inline-block;
        line-height: 2.8rem;
        font-size: 1rem;
        font-weight: normal;
        padding-right: .8rem;
        width: 15rem;
    }

    &-icon {
        height: 3rem;
        display: inline-block;
        line-height: 3rem;
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0;
        margin-right: .5rem;
        padding: 0 .8rem;
    }
}

.rule-element-AssetChanged {
    @include build-element($trigger-asset-changed);
}

.rule-element-ContentChanged {
    @include build-element($trigger-content-changed);
}

.rule-element-AzureQueue {
    @include build-element($action-azure);
}

.rule-element-Algolia {
    @include build-element($action-algolia);
}

.rule-element-ElasticSearch {
    @include build-element($action-elasticsearch);
}

.rule-element-Fastly {
    @include build-element($action-fastly);
}

.rule-element-Slack {
    @include build-element($action-slack);
}

.rule-element-Webhook {
    @include build-element($action-webhook);
}