@import '_mixins';
@import '_vars';

//
// Noscript element with warning, when javascript is disabled.
//
noscript {
    display: block;
    color: $color-theme-error;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 20px;
}

//
// Profile element
//
.profile {
    & {
        max-width: 20rem;
        margin: 0 auto;
        padding: 1rem 2rem;
    }

    // Lightweight, table like headline.
    &-headline {
        & {
            color: $color-empty;
            display: block;
            margin-bottom: 1rem;
            font-size: 1.3rem;
            font-weight: normal;
            text-align: center;
            text-transform: uppercase;
        }

        &.active {
            color: $color-text;
            cursor: pointer;
            pointer-events: none;
        }
    }

    // Fix logo on the top right corner of the screen.
    &-logo {
        @include absolute(1rem, 1rem, auto, auto);
    }

    &-lg {
        max-width: 40rem;
    }

    &-password-signup {
        color: $color-empty;
    }

    &-section {
        margin-top: 2rem;
    }

    &-picture-col {
        max-width: 7rem;
    }

    &-picture {
        @include circle(6rem);
    }

    &-picture-input {
        @include hidden;
    }

    &-picture-form {
        margin-top: 1.6rem;
    }

    &-footer {
        font-size: .8rem;
        font-weight: normal;
        margin-top: 2rem;
    }

    //
    // Separator element to split two sections.
    //
    &-separator {
        & {
            text-align: center;
            margin-bottom: 2.5rem;
            margin-top: 1.5rem;
            border-bottom: 1px solid $color-border;
        }

        &-text {
            color: darken($color-border, 15%);
            display: inline-block;
            background: $color-dark-foreground;
            border: 0;
            bottom: -.7rem;
            position: relative;
            padding: 0 1rem;
        }
    }

    // External button and icon.
    .external {
        &-button {
            text-align: left;
            text-transform: none;
            line-height: 1.8rem;
        }

        &-button-small {
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            width: 40px;
        }

        &-icon {
            display: inline-block;
            font-size: 1.3rem;
            font-weight: normal;
            vertical-align: middle;
            width: 1.6rem;
        }
    }
}

//
// Splash text for loader.
//
.splash {
    &-h1,
    &-text {
        text-align: center;
    }
}

//
// Loader element.
//
.loading {
    & {
        text-align: center;
        margin-top: 200px;
        margin-bottom: 20px;
    }

    div {
        font-size: 30px;
        font-weight: lighter;
    }
}