$nav-text-color: #333;

$background: #f4f8f9;
$border: #eaeeef;

$theme-blue: #438cef;
$theme-blue-dark: #3f83df;
$theme-blue-light: #a1c6f7;
$theme-blue-lighter: #d9e8fc;

$theme-green: #4cc159;
$theme-green-dark: #47b353;

$theme-error: #f00;
$theme-error-dark: darken($theme-error, 5%);

$accent-dark: #fff;

