$color-nav-text: #333;

$color-background: #f4f8f9;
$color-border: #eaeeef;

$color-text: #373a3c;

$color-section-media: #ab6eee;
$color-section-settings: #ff5800;
$color-section-content: #07a6ff;
$color-section-schemas: #7c8d92;
$color-section-dashboard: #438cef;

$color-theme-blue: #438cef;
$color-theme-blue-dark: #3f83df;
$color-theme-blue-light: #a1c6f7;
$color-theme-blue-lighter: #d9e8fc;

$color-theme-green: #4cc159;
$color-theme-green-dark: #47b353;

$color-theme-error: #f00;
$color-theme-error-dark: darken($color-theme-error, 5%);

$color-accent-dark: #fff;

$padding-layout: 30px;

