<div class="table-items-row">
    <table class="table table-middle table-sm table-borderless table-fixed client-info">
        <colgroup>
            <col style="width: 160px; text-align: right;" />
            <col style="width: 100%" />
            <col style="width: 40px" />
        </colgroup>

        <tr>
            <td colspan="2">
                <div class="float-right">
                    <button class="btn btn-secondary" (click)="createToken(client)">Create Token</button>
                </div>

                <div class="client-header">
                    <form *ngIf="isRenaming" class="form-inline" [formGroup]="renameForm" (ngSubmit)="renaming.emit(renameForm.controls.name.value)">
                        <div class="form-group mr-1">
                            <sqx-control-errors for="name"></sqx-control-errors>
                            
                            <input type="text" class="form-control client-name enabled" formControlName="name" maxlength="20" sqxFocusOnInit (keydown)="onKeyDown($event.keyCode)" />
                        </div>

                        <button type="submit" class="btn btn-primary" [disabled]="!renameForm.valid || !hasNewName">Save</button>

                        <button class="btn btn-link btn-decent btn-cancel" (click)="cancelRename()">
                            <i class="icon-close"></i>
                        </button>
                    </form>

                    <span *ngIf="!isRenaming">
                        <h3 class="client-name">
                            <span (dblclick)="startRename()">{{client.name}}</span> 
                        </h3>

                        <i class="client-edit icon-pencil" (click)="startRename()"></i>
                    </span>
                </div>
                    
                <div class="client-expires">Access tokens expire after 30 days</div>
            </td>
            <td class="client-delete">
                <button type="button" class="btn btn-link btn-danger"
                    (sqxConfirmClick)="revoking.emit()"
                    confirmTitle="Revoke client" 
                    confirmText="Do you really want to revoke the client?">
                    <i class="icon-bin2"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>Client Id:</td>
            <td>
                <input readonly class="form-control" value="{{appName}}:{{client.id}}" #inputName />
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-link" [sqxCopy]="inputName">
                    <i class="icon-copy"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>Client Secret:</td>
            <td>
                <input readonly class="form-control" [attr.value]="client.secret" #inputSecret />
            </td>
            <td>
                <button type="button" class="btn btn-primary btn-link" [sqxCopy]="inputSecret">
                    <i class="icon-copy"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" [ngModel]="client.isReader" (ngModelChange)="changing.emit($event)" /> Reading only
                    </label>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="modal" *sqxModalView="tokenDialog;onRoot:true" @fade>
    <div class="modal-backdrop"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Access Token</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="tokenDialog.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <textarea readonly class="form-control access-token">{{token.tokenType}} {{token.accessToken}}</textarea>
            </div>
        </div>
    </div>
</div>