@import '_vars';
@import '_mixins';

$color-editor: #eceeef;

.client {
    &-info {
        margin: 0;
    }

    &-delete {
        vertical-align: top;
    }

    &-edit {
        color: $color-border-dark;
        display: none;
        font-size: .9rem;
        font-weight: normal;
        padding: .6rem .25rem;
        border: 0;
        background: transparent;
        vertical-align: baseline;
    }

    &-name {
        padding: .375rem 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 1.5rem;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        display: inline-block;
        margin: 0;
    }

    &-header {
        & {
            margin-bottom: .5rem;
        }

        &:hover {
            .client-edit {
                display: inline-block;
            }
        }
    }
}

.col-form-label {
    text-align: left;
}

.form-check {
    padding: .5rem 0 0;
}

.form-check-label {
    padding: 0;
}

.access-token {
    height: 10rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: monospace;
    resize: none;
}