<div class="table-items-row">
    <div class="row no-gutters">
        <div class="col">
            <div class="client-header">
                <form *ngIf="isRenaming" class="form-inline" [formGroup]="renameForm.form" (ngSubmit)="rename()">
                    <div class="form-group mr-1">
                        <sqx-control-errors for="name"></sqx-control-errors>
                        
                        <input type="text" class="form-control client-name form-underlined" formControlName="name" maxlength="20" sqxFocusOnInit (keydown)="onKeyDown($event.keyCode)" />
                    </div>

                    <button type="submit" class="btn btn-primary" [disabled]="!renameForm.form.valid || !renameForm.form.dirty">Save</button>

                    <button class="btn btn-link btn-secondary btn-cancel" (click)="toggleRename()">
                        <i class="icon-close"></i>
                    </button>
                </form>

                <ng-container *ngIf="!isRenaming">
                    <h3 class="client-name" (dblclick)="toggleRename()">
                        {{client.name}}
                    </h3>

                    <i class="client-edit icon-pencil" (click)="toggleRename()"></i>
                </ng-container>
            </div>
                
            <div class="client-expires">Access tokens expire after 30 days</div>
        </div>
        <div class="col col-auto">
            <button class="btn btn-secondary" (click)="createToken(client)">Create Token</button>
        </div>
        <div class="col col-auto cell-actions">
            <button type="button" class="btn btn-link btn-danger"
                (sqxConfirmClick)="revoke()"
                confirmTitle="Revoke client" 
                confirmText="Do you really want to revoke the client?">
                <i class="icon-bin2"></i>
            </button>
        </div>
    </div>
    <div class="row no-gutters form-group">
        <div class="col-4 col-form-label">
            Client Id:
        </div>
        <div class="col">
            <input readonly class="form-control" value="{{appsState.appName}}:{{client.id}}" #inputName />
        </div>
        <div class="col col-auto cell-actions">
            <button type="button" class="btn btn-primary btn-link" [sqxCopy]="inputName">
                <i class="icon-copy"></i>
            </button>
        </div>
    </div>
    <div class="row no-gutters form-group">
        <div class="col-4 col-form-label">
            Client Secret:
        </div>
        <div class="col">
            <input readonly class="form-control" [attr.value]="client.secret" #inputSecret />
        </div>
        <div class="col col-auto cell-actions">
            <button type="button" class="btn btn-primary btn-link" [sqxCopy]="inputSecret">
                <i class="icon-copy"></i>
            </button>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-4 col-form-label">
            Permission:
        </div>
        <div class="col">
            <select class="form-control" [ngModel]="client.permission" (ngModelChange)="update($event)">
                <option *ngFor="let permission of clientPermissions" [ngValue]="permission">{{permission}}</option>
            </select>
        </div>
        <div class="col col-auto cell-actions">
        </div>
    </div>
</div>

<sqx-modal-dialog *sqxModalView="tokenDialog;onRoot:true" (closed)="tokenDialog.hide()">
    <ng-container title>
        Access token
    </ng-container>

    <ng-container content>
        <textarea readonly class="form-control access-token">{{token.tokenType}} {{token.accessToken}}</textarea>
    </ng-container>
</sqx-modal-dialog>