@import '_vars';
@import '_mixins';

$color-editor: #eceeef;

.card {
    & {
        @include border-radius(0);
        border-bottom-width: 2px;
        border-top-width: 0;
        margin-bottom: .25rem;
    }

    &-header {
        & {
            margin-bottom: .5rem;
        }
    }
}

.client {
    &-info {
        margin: 0;
    }

    &-delete {
        vertical-align: top;
    }
}

.no-padding {
    padding: 0;
}

.cell-actions {
    width: 3.2rem;
}

.cell-input {
    padding-right: 0;
}

.access-token {
    height: 10rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: monospace;
    resize: none;
}