@import '_vars';
@import '_mixins';

$color-editor: #eceeef;

.client {
    &-info {
        margin: 0;
    }

    &-delete {
        vertical-align: top;
    }

    &-expires {
        font-size: .8rem;
        font-weight: normal;
        margin-bottom: .75rem;
    }

    &-edit {
        color: $color-border-dark;
        display: none;
        font-size: .9rem;
        font-weight: normal;
        padding: .6rem .3rem;
        border: 0;
        background: transparent;
        vertical-align: baseline;
    }

    &-name {
        & {
            @include border-radius(.25rem);
            margin: 0;
            margin-left: -.6rem;
            height: 2.5rem;
            padding: 0 .6rem;
            border: 0;
            background: transparent;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
            font-size: 1.2rem;
            font-weight: normal;
            display: inline-block;
            line-height: 2.5rem;
        }

        &.enabled,
        &:hover {
            & {
                background: $color-editor;
            }
        }

        h3 {
            font-size: 1.6rem;
        }
    }

    &-header {
        &:hover {
            .client-edit {
                display: inline-block;
            }
        }
    }
}

.btn-cancel {
    padding: .4rem;
}

.form-check {
    padding: .5rem 0 0;
}

.form-check-label {
    padding: 0;
}

.access-token {
    height: 18rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: monospace;
}