<sqx-title message="{app} | Clients | Settings" parameter1="app" value1="{{appName() | async}}"></sqx-title>

<div class="panel panel-light">
    <div class="panel-header">
        <h3 class="panel-title">Clients</h3>

        <a class="panel-close" routerLink="../">
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content">
            <div class="table-items-row" *ngIf="appClients && appClients.length === 0">
                No client created yet.
            </div>

            <div *ngFor="let client of appClients">
                <sqx-client [client]="client" [appName]="appName() | async" (renamed)="renameClient(client, $event)" (revoked)="revokeClient(client)"></sqx-client>
            </div>

            <div class="table-items-footer">
                <form class="form-inline" [formGroup]="addClientForm" (ngSubmit)="attachClient()">
                    <div class="form-group">
                        <div class="errors-box" *ngIf="addClientForm.get('name').invalid && addClientForm.get('name').dirty">
                            <div class="errors">
                                <span *ngIf="addClientForm.get('name').hasError('required')">
                                    Name is required.
                                </span>
                                <span *ngIf="addClientForm.get('name').hasError('maxlength')">
                                    Name can not have more than 40 characters.
                                </span>
                                <span *ngIf="addClientForm.get('name').hasError('pattern')">
                                    Name can contain lower case letters (a-z), numbers and dashes (not at the end).
                                </span>
                            </div>
                        </div>

                        <input type="text" class="form-control" formControlName="name" maxlength="40" placeholder="Enter client name" />
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="addClientForm.invalid">Add Client</button>
                </form>
            </div>
        </div>
        <div class="panel-sidebar">
            <div class="nav nav-pills nav-stacked nav-light">
                <li class="nav-item">
                    <a class="nav-link" routerLink="history" routerLinkActive="active">
                        <i class="icon-time"></i>
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>