<sqx-title message="{app} | Clients | Settings" parameter1="app" value1="{{appName() | async}}"></sqx-title>

<sqx-panel panelWidth="44rem">
    <div class="panel-header">
        <div class="panel-title-row">
            <h3 class="panel-title">Clients</h3>
        </div>

        <a class="panel-close" sqxParentLink>
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content panel-content-scroll">
            <div class="table-items-row table-items-row-empty" *ngIf="appClients && appClients.clients.length === 0">
                No client created yet.
            </div>

            <div *ngFor="let client of appClients?.clients">
                <sqx-client [client]="client" [appName]="appName() | async"
                    (changing)="changeClient(client, $event)"
                    (renaming)="renameClient(client, $event)" 
                    (revoking)="revokeClient(client)"></sqx-client>
            </div>

            <div class="table-items-footer" *ngIf="appClients">
                <form [formGroup]="addClientForm" (ngSubmit)="attachClient()">
                    <div class="row no-gutters">
                        <div class="col">
                            <sqx-control-errors for="name" [submitted]="addClientFormSubmitted"></sqx-control-errors>
                                
                            <input type="text" class="form-control" formControlName="name" maxlength="40" placeholder="Enter client name" autocomplete="off" sqxLowerCaseInput />
                        </div>
                        <div class="col col-auto pl-1">
                            <button type="submit" class="btn btn-success" [disabled]="!hasName">Add Client</button>
                        </div>
                        <div class="col col-auto pl-1">
                            <button type="reset" class="btn btn-secondary" (click)="cancelAttachClient()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-sidebar">
            <a class="panel-link" routerLink="history" routerLinkActive="active" #linkHistory>
                <i class="icon-time"></i>
            </a>
            <a class="panel-link" routerLink="help" routerLinkActive="active" #linkHelp>
                <i class="icon-help"></i>
            </a>

            <sqx-onboarding-tooltip id="history" [for]="linkHistory" position="leftTop" after="120000">
                The sidebar navigation contains useful context specific links. Here you can view the history how this schema has changed over time.
            </sqx-onboarding-tooltip>
            
            <sqx-onboarding-tooltip id="help" [for]="linkHelp" position="leftTop" after="180000">
                Click the help icon to show a context specific help page. Go to <a href="https://docs.squidex.io" target="_blank">https://docs.squidex.io</a> for the full documentation.
            </sqx-onboarding-tooltip>
        </div>
    </div>
</sqx-panel>

<router-outlet></router-outlet>