<ng-container *ngIf="!triggerForm.form.controls.handleAll.value">
    <table class="table table-middle table-sm table-fixed table-borderless">
        <colgroup>
            <col style="width: 40%;">
            <col style="width: 60%;">
            <col style="width: 40px;">
        </colgroup>

        <tr>
            <td>
                <label>{{ 'common.schema' | sqxTranslate }}</label>
            </td>
            <td>
                <label>{{ 'common.condition' | sqxTranslate }}</label>
            </td>
            <th></th>
        </tr>

        <tr *ngFor="let triggerSchema of triggerSchemas">
            <td>
                <span class="truncate">{{triggerSchema.schema.displayName}}</span>
            </td>
            <td class="text-center">
                <input class="form-control code" placeholder="{{ 'rules.conditionHint' | sqxTranslate }}" 
                    [disabled]="triggerForm.form.disabled" 
                    [ngModelOptions]="{ updateOn: 'blur' }" 
                    [ngModel]="triggerSchema.condition" 
                    (ngModelChange)="updateCondition(triggerSchema.schema, $event)">
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-text-secondary" (click)="removeSchema(triggerSchema)" [disabled]="triggerForm.form.disabled">
                    <i class="icon-close"></i>
                </button>
            </td>
        </tr>
    </table>

    <div class="section" *ngIf="schemasToAdd.length > 0">
        <form class="row g-2" (ngSubmit)="addSchema()">
            <div class="col">
                <select class="form-select schemas-control" [disabled]="triggerForm.form.disabled" [(ngModel)]="schemaToAdd" name="schema">
                    <option *ngFor="let schema of schemasToAdd; trackBy: trackBySchema" [ngValue]="schema">{{schema.displayName}}</option>
                </select>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-success" [disabled]="triggerForm.form.disabled">{{ 'rules.addSchema' | sqxTranslate }}</button>
            </div>
        </form>
    </div>
    

    <div class="help">
        <h4>{{ 'common.conditions' | sqxTranslate }}</h4>
    
        <p>{{ 'rules.conditionHint2' | sqxTranslate }}:</p>
    
        <ul class="help-examples">
            <li class="help-example">
                {{ 'rules.conditions.event' | sqxTranslate }}:<br>

                <sqx-code>event.type == 'Created' || event.type == 'Published'</sqx-code>
            </li>
            <li class="help-example">
                {{ 'rules.conditions.contentValue' | sqxTranslate }}:<br>

                <sqx-code>event.data.important.iv === true</sqx-code>
            </li>
            <li class="help-example">
                {{ 'rules.conditions.updatedBy' | sqxTranslate }}:<br>
                
                <sqx-code>user.email === 'user@squidex.io'</sqx-code>
            </li>
        </ul>
    </div>
</ng-container>

<div class="form-group" [formGroup]="triggerForm.form">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="handleAll" formControlName="handleAll">
        <label class="form-check-label" for="handleAll">
            {{ 'rules.triggerAll' | sqxTranslate }}
        </label>
    </div>
</div>