<div class="form-horizontal" [formGroup]="triggerForm.form">
    <sqx-form-row for="condition" label="common.condition">
        <textarea class="form-control code" id="condition" formControlName="condition" placeholder="{{ 'rules.conditionHint' | sqxTranslate }}"></textarea>

        <div class="help">
            <h4>{{ "common.conditions" | sqxTranslate }}</h4>
            <sqx-form-hint> {{ "rules.conditionHint2" | sqxTranslate }} </sqx-form-hint>
            <ul class="help-examples">
                <li class="help-example">
                    {{ "rules.conditions.event" | sqxTranslate }}: <br />
                    <sqx-code>event.type == 'Created' || event.type == 'Updated'</sqx-code>
                </li>

                <li class="help-example">
                    {{ "rules.conditions.schema" | sqxTranslate }}: <br />
                    <sqx-code>schemaId.name === 'my-schema'</sqx-code>
                </li>
            </ul>
        </div>
    </sqx-form-row>
</div>
