<div [formGroup]="triggerForm.form" class="form-horizontal">
    <div class="form-group">
        <label for="limit">{{ 'rules.conditions.usageLimit' | sqxTranslate }}</label>

        <sqx-control-errors for="limit"></sqx-control-errors>

        <input type="number" step="1" class="form-control" id="limit" formControlName="limit">
        
        <sqx-form-hint>
            {{ 'rules.conditions.usageLimitHint' | sqxTranslate }}
        </sqx-form-hint>
    </div>

    <div class="form-group">
        <label for="condition">{{ 'rules.conditions.usageDays' | sqxTranslate }}</label>

        <sqx-control-errors for="numDays" fieldName="Days"></sqx-control-errors>

        <input type="number" step="1" class="form-control" id="condition" formControlName="numDays">
        
        <sqx-form-hint>
            {{ 'rules.conditions.usageDaysHint' | sqxTranslate }}
        </sqx-form-hint>
    </div>
</div>