<div [formGroup]="triggerForm.form" class="form-horizontal">
    <div class="form-group">
        <label for="limit">Limit</label>

        <sqx-control-errors for="limit"></sqx-control-errors>

        <input type="number" step="1" class="form-control" id="limit" formControlName="limit">
        
        <sqx-form-hint>
            The monthly api calls to trigger.
        </sqx-form-hint>
    </div>

    <div class="form-group">
        <label for="condition">Days</label>

        <sqx-control-errors for="numDays" fieldName="Days"></sqx-control-errors>

        <input type="number" step="1" class="form-control" id="condition" formControlName="numDays">
        
        <sqx-form-hint>
            The number of days to check or empty to check the current month.
        </sqx-form-hint>
    </div>
</div>