/* stylelint-disable no-descending-specificity */

@mixin panel-icon {
    color: $color-border-dark;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    padding: .6rem;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
        color: darken($color-border-dark, 10%);
        cursor: pointer;
        text-decoration: none;
    }

    &:not([href]) {
        color: $color-border-dark;

        &:hover,
        &:focus {
            color: darken($color-border-dark, 10%);
        }
    }

    &.active {
        color: $color-theme-blue;
    }
}

//
// Panel container to enforce horizontal stacking and scrolling.
//
.panel-container {
    @include fixed($size-navbar-height, 0, 0, $size-sidebar-width);
    @include scrollbars(8px, $color-border-dark);
    overflow-x: auto;
    overflow-y: hidden;
}

.panel2 {
    @include absolute(0, 0, 0, 0);
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    &-slice {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        position: relative;

        router-outlet {
            display: none;
        }

        &.left {
            @include box-shadow-outer(1px, 0, 2px, .05);
            background-color: $color-white;
            border: 0;
            border-right: 1px solid $color-border;
            flex-grow: 0;
            flex-shrink: 1;
            z-index: 20;

            &.collapsed {
                width: 3.25rem !important;

                .panel2-sidebar-title {
                    opacity: 1;
                }

                .panel2-main {
                    display: none;
                }

                .panel2-header-inner {
                    display: none;
                }

                .panel2-header {
                    padding-left: 0;
                    padding-right: 0;
                    width: 3rem !important;
                }

                .panel2-collapse {
                    transform: rotate(180deg);
                }
            }
        }

        &.menu {
            @include box-shadow-outer(-1px, 0, 2px, .05);
            @include force-width(3.25rem);
            background-color: $color-white;
            border: 0;
            border-left: 1px solid $color-border;

            &.collapsed {
                width: 3rem !important;

                .panel2-collapse {
                    transform: rotate(180deg);
                }
            }
        }

        &.main {
            flex-grow: 1;
            flex-shrink: 1;
        }

        &.simple {
            border: 0;
            border-left: 1px solid $color-border;
            width: 100%;
        }

        &.right {
            &.collapsed {
                display: none;
            }
        }
    }

    &-header {
        @include force-height($panel-header);
        background-color: $color-white;
        border: 0;
        border-bottom: 1px solid $color-border;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        position: relative;

        .btn {
            white-space: nowrap;
        }

        &-inner {
            align-items: center;
            background-color: $color-white;
            border: 0;
            border-radius: 0;
            display: flex;
            padding: $panel-padding;
            width: 100%;

            &.left {
                padding-right: 3rem;
            }

            &.main {
                border: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }

        h3 {
            margin: 0;
            margin-right: 4rem;
            white-space: nowrap;

            & > i {
                margin-right: .5rem;
            }
        }

        &.middle {
            .panel2-header-inner {
                justify-content: space-between;
            }
        }

        &.left {
            .panel2-collapse {
                @include absolute(50%, .5rem, null, null);
            }
        }

        &.menu {
            .panel2-collapse {
                @include absolute(50%, null, null, .5rem);
            }
        }
    }

    &-collapse {
        color: $color-text-decent;
        font-size: 1.1rem;
        font-weight: normal;
        margin-top: -1.25rem;
        transition: transform .3s ease-in;

        i {
            margin: 0;
        }
    }

    &-main {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        overflow-y: hidden;
        position: relative;

        &-inner {
            &.main {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                overflow-y: hidden;
            }

            &.left {
                width: 100%;
            }

            &.simple {
                width: 100%;
            }

            &.white {
                background-color: $color-white;
            }

            &.padded {
                padding: $panel-padding;
            }

            &.overflow {
                overflow-y: auto;
            }
        }

        &.menu {
            display: block;
        }
    }

    &-sidebar-title {
        @include absolute(8rem, null, null, 0);
        @include text-smallest;
        opacity: 0;
        transform: rotate(270deg);
        transition: opacity .4s ease-in;
    }
}

.panel-link {
    @include panel-icon;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    display: block;

    &:hover {
        color: $color-theme-blue-dark;
    }

    &.active {
        border-color: $color-border;

        &:first-child {
            border-top-color: transparent;
        }
    }
}

.nav-light {
    @include text-small;

    .nav-link {
        border: 0;
        border-radius: 4px;
        color: $color-text;
        padding-left: .5rem;
        padding-right: .5rem;
        transition: background-color .2s ease-in;

        i {
            font-size: 1rem;
            font-weight: 500;
        }

        &.active {
            background-color: lighten($color-theme-blue-lighter, 25%);
            color: $color-theme-blue;
            cursor: default;
            font-weight: 500;
        }

        &:hover {
            background-color: lighten($color-theme-blue-lighter, 20%);
        }
    }

    .nav-heading {
        color: $color-text-decent;
        margin-top: 1rem;
    }
}