@import '_mixins';
@import '_vars';

//
// Noscript element with warning, when javascript is disabled.
//
noscript {
    color: $color-theme-error;
    display: block;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 20px;
}

//
// Profile element
//
.profile {
    & {
        margin: 0 auto;
        max-width: 20rem;
        padding: 1rem 2rem;
    }

    // Lightweight, table like headline.
    &-headline {
        margin: 0 auto 2rem;
    }

    // Fix logo on the top right corner of the screen.
    &-logo {
        @include absolute(1rem, 1rem, auto, auto);
        height: 1.75rem;
    }

    &-lg {
        max-width: 40rem;
    }

    &-password-signup {
        color: $color-text-decent;
    }

    &-section {
        margin-top: 3rem;
    }

    &-section-sm {
        margin-top: 1rem;
    }

    &-picture-col {
        max-width: 7rem;
    }

    &-picture {
        @include circle(6rem);
    }

    &-picture-input {
        @include hidden;
    }

    &-picture-form {
        margin-top: 1.6rem;
    }

    &-footer {
        font-size: .8rem;
        font-weight: normal;
        margin-top: 2rem;
    }

    //
    // Separator element to split two sections.
    //
    &-separator {
        & {
            border-bottom: 1px solid $color-border;
            margin-bottom: 2.5rem;
            margin-top: 1.5rem;
            text-align: center;
        }

        &-text {
            background: $color-dark-foreground;
            border: 0;
            bottom: -.75rem;
            color: darken($color-border, 15%);
            display: inline-block;
            padding: 0 1rem;
            position: relative;
        }
    }

    .card {
        border-width: 1px;
    }

    label {
        .card {
            font-weight: normal;
        }
    }

    // External button and icon.
    .external {
        &-button {
            line-height: 1.8rem;
            text-align: left;
            text-transform: none;
        }

        &-button-small {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            width: 40px;
        }

        &-icon {
            display: inline-block;
            font-size: 1.1rem;
            font-weight: normal;
            height: 20px;
            vertical-align: middle;
            width: 1.6rem;
        }
    }

    .personal-information {
        margin: 1rem 0;
    }

    p {
        & {
            margin-bottom: .5rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

//
// Splash text for loader.
//
.splash {
    &-h1,
    &-text,
    &-image {
        text-align: center;
    }

    &-image {
        margin-bottom: 2rem;
        max-width: 100%;
    }
}

//
// Loader element.
//
.loading {
    & {
        margin-bottom: 20px;
        margin-top: 200px;
        text-align: center;
    }

    div {
        font-size: 30px;
        font-weight: lighter;
    }
}