$color-background:          #f5f6f9;

$color-border:              #dedfe3;
$color-border-light:        #f5f6f9;
$color-border-lighter:      lighten($color-border-light, 1%);
$color-border-dark:         #e7e8ea;
$color-border-darker:       darken($color-border, 15%);

$color-title:               #000;
$color-text:                #373a3c;
$color-text-decent:         #9aa1b6;
$color-tooltip:             #1a2129;

$color-code-background:     #f5f7f9;
$color-code-text:           #708090;

$color-extern-google:       #d34836;
$color-extern-microsoft:    #004185;
$color-extern-github:       #353535;
$color-extern-twitter:      #1da1f2;

$color-theme-blue:          #3389ff;
$color-theme-blue-dark:     #3284f4;
$color-theme-blue-darker:   #2f7deb;
$color-theme-blue-lighter:  #d0e6ff;
$color-theme-blue-light:    #edf5fe;
$color-theme-blue-lightest: #d9e8fc;
$color-theme-secondary:     #e0e1e5;

$color-theme-green:         #3ab480;
$color-theme-green-dark:    #38a678;
$color-theme-orange:        #ffb136;
$color-theme-orange-dark:   #a65b00;

$color-theme-error:         #eb3142;
$color-theme-error-dark:    #c00;

$color-black:   #000;
$color-white:   #fff;

$color-theme-info:          #5bc0de;

$color-asset-bg:            #f7f8fa;

$color-input:               #e0e1e5;
$color-input-background:    #fff;
$color-input-disabled:      #eff1f4;
$color-input-placeholder:   lighten($color-text-decent, 20%);
$color-input-shortcut:      rgba(255, 255, 255, .2);

$color-badge-success-background:    #e4f6e6;
$color-badge-success-foreground:    #4cc159;

$color-badge-warning-background:    #ffe8cc;
$color-badge-warning-foreground:    #efa243;

$color-badge-danger-background:     #fce0e3;
$color-badge-danger-foreground:     #f56a76;

$color-badge-info-background:       #d0f2fb;
$color-badge-info-foreground:       #43ccef;

$color-badge-primary-background:    #cce1ff;
$color-badge-primary-foreground:    #438cef;

$color-badge-secondary-background:  #e6e6e6;
$color-badge-secondary-foreground:  #999;

$border-radius:             .25rem;

$input-shadow:              inset 0 1px 2px rgb(0 0 0 / 8%);

$size-navbar-height:        3.5rem;
$size-sidebar-width:        5rem;

$color-dark-onboarding:   #273039;

$panel-padding:             1.5rem;
$panel-header:              5.4rem;
$panel-sidebar:             3.75rem;

$font-small:                85%;
$font-smallest:             80%;

$asset-width:               14.5rem;
$asset-folder-height:       4rem;
$asset-height:              19rem;
$asset-header:              12rem;
$asset-image:               12rem;
$asset-footer:              7rem;
$asset-background:          url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAIAAAC1nk4lAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjEuMWMqnEsAAACbSURBVGhD7c6hDQAxAMPA33+m7vYlJh7AoFKOBMbfyfyZRRsPgUUbD4FFGw+BRRsPgUUbD4FFGw+BRRsPgUUbD4FFGw+BRRsPgUUbD4FFGw+BRRsPgUUbD4E3o9kA7YFFGw+BRRsPgUUbD4FFGw+BRRsPgUUbD4FFGw+BRRsPgUUbD4FFGw+BRRsPgUUbD4FFGw+BRRsPgQejz7nPYYKl8IqSfgAAAABJRU5ErkJggg==');