@import '_bootstrap-vars.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';

// Pikaday
@import '~pikaday/css/pikaday.css';

// Bootstrap Overrides
@import '_bootstrap.scss';

// icomoon
@import './icomoon/style.css';

// Custom files
@import '_common';
@import '_panels2';
@import '_forms';
@import '_lists';
@import '_static';