@if (actualLogical) {
    <sqx-filter-logical
        [filter]="actualLogical"
        (filterChange)="filterChange.emit($event)"
        [language]="language"
        [languages]="languages"
        [level]="level"
        [model]="model"
        (remove)="remove.emit()"></sqx-filter-logical>
} @else if (actualComparison) {
    <sqx-filter-comparison
        [filter]="actualComparison"
        (filterChange)="filterChange.emit($event)"
        [language]="language"
        [languages]="languages"
        [model]="model"
        (remove)="remove.emit()"></sqx-filter-comparison>
}
