@import 'mixins';
@import 'vars';

$field-line: #e1e8ef;

.filters {
    padding-left: 3rem;
    position: relative;
}

.filter {
    position: relative;

    &-line-v {
        @include absolute(-.5rem, auto, 1.8rem, 1.5rem);
        border: 0;
        border-left: 2px dashed $field-line;
        width: 2px;
    }

    &-line-h {
        @include absolute(1.2rem, auto, auto, -1.5rem);
        border: 0;
        border-bottom: 2px dashed $field-line;
        width: 1.5rem;
    }

    &-add {
        background: none;
        border: 2px dashed $field-line;
        padding: .5rem;
    }
}