@if (logical) {
    <sqx-filter-logical
        [filter]="logical"
        (filterChange)="filterChange.emit()"
        [language]="language"
        [languages]="languages"
        [level]="level"
        [model]="model"
        (remove)="remove.emit()"
        [statuses]="statuses"></sqx-filter-logical>
}

@if (comparison) {
    <sqx-filter-comparison
        [filter]="comparison"
        (filterChange)="filterChange.emit()"
        [language]="language"
        [languages]="languages"
        [model]="model"
        (remove)="remove.emit()"
        [statuses]="statuses"></sqx-filter-comparison>
}
