<sqx-dropdown
    [canSearch]="false"
    [items]="model.fields"
    [itemSeparator]="true"
    [ngModel]="value"
    (ngModelChange)="pathChange.emit($event?.fieldPath)">
    <ng-template let-field="$implicit">
        <div class="row">
            <div class="col-auto">
                <div class="badge rounded-pill badge-primary">{{field.fieldPath}}</div>
            </div>
            <div class="col text-end">
                <sqx-form-hint>{{field.fieldDescription}}</sqx-form-hint>
            </div>
        </div>
    </ng-template>

    <ng-template let-field="$implicit">
        {{field.fieldPath}}
    </ng-template>
</sqx-dropdown>