<sqx-filter-logical
    [filter]="actualQuery.filter"
    (filterChange)="changeFilter($event)"
    isRoot="true"
    [language]="language"
    [languages]="languages"
    [model]="model"></sqx-filter-logical>

<h4 class="mt-4">{{ "search.sorting" | sqxTranslate }}</h4>

@for (sorting of actualQuery.sort; track sorting; let i = $index) {
    <div class="mb-2">
        <sqx-sorting
            [model]="model"
            (remove)="removeSorting(i)"
            [sorting]="sorting"
            (sortingChange)="replaceSorting(i, $event)"></sqx-sorting>
    </div>
}

<button class="btn btn-outline-success btn-sm me-2" (click)="addSorting()">
    {{ "search.addSorting" | sqxTranslate }}
</button>
