<sqx-filter-logical 
    isRoot="true"
    [filter]="queryValue.filter"
    (filterChange)="emitQueryChange()"
    [language]="language"
    [languages]="languages"
    [model]="model"
    [statuses]="statuses">
</sqx-filter-logical>

<h4 class="mt-4">{{ 'search.sorting' | sqxTranslate }}</h4>

<div class="mb-2" *ngFor="let sorting of queryValue.sort; let i = index">
    <sqx-sorting
        [model]="model"
        [sorting]="sorting"
        (sortingChange)="emitQueryChange()"
        (remove)="removeSorting(i)">
    </sqx-sorting>
</div>

<button class="btn btn-outline-success btn-sm me-2" (click)="addSorting()">
    {{ 'search.addSorting' | sqxTranslate }}
</button>