<div class="row g-1">
    <div class="col">
        <sqx-query-path [model]="model" [path]="sorting.path" (pathChange)="changePath($event)"></sqx-query-path>
    </div>
    <div class="col-auto">
        <select class="form-select ms-2" [ngModel]="sorting.order" (ngModelChange)="changeOrder($event)">
            @for (mode of modes; track mode) {
                <option [ngValue]="mode">{{ mode }}</option>
            }
        </select>
    </div>
    <div class="col-auto">
        <button class="btn btn-text-danger" (click)="remove.emit()" type="button">
            <i class="icon-bin2"></i>
        </button>
    </div>
</div>
