<div [formGroup]="triggerForm" class="form-horizontal">
    <div class="form-group">
        <label for="condition">Condition</label>

        <sqx-control-errors for="condition" [submitted]="triggerFormSubmitted"></sqx-control-errors>

        <textarea class="form-control code" id="condition" formControlName="condition"></textarea>
    </div>

    <div class="help">
        <h4>Conditions</h4>
    
        <p>Conditions are javascript expressions that define when to trigger, for example:</p>
    
        <ul class="help-examples">
            <li class="help-example">
                Specific events:<br/>

                <pre class="code">event.type == 'Created' || event.type == 'Updated'</pre>
            </li>
            <li class="help-example">
                Large assets:<br/>

                <pre class="code">event.fileSize > 100000000</pre>
            </li>
            <li class="help-example">
                Images only:<br/>

                <pre class="code">event.isImage</pre>
            </li>
        </ul>
    </div>
</div>