@import '_vars';
@import '_mixins';

.section {
    border-top: 1px solid $color-border;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-check {
    margin-top: 1rem;
}

textarea {
    height: 100px;
}

.help {
    & {
        font-size: .9rem;
    }

    &-example {
        margin-top: .375rem;
    }

    &-examples {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 1.5rem;
    }
}