<ng-container *ngIf="!triggerForm.controls.handleAll.value">
    <table class="table table-middle table-sm table-fixed table-borderless">
        <colgroup>
            <col style="width: 100%" />
            <col style="width: 40px" />
            <col style="width: 40px" />
            <col style="width: 40px" />
            <col style="width: 40px" />
            <col style="width: 40px" />
            <col style="width: 40px" />
            <col style="width: 40px" />
            <col style="width: 40px" />
            <col style="width: 40px" />
        </colgroup>

        <tr>
            <th>
                Schema
            </th>
            <th class="text-center">
                <div class="rotated-label">All</div>
            </th>
            <th class="text-center">
                <div class="rotated-label">Created</div>
            </th>
            <th class="text-center">
                <div class="rotated-label">Updated</div>
            </th>
            <th class="text-center">
                <div class="rotated-label">Deleted</div>
            </th>
            <th class="text-center">
                <div class="rotated-label">Published</div>
            </th>
            <th class="text-center">
                <div class="rotated-label">Unpublished</div>
            </th>
            <th class="text-center">
                <div class="rotated-label">Archived</div>
            </th>
            <th class="text-center">
                <div class="rotated-label">Restored</div>
            </th>
            <th></th>
        </tr>

        <tr *ngFor="let schema of triggerSchemas">
            <td>
                <span class="truncate">{{schema.schema.displayName}}</span>
            </td>
            <td class="text-center" title="Created">
                <input type="checkbox" [ngModel]="schema.sendAll" (ngModelChange)="toggleAll(schema)" />
            </td>
            <td class="text-center" title="Created">
                <input type="checkbox" [ngModel]="schema.sendCreate" (ngModelChange)="toggle(schema, 'sendCreate')" />
            </td>
            <td class="text-center" title="Updated">
                <input type="checkbox" [ngModel]="schema.sendUpdate" (ngModelChange)="toggle(schema, 'sendUpdate')" />
            </td>
            <td class="text-center" title="Deleted">
                <input type="checkbox" [ngModel]="schema.sendDelete" (ngModelChange)="toggle(schema, 'sendDelete')" />
            </td>
            <td class="text-center" title="Published">
                <input type="checkbox" [ngModel]="schema.sendPublish" (ngModelChange)="toggle(schema, 'sendPublish')" />
            </td>
            <td class="text-center" title="Unpublished">
                <input type="checkbox" [ngModel]="schema.sendUnpublish" (ngModelChange)="toggle(schema, 'sendUnpublish')" />
            </td>
            <td class="text-center" title="Archived">
                <input type="checkbox" [ngModel]="schema.sendArchived" (ngModelChange)="toggle(schema, 'sendArchived')" />
            </td>
            <td class="text-center" title="Restored">
                <input type="checkbox" [ngModel]="schema.sendRestored" (ngModelChange)="toggle(schema, 'sendRestored')" />
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-link btn-secondary" (click)="removeSchema(schema)">
                    <i class="icon-close"></i>
                </button>
            </td>
        </tr>
    </table>

    <div class="section" *ngIf="schemasToAdd.length > 0">
        <form class="form-inline" (ngSubmit)="addSchema()">
            <div class="form-group mr-1">
                <select class="form-control schemas-control" [(ngModel)]="schemaToAdd" name="schema">
                    <option *ngFor="let schema of schemasToAdd" [ngValue]="schema">{{schema.displayName}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!hasSchema">Add Schema</button>
        </form>
    </div>
</ng-container>

<div class="form-group" [formGroup]="triggerForm">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="handleAll" formControlName="handleAll" />
        <label class="form-check-label" for="handleAll">
            Trigger on all content events
        </label>
    </div>
</div>