@model Squidex.Areas.IdentityServer.Controllers.Error.ErrorVM

@{
    ViewBag.Title = T.Get("login.test.title");
}

<img class="splash-image" src="squid.svg?title=Success&text=Login%20was%20successful&face=happy" />

<h1 class="splash-h1">@T.Get("login.test.headline")</h1>

<p class="splash-text">
    <span>@T.Get("login.test.text")</span>
</p>