<content>
    <div class="apps-empty">
        <h3 class="apps-empty-headline">You are not collaborating to any app yet</h3>

        <button class="apps-empty-button btn btn-success" (click)="modalDialog.show()">Create App</button>
    </div>
</content>

<div class="modal" [(sqxModalView)]="modalDialog" [@fade]="modalDialog.isOpenChanges | async">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalDialog.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>

				<h4 class="modal-title">Create App</h4>
			</div>

			<div class="modal-body">
				<sqx-app-form 
                    (onCreated)="modalDialog.hide()"
                    (onCancelled)="modalDialog.hide()"></sqx-app-form>
			</div>
		</div>
	</div>
</div>