<div class="card item" [class.invalid]="isInvalid | async">
    <div class="card-header drag-handle">
        <span class="pull-left">
            <span class="mr-1">
                <ng-content></ng-content>
            </span>
    
            <span class="header-text text-decent">Item #{{index + 1}}</span>

            <button type="button" class="btn btn-text-secondary" [disabled]="isDisabled || isFirst" (click)="emitMoveTop()">
                <i class="icon-caret-top"></i>
            </button>
            <button type="button" class="btn btn-text-secondary" [disabled]="isDisabled || isFirst" (click)="emitMoveUp()">
                <i class="icon-caret-up"></i>
            </button>
            <button type="button" class="btn btn-text-secondary" [disabled]="isDisabled || isLast" (click)="emitMoveDown()">
                <i class="icon-caret-down"></i>
            </button>
            <button type="button" class="btn btn-text-secondary" [disabled]="isDisabled || isLast" (click)="emitMoveBottom()">
                <i class="icon-caret-bottom"></i>
            </button>
            <button type="button" class="btn btn-text-secondary" [class.hidden]="!isHidden" (click)="emitToggle(false)" title="Open all items">
                <i class="icon-plus-square"></i>
            </button>
            <button type="button" class="btn btn-text-secondary" [class.hidden]="isHidden" (click)="emitToggle(true)" title="Close all items">
                <i class="icon-minus-square"></i>
            </button>
        </span>

        <span class="float-right">
            <button type="button" class="btn btn-text-secondary" [disabled]="isDisabled" (click)="emitClone()">
                <i class="icon-clone"></i>
            </button>
    
            <button type="button" class="btn btn-text-danger" [disabled]="isDisabled" (click)="emitRemove()">
                <i class="icon-bin2"></i>
            </button>
        </span>
    </div>
    
    <div class="card-body" [class.hidden]="isHidden">
        <div class="form-group" *ngFor="let fieldControl of fieldControls">
            <sqx-field-editor
                [form]="form"
                [formContext]="formContext"
                [field]="fieldControl.field"
                [language]="language"
                [languages]="languages"
                [control]="fieldControl.control">
            </sqx-field-editor>
        </div>
    </div>
</div>