<div class="card item" [class.invalid]="isInvalid | async">
    <div class="card-header drag-handle">
        <span class="pull-left">
            <i class="icon-drag2 mr-1"></i>
    
            <span class="header-text text-decent">Item #{{index + 1}}</span>

            <button type="button" class="btn btn-text-secondary" [disabled]="isFirst" (click)="moveTop()">
                <i class="icon-caret-top"></i>
            </button>
            <button type="button" class="btn btn-text-secondary" [disabled]="isFirst" (click)="moveUp()">
                <i class="icon-caret-up"></i>
            </button>
            <button type="button" class="btn btn-text-secondary" [disabled]="isLast" (click)="moveDown()">
                <i class="icon-caret-down"></i>
            </button>
            <button type="button" class="btn btn-text-secondary" [disabled]="isLast" (click)="moveBottom()">
                <i class="icon-caret-bottom"></i>
            </button>
            <button type="button" class="btn btn-text-secondary" [class.hidden]="!isHidden" (click)="toggle.emit(false)" title="Open all items">
                <i class="icon-plus-square"></i>
            </button>
            <button type="button" class="btn btn-text-secondary" [class.hidden]="isHidden" (click)="toggle.emit(true)" title="Close all items">
                <i class="icon-minus-square"></i>
            </button>
        </span>

        <span class="float-right">
            <button type="button" class="btn btn-text-secondary" (click)="cloning.emit()">
                <i class="icon-clone"></i>
            </button>
    
            <button type="button" class="btn btn-text-danger" (click)="removing.emit()">
                <i class="icon-bin2"></i>
            </button>

        </span>
    </div>
    
    <div class="card-body" [class.hidden]="isHidden">
        <div class="form-group" *ngFor="let fieldControl of fieldControls">
            <sqx-field-editor
                [form]="form"
                [field]="fieldControl.field"
                [language]="language"
                [languages]="languages"
                [control]="fieldControl.control">
            </sqx-field-editor>
        </div>
    </div>
</div>