<div class="array-container" *ngIf="arrayControl.controls.length > 0" 
    [sqxSortModel]="arrayControl.controls"
    (sqxSorted)="sort($event)">
    <div class="item" *ngFor="let itemForm of arrayControl.controls; let i = index">
        <sqx-array-item
            [form]="form"
            [field]="field"
            [isHidden]="snapshot.isHidden"
            [isFirst]="i === 0"
            [isLast]="i === arrayControl.controls.length - 1"
            [index]="i"
            [itemForm]="itemForm"
            [language]="language"
            [languages]="languages"
            (toggle)="hide($event)"
            (moving)="move(itemForm, $event)"
            (cloning)="addItem(itemForm)"
            (removing)="removeItem(i)">
        </sqx-array-item>
    </div>
</div>

<button type="button" class="btn btn-success" [disabled]="field.nested.length === 0" (click)="addItem(undefined)">
    Add Item
</button>

<small class="text-muted ml-2" *ngIf="field.nested.length === 0">
    Add a nested field first to add items.
</small>