@import '_vars';
@import '_mixins';

.card {
    & {
        border: 1px solid darken($color-border, 5%);
        border-left-width: 4px;
    }

    &-header {
        line-height: 2.2rem;
    }

    .header-text {
        display: inline-block;
        min-width: 70px;
        max-width: 100px;
    }
}

.btn-link {
    padding: .375rem;
}

.remove {
    @include absolute(.5rem, .5rem, auto, auto);
}

.invalid {
    border-left-color: $color-theme-error;
}