@import '_vars';
@import '_mixins';

.item {
    & {
        background: $panel-light-background;
        border: 1px solid darken($color-border, 5%);
        border-left-width: 4px;
        padding: 1rem;
        position: relative;
    }

    &-remove {
        @include absolute(.5rem, .5rem, auto, auto);
    }
}

.invalid {
    border-left-color: $color-theme-error;
}