@import '_vars';
@import '_mixins';

.array-container {
    background: $color-border;
    padding: 1rem;
    padding-bottom: 1px;
    position: relative;
    margin-bottom: 1rem;
}

.item {
    margin-bottom: 1rem;
}