<div class="array-container" *ngIf="arrayControl.controls.length > 0" 
    [sqxSortModel]="arrayControl.controls"
    (sqxSorted)="sort($event)"
    dragHandle=".drag-handle">
    <div class="item" *ngFor="let itemForm of arrayControl.controls; let i = index">
        <sqx-array-item
            [form]="form"
            [field]="field"
            [index]="i"
            [itemForm]="itemForm"
            [language]="language"
            [languages]="languages"
            (removing)="removeItem(i)">
        </sqx-array-item>
    </div>
</div>

<button class="btn btn-success" (click)="addItem(); $event.preventDefault()">
    Add Item
</button>