@import '_vars';
@import '_mixins';

.disabled {
    pointer-events: none;
}

.assets {
    &-container {
        & {
            background: $color-background;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 1rem;
            padding-bottom: 0;
            height: $asset-height + 2rem;
        }
    }
}

.drop-area {
    & {
        @include transition(border-color .4s ease);
        @include border-radius;
        border: 2px dashed $color-border;
        height: $asset-height;
        width: $asset-height;
        font-size: 1.2rem;
        font-weight: normal;
        text-align: center;
        padding: 3.5rem 2rem;
        cursor: pointer;
        color: darken($color-border, 30%);
    }

    &:hover {
        text-decoration: underline;
    }

    &-container {
        padding-bottom: 1rem;
    }

    &.drag {
        border-color: darken($color-border, 10%);
        cursor: copy;
        color: darken($color-border, 40%);
        text-decoration: none;
    }
}

.row {
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.col-4 {
    padding-left: .5rem;
    padding-right: .5rem;
}