<div class="assets-container" [class.disabled]="isDisabled">
    <div class="header list">
        <div class="row no-gutters">
            <div class="col">
                <div class="drop-area align-items-center" (sqxFileDrop)="addFiles($event)" (click)="assetsDialog.show()">
                    Drop files or click here to add assets.
                </div>
            </div>
            <div class="col col-auto pl-1">
                <div class="btn-group" data-toggle="buttons">
                    <button type="button" class="btn btn-secondary btn-toggle" [class.btn-primary]="isListView" [disabled]="isListView" (click)="changeView(true)">
                        <i class="icon-list"></i>
                    </button>
                    <button type="button" class="btn btn-secondary btn-toggle" [class.btn-primary]="!isListView" [disabled]="!isListView" (click)="changeView(false)">
                        <i class="icon-grid"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="body">
        <ng-container *ngIf="!isListView; else listTemplate">
            <div class="row no-gutters">
                <sqx-asset *ngFor="let file of newAssets" [initFile]="file" 
                    (failed)="onAssetFailed(file)" (loaded)="onAssetLoaded(file, $event)">
                </sqx-asset>
                <sqx-asset *ngFor="let asset of oldAssets" [asset]="asset" removeMode="true" isDisabled="true"
                    (removing)="onAssetRemoving($event)">
                </sqx-asset>
            </div>
        </ng-container>
    
        <ng-template #listTemplate>
            <div class="list-view">
                <sqx-asset *ngFor="let file of newAssets" [initFile]="file"
                    [isListView]="true" (failed)="onAssetFailed(file)" (loaded)="onAssetLoaded(file, $event)">
                </sqx-asset>
                
                <div [sqxSortModel]="oldAssets.values" (sqxSorted)="sort($event)">
                    <div *ngFor="let asset of oldAssets">
                        <sqx-asset [asset]="asset" removeMode="true" isDisabled="true"
                            [isListView]="true" (removing)="onAssetRemoving($event)">
                        </sqx-asset>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<ng-container *sqxModalView="assetsDialog;onRoot:true;closeAuto:false">
    <sqx-assets-selector (selected)="onAssetsSelected($event)"></sqx-assets-selector>
</ng-container>