
<div class="assets-container" [class.disabled]="snapshot.isDisabled" (sqxDropFile)="addFiles($event)" tabindex="1000">
    <div class="header list">
        <div class="row no-gutters">
            <div class="col">
                <div class="drop-area align-items-center" (click)="assetsDialog.show()" (sqxDropFile)="addFiles($event)">
                    Drop files or click
                </div>
            </div>
            <div class="col-auto pl-1">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary btn-toggle" [class.btn-primary]="snapshot.isListView" [disabled]="snapshot.isListView" (click)="changeView(true)">
                        <i class="icon-list"></i>
                    </button>
                    <button type="button" class="btn btn-secondary btn-toggle" [class.btn-primary]="!snapshot.isListView" [disabled]="!snapshot.isListView" (click)="changeView(false)">
                        <i class="icon-grid"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="body">
        <ng-container *ngIf="!snapshot.isListView; else listTemplate">
            <div class="row no-gutters">
                <sqx-asset *ngFor="let file of snapshot.assetFiles" [initFile]="file" 
                    (loadError)="removeLoadingAsset(file)"
                    (load)="addAsset(file, $event)">
                </sqx-asset>
                <sqx-asset *ngFor="let asset of snapshot.assets; trackBy: trackByAsset" [asset]="asset" [isCompact]="isCompact" removeMode="true"
                    (update)="notifyOthers($event)"
                    (remove)="removeLoadedAsset($event)">
                </sqx-asset>
            </div>
        </ng-container>
    
        <ng-template #listTemplate>
            <div class="list-view">
                <sqx-asset *ngFor="let file of snapshot.assetFiles" [initFile]="file"
                    [isListView]="true" 
                    (loadError)="removeLoadingAsset(file)"
                    (load)="addAsset(file, $event)">
                </sqx-asset>
                
                <div
                    [sqxSortModel]="snapshot.assets.mutableValues"
                    (sqxSort)="sortAssets($event)">
                    <div *ngFor="let asset of snapshot.assets; trackBy: trackByAsset">
                        <sqx-asset [asset]="asset" removeMode="true" 
                            [isListView]="true"
                            [isCompact]="isCompact"
                            (update)="notifyOthers($event)"
                            (remove)="removeLoadedAsset($event)">
                        </sqx-asset>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<sqx-modal [model]="assetsDialog">
    <sqx-assets-selector
        (select)="selectAssets($event)">
    </sqx-assets-selector>
</sqx-modal>