@import '_vars';
@import '_mixins';

.disabled {
    pointer-events: none;
}

.assets {
    &-container {
        & {
            background: $color-background;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 1rem;
            padding-bottom: 0;
            height: $asset-height + 2rem;
        }
    }
}

.list-view {
    margin-bottom: 1rem;
}

.list {
    margin-left: 8px;
    margin-right: 8px;
}

.body {
    margin-bottom: -.25rem;
    margin-top: 1rem;
}

.unrow {
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}

.drop-area {
    & {
        @include transition(border-color .4s ease);
        @include border-radius;
        @include flex-box;
        @include truncate;
        border: 2px dashed $color-border;
        height: 2.5rem;
        font-size: 1.2rem;
        font-weight: normal;
        text-align: center;
        padding: 0 2rem;
        color: darken($color-border, 30%);
        cursor: pointer;
    }

    &:hover {
        text-decoration: underline;
    }

    &-container {
        padding-bottom: 1rem;
    }

    &.drag {
        border-color: darken($color-border, 10%);
        cursor: copy;
        color: darken($color-border, 40%);
        text-decoration: none;
    }
}

.row {
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.col-4 {
    padding-left: .5rem;
    padding-right: .5rem;
}