<td class="cell-select" sqxStopClick>
    <ng-container *ngIf="!isReference; else referenceTemplate">
        <input type="checkbox" class="form-check"
            [disabled]="!selectable"
            [ngModel]="selected || !selectable" 
            (ngModelChange)="selectedChange.emit($event)" />
    </ng-container>
    
    <ng-template #referenceTemplate>
        <i class="icon-drag2 drag-handle"></i>
    </ng-template>
</td>

<td class="cell-auto" *ngFor="let field of schema.listFields; let i = index; trackBy: trackByField.bind(this)" [sqxStopClick]="isDirty || (field.isInlineEditable && patchAllowed)">
    <ng-container *ngIf="field.isInlineEditable && patchAllowed; else displayTemplate">
        <sqx-content-item-editor [form]="patchForm.form" [field]="field"></sqx-content-item-editor>
    </ng-container>

    <ng-template #displayTemplate>
        <span class="truncate">{{values[i]}}</span>
    </ng-template>
</td>

<td class="cell-time" *ngIf="!isCompact" [sqxStopClick]="isDirty">
    <sqx-content-status 
        [status]="content.status"
        [statusColor]="content.statusColor"
        [scheduledTo]="content.scheduleJob?.status"
        [scheduledAt]="content.scheduleJob?.dueTime"
        [isPending]="content.isPending">
    </sqx-content-status>
    
    <small class="item-modified">{{content.lastModified | sqxFromNow}}</small>
</td>

<td class="cell-user" *ngIf="!isCompact && !isDirty" [sqxStopClick]="isDirty">
    <img class="user-picture" title="{{content.lastModifiedBy | sqxUserNameRef}}" [attr.src]="content.lastModifiedBy | sqxUserPictureRef" />
</td>

<ng-container *ngIf="isDirty">
    <td class="cell-user" >
        <button type="button" class="btn btn-success" (click)="save()" sqxStopClick>
            <i class="icon-checkmark"></i>
        </button>
    </td>
    <td class="cell-actions" >
        <button type="button" class="btn btn-text-secondary btn-cancel" (click)="cancel()" sqxStopClick>
            <i class="icon-close"></i>
        </button>
    </td>
</ng-container>

<td class="cell-actions" *ngIf="!isReadOnly && !isDirty" sqxStopClick>
    <div class="dropdown dropdown-options" *ngIf="content">
        <button type="button" class="btn btn-text-secondary" (click)="dropdown.toggle()" [class.active]="dropdown.isOpen | async" #optionsButton>
            <i class="icon-dots"></i>
        </button>

        <sqx-modal [model]="dropdown" [target]="optionsButton" closeAlways="true">
            <div class="dropdown-menu" @fade>
                <a class="dropdown-item" *ngFor="let info of content.statusUpdates" (click)="emitChangeStatus(info.status)">
                    Change to <i class="icon-circle icon-sm" [style.color]="info.color"></i> {{info.status}}
                </a>
                <a class="dropdown-item" (click)="emitClone(); dropdown.hide()" *ngIf="canClone">
                    Clone
                </a>
                
                <div class="dropdown-divider"></div>
    
                <a class="dropdown-item dropdown-item-delete"
                    (sqxConfirmClick)="emitDelete()"
                    confirmTitle="Delete content" 
                    confirmText="Do you really want to delete the content?">
                    Delete
                </a>
            </div>
        </sqx-modal>
    </div>
</td>
<td class="cell-actions" *ngIf="isReference" [sqxStopClick]="isDirty">
    <div class="reference-edit">
        <button type="button" class="btn btn-text-secondary">
            <i class="icon-dots"></i>
        </button>

        <div class="reference-menu">
            <a class="btn btn-text-secondary" [routerLink]="['../..', schema.name, content.id]">
                <i class="icon-pencil"></i>
            </a>

            <button type="button" class="btn btn-text-secondary" (click)="emitDelete()">
                <i class="icon-close"></i>
            </button>
        </div>
    </div>
</td>