@import '_vars';
@import '_mixins';

.content {
    & {
        cursor: pointer;
    }

    &-published {
        & {
            @include circle(.5rem);
            display: inline-block;
            border: 0;
            background: $color-theme-green;
            margin-left: .4rem;
        }

        &.unpublished {
            background: $color-theme-error;
        }
    }
}