<ng-container *ngIf="!scheduledTo">
    <span class="content-status content-status-{{displayStatus | lowercase}} mr-1" [class.middle]="alignMiddle" title="{{displayStatus}}" titlePosition="top">
        <i class="icon-circle"></i>
    </span>
</ng-container>

<ng-container *ngIf="scheduledTo">
    <span class="content-status content-status-{{scheduledTo | lowercase}} mr-1" [class.middle]="alignMiddle" title="{{displayStatus}}" titlePosition="top">
        <i class="icon-clock"></i>
    </span>
</ng-container>

<span class="content-status-label" *ngIf="showLabel">{{displayStatus}}</span>