@import '_vars';
@import '_mixins';

.content-status {
    & {
        vertical-align: middle;
    }

    &.default {
        color: $color-text-decent;
    }

    &.pending {
        color: $color-dark-black;
    }

    &-label {
        color: $color-text;
    }

    &-tooltip {
        @include border-radius;
        background: $color-tooltip;
        border: 0;
        font-size: .9rem;
        font-weight: normal;
        color: $color-dark-foreground;
        padding: .75rem;
    }
}