<td *ngFor="let value of values">
    <span class="table-cell">
        {{value}}
    </span>
</td>
<td>
    <span class="item-published" [class.unpublished]="!content.isPublished"></span>
    
    <small class="item-modified">{{content.lastModified | sqxFromNow}}</small>
</td>
<td>
    <img class="user-picture" [attr.title]="content.lastModifiedBy | sqxUserNameRef" [attr.src]="content.lastModifiedBy | sqxUserPictureRef" />
</td>
<td *ngIf="!isReadOnly">
    <div class="dropdown dropdown-options" *ngIf="content">
        <button type="button" class="btn btn-link btn-decent" (click)="dropdown.toggle(); $event.stopPropagation()" [class.active]="dropdown.isOpen | async" #optionsButton>
            <i class="icon-dots"></i>
        </button>
        <div class="dropdown-menu" *sqxModalView="dropdown" closeAlways="true" [sqxModalTarget]="optionsButton" position="right" [@fade]>
            <a class="dropdown-item" (click)="publishing.emit(); $event.stopPropagation()" *ngIf="!content.isPublished">
                Publish
            </a>
            <a class="dropdown-item" (click)="unpublishing.emit(); $event.stopPropagation()" *ngIf="content.isPublished">
                Unpublish
            </a>
            <a class="dropdown-item dropdown-item-delete"
                (sqxConfirmClick)="deleting.emit()"
                confirmTitle="Delete content" 
                confirmText="Do you really want to delete the content?">
                Delete
            </a>
        </div>
    </div>
</td>
<td *ngIf="isReference">
    <button type="button" class="btn btn-link btn-danger" (click)="deleting.emit(); $event.stopPropagation()">
        <i class="icon-bin2"></i>
    </button>
</td>