<sqx-modal-dialog (close)="emitComplete()" large="true" fullHeight="true" contentClass="grid">
    <ng-container title>
        Select contents
    </ng-container>

    <ng-container tabs>
        <div class="row no-gutters">
            <div class="col-auto offset-lg-4">
                <button type="button" class="btn btn-text-secondary" (click)="reload()">
                    <i class="icon-reset"></i> Refresh
                </button>
            </div>
            <div class="col pl-1">
                <sqx-search-form formClass="form" placeholder="Search for content" 
                    [fieldExample]="'data/[MY_FIELD]/iv'" 
                    [filter]="filter"
                    (querySubmit)="search()"
                    expandable="true">
                </sqx-search-form>
            </div>
                
            <div class="-auto pl-1" *ngIf="languages.length > 1">
                <sqx-language-selector class="languages-buttons" (selectedLanguageChange)="selectLanguage($event)" [languages]="languages"></sqx-language-selector>
            </div>
        </div>
    </ng-container>

    <ng-container content>
        <div class="grid-header">
            <table class="table table-items table-fixed">
                <thead>
                    <tr>
                        <th class="cell-select">
                            <input type="checkbox" class="form-check" [ngModel]="isAllSelected" (ngModelChange)="selectAll($event)" />
                        </th>
                        <th class="cell-auto" *ngFor="let field of schema.listFields">
                            <sqx-table-header [text]="field.displayName" 
                                [sortable]="field.properties.isSortable"
                                [sorting]="filter.sortMode(field) | async"
                                (sortingChange)="sort(field, $event)">
                            </sqx-table-header>
                        </th>
                        <th class="cell-time">
                            <sqx-table-header text="Updated"
                                [sortable]="true"
                                [sorting]="filter.sortMode('lastModified') | async"
                                (sortingChange)="sort('lastModified', $event)">
                            </sqx-table-header>
                        </th>
                        <th class="cell-user">
                            <sqx-table-header text="By"></sqx-table-header>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="grid-content">
            <div sqxIgnoreScrollbar>
                <table class="table table-items table-fixed" *ngIf="contentsState.contents | async; let contents">
                    <tbody *ngFor="let content of contents; trackBy: trackByContent">
                        <tr [sqxContent]="content"
                            [selectable]="!isItemAlreadySelected(content)"
                            [selected]="isItemSelected(content)"
                            (selectedChange)="selectContent(content)"
                            [language]="language"
                            [schema]="schema" 
                            isReadOnly="true"></tr>
                        <tr class="spacer"></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="grid-footer">
            <sqx-pager [pager]="contentsState.contentsPager | async" (prevPage)="goPrev()" (nextPage)="goNext()"></sqx-pager>
        </div>
    </ng-container>

    <ng-container footer>
        <button type="reset" class="float-left btn btn-secondary" (click)="emitComplete()">Cancel</button>
        <button type="submit" class="float-right btn btn-success" (click)="emitSelect()" [disabled]="selectionCount === 0">Link selected contents ({{selectionCount}})</button>
    </ng-container>
</sqx-modal-dialog>