@import '_vars';
@import '_mixins';

:host ::ng-deep {
    .modal-body {
        background: $color-background;
    }

    .modal-tabs {
        background: $color-dark-foreground;
    }
}

.table-container {
    display: inline-block;
    padding: 0;
    padding-right: 1.5rem;
    min-width: 100%;
}

.grid-content {
    overflow-y: auto;
    overflow-x: auto;
    padding-right: 0;
}