<sqx-modal [model]="dueTimeDialog">
    <sqx-modal-dialog (close)="cancelStatusChange()">
        <ng-container title>
            {{dueTimeAction}} content item(s)
        </ng-container>
    
        <ng-container content>
            <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="dueTimeMode" value="Immediately" id="immediately" name="dueTimeMode">
                <label class="form-check-label" for="immediately">
                    {{dueTimeAction}} content item(s) immediately.
                </label>
            </div>
    
            <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="dueTimeMode" value="Scheduled" id="scheduled" name="dueTimeMode">
                <label class="form-check-label" for="scheduled">
                    {{dueTimeAction}} content item(s) at a later point date and time.
                </label>
            </div>
    
            <sqx-date-time-editor [disabled]="dueTimeMode === 'Immediately'" mode="DateTime" hideClear="true" [(ngModel)]="dueTime"></sqx-date-time-editor>
        </ng-container>
    
        <ng-container footer>
            <button type="button" class="float-left btn btn-secondary" (click)="cancelStatusChange()">Cancel</button>
            <button type="button" class="float-right btn btn-primary" [disabled]="dueTimeMode === 'Scheduled' && !dueTime" (click)="confirmStatusChange()" sqxFocusOnInit>Confirm</button>
        </ng-container>
    </sqx-modal-dialog>

</sqx-modal>
