<div [class.ui]="!field.properties.isContentField" *ngIf="field">
    <ng-container *ngIf="field.properties.isContentField">
        <label>
            {{field.displayName}} {{displaySuffix}} <span class="field-required" [class.hidden]="!field.properties.isRequired">*</span>
        </label> 
    
        <span class="field-disabled pl-1" *ngIf="field.isDisabled">Disabled</span>
    
        <sqx-control-errors *ngIf="form" [for]="control" [fieldName]="field.displayName" [submitted]="form.submitted | async"></sqx-control-errors>
    </ng-container>

	<div>
		<ng-container *ngIf="field.properties.editorUrl; else noEditor">
            <sqx-iframe-editor [url]="field.properties.editorUrl"
                [context]="formContext"
                [formControl]="control"
                [formValue]="form?.value | async">
            </sqx-iframe-editor>
		</ng-container>

		<ng-template #noEditor>
			<ng-container [ngSwitch]="field.properties.fieldType">
                <ng-container *ngSwitchCase="'Array'">
                    <sqx-array-editor 
                        [arrayControl]="control"
                        [form]="form"
                        [formContext]="formContext"
                        [field]="field"
                        [language]="language"
                        [languages]="languages">
                    </sqx-array-editor>
                </ng-container>
                <ng-container *ngSwitchCase="'Assets'">
                    <sqx-assets-editor [formControl]="control" [isCompact]="isCompact"></sqx-assets-editor>
                </ng-container>
                <ng-container *ngSwitchCase="'Boolean'">
                    <ng-container [ngSwitch]="field.properties['editor']">
                        <ng-container *ngSwitchCase="'Toggle'">
                            <sqx-toggle [formControl]="control" [threeStates]="!field.properties.isRequired"></sqx-toggle>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Checkbox'">
                            <input type="checkbox" [formControl]="control" class="form-check" sqxIndeterminateValue />
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'DateTime'">
                    <sqx-date-time-editor enforceTime="true" [mode]="field.properties['editor']" [formControl]="control"></sqx-date-time-editor>
                </ng-container>
				<ng-container *ngSwitchCase="'Geolocation'">
					<sqx-geolocation-editor [isCompact]="isCompact" [formControl]="control"></sqx-geolocation-editor>
				</ng-container>
				<ng-container *ngSwitchCase="'Json'">
					<sqx-json-editor [formControl]="control"></sqx-json-editor>
				</ng-container>
				<ng-container *ngSwitchCase="'Number'">
					<ng-container [ngSwitch]="field.properties['editor']">
						<ng-container *ngSwitchCase="'Input'">
							<input class="form-control" type="number" [formControl]="control" [placeholder]="field.displayPlaceholder" />
						</ng-container>
						<ng-container *ngSwitchCase="'Stars'">
							<sqx-stars [formControl]="control" [maximumStars]="field.properties['maxValue']"></sqx-stars>
						</ng-container>
						<ng-container *ngSwitchCase="'Dropdown'">
							<select class="form-control" [formControl]="control">
								<option [ngValue]="null"></option>
								<option *ngFor="let value of field.properties['allowedValues']" [ngValue]="value">{{value}}</option>
							</select>
						</ng-container>
						<ng-container *ngSwitchCase="'Radio'">
							<div class="form-check form-check-inline" *ngFor="let value of field.properties['allowedValues']">
								<input class="form-check-input" type="radio" [value]="value" [formControl]="control" [name]="uniqueId" />
								<label class="form-check-label">
									{{value}}
								</label>
							</div>
						</ng-container>
					</ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'References'">
                    <ng-container [ngSwitch]="field.properties['editor']">
                        <ng-container *ngSwitchCase="'List'">
                            <sqx-references-editor
                                [formControl]="control" 
                                [allowDuplicates]="field.properties['allowDuplicated']"
                                [language]="language"
                                [languages]="languages"
                                [schemaId]="field.properties['schemaId']"
                                [isCompact]="isCompact">
                            </sqx-references-editor>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Dropdown'">
                            <sqx-references-dropdown
                                [formControl]="control" 
                                [language]="language"
                                [schemaId]="field.properties['schemaId']">
                            </sqx-references-dropdown>
                        </ng-container>
                    </ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'String'">
					<ng-container [ngSwitch]="field.properties['editor']">
						<ng-container *ngSwitchCase="'Input'">
							<input class="form-control" type="text" [formControl]="control" [placeholder]="field.displayPlaceholder" />
						</ng-container>
						<ng-container *ngSwitchCase="'Slug'">
							<input class="form-control" type="text" [formControl]="control" [placeholder]="field.displayPlaceholder" sqxTransformInput="Slugify" />
						</ng-container>
						<ng-container *ngSwitchCase="'TextArea'">
							<textarea class="form-control" [formControl]="control" rows="5" [placeholder]="field.displayPlaceholder"></textarea>
						</ng-container>
						<ng-container *ngSwitchCase="'RichText'">
							<sqx-rich-editor [formControl]="control"></sqx-rich-editor>
						</ng-container>
						<ng-container *ngSwitchCase="'Html'">
							<sqx-code-editor [formControl]="control" mode="ace/mode/html"></sqx-code-editor>
						</ng-container>
						<ng-container *ngSwitchCase="'Markdown'">
							<sqx-markdown-editor [formControl]="control"></sqx-markdown-editor>
						</ng-container>
						<ng-container *ngSwitchCase="'Dropdown'">
							<select class="form-control" [formControl]="control">
								<option [ngValue]="null"></option>
								<option *ngFor="let value of field.properties['allowedValues']" [ngValue]="value">{{value}}</option>
							</select>
						</ng-container>
						<ng-container *ngSwitchCase="'Radio'">
							<div class="form-check form-check-inline" *ngFor="let value of field.properties['allowedValues']">
								<input class="form-check-input" type="radio" value="{{value}}" [formControl]="control" [name]="uniqueId" />
								<label class="form-check-label">
									{{value}}
								</label>
							</div>
						</ng-container>
						<ng-container *ngSwitchCase="'Color'">
                            <sqx-color-picker [formControl]="control" [placeholder]="field.displayPlaceholder"></sqx-color-picker>
						</ng-container>
					</ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'Tags'">
                    <ng-container [ngSwitch]="field.properties['editor']">
                        <ng-container *ngSwitchCase="'Tags'">
                            <sqx-tag-editor [formControl]="control" [placeholder]="field.displayPlaceholder" [suggestions]="field.properties['allowedValues']"></sqx-tag-editor>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Checkboxes'">
                            <sqx-checkbox-group [formControl]="control" [values]="field.properties['allowedValues']"></sqx-checkbox-group>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Dropdown'">
                            <select multiple class="form-control" [formControl]="control">
                                <option *ngFor="let value of field.properties['allowedValues']" [ngValue]="value">{{value}}</option>
                            </select>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'UI'">
                    <h4 class="ui-separator">{{field.displayName}}</h4>
                </ng-container>
			</ng-container>
		</ng-template>
	</div>

	<ng-container *ngIf="field.properties.hints; let hints">
		<sqx-form-hint *ngIf="hints.length > 0">
			{{hints}}
		</sqx-form-hint>
	</ng-container>
</div>
