<ng-container *ngIf="snapshot.selectedName">
    <span>Preview: </span>

    <div class="btn-group ml-1" #buttonGroup>
        <button type="button" class="btn btn-secondary" (click)="follow(snapshot.selectedName)">
            <i class="icon-external-link"></i> {{snapshot.selectedName}}
        </button>

        <div class="btn-group" *ngIf="snapshot.alternativeNames.length > 0">
            <button type="button" class="btn btn-secondary dropdown-toggle" (click)="dropdown.toggle()"></button>
            
            <sqx-modal [model]="dropdown" [target]="buttonGroup" closeAlways="true">
                <div class="dropdown-menu" @fade>
                    <a *ngFor="let name of snapshot.alternativeNames" class="dropdown-item" (click)="follow(name)">{{name}}</a>
                </div>
            </sqx-modal>
        </div>
    </div>
</ng-container>