@import '_vars';
@import '_mixins';

.disabled {
    pointer-events: none;
}

.invalid {
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    color: darken($color-border, 30%);
}

.references-container {
    background: $color-background;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    min-height: 6rem;
    max-height: 20rem;
}

.drop-area {
    & {
        @include transition(border-color .4s ease);
        @include border-radius;
        border: 2px dashed $color-border;
        font-size: 1.2rem;
        font-weight: normal;
        text-align: center;
        padding: 1rem;
        cursor: pointer;
        color: darken($color-border, 30%);
    }

    &:hover {
        text-decoration: underline;
    }
}

.table {
    margin-bottom: -.25rem;
    margin-top: 1rem;
}