<div class="references-container" [class.disabled]="isDisabled">
    <ng-container *ngIf="schema">
        <div class="drop-area-container">
            <div class="drop-area" (click)="showModal()">
                Click here to link a content.
            </div>
        </div>
        
        <table class="table table-items table-fixed" [class.disabled]="isDisabled" *ngIf="schema && contentItems && contentItems.length > 0">
            <tbody [sqxSortModel]="contentItems.mutableValues" (sqxSorted)="sort($event)">
                <ng-template ngFor let-content [ngForOf]="contentItems">
                    <tr [sqxContent]="content"
                        [language]="language"
                        [schema]="schema"
                        (deleting)="remove(content)"
                        isReadOnly="true" 
                        isReference="true"></tr>
                    <tr class="spacer"></tr>
                </ng-template>
            </tbody>
        </table>
    </ng-container>

    <div class="invalid" *ngIf="isInvalidSchema">
        Schema not found or not configured yet.
    </div>
</div>

<ng-container *sqxModalView="isModalVisibible;onRoot:true;closeAuto:false">
    <sqx-contents-selector 
        [language]="language"
        [languages]="languages"
        [schema]="schema"
        (selected)="select($event)">
    </sqx-contents-selector>
</ng-container>