<div class="references-container" [class.disabled]="isDisabled">
    <ng-container *ngIf="schema">
        <div class="drop-area-container">
            <div class="drop-area" (click)="selectorDialog.show()">
                Click here to link content items.
            </div>
        </div>
        
        <table class="table table-items table-fixed" [class.disabled]="isDisabled" *ngIf="schema && contentItems && contentItems.length > 0"
            [sqxSortModel]="contentItems.values" 
            (sqxSorted)="sort($event)">
            <tbody *ngFor="let content of contentItems">
                <tr [sqxContent]="content"
                    [language]="language"
                    [isReadOnly]="true"
                    [isReference]="true"
                    [schema]="schema"
                    (deleting)="remove(content)"></tr>
                <tr class="spacer"></tr>
            </tbody>
        </table>
    </ng-container>

    <div class="invalid" *ngIf="isInvalidSchema">
        Schema not found or not configured yet.
    </div>
</div>

<ng-container *sqxModalView="selectorDialog;onRoot:true;closeAuto:false">
    <sqx-contents-selector 
        [language]="language"
        [languages]="languages"
        [schema]="schema"
        (selected)="select($event)">
    </sqx-contents-selector>
</ng-container>