@import '_vars';
@import '_mixins';

.disabled {
    pointer-events: none;
}

.references {
    &-container {
        & {
            background: $color-background;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 1rem;
        }
    }
}

.invalid {
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    color: darken($color-border, 30%);
}

.drop-area {
    & {
        @include transition(border-color .4s ease);
        @include border-radius;
        border: 2px dashed $color-border;
        font-size: 1.2rem;
        font-weight: normal;
        text-align: center;
        padding: 2rem;
        cursor: pointer;
        color: darken($color-border, 30%);
    }

    &:hover {
        text-decoration: underline;
    }

    &.drag,
    &.dnd-drag-over,
    &.dnd-drag-enter {
        border-color: darken($color-border, 10%);
        cursor: copy;
        color: darken($color-border, 40%);
        text-decoration: none;
    }
}

.table {
    & {
        margin-bottom: -.25rem;
        margin-top: 1rem;
    }

    &.disabled {
        margin-top: 0;
    }
}