@import 'mixins';
@import 'vars';

.apps-section {
    margin: 0 $size-sidebar-width;
    max-width: 1080px;
    padding-top: 2rem;
    padding-left: 16px;
    padding-right: 16px;

    &:last-child {
        margin-bottom: 1rem;
    }
}

.page {
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.team {
    margin-top: 1rem;

    &:first-child {
        margin: 0;
    }

    &-body {
        @include clearfix;

        &.padded {
            padding-bottom: 1rem;
            padding-top: 1rem;
        }
    }
}