<sqx-modal-dialog (dialogClose)="dialogClose.emit()" size="lg">
    <ng-container title>
        {{ "news.title" | sqxTranslate }}
    </ng-container>

    <ng-container content>
        <div class="help">
            <h1>{{ "news.headline" | sqxTranslate }}</h1>

            @for (feature of features; track feature; let last = $last) {
                <div>
                    <h4>{{ feature.name }}</h4>
                    <div [innerHTML]="feature.text | sqxHelpMarkdown"></div>
                    <hr [class.hidden]="last" />
                </div>
            }
        </div>
    </ng-container>
</sqx-modal-dialog>
