<div class="team-header">
    <div class="row align-items-center">
        <div class="col">
            <h3>{{team.name}}</h3>
        </div>
        <div class="col-auto">
            <a class="link" [routerLink]="['/app/teams', team.id]" sqxStopClick>{{ 'common.edit' | sqxTranslate }}</a>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-sm btn-text-secondary" (click)="dropdown.toggle()" sqxStopClick #buttonOptions>
                <i class="icon-dots"></i>
            </button>
    
            <ng-container *sqxModal="dropdown;closeAlways:true">
                <sqx-dropdown-menu [sqxAnchoredTo]="buttonOptions" [scrollY]="true">
                    <a class="dropdown-item dropdown-item-delete"
                        (sqxConfirmClick)="leave.emit(team)"
                        confirmTitle="i18n:teams.leaveConfirmTitle"
                        confirmText="i18n:teams.leaveConfirmText"
                        confirmRememberKey="leaveApp">
                        {{ 'teams.leave' | sqxTranslate }}
                    </a>
                </sqx-dropdown-menu>
            </ng-container>
        </div>
    </div>
</div>