<sqx-title message="i18n:contents.schemasPageTitle"></sqx-title>

@if (!isEmbedded) {
    <sqx-layout layout="left" overflow="true" padding="true" titleCollapsed="i18n:common.schemas" white="true" width="18">
        <ng-container menu>
            <div class="search-form">
                <input
                    class="form-control"
                    [formControl]="schemasFilter"
                    placeholder="{{ 'contents.searchSchemasPlaceholder' | sqxTranslate }}" />
                <i class="icon-search"></i>
            </div>
        </ng-container>
        <ng-container>
            <ul class="nav nav-light mb-2 flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLink="__calendar" routerLinkActive="active">
                        {{ "contents.calendar" | sqxTranslate }}
                    </a>
                </li>
            </ul>
            <ng-container>
                @for (category of categories | async; track category.displayName) {
                    <sqx-schema-category [schemaCategory]="category" [schemaTarget]="'Contents'"></sqx-schema-category>
                }
            </ng-container>
        </ng-container>
    </sqx-layout>
}

<router-outlet></router-outlet>
