@import "mixins";
@import "vars";

.card {
    margin-bottom: 0.5rem;

    &-footer {
        font-size: $font-small;
    }
}

.btn-run {
    color: $color-theme-brand !important;
}

a {
    text-decoration: none;
}

.col-flow {
    overflow: hidden;
}

.col-last {
    @include force-width(80px);
}

.icon-caret-right {
    &:last-child {
        display: none;
    }
}
