<sqx-title message="i18n:rules.listPageTitle"></sqx-title>

<sqx-layout layout="main" titleText="i18n:common.rules" titleIcon="rules" innerWidth="54">
    <ng-container menu>
        <button class="btn btn-text-secondary" (click)="reload()" type="button" title="i18n:rules.refreshTooltip" shortcut="CTRL + B">
            <i class="icon-reset"></i>
            {{ "common.refresh" | sqxTranslate }}
        </button>

        @if (rulesState.canCreate | async) {
            <a class="btn btn-success ms-2" routerLink="new" title="i18n:rules.createTooltip" shortcut="CTRL + U">
                <i class="icon-plus"></i>
                {{ "rules.create" | sqxTranslate }}
            </a>
        }
    </ng-container>

    <ng-container>
        <sqx-list-view [isLoading]="rulesState.isLoading | async" innerWidth="54rem">
            @if (rulesState.runningRule | async; as runningRule) {
                <div class="alert alert-danger d-flex justify-content-between align-items-center p-2 ps-4 mb-4">
                    {{ "rules.runningRule" | sqxTranslate: { name: runningRule.name || "Unnamed Rule" } }}
                    <a class="btn" (click)="cancelRun()">{{ "common.cancel" | sqxTranslate }}</a>
                </div>
            }

            @if (supportedActions && supportedTriggers && (rulesState.isLoaded | async) && (rulesState.rules | async); as rules) {
                @if (rules.length === 0) {
                    <div class="table-items-row table-items-row-summary table-items-row-empty">
                        {{ "rules.empty" | sqxTranslate }}
                        @if (rulesState.canCreate | async) {
                            <button class="btn btn-success btn-sm ms-1" type="button" routerLink="new">
                                <i class="icon icon-plus"></i>
                                {{ "rules.emptyAddRule" | sqxTranslate }}
                            </button>
                        }
                    </div>
                }
                @for (rule of rules; track rule.id) {
                    <sqx-rule
                        [rule]="rule"
                        [ruleActions]="supportedActions"
                        [ruleTriggers]="supportedTriggers"
                        (delete)="delete(rule)"
                        (toggle)="toggle(rule)"></sqx-rule>
                }
            }
        </sqx-list-view>
    </ng-container>

    <ng-template sidebarMenu>
        <div class="panel-nav">
            @if (rulesState.canReadEvents | async) {
                <a
                    class="panel-link panel-link-gray"
                    routerLink="events"
                    routerLinkActive="active"
                    title="i18n:common.history"
                    titlePosition="left"
                    sqxTourStep="history">
                    <i class="icon-time"></i>
                </a>
            }

            <a
                class="panel-link"
                #helpLink
                replaceUrl="true"
                routerLink="help"
                routerLinkActive="active"
                queryParamsHandling="preserve"
                hintText="i18n:common.helpTour"
                hintAfter="180000"
                title="i18n:common.help"
                titlePosition="left"
                sqxTourStep="help">
                <i class="icon-help2"></i>
            </a>
        </div>
    </ng-template>
</sqx-layout>

<router-outlet></router-outlet>
