:host ::ng-deep {
    .user-ref {
        font-weight: 500;
    }

    .marker-ref {
        font-weight: 500;
    }
}

.section {
    margin-bottom: 1rem;

    &:last-child {
        margin: 0;
    }
}

.btn-status {
    padding: 1rem;
    padding-top: .75rem;
    text-align: left;
}

h3 {
    &.bordered {
        border-bottom: 1px solid $color-border;
        margin-bottom: 1rem;
        margin-top: 0;
        padding-bottom: .5rem;
    }
}

hr {
    margin-left: 0;
    margin-right: 0;
}

.event {
    & {
        font-size: .9rem;
        font-weight: normal;
        margin-bottom: 1.5rem;
    }

    &-created {
        font-size: .75rem;
        font-weight: normal;
        margin: .25rem 0;
    }
}

.user-picture {
    margin-top: .25rem;
}