<ng-container *ngIf="field.isLocalizable && languages.length > 1">
    <button *ngIf="!field.properties.isComplexUI" type="button" class="btn btn-text-secondary btn-sm mr-1" (click)="toggleShowAllControls()">
        {{showAllControls ? 'Single Language' : 'All Languages'}}
    </button>

    <ng-container *ngIf="field.properties.isComplexUI || !showAllControls">
        <sqx-language-selector size="sm" #buttonLanguages
            [selectedLanguage]="language"
            (selectedLanguageChange)="languageChange.emit($event)"
            [languages]="languages">
        </sqx-language-selector>

        <sqx-onboarding-tooltip helpId="languages" [for]="buttonLanguages" position="top-right" after="120000">
            Please remember to check all languages when you see validation errors.
        </sqx-onboarding-tooltip>
    </ng-container>
</ng-container>