<sqx-title message="User Management"></sqx-title>

<sqx-panel panelWidth="50rem">
    <div class="panel-header">
        <div class="panel-title-row">
            <div class="float-right">
                <button class="btn btn-link btn-decent" (click)="load(true)" title="Refresh Users (CTRL + SHIFT + R)">
                    <i class="icon-reset"></i> Refresh
                </button>

                <sqx-shortcut keys="ctrl+shift+r" (trigger)="load(true)"></sqx-shortcut>
                <sqx-shortcut keys="ctrl+shift+f" (trigger)="findInput.focus()"></sqx-shortcut>
                <sqx-shortcut keys="ctrl+shift+g" (trigger)="newButton.click()"></sqx-shortcut>

                <form class="form-inline" (ngSubmit)="search()">
                    <input class="form-control" #findInput [formControl]="usersFilter" placeholder="Search for user" />
                </form>

                <button class="btn btn-success" #newButton routerLink="new" title="New User (CTRL + M)">
                    <i class="icon-plus"></i> New
                </button>
            </div>
            
            <h3 class="panel-title">Users</h3>
        </div>

        <a class="panel-close" sqxParentLink isLazyLoaded="true">
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content panel-content-scroll">
            <table class="table table-items table-fixed">
                <colgroup>
                    <col style="width: 70px" />
                    <col style="width: 50%" />
                    <col style="width: 50%" />
                    <col style="width: 120px" />
                </colgroup>

                <thead>
                    <tr>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <ng-template ngFor let-user [ngForOf]="usersItems">
                        <tr [routerLink]="user.id" routerLinkActive="active">
                            <td>
                                <img class="user-picture" [attr.title]="user.name" [attr.src]="user | sqxUserDtoPicture" />
                            </td>
                            <td>
                                <span class="user-name table-cell">{{user.displayName}}</span>
                            </td>
                            <td>
                                <span class="user-email table-cell">{{user.email}}</span>
                            </td>
                            <td class="text-right">
                                <span *ngIf="user.id !== currentUserId">
                                    <button class="btn btn-link" (click)="lock(user); $event.stopPropagation();" *ngIf="!user.isLocked" title="Lock User">
                                        <i class="icon icon-unlocked"></i>
                                    </button>
                                    <button class="btn btn-link" (click)="unlock(user); $event.stopPropagation();" *ngIf="user.isLocked" title="Unlock User">
                                        <i class="icon icon-lock"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </ng-template>
                </tbody>
            </table>

            <div class="clearfix" *ngIf="usersPager.numberOfItems > 0">
                <div class="float-right pagination">
                    <span class="pagination-text">{{usersPager.itemFirst}}-{{usersPager.itemLast}} of {{usersPager.numberOfItems}}</span>

                    <button class="btn btn-link btn-decent pagination-button" [disabled]="!usersPager.canGoPrev" (click)="goPrev()">
                        <i class="icon-angle-left"></i>
                    </button>
                    <button class="btn btn-link btn-decent pagination-button" [disabled]="!usersPager.canGoNext" (click)="goNext()">
                        <i class="icon-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</sqx-panel>

<router-outlet></router-outlet>