@import '_vars';
@import '_mixins';

.panel {
    min-width: 800px;
    max-width: 800px;
}

.panel-content {
    overflow-y: scroll;
}

.card {
    max-width: 700px;
}

.contributors {
    &-table {
        margin: 0;
    }
}

.user {
    &-picture {
        & {
            @include circle(2.2rem);
        }

        &:not([src]) {
            @include opacity(0);
        }
    }

    &-name,
    &-email {
        @include truncate;
    }

    &-email {
        font-style: italic;
        font-size: .8rem;
    }
}