<sqx-title message="{app} | Contributors | Settings" parameter1="app" value1="{{appName() | async}}"></sqx-title>

<div class="panel panel-light">
    <div class="panel-header">
        <h3 class="panel-title">Contributors</h3>

        <a class="panel-close" routerLink="../">
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content">
            <table class="table table-items table-fixed">
                <colgroup>
                    <col style="width: 70px" />
                    <col style="width: 50%" />
                    <col style="width: 50%" />
                    <col style="width: 150px" />
                    <col style="width: 80px" />
                </colgroup>

                <thead>
                    <tr>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <template ngFor let-contributor [ngForOf]="appContributors">
                        <tr>
                            <td>
                                <img class="user-picture" [attr.src]="userPicture(contributor.contributorId) | async" />
                            </td>
                            <td>
                                <span class="user-name">{{userName(contributor.contributorId) | async}}</span>
                            </td>
                            <td>
                                <span class="user-email">{{userEmail(contributor.contributorId) | async}}</span>
                            </td>
                            <td>
                                <select class="form-control" [ngModel]="contributor.permission" (ngModelChange)="changePermission(contributor, $event)" [disabled]="currentUserId === contributor.contributorId">
                                    <option *ngFor="let permission of usersPermissions">{{permission}}</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-danger" [disabled]="currentUserId === contributor.contributorId" (click)="removeContributor(contributor)">
                                    <i class="icon-bin"></i>
                                </button>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </template>
                </tbody>
            </table>
            
            <div class="table-items-footer">
                <form class="form-inline" [formGroup]="addContributorForm" (ngSubmit)="assignContributor()">
                    <div class="form-group">
                        <sqx-autocomplete [source]="usersDataSource" formControlName="user" [inputName]="contributor"></sqx-autocomplete>
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="!addContributorForm.valid">Add Contributor</button>
                </form>
            </div>
        </div>
        <div class="panel-sidebar">
            <div class="nav nav-pills nav-stacked nav-light">
                <li class="nav-item">
                    <a class="nav-link" routerLink="history" routerLinkActive="active">
                        <i class="icon-time"></i>
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>