:host,
.inner-form,
.inner-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.inner-header,
.inner-main {
    position: relative;
}

.inner-header {
    background: $color-theme-secondary;
    border-bottom: 1px solid $color-border-darker;
    padding: 1rem $panel-padding;
}