<sqx-title message="Dashboard"></sqx-title>

<ng-container *ngIf="appsState.selectedApp | async; let app">
    <div class="dashboard" @fade>
        <div class="dashboard-inner">
            <div>
                <h1 class="dashboard-title">Hi {{authState.user?.displayName}}</h1>

                <div class="subtext">
                    Welcome to <strong>{{app.displayName}}</strong> dashboard.
                </div>
            </div>

            <div class="clearfix">
                <sqx-schema-card
                    [app]="app">
                </sqx-schema-card>

                <sqx-api-card
                    [app]="app">
                </sqx-api-card>

                <sqx-support-card
                    [app]="app">
                </sqx-support-card>

                <sqx-github-card
                    [app]="app">
                </sqx-github-card>

                <sqx-api-calls-card
                    [app]="app" [usage]="callsUsage">
                </sqx-api-calls-card>

                <sqx-api-performance-card
                    [isStacked]="isStacked"
                    (isStackedChange)="changeIsStacked($event)"
                    [app]="app" [usage]="callsUsage">
                </sqx-api-performance-card>

                <sqx-api-calls-summary-card
                    [app]="app" [usage]="callsUsage">
                </sqx-api-calls-summary-card>

                <sqx-asset-uploads-count-card
                    [app]="app" [usage]="storageUsage">
                </sqx-asset-uploads-count-card>

                <sqx-asset-uploads-size-summary-card
                    [app]="app" [usage]="storageCurrent">
                </sqx-asset-uploads-size-summary-card>

                <sqx-asset-uploads-size-card
                    [app]="app" [usage]="storageUsage">
                </sqx-asset-uploads-size-card>
                
                <sqx-api-traffic-card
                    [isStacked]="isStacked"
                    (isStackedChange)="changeIsStacked($event)"
                    [app]="app">
                </sqx-api-traffic-card>

                <sqx-history-card
                    [app]="app">
                </sqx-history-card>>
            </div>
        </div>
    </div>
</ng-container>