.dashboard {
    & {
        @include absolute(0, 0, 0, 0);
    }

    &-summary {
        @include absolute(2rem, null, null, 2rem);
        z-index: 0;
    }

    &-settings {
        @include absolute(1rem, 1rem, null, null);
        z-index: 1000;
    }

    &-title {
        font-size: 1.4rem;
    }

    gridster {
        background: none;
    }

    gridster-item {
        overflow: visible;
    }
}

gridster-item {
    position: absolute;
}

.btn {
    z-index: 1000;
}

:host ::ng-deep {
    chart {
        @include absolute(0, 1rem, 1rem, 1rem);
    }

    .subtext {
        margin-bottom: 2rem;
    }

    .card {
        & {
            @include absolute(0, 0, 0, 0);
        }

        &-image {
            text-align: center;

            img {
                height: 5rem;
            }
        }

        h4 {
            a {
                color: $color-title;
            }
        }

        &-header {
            @include truncate;
            flex-grow: 0;
            flex-shrink: 0;
        }

        &-body {
            position: relative;
        }

        &-history {
            overflow-y: auto;
        }

        &-text {
            color: $color-text-decent;
            font-size: .9rem;
            font-weight: normal;
        }

        &-title {
            color: $color-title;
            font-size: 1.2rem;
            font-weight: normal;
            margin-top: 1rem;
        }

        &-href {
            &:hover {
                @include box-shadow-outer(0, 3px, 16px, .2);
            }
        }
    }

    .aggregation {
        & {
            text-align: center;
        }

        &-label {
            color: $color-text-decent;
        }

        &-value {
            font-size: 3rem;
            margin-bottom: .5rem;
            margin-top: 1rem;
        }
    }
}