<sqx-title message="i18n:contents.calendar" />
<sqx-layout hideSidebar="true" layout="main" titleText="i18n:contents.calendar">
    <ng-container menu>
        {{ title }}
        <select class="form-select ms-4" [disabled]="isLoading" [ngModel]="view" (ngModelChange)="changeView($event)">
            <option ngValue="day">{{ "common.daily" | sqxTranslate }}</option>

            <option ngValue="week">{{ "common.weekly" | sqxTranslate }}</option>

            <option ngValue="month">{{ "common.monthly" | sqxTranslate }}</option>
        </select>
        <button class="btn btn-text-secondary btn-navigate ms-2" (click)="goPrev()" [disabled]="isLoading" type="button">
            <i class="icon-caret-left"></i>
        </button>
        <button class="btn btn-text-secondary btn-navigate ms-2" (click)="goNext()" [disabled]="isLoading" type="button">
            <i class="icon-caret-right"></i>
        </button>
    </ng-container>
    <ng-container content>
        <div class="calendar" #calendarContainer></div>
    </ng-container>
</sqx-layout>
<sqx-modal-dialog (dialogClose)="contentDialog.hide()" *sqxModal="contentDialog">
    <ng-container title> {{ "common.content" | sqxTranslate }} </ng-container>
    <ng-container content>
        @if (contentSelected && contentSelected.scheduleJob) {
            <div>
                <sqx-form-row for="id" hideError label="common.id" labelSize="lg">
                    <div class="input-group">
                        <input class="form-control" id="id" #inputId name="id" readonly value="{{ contentSelected.id }}" />
                        <button class="btn btn-outline-secondary" [sqxCopy]="inputId" type="button">
                            <i class="icon-copy"></i>
                        </button>
                    </div>
                </sqx-form-row>

                <sqx-form-row centered for="content" hideError label="common.content" labelSize="lg">
                    <a class="truncate" [routerLink]="['../', contentSelected.schemaName, contentSelected.id]">
                        {{ createContentName(contentSelected) }}
                    </a>
                </sqx-form-row>

                <sqx-form-row centered for="schema" hideError label="common.schema" labelSize="lg">
                    <a class="truncate" [routerLink]="['../', contentSelected.schemaName]"> {{ contentSelected.schemaDisplayName }} </a>
                </sqx-form-row>

                <sqx-form-row centered for="status" hideError label="common.status" labelSize="lg">
                    <sqx-content-status layout="text" small="true" [status]="contentSelected.status" [statusColor]="contentSelected.statusColor" />
                </sqx-form-row>

                <hr />

                <sqx-form-row centered for="scheduledTo" hideError label="contents.scheduledToLabel" labelSize="lg">
                    <sqx-content-status
                        layout="text"
                        small="true"
                        [status]="contentSelected.scheduleJob.status"
                        [statusColor]="contentSelected.scheduleJob.color" />
                </sqx-form-row>

                <sqx-form-row centered for="scheduledAt" hideError label="contents.scheduledAt" labelSize="lg">
                    {{ contentSelected.scheduleJob.dueTime | sqxFullDateTime }}
                </sqx-form-row>

                <sqx-form-row centered for="scheduledBy" hideError label="contents.scheduledBy" labelSize="lg">
                    <img class="user-picture" [src]="contentSelected.scheduleJob.scheduledBy | sqxUserPictureRef" />
                    {{ contentSelected.scheduleJob.scheduledBy | sqxUserNameRef }}
                </sqx-form-row>

                @if (contentSelected.canCancelStatus) {
                    <hr />

                    <div class="row">
                        <div class="col-8 offset-4">
                            <button
                                class="btn btn-outline-danger"
                                [class.disabled]="!contentSelected.canCancelStatus"
                                confirmRememberKey="cancelStatus"
                                confirmText="i18n:contents.cancelStatusConfirmText"
                                confirmTitle="i18n:contents.cancelStatusConfirmTitle"
                                (sqxConfirmClick)="cancelStatus()"
                                type="button">
                                {{ "contents.cancelStatus" | sqxTranslate }}
                            </button>
                        </div>
                    </div>
                }
            </div>
        }
    </ng-container>
</sqx-modal-dialog>
