<sqx-title message="{app} | {schema} | Content" parameter1="app" parameter2="schema" value1="{{appName() | async}}" value2="{{schema.name}}"></sqx-title>

<form [formGroup]="contentForm" (ngSubmit)="saveAndPublish()">
    <sqx-panel panelWidth="53rem">
        <div class="panel-header">
            <div class="panel-title-row">
                <div class="float-right">
                    <span *ngIf="isNewMode">
                        <button type="button" class="btn btn-default" (click)="saveAsDraft()" title="CTRL + S">
                            Save as Draft
                        </button>

                        <button type="submit" class="btn btn-primary">
                            Save and Publish
                        </button>
                    </span>
                    <span *ngIf="!isNewMode">
                        <button type="submit" class="btn btn-primary" title="CTRL + S">
                            Save
                        </button>
                    </span>
                </div>
                    
                <sqx-shortcut keys="ctrl+s" (trigger)="saveAndPublish()"></sqx-shortcut>
                
                <h3 class="panel-title" *ngIf="isNewMode">
                    New Content
                </h3>
                <h3 class="panel-title" *ngIf="!isNewMode">
                    Edit Content
                </h3>
            </div>

            <a class="panel-close" sqxParentLink>
                <i class="icon-close"></i>
            </a>
        </div>

        <div class="panel-main">
            <div class="panel-content panel-content-scroll">
                <div *ngFor="let field of schema.fields">
                    <sqx-content-field [field]="field" [fieldForm]="contentForm.controls[field.name]" [languages]="languages" [contentFormSubmitted]="contentFormSubmitted"></sqx-content-field>
                </div>
            </div>
            <div class="panel-sidebar">
                <a class="panel-link" routerLink="history" routerLinkActive="active" *ngIf="!isNewMode">
                    <i class="icon-time"></i>
                </a>
                <a class="panel-link" routerLink="assets" routerLinkActive="active">
                    <i class="icon-media"></i>
                </a>
            </div>
        </div>
    </sqx-panel>
</form>

<router-outlet></router-outlet>

<div class="modal" *sqxModalView="cancelDialog;onRoot:true" [@fade]>
    <div class="modal-backdrop"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Unsaved changes</h4>
            </div>

            <div class="modal-body">
                You have unsaved changes, do you want to close the current content view?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="confirmLeave()">Yes</button>
                <button type="button" class="btn btn-secondary" (click)="cancelLeave()">No</button>
            </div>
        </div>
    </div>
</div>