<div class="table-items-row" [class.invalid]="fieldForm.invalid">
    <ng-container *ngIf="field.isLocalizable && languages.length > 1">
        <div class="languages-buttons" #buttonLanguages>
            <sqx-language-selector size="sm"
                [selectedLanguage]="language"
                (selectedLanguageChange)="languageChange.emit($event)"
                [languages]="languages.values">
            </sqx-language-selector>
        </div>

        <sqx-onboarding-tooltip id="languages" [for]="buttonLanguages" position="topRight" after="120000">
            Please remember to check all languages when you see validation errors.
        </sqx-onboarding-tooltip>
    </ng-container>

    <sqx-field-editor
        [form]="form"
        [field]="field"
        [language]="language"
        [languages]="languages"
        [control]="selectedFormControl">
    </sqx-field-editor>
</div>
