<div class="table-items-row" [class.invalid]="fieldForm.invalid">
    <label>
        {{field | sqxDisplayName:'properties.label':'name'}} <span class="field-required" [class.hidden]="!field.properties.isRequired">*</span>
    </label> 
    
    <span class="field-disabled" *ngIf="field.isDisabled">Disabled</span>

    <div [formGroup]="fieldForm">
        <div *ngIf="field.partitioning === 'language' && languages.length > 1">
            <div class="languages-buttons" #buttonLanguages>
                <sqx-language-selector size="sm" (selectedLanguageChanged)="selectLanguage($event)" [languages]="languages"></sqx-language-selector>
            </div>

            <sqx-onboarding-tooltip id="languages" [for]="buttonLanguages" position="topRight" after="120000">
                Please remember to check all languages when you see validation errors.
            </sqx-onboarding-tooltip>
        </div>

        <div *ngFor="let partition of fieldPartitions">
            <div *ngIf="partition == fieldPartition">
                <sqx-control-errors [for]="partition" fieldName="{{field | sqxDisplayName:'properties.label':'name'}}" [submitted]="contentFormSubmitted"></sqx-control-errors>

                <div [ngSwitch]="field.properties.fieldType">
                    <div *ngSwitchCase="'Number'">
                        <div [ngSwitch]="field.properties.editor">
                            <div *ngSwitchCase="'Input'">
                                <input class="form-control" type="number" [formControlName]="partition">
                            </div>
                            <div *ngSwitchCase="'Stars'">
                                <sqx-stars [formControlName]="partition" [maximumStars]="field.properties.maxValue"></sqx-stars>
                            </div>
                            <div *ngSwitchCase="'Dropdown'">
                                <select class="form-control" [formControlName]="partition">
                                    <option></option>
                                    <option *ngFor="let value of field.properties.allowedValues" [ngValue]="value">{{value}}</option>
                                </select>
                            </div>
                            <div *ngSwitchCase="'Radio'">
                                <div class="form-check form-check-inline" *ngFor="let value of field.properties.allowedValues">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" value="{{value}}" [formControlName]="partition"> {{value}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'String'">
                        <div [ngSwitch]="field.properties.editor">
                            <div *ngSwitchCase="'Input'">
                                <input class="form-control" type="text" [formControlName]="partition">
                            </div>
                            <div *ngSwitchCase="'TextArea'">
                                <textarea class="form-control" [formControlName]="partition" rows="5"></textarea>
                            </div>
                            <div *ngSwitchCase="'RichText'">
                                <sqx-rich-editor [formControlName]="partition"></sqx-rich-editor>
                            </div>
                            <div *ngSwitchCase="'Markdown'">
                                <sqx-markdown-editor [formControlName]="partition"></sqx-markdown-editor>
                            </div>
                            <div *ngSwitchCase="'Dropdown'">
                                <select class="form-control" [formControlName]="partition">
                                    <option *ngFor="let value of field.properties.allowedValues" [ngValue]="value">{{value}}</option>
                                </select>
                            </div>
                            <div *ngSwitchCase="'Radio'">
                                <div class="form-check form-check-inline" *ngFor="let value of field.properties.allowedValues">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" value="{{value}}" [formControlName]="partition"> {{value}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'Boolean'">
                        <div [ngSwitch]="field.properties.editor">
                            <div *ngSwitchCase="'Toggle'">
                                <sqx-toggle [formControlName]="partition"></sqx-toggle>
                            </div>
                            <div *ngSwitchCase="'Checkbox'">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" [formControlName]="partition" sqxIndeterminateValue />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'DateTime'">
                        <sqx-date-time-editor enforceTime="true" [mode]="field.properties.editor" [formControlName]="partition"></sqx-date-time-editor>
                    </div>
                    <div *ngSwitchCase="'Geolocation'">
                        <sqx-geolocation-editor [formControlName]="partition"></sqx-geolocation-editor>
                    </div>
                    <div *ngSwitchCase="'Json'">
                        <sqx-json-editor [formControlName]="partition"></sqx-json-editor>
                    </div>
                    <div *ngSwitchCase="'Assets'">
                        <sqx-assets-editor [formControlName]="partition"></sqx-assets-editor>
                    </div>
                    <div *ngSwitchCase="'Tags'">
                        <sqx-tag-editor [formControlName]="partition"></sqx-tag-editor>
                    </div>
                    <div *ngSwitchCase="'References'">
                        <sqx-references-editor [formControlName]="partition" [languageCode]="selectFieldLanguage(partition)" [schemaId]="field.properties.schemaId"></sqx-references-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <small class="form-text text-muted" *ngIf="field.properties.hints && field.properties.hints.length > 0">
        {{field.properties.hints}}
    </small>
</div>
