@import '_vars';
@import '_mixins';

.table-items-row {
    position: relative;
    border-width: 1px;
    border-left-width: 4px;
}

.languages-buttons {
    @include absolute(.7rem, 1.25rem, auto, auto);
}

.invalid {
    border-left-color: $color-theme-error;
}

.field {
    &-required {
        color: $color-theme-error;
    }

    &-disabled {
        color: $color-border-dark;
        font-size: .8rem;
        font-weight: normal;
    }
}