@import '_vars';
@import '_mixins';

.table-items-row {
    position: relative;
    border-width: 1px;
    border-left-width: 4px;
}

.languages-buttons {
    @include absolute(.7rem, 1.25rem, auto, auto);
}

.row {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.col-12 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.col-6 {
    & {
        padding-left: 1.5rem;
        padding-right: .5rem;
    }

    &.col-right {
        padding-left: .5rem;
        padding-right: 1.5rem;
    }
}

.field {
    &-required {
        color: $color-theme-error;
    }

    &-invalid {
        border-left-color: $color-theme-error;
    }

    &-disabled {
        color: $color-border-dark;
        font-size: .8rem;
        font-weight: normal;
    }

    &-copy {
        @include absolute(1rem, auto, auto, -1rem);
        z-index: 1000;
    }
}

.compare {
    padding: .5rem 0;
    border: 0;
    border-bottom: 1px solid $color-border;
}