@import '_vars';
@import '_mixins';

.content-status {
    & {
        color: $color-text;
        cursor: default !important;
    }

    &:hover {
        background: transparent;
    }
}

.discard-changes {
    & {
        color: $color-theme-blue !important;
        cursor: pointer;
        font-size: .9rem;
        font-weight: normal;
    }

    &:hover {
        text-decoration: underline !important;
    }
}