@import '../../theme/_mixins.scss';

$bar-height: 12px;

$thumb-size: 20px;
$thumb-margin: ($thumb-size - $bar-height) * 0.5;

$color-border: #ccc;
$color-focus: #66afe9;

.slider {
    &-bar {
        @include border-radius($bar-height * 0.5);
        position: relative;
        border: 1px solid $color-border;
        margin-bottom: 20px;
        margin-top: 5px;
        margin-right: $thumb-size * 0.5;
        background: white;
        height: $bar-height;
    }

    &-thumb {
        @include border-radius($thumb-size * 0.5);
        position: absolute;
        width: $thumb-size;
        height: $thumb-size;
        border: 1px solid $color-border;
        background: white;
        margin-top: -$thumb-margin;
        margin-left: -$thumb-size * 0.5;
    }

    &-thumb.focused {
        border-color: $color-focus;
    }
}