@import '_vars';
@import '_mixins';

.plan {
    & {
        min-width: 13rem;
        max-width: 20rem;
        margin: .5rem;
    }

    &-header {
        border-bottom: 1px solid $color-border;
    }

    &-price {
        color: $color-theme-blue;
    }

    &-selected {
        pointer-events: none;
    }

    &-fact {
        line-height: 2rem;
    }
}

.empty {
    margin: 1.25rem;
    margin-top: 6.25rem;
}

.billing-portal-link {
    padding: 2rem .5rem 0;
}