<sqx-title message="i18n:common.backups"></sqx-title>

<sqx-panel desiredWidth="50rem" [showSidebar]="true" [grid]="true">
    <ng-container title>
        {{ 'common.backups' | sqxTranslate }}
    </ng-container>

    <ng-container menu>
        <button type="button" class="btn btn-text-secondary mr-1" (click)="reload()" title="i18n:backups.refreshTooltip">
            <i class="icon-reset"></i> {{ 'common.refresh' | sqxTranslate }}
        </button>

        <sqx-shortcut keys="ctrl+shift+r" (trigger)="reload()"></sqx-shortcut>

        <button type="button" class="btn btn-success" [disabled]="backupsState.maxBackupsReached | async" *ngIf="backupsState.canCreate | async" (click)="start()">
            {{ 'backups.start' | sqxTranslate }}
        </button>
    </ng-container>

    <ng-container content>
        <ng-container>
            <sqx-list-view [isLoading]="backupsState.isLoading | async">
                <ng-container topHeader>
                    <div class="panel-alert panel-alert-danger" *ngIf="backupsState.maxBackupsReached | async">
                        {{ 'backups.maximumReached' | sqxTranslate }}
                    </div>
                </ng-container>

                <div content>
                    <ng-container *ngIf="(backupsState.isLoaded | async) && (backupsState.backups | async); let backups">
                        <div class="table-items-row table-items-row-empty" *ngIf="backups.length === 0">
                            {{ 'backups.empty' | sqxTranslate }}
            
                            <button type="button" class="btn btn-success btn-sm ml-2" (click)="start()">
                                {{ 'backups.start' | sqxTranslate }}
                            </button>
                        </div>
            
                        <sqx-backup *ngFor="let backup of backups; trackBy: trackByBackup" [backup]="backup">
                        </sqx-backup>
                    </ng-container>
                </div>
            </sqx-list-view>
        </ng-container>
    </ng-container>

    <ng-container sidebar>
        <div class="panel-nav">
            <a class="panel-link" routerLink="help" routerLinkActive="active" queryParamsHandling="preserve" title="i18n:common.help" titlePosition="left">
                <i class="icon-help2"></i>
            </a>
        </div>
    </ng-container>
</sqx-panel>

<router-outlet></router-outlet>