<sqx-title message="i18n:common.backups"></sqx-title>

<sqx-layout layout="main" titleText="i18n:common.backups" titleIcon="backups" [innerWidth]="40">
    <ng-container menu>
        <button type="button" class="btn btn-text-secondary me-2" (click)="reload()" title="i18n:backups.refreshTooltip" shortcut="CTRL + B">
            <i class="icon-reset"></i> {{ 'common.refresh' | sqxTranslate }}
        </button>

        <button type="button" class="btn btn-success" [disabled]="backupsState.maxBackupsReached | async" *ngIf="backupsState.canCreate | async" (click)="start()">
            {{ 'backups.start' | sqxTranslate }}
        </button>
    </ng-container>

    <ng-container>
        <sqx-list-view innerWidth="40rem" [isLoading]="backupsState.isLoading | async">
            <div class="alert alert-danger mb-4" *ngIf="backupsState.maxBackupsReached | async">
                {{ 'backups.maximumReached' | sqxTranslate }}
            </div>

            <ng-container *ngIf="(backupsState.isLoaded | async) && (backupsState.backups | async); let backups">
                <div class="table-items-row table-items-row-summary table-items-row-empty" *ngIf="backups.length === 0">
                    {{ 'backups.empty' | sqxTranslate }}
    
                    <button type="button" class="btn btn-success btn-sm me-2" (click)="start()">
                        {{ 'backups.start' | sqxTranslate }}
                    </button>
                </div>
    
                <sqx-backup *ngFor="let backup of backups; trackBy: trackByBackup" [backup]="backup">
                </sqx-backup>
            </ng-container>
        </sqx-list-view>
    </ng-container>

    <ng-container sidebarMenu>
        <div class="panel-nav">
            <a class="panel-link" routerLink="help" routerLinkActive="active" queryParamsHandling="preserve" title="i18n:common.help" titlePosition="left">
                <i class="icon-help2"></i>
            </a>
        </div>
    </ng-container>
</sqx-layout>

<router-outlet></router-outlet>
