@import '_vars';
@import '_mixins';

.sidebar {
    @include fixed($size-navbar-height, auto, 0, 0);
    @include box-shadow-colored(2px, 0, 0, $color-dark1-border2);
    min-width: $size-sidebar-width;
    max-width: $size-sidebar-width;
    border-right: 1px solid $color-dark1-border1;
    background: $color-dark1-background;
    z-index: 100;
}

.nav {
    &-icon {
        font-size: 2rem;
    }

    &-text {
        font-size: .9rem;
    }

    &-link {
        & {
            @include transition(color .3s ease);
            padding: 1.25rem;
            display: block;
            text-align: center;
            text-decoration: none;
            color: $color-dark1-foreground;
        }

        &:hover,
        &.active {
            color: $color-dark1-focus-foreground;

            .nav-icon {
                color: $color-theme-blue;
            }
        }

        &.active {
            background: $color-dark1-active-background;
        }
    }
}