<div class="sidebar">
    <ul class="nav nav-panel flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="event-consumers" routerLinkActive="active">
                <i class="nav-icon icon-time"></i> <div class="nav-text">Consumers</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="users" routerLinkActive="active">
                <i class="nav-icon icon-user-o"></i> <div class="nav-text">Users</div>
            </a>
        </li>
    </ul>
</div>

<div sqxPanelContainer class="panel-container">
    <router-outlet></router-outlet>
</div>