@import '_vars';
@import '_mixins';

.all-apps {
    & {
        position: relative;
    }

    &-text {
        font-weight: bold;
    }

    &-pill {
        @include absolute(6px, 10px, auto, auto);
        background: $theme-blue-lighter;
        border: 0;
        color: $theme-blue;
    }
}