@import '_vars';
@import '_mixins';

.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: $accent-dark;
        }
    }
}

.nav-link {
    @include truncate;
}

.drodown-button {
    padding: 3px 1.5rem;
}

.dropdown-menu {
    & {
        top: 44px;
    }

    &::before {
        @include absolute(-18px, auto, auto, 10px);
        border-color: transparent transparent $accent-dark;
        border-style: solid;
        border-width: 10px;
        content: '';
        height: 0;
        width: 0;
    }
}

#app-name {
    & {
        @include transition(opacity .4 ease);
        @include opacity(.95);
        @include no-selection;
        padding-right: 15px;
        cursor: pointer;
        color: $accent-dark;
        width: 200px;
    }

    &:hover {
        @include opacity(1);
    }

    &::after {
        @include absolute(50%, 0, auto, auto);
        color: $theme-blue-light;
    }
}