@import '_vars.scss';
@import '_mixins.scss';

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-link {
    @include truncate();
}

.drodown-button {
    padding: 3px 1.5rem;
}

.dropdown-menu {
    top: 44px;
}

.dropdown-menu:before {
    @include absolute(-18px, auto, auto, 10px);
    content: '';
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent white transparent;
    width: 0;
}

#app-name {
    & {
        padding-right: 15px;
        @include transition(opacity 0.4 ease);
        @include opacity(0.95);
        color: white;
        cursor: pointer;
        width: 200px;
    }

    &:hover {
        @include opacity(1);
    }

    &:after {
        @include absolute(50%, 0px, auto, auto);
        color: $accent-blue-light;
    }
}