<ul class="nav navbar-nav" *ngIf="apps">
    <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle" id="app-name" (click)="modalMenu.toggle()">{{app | async}}</span>

        <div class="dropdown-menu" [(sqxModalView)]="modalMenu" [@fade]="(modalMenu.isOpen | async)">
            <a class="dropdown-item all-apps" routerLink="/apps">
                <span class="all-apps-text">All Apps</span> 
                <span class="all-apps-pill tag tag-pill tag-default">{{(apps | async).length}}</span>
            </a>

            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item" *ngFor="let app of (apps | async)">{{app.name}}</a>

            <div class="dropdown-divider"></div>

            <div class="drodown-button">
                <button class="btn btn-block btn-success" id="app-create" (click)="createApp()"><i class="icon-plus"></i> Create New App</button>
            </div>
        </div>
    </li>
</ul>

<div class="modal ng-animate" [(sqxModalView)]="modalDialog" [@fade]="(modalDialog.isOpen | async)">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalDialog.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>

				<h4 class="modal-title">Create App</h4>
			</div>

			<div class="modal-body">
				<sqx-app-form 
                    (onCreated)="modalDialog.hide()"
                    (onCancelled)="modalDialog.hide()"></sqx-app-form>
			</div>
		</div>
	</div>
</div>