@import '_mixins';
@import '_vars';

$size-avatar: 2.2rem;

a {
    cursor: pointer;
}

img {
    @include border-radius($size-avatar * .5);
    height: $size-avatar;
    width: $size-avatar;
}

.navbar-nav {
    .nav-link {
        @include no-selection;
        padding: 0;
        cursor: pointer;
        color: $color-accent-dark;
        line-height: 2.2rem;
    }
}

.dropdown-menu {
    & {
        @include absolute(44px, 0, auto, auto);
    }

    &::before {
        @include absolute(-18px, 10px, auto, auto);
        border-color: transparent transparent $color-accent-dark;
        border-style: solid;
        border-width: 10px;
        content: '';
        height: 0;
        width: 0;
    }
}