@import '_mixins';
@import '_vars';

$size-avatar: 2.2rem;

.user {
    &-picture {
        @include circle(2.2rem);
    }
}

.navbar-nav {
    .nav-link {
        @include no-selection;
        padding: 0;
        cursor: pointer;
        color: $color-accent-dark;
        line-height: 2.2rem;
    }
}

.nav-link {
    &::after {
        color: $color-theme-blue-light;
    }
}

.dropdown {
    &-item {
        cursor: pointer;
    }

    &-menu {
        & {
            @include absolute(44px, 0, auto, auto);
        }

        &::before {
            @include absolute(-10px, 10px, auto, auto);
            @include caret-top;
            border-color: transparent transparent $color-accent-dark;
            border-width: 10px;
        }
    }
}