@import '_vars';
@import '_mixins';

.search-control {
    & {
        @include transition(background .4s ease);
        background: $color-theme-blue-dark;
        border-color: $color-theme-blue-dark;
        border-width: 1px;
        color: $color-accent-dark;
    }

    &:focus {
        background: darken($color-theme-blue-dark, 5%);
    }
}