<tr [class.expanded]="expanded" class="table-items-row">
    <td class="cell-label">
        <span class="badge rounded-pill badge-{{statusClass}}">{{status}}</span>
    </td>
    <td class="cell-40">
        <span class="truncate">{{event.eventName}}</span>
    </td>
    <td class="cell-40">
        <small class="truncate">{{event.skipReason}}</small>
    </td>
    <td class="cell-actions">
        <button type="button" class="btn btn-outline-secondary btn-expand" [class.expanded]="expanded" (click)="expandedChange.emit()">
            <i class="icon-settings"></i>
        </button>
    </td>
</tr>
<tr *ngIf="expanded">
    <td colspan="4" class="details">
        <div class="event-header">
            <h4>{{ 'common.details' | sqxTranslate }}</h4>
        </div>

        <div class="event-dump">
            <div class="history">
                <div class="history-start"></div>

                <div>    
                    <div class="history-transition">
                        {{ 'rules.simulation.eventQueried' | sqxTranslate }}
                    </div>

                    <div class="history-state" *ngIf="event.event">
                        <label>{{ 'common.event' | sqxTranslate }}</label>
                            
                        <sqx-code-editor [ngModel]="event.event" valueMode="Json" [disabled]="true" [wordWrap]="false" height="auto" [maxLines]="20"></sqx-code-editor>
                    </div>

                    <ng-container *ngIf="event.enrichedEvent; else error1">
                        <div class="history-transition">
                            {{ 'rules.simulation.eventEnriched' | sqxTranslate }}
                        </div>
        
                        <div class="history-state" *ngIf="event.enrichedEvent">
                            <label>{{ 'rules.enrichedEvent' | sqxTranslate }}</label>
                                
                            <sqx-code-editor [ngModel]="event.enrichedEvent" valueMode="Json" [disabled]="true" [wordWrap]="false" height="auto" [maxLines]="20"></sqx-code-editor>
                        </div>
        
                        <ng-container *ngIf="event.enrichedEvent; else error2">
                            <div class="history-transition">
                                {{ 'rules.simulation.conditionEvaluated' | sqxTranslate }}
                            </div>
                            
                            <div class="history-transition">
                                {{ 'rules.simulation.actionCreated' | sqxTranslate }}
                            </div>
            
                            <div class="history-state" *ngIf="event.actionData">
                                <label>{{ 'rules.actionData' | sqxTranslate }}</label>
                                    
                                <sqx-code-editor [ngModel]="data" [disabled]="true" [wordWrap]="true" height="auto" [maxLines]="20"></sqx-code-editor>
                            </div>
                            
                            <div class="history-transition">
                                {{ 'rules.simulation.actionExecuted' | sqxTranslate }}
                            </div>
                        </ng-container>
                        <ng-template #error2>
                            <div class="history-transition text-danger">
                                {{ errorText | sqxTranslate }}
                            </div>
                        </ng-template>
                    </ng-container>

                    <ng-template #error1>
                        <div class="history-transition text-danger">
                            {{ errorText | sqxTranslate }}
                        </div>
                    </ng-template>
                
                    <div class="history-state" *ngIf="event.error">
                        <label>{{ 'common.error' | sqxTranslate }}</label>
                        
                        <sqx-code-editor [ngModel]="event.error" [disabled]="true" [wordWrap]="true" height="auto" [maxLines]="20"></sqx-code-editor>
                    </div>
                </div>

                <div class="history-end"></div>
            </div>
        </div>
    </td>
</tr>
<tr class="spacer"></tr>