@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vsixlk');
  src:  url('fonts/icomoon.eot?vsixlk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vsixlk') format('truetype'),
    url('fonts/icomoon.woff?vsixlk') format('woff'),
    url('fonts/icomoon.svg?vsixlk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-media:before {
  content: "\e90e";
}
.icon-content:before {
  content: "\e925";
}
.icon-schemas:before {
  content: "\e92e";
}
.icon-settings:before {
  content: "\e994";
}
.icon-dashboard:before {
  content: "\e9a6";
}
.icon-plus:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e900";
}

