<div class="card card-lg">
    <div class="card-header">
        {{ 'dashboard.apiPerformanceCard' | sqxTranslate: { summary: chartSummary } }}

        <div class="float-right">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="stacked" [ngModel]="isStacked" (ngModelChange)="isStackedChange.emit($event)">

                <label class="custom-control-label" for="stacked">
                    {{ 'dashboard.stackedChart' | sqxTranslate }}
                </label>
            </div>
        </div>
    </div>
    <div class="card-body">
        <chart type="bar" [data]="chartData" [options]="chartOptions"></chart>
    </div>
</div>