<div class="card card-href">
    <div class="card-body">
        <div class="card-image">
            <img src="./images/dashboard-schema.svg" />
        </div>

        <ng-container *ngIf="app.canReadSchemas; else noPermission">
            <h4 class="card-title">
                <a [routerLink]="['schemas', { showDialog: true }]">New Schema</a>
            </h4>

            <div class="card-text">
                A schema defines the structure of your content element.
            </div>
        </ng-container>

        <ng-template #noPermission>
            <h4 class="card-title">
                <a [routerLink]="['schemas']">Schemas</a>
            </h4>

            <div class="card-text">
                Get an insight to the data model of this app.
            </div>
        </ng-template>
    </div>
</div>