<sqx-title message="i18n:common.administrationPageTitle"></sqx-title>

<div class="sidebar">
    <ul class="nav nav-panel flex-column">
        <li class="nav-item" *ngIf="uiState.canReadEvents | async">
            <a class="nav-link" routerLink="event-consumers" routerLinkActive="active">
                <i class="nav-icon icon-time"></i> <div class="nav-text">{{ 'common.consumers' | sqxTranslate }}</div>
            </a>
        </li>
        <li class="nav-item" *ngIf="uiState.canReadUsers | async">
            <a class="nav-link" routerLink="users" routerLinkActive="active">
                <i class="nav-icon icon-user-o"></i> <div class="nav-text">{{ 'common.users' | sqxTranslate }}</div>
            </a>
        </li>
        <li class="nav-item" *ngIf="uiState.canRestore | async">
            <a class="nav-link" routerLink="restore" routerLinkActive="active">
                <i class="nav-icon icon-backup"></i> <div class="nav-text">{{ 'common.restore' | sqxTranslate }}</div>
            </a>
        </li>
        <li class="nav-item" *ngIf="uiState.canUseOrleans | async">
            <a class="nav-link" routerLink="cluster" routerLinkActive="active">
                <i class="nav-icon icon-orleans"></i> <div class="nav-text">{{ 'common.cluster' | sqxTranslate }}</div>
            </a>
        </li>
    </ul>
</div>

<div sqxLayoutContainer class="panel-container">
    <router-outlet></router-outlet>
</div>