
<div [formGroup]="editForm">
    <div class="form-group row">
        <div class="col-9 offset-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="{{field.fieldId}}_fieldResolveFirst" formControlName="resolveFirst" />
                <label class="form-check-label" for="{{field.fieldId}}_fieldResolveFirst">
                    Resolve first asset
                </label>
            </div>

            <sqx-form-hint>
                Show the first referenced asset in the content list.
            </sqx-form-hint>
        </div>
    </div>
</div>