<div [formGroup]="fieldForm">
    <div class="form-group row">
        <div class="col-9 offset-3">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="{{field.fieldId}}_fieldDefaultValue" formControlName="defaultValue" sqxIndeterminateValue>
                <label class="custom-control-label" for="{{field.fieldId}}_fieldDefaultValue">
                    {{ 'schemas.field.defaultValue' | sqxTranslate }}
                </label>
            </div>
        </div>
    </div>
</div>