<div [formGroup]="fieldForm">
    <div class="form-group row">
        <label class="col-3 col-form-label">{{ 'schemas.field.editor' | sqxTranslate }}</label>

        <div class="col-9">
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === 'Map'">
                <input type="radio" class="radio-input" name="editor" formControlName="editor" value="Map">

                <i class="icon-control-Map"></i>

                <span class="radio-label">Map</span>
            </label>
        </div>
    </div>
</div>