.minmax {
    text-align: center;
    text-decoration: none;
    width: 2rem;
}

.control-dropdown {
    & {
        max-width: 285px;
        min-height: 0;
        min-width: 200px;
    }

    h4 {
        padding: .5rem 0 0 .5rem;
    }

    &-item {
        & {
            font-size: .85rem;
        }

        &:hover {
            .text-muted {
                color: $color-dark-foreground !important;
            }
        }
    }
}

.truncate {
    @include truncate;
}