<div [formGroup]="fieldForm">
    <div class="form-group row">
        <label class="col-3 col-form-label" for="{{field.fieldId}}_fieldPlaceholder">{{ 'schemas.field.placeholder' | sqxTranslate }}</label>

        <div class="col-9">
            <input type="text" class="form-control" id="{{field.fieldId}}_fieldPlaceholder" maxlength="100" formControlName="placeholder">

            <sqx-form-hint>
                {{ 'schemas.field.placeholderHint' | sqxTranslate }}
            </sqx-form-hint>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-3 col-form-label">{{ 'schemas.field.editor' | sqxTranslate }}</label>

        <div class="col-9">
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === 'Input'">
                <input type="radio" class="radio-input" name="editor" formControlName="editor" value="Input">

                <i class="icon-control-Input"></i>

                <span class="radio-label">Input</span>
            </label>
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === 'Slug'">
                <input type="radio" class="radio-input" name="editor" formControlName="editor" value="Slug">

                <i class="icon-control-Slug"></i>

                <span class="radio-label">Slug</span>
            </label>
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === 'TextArea'">
                <input type="radio" class="radio-input" name="editor" formControlName="editor" value="TextArea">

                <i class="icon-control-TextArea"></i>

                <span class="radio-label">TextArea</span>
            </label>
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === 'RichText'">
                <input type="radio" class="radio-input" name="editor" formControlName="editor" value="RichText">

                <i class="icon-control-RichText"></i>

                <span class="radio-label">RichText</span>
            </label>
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === 'Markdown'">
                <input type="radio" class="radio-input" name="editor" formControlName="editor" value="Markdown">

                <i class="icon-control-Markdown"></i>

                <span class="radio-label">Markdown</span>
            </label>
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === 'Dropdown'">
                <input type="radio" class="radio-input" name="editor" formControlName="editor" value="Dropdown">

                <i class="icon-control-Dropdown"></i>

                <span class="radio-label" clas>Dropdown</span>
            </label>
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === 'Radio'">
                <input type="radio" class="radio-input" name="editor" formControlName="editor" value="Radio">

                <i class="icon-control-Radio"></i>

                <span class="radio-label">Radio</span>
            </label>
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === 'Color'">
                <input type="radio" class="radio-input" name="editor" formControlName="editor" value="Color">

                <i class="icon-control-Color"></i>

                <span class="radio-label">Color</span>
            </label>
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === 'Html'">
                <input type="radio" class="radio-input" name="editor" formControlName="editor" value="Html">

                <i class="icon-control-Html"></i>

                <span class="radio-label">HTML</span>
            </label>
            <label class="btn btn-radio" [class.active]="fieldForm.controls['editor'].value === 'StockPhoto'">
                <input type="radio" class="radio-input" name="editor" formControlName="editor" value="StockPhoto">

                <i class="icon-media"></i>

                <span class="radio-label">StockPhoto</span>
            </label>
        </div>
    </div>

    <div class="form-group row" [class.hidden]="hideAllowedValues | async">
        <label class="col-3 col-form-label">{{ 'schemas.field.allowedValues' | sqxTranslate }}</label>

        <div class="col-9">
            <sqx-tag-editor formControlName="allowedValues"></sqx-tag-editor>
        </div>
    </div>

    <div class="form-group row" [class.hidden]="hideInlineEditable | async">
        <div class="col-9 offset-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="{{field.fieldId}}_fieldInlineEditable" formControlName="inlineEditable">
                <label class="form-check-label" for="{{field.fieldId}}_fieldInlineEditable">
                    {{ 'schemas.field.inlineEditable' | sqxTranslate }}
                </label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-3 col-form-label" for="{{field.fieldId}}_folderId">{{ 'schemas.fieldTypes.string.folderId' | sqxTranslate }}</label>

        <div class="col-9">
            <sqx-asset-folder-dropdown formControlName="folderId"></sqx-asset-folder-dropdown>

            <sqx-form-hint>
                {{ 'schemas.fieldTypes.string.folderIdHint' | sqxTranslate }}
            </sqx-form-hint>
        </div>
    </div>
</div>