<div [formGroup]="fieldForm">
    <div class="form-group row">
        <label class="col-3 col-form-label">Items</label>

        <div class="col-3 minmax-col">
            <input type="number" class="form-control" formControlName="minItems" placeholder="Min Items" />
            
            <label class="col-form-label minmax-label">-</label>
        </div>
        <div class="col-3">
            <input type="number" class="form-control" formControlName="maxItems" placeholder="Max Items" />
        </div>
    </div>
</div>