<div class="table-items-row table-items-row-expandable workflow">
    <div class="table-items-row-summary row g-0 align-items-center">
        <div class="col col-name">
            <span class="workflow-name">{{ workflow.displayName }}</span>
        </div>
        <div class="col col-tags">
            <sqx-tag-editor
                [itemConverter]="(schemasSource.normalConverter | async)!"
                [ngModel]="workflow.schemaIds"
                readonly="true"
                styleBlank="true"
                styleScrollable="true"></sqx-tag-editor>
        </div>
        <div class="col-options">
            <div class="float-end">
                <button
                    class="btn btn-outline-secondary btn-expand me-1"
                    [class.expanded]="isEditing"
                    (click)="toggleEditing()"
                    type="button">
                    <span class="hidden">{{ "common.settings" | sqxTranslate }}</span>
                    <i class="icon-settings"></i>
                </button>

                <button
                    class="btn btn-text-danger"
                    confirmRememberKey="deleteWorkflow"
                    confirmText="i18n:workflows.deleteConfirmText"
                    confirmTitle="i18n:workflows.deleteConfirmTitle"
                    [disabled]="!workflow.canDelete"
                    (sqxConfirmClick)="remove()"
                    type="button">
                    <i class="icon-bin2"></i>
                </button>
            </div>
        </div>
    </div>

    @if (isEditing) {
        <div class="table-items-row-details">
            <div class="table-items-row-details-tabs clearfix">
                <ul class="nav nav-tabs2">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="selectedTab === 0" (click)="selectTab(0)">
                            {{ "workflows.tabEdit" | sqxTranslate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="selectedTab === 1" (click)="selectTab(1)">
                            {{ "workflows.tabVisualize" | sqxTranslate }}
                        </a>
                    </li>
                </ul>
                <div class="float-end">
                    <button class="btn btn-text-secondary" (click)="toggleEditing()" type="button">
                        {{ "common.cancel" | sqxTranslate }}
                    </button>
                    @if (isEditable) {
                        <button class="btn btn-primary ms-1" (click)="save()" type="submit">
                            {{ "common.save" | sqxTranslate }}
                        </button>
                    }
                </div>
            </div>
            <div class="table-items-row-details-tab">
                @if (selectedTab === 0) {
                    <sqx-form-error [error]="error"></sqx-form-error>
                    <div class="form-group row">
                        <label class="col-form-label" for="{{ workflow.id }}_name">{{ "common.name" | sqxTranslate }}</label>
                        <div class="col">
                            <input
                                class="form-control"
                                id="{{ workflow.id }}_name"
                                [disabled]="!isEditable"
                                [ngModel]="workflow.name"
                                (ngModelChange)="rename($event)"
                                [ngModelOptions]="onBlur" />
                            <sqx-form-hint>
                                {{ "workflows.workflowNameHint" | sqxTranslate }}
                            </sqx-form-hint>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label" for="{{ workflow.id }}_schemas">{{ "common.schemas" | sqxTranslate }}</label>
                        <div class="col">
                            <sqx-tag-editor
                                [disabled]="!isEditable"
                                [itemConverter]="(schemasSource.converter | async)!"
                                [itemsSource]="(schemasSource.normalConverter | async)?.suggestions"
                                [ngModel]="workflow.schemaIds"
                                (ngModelChange)="changeSchemaIds($event)"
                                placeholder="{{ 'common.tagAddSchema' | sqxTranslate }}"></sqx-tag-editor>
                            <sqx-form-hint>
                                {{ "workflows.schemasHint" | sqxTranslate }}
                            </sqx-form-hint>
                        </div>
                    </div>
                    @for (step of workflow.steps; track step.name) {
                        <sqx-workflow-step
                            [disabled]="!workflow.canUpdate"
                            (makeInitial)="setInitial(step)"
                            (remove)="removeStep(step)"
                            (rename)="renameStep(step, $event)"
                            [roles]="roles"
                            [step]="step"
                            (transitionAdd)="addTransiton(step, $event)"
                            (transitionRemove)="removeTransition(step, $event)"
                            (transitionUpdate)="updateTransition($event)"
                            (update)="updateStep(step, $event)"
                            [workflow]="workflow"></sqx-workflow-step>
                    }
                    @if (workflow.canUpdate) {
                        <button class="btn btn-success" (click)="addStep()">
                            {{ "workflows.addStep" | sqxTranslate }}
                        </button>
                    }
                } @else {
                    <sqx-workflow-diagram [workflow]="workflow"></sqx-workflow-diagram>
                }
            </div>
        </div>
    }
</div>
