<div class="nav nav-light flex-column">
    <div class="nav-item">
        <a class="nav-link" (click)="reset.emit()" [class.active]="isEmpty()">
            {{ 'common.tagsAll' | sqxTranslate }}
        </a>
    </div>

    <div class="nav-item" *ngFor="let tag of tags; trackBy: trackByTag">
        <a class="nav-link" (click)="toggle.emit(tag.name)" [class.active]="isSelected(tag)">
            <div class="row g-0">
                <div class="col">
                    <span class="truncate">{{tag.name}}</span>
                </div>
                <div class="col-auto">
                    <div class="badge badge-secondary rounded-pill">{{tag.count}}</div>
                </div>
            </div>
        </a>
    </div>
</div>