.search ::ng-deep {
    .form-control {
        @include border-radius-right;
    }

    .tags {
        @include border-radius-left;
        border-right: 0;

        &:focus,
        &.focus {
            z-index: 1000;
        }
    }
}