<a class="sidebar-item" (click)="reset.emit()" [class.active]="isEmpty()">
    <div class="row">
        <div class="col">
            {{ 'common.tagsAll' | sqxTranslate }}
        </div>
    </div>
</a>

<a class="sidebar-item" *ngFor="let tag of tags; trackBy: trackByTag" (click)="toggle.emit(tag.name)" [class.active]="isSelected(tag)">
    <div class="row">
        <div class="col">
            {{tag.name}}
        </div>
        <div class="col-auto">
            {{tag.count}}
        </div>
    </div>
</a>