<sqx-panel desiredWidth="20rem" [isBlank]="true" [isLazyLoaded]="false">
    <ng-container title>
        {{ 'common.filters' | sqxTranslate }}
    </ng-container>

    <ng-container content>
        <h3>{{ 'common.tags' | sqxTranslate }}</h3>

        <sqx-asset-tags (reset)="resetTags()"
            [tags]="(assetsState.tags | async)!"
            [tagsSelected]="(assetsState.tagsSelected | async)!"
            (toggle)="toggleTag($event)">
        </sqx-asset-tags>

        <hr>

        <sqx-shared-queries
            [types]="'common.assets' | sqxTranslate"
            [queryUsed]="assetsState.query | async"
            [queries]="assetsQueries"
            (search)="search($event)">
        </sqx-shared-queries>
    </ng-container>
</sqx-panel>