<tr>
    <td class="cell-user">
        <img class="user-picture" title="{{contributor.contributorName}}" [src]="contributor.contributorId | sqxUserPicture">
    </td>
    <td class="cell-auto">
        <span class="user-name table-cell" [innerHTML]="contributor.contributorName | sqxHighlight:search"></span>
    </td>
    <td class="cell-time">
        <select class="form-select" [ngModel]="contributor.role" (ngModelChange)="changeRole($event)" [disabled]="!contributor.canUpdate">
            <option *ngFor="let role of roles" [ngValue]="role.name">{{role.name}}</option>
        </select>
    </td>
    <td class="cell-actions">
        <button type="button" class="btn btn-text-danger" [disabled]="!contributor.canRevoke"
            (sqxConfirmClick)="remove()"
            confirmTitle="i18n:contributors.deleteConfirmTitle"
            confirmText="i18n:contributors.deleteConfirmText"
            confirmRememberKey="removeContributor">
            <i class="icon-bin2"></i>
        </button>
    </td>
</tr>
<tr class="spacer"></tr>