@import '_vars';
@import '_mixins';

.autocomplete-user {
    & {
        @include truncate;
    }

    &-name {
        margin-left: .25rem;
    }
}

.table-items-header {
    border-bottom-width: 2px;
    border-width: 0;
    margin: 0;
}