<div class="table-items-header">
    <form [formGroup]="assignContributorForm.form" (ngSubmit)="assignContributor()">
        <div class="row no-gutters">
            <div class="col">
                <sqx-autocomplete [source]="usersDataSource" formControlName="user" inputName="contributor" placeholder="{{ 'contributors.emailPlaceholder' | sqxTranslate }}" displayProperty="displayName">
                    <ng-template let-user="$implicit">
                        <span class="autocomplete-user">
                            <img class="user-picture" [src]="user | sqxUserDtoPicture">

                            <span class="user-name">{{user.displayName}}</span>
                        </span>
                    </ng-template>
                </sqx-autocomplete>
            </div>
            <div class="col-3 pl-1">
                <select class="custom-select" formControlName="role">
                    <option *ngFor="let role of roles" [ngValue]="role.name">{{role.name}}</option>
                </select>
            </div>
            <div class="col-auto pl-1">
                <button type="submit" class="btn btn-success" [disabled]="assignContributorForm.hasNoUser | async">
                    {{ 'contributors.add' | sqxTranslate }}
                </button>
            </div>
        </div>
    </form>
</div>