@import '_vars';
@import '_mixins';

.autocomplete-user {
    & {
        @include truncate;
    }

    &-name {
        margin-left: .25rem;
    }
}

.table-items-header {
    border: 0;
    border-bottom: 2px solid $color-border;
    margin: 0;
}