<div class="table-items-row field"> 
    <div class="field-summary">
        <div class="row">
            <div class="col-xs-6">
                <span class="field-name">
                    <i class="field-icon icon-type-{{field.properties.fieldType}}"></i> 

                    <span [class.field-hidden]="field.isHidden" [attr.title]="field.isHidden ? 'Hidden Field' : 'Visible Field'">{{displayName}}</span>
                    <span class="field-hints">{{field.properties.hints}}</span>
                </span>
            </div>
            <div class="col-xs-3">
                <div class="float-xs-right">
                    <span class="tag tag-success" *ngIf="!field.isDisabled">Enabled</span>
                    <span class="tag tag-danger" *ngIf="field.isDisabled">Disabled</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="float-xs-right">
                    <button type="button" class="btn btn-secondary field-edit-button" [class.active]="isEditing" (click)="toggleEditing()">
                        <i class="icon-settings"></i>
                    </button>

                    <div class="dropdown dropdown-options">
                        <button type="button" class="btn btn-simple" (click)="dropdown.toggle()" [class.active]="dropdown.isOpen | async">
                            <i class="icon-dots"></i>
                        </button>
                        <div class="dropdown-menu" *sqxModalView="dropdown" closeAlways="true" [@fade]>
                            <a class="dropdown-item" (click)="enabled.emit()" *ngIf="field.isDisabled">
                                Enable
                            </a>
                            <a class="dropdown-item" (click)="disabled.emit()" *ngIf="!field.isDisabled">
                                Disable
                            </a>
                            <a class="dropdown-item" (click)="hidden.emit()" *ngIf="!field.isHidden">
                                Hide
                            </a>
                            <a class="dropdown-item" (click)="shown.emit()" *ngIf="field.isHidden">
                                Show
                            </a>
                            <a class="dropdown-item" (click)="deleted.emit()">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field-details" *ngIf="isEditing">
        <form [formGroup]="editForm" (ngSubmit)="save()">
            <div class="field-details-tabs clearfix">
                <ul class="nav nav-inline nav-field-tabs">
                    <li class="nav-item">
                        <a class="nav-link" (click)="selectTab(0)" [class.active]="selectedTab === 0">Common</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="selectTab(1)" [class.active]="selectedTab === 1">Validation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="selectTab(2)" [class.active]="selectedTab === 2">Editing</a>
                    </li>
                </ul>

                <div class="float-xs-right">
                    <button type="reset" class="btn btn-link" (click)="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

            <div class="field-details-tab" [class.hidden]="selectedTab !== 0">
                <div class="form-group row">
                    <label for="field-label" class="col-xs-3 col-form-label">Name</label>

                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="field-label" readonly [ngModel]="field.name" [ngModelOptions]="{standalone: true}" />
                        
                        <span class="form-hint">
                            The name of the field in the API response.
                        </span>
                    </div>                        
                </div>

                <div class="form-group row">
                    <label for="field-label" class="col-xs-3 col-form-label">Label</label>

                    <div class="col-xs-6">
                        <sqx-control-errors for="label" [submitted]="editFormSubmitted"></sqx-control-errors>

                        <input type="text" class="form-control" id="field-label" maxlength="100" formControlName="label" />

                        <span class="form-hint">
                            Define the display name for the field for documentation and user interfaces.
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="field-hints" class="col-xs-3 col-form-label">Hints</label>

                    <div class="col-xs-6">
                        <sqx-control-errors for="hints" [submitted]="editFormSubmitted"></sqx-control-errors>

                        <input type="text" class="form-control" id="field-hints" maxlength="100" formControlName="hints" />

                        <span class="form-hint">
                            Define some hints for the user and editor for the field for documentation and user interfaces.
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="form-check offset-xs-3 col-xs-6">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" formControlName="isListField"> List Field
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="form-check offset-xs-3 col-xs-6">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" formControlName="isLocalizable"> Localizable
                        </label>
                    </div>
                </div>
            </div>

            <div class="field-details-tab" [class.hidden]="selectedTab !== 1">
                <div [ngSwitch]="field.properties.fieldType">
                    <div *ngSwitchCase="'number'">
                        <sqx-number-validation [editForm]="editForm" [properties]="field.properties"></sqx-number-validation>
                    </div>
                    <div *ngSwitchCase="'string'">
                        <sqx-string-validation [editForm]="editForm" [properties]="field.properties"></sqx-string-validation>
                    </div>
                    <div *ngSwitchCase="'boolean'">
                        <sqx-boolean-validation [editForm]="editForm" [properties]="field.properties"></sqx-boolean-validation>
                    </div>
                </div>
            </div>

            <div class="field-details-tab" [class.hidden]="selectedTab !== 2">
                <div [ngSwitch]="field.properties.fieldType">
                    <div *ngSwitchCase="'number'">
                        <sqx-number-ui [editForm]="editForm" [properties]="field.properties"></sqx-number-ui>
                    </div>
                    <div *ngSwitchCase="'string'">
                        <sqx-string-ui [editForm]="editForm" [properties]="field.properties"></sqx-string-ui>
                    </div>
                    <div *ngSwitchCase="'boolean'">
                        <sqx-boolean-ui [editForm]="editForm" [properties]="field.properties"></sqx-boolean-ui>
                    </div>
                </div>
            </div>
        </form> 
    </div>
</div>