@import '_vars';
@import '_mixins';

.panel {
    min-width: 48rem;
    max-width: 48rem;
}

.panel-content {
    overflow-y: scroll;
}

.btn-publishing {
    &.disabled,
    &:disabled {
        @include opacity(1);
    }
}

.schema {
    &-edit {
        color: $color-border-dark;
        font-size: .9rem;
        font-weight: normal;
        padding: .6rem .3rem;
        border: 0;
        background: transparent;
        vertical-align: baseline;
    }
}