@import '_vars';
@import '_mixins';

.btn-publishing {
    &.disabled,
    &:disabled {
        @include opacity(1);
    }
}

.btn-group-sm {
    margin-top: .25rem;
}

.btn-sm {
    margin-top: .25rem;
}

.btn-export {
    margin-right: 1rem;
}

.schema {
    &-edit {
        color: $color-border-dark;
        font-size: .9rem;
        font-weight: normal;
        padding: .6rem .3rem;
        border: 0;
        background: transparent;
        vertical-align: baseline;
    }
}

.field-icon {
    color: $color-border-dark;
}

.form-check {
    margin-top: .4rem;
    margin-bottom: -.2rem;
}

.dnd-sortable-drag {
    border: 0;
}