<sqx-title message="{app} | {schema}" parameter1="app" value1="{{appName() | async}}" parameter2="schema" value2="{{schemaName}}"></sqx-title>

<div class="panel panel-light">
    <div class="panel-header">
        <div>
            <div class="float-xs-right">
                <div class="btn-group btn-group-sm" data-toggle="buttons">
                    <button type="button" class="btn btn-publishing btn-default" [class.btn-success]="isPublished" [disabled]="isPublished" (click)="publish()">
                        Published
                    </button>
                    <button type="button" class="btn btn-publishing btn-default" [class.btn-danger]="!isPublished" [disabled]="!isPublished" (click)="unpublish()">
                        Unpublished
                    </button>
                </div>
            </div>

            <h3 class="panel-title">
                {{schemaProperties|displayName}} <i class="schema-edit icon-pencil" (click)="editSchemaDialog.show()"></i>
            </h3> 
                        
            <a class="panel-close" routerLink="../">
                <i class="icon-close"></i>
            </a>
        </div>
    </div>

    <div class="panel-main">
        <div class="panel-content">
            <div *ngFor="let field of schemaFields">
                <sqx-field [field]="field"
                    (disabled)="disableField(field)"
                    (deleted)="deleteField(field)"
                    (enabled)="enableField(field)"
                    (hidden)="hideField(field)"
                    (saved)="saveField(field, $event)"
                    (shown)="showField(field)"></sqx-field>
            </div>
            
            <div class="table-items-footer">
                <form class="form-inline" [formGroup]="addFieldForm" (ngSubmit)="addField()">
                    <div class="form-group">
                        <select class="form-control" formControlName="type">
                            <option *ngFor="let type of fieldTypes">{{type}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="errors-box" *ngIf="addFieldForm.controls.name.invalid && addFieldForm.controls.name.dirty">
                            <div class="errors">
                                <span *ngIf="addFieldForm.controls.name.hasError('required')">
                                    Name is required.
                                </span>
                                <span *ngIf="addFieldForm.controls.name.hasError('maxlength')">
                                    Name can not have more than 40 characters.
                                </span>
                                <span *ngIf="addFieldForm.controls.name.hasError('pattern')">
                                    Name can contain lower case letters (a-z), numbers and dashes (not at the end).
                                </span>
                            </div>
                        </div>

                        <input type="text" class="form-control" formControlName="name" maxlength="40" placeholder="Enter field name" />
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="addFieldForm.invalid">Add Field</button>
                </form>
            </div>
        </div>
        <div class="panel-sidebar">
            <div class="nav nav-pills nav-stacked nav-light">
                <li class="nav-item">
                    <a class="nav-link" routerLink="history" routerLinkActive="active">
                        <i class="icon-time"></i>
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>

<div class="modal" *sqxModalView="editSchemaDialog" [@fade]>
    <div class="modal-backdrop"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="editSchemaDialog.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title">Edit Schema</h4>
            </div>

            <div class="modal-body">
                <sqx-schema-edit-form
                    [appName]="appName() | async"
                    [schema]="schemaProperties"
                    (saved)="onSchemaSaved($event)"
                    (cancelled)="editSchemaDialog.hide()"></sqx-schema-edit-form>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>