<sqx-title message="{app} | {schema}" parameter1="app" value1="{{appName() | async}}" parameter2="schema" value2="{{schema.name}}"></sqx-title>

<sqx-panel panelWidth="48rem">
    <div class="panel-header">
        <div class="panel-title-row">
            <div class="float-right">
                <button type="button" class="btn btn-link btn-sm btn-export" (click)="exportSchemaDialog.show()">
                    JSON
                </button>

                <div class="btn-group btn-group-sm" data-toggle="buttons">
                    <button type="button" class="btn btn-publishing btn-secondary" [class.btn-success]="schema.isPublished" [disabled]="schema.isPublished" (click)="publish()">
                        Published
                    </button>
                    <button type="button" class="btn btn-publishing btn-secondary" [class.btn-danger]="!schema.isPublished" [disabled]="!schema.isPublished" (click)="unpublish()">
                        Unpublished
                    </button>
                </div>

               <div class="dropdown dropdown-options">
                    <button type="button" class="btn btn-link btn-decent btn-sm" (click)="editOptionsDropdown.toggle()" [class.active]="editOptionsDropdown.isOpen | async" #optionsButton>
                        <i class="icon-dots"></i>
                    </button>
                    <div class="dropdown-menu" *sqxModalView="editOptionsDropdown" closeAlways="true" [sqxModalTarget]="optionsButton" position="right" [@fade]>
                        <a class="dropdown-item dropdown-item-delete" (click)="confirmDeleteDialog.show()">
                            Delete
                        </a>
                    </div>
                </div>
            </div>

            <h3 class="panel-title">
                {{schema | sqxDisplayName:'properties.label':'name'}} <i class="schema-edit icon-pencil" (click)="editSchemaDialog.show()"></i>
            </h3>
        </div>

        <a class="panel-close" sqxParentLink>
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content panel-content-scroll" dnd-sortable-container [sortableData]="schema.fields">
            <div *ngFor="let field of schema.fields; let i = index" dnd-sortable [sortableIndex]="i" (sqxSorted)="sortFields($event)">
                <sqx-field [field]="field" [schemas]="schemas"
                    (disabling)="disableField(field)"
                    (deleting)="deleteField(field)"
                    (enabling)="enableField(field)"
                    (showing)="showField(field)"
                    (hiding)="hideField(field)"
                    (saving)="saveField($event)"></sqx-field>
            </div>
            
            <div class="table-items-footer">
                <form [formGroup]="addFieldForm" (ngSubmit)="addField()">
                    <div class="form-inline">
                        <div class="form-group types-group mr-1">
                            <sqx-dropdown formControlName="type" [items]="fieldTypes">
                                <ng-template let-type="$implicit">
                                    <i class="field-icon icon-type-{{type}}"></i> <span>{{type}}</span>
                                </ng-template>
                            </sqx-dropdown>
                        </div>

                        <div class="form-group mr-1">
                            <sqx-control-errors for="name" [submitted]="addFieldFormSubmitted"></sqx-control-errors>

                            <input type="text" class="form-control" formControlName="name" maxlength="40" placeholder="Enter field name" />
                        </div>

                        <button type="submit" class="btn btn-success" [disabled]="!hasName">Add Field</button>
                        <button type="button" class="btn btn-link" (click)="cancelAddField()">Cancel</button>
                    </div>

                    <div>
                        <div class="form-check">
                            <label class="form-check-label pull-left">
                                <input class="form-check-input" type="checkbox" formControlName="isLocalizable"> Localizable
                            </label>
                        </div>

                        <small class="form-text text-muted">
                            You can the field as localizable. It means that is dependent on the language, e.g. a city name.
                        </small>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-sidebar">
            <a class="panel-link" routerLink="history" routerLinkActive="active">
                <i class="icon-time"></i>
            </a>
            <a class="panel-link" routerLink="help" routerLinkActive="active">
                <i class="icon-help"></i>
            </a>
        </div>
    </div>
</sqx-panel>

<div class="modal" *sqxModalView="confirmDeleteDialog;onRoot:true" [@fade]>
    <div class="modal-backdrop"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete schema</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="confirmDeleteDialog.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                Do you really want to delete the schema?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteSchema()">Yes</button>
                <button type="button" class="btn btn-secondary" (click)="confirmDeleteDialog.hide()">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" *sqxModalView="editSchemaDialog;onRoot:true" [@fade]>
    <div class="modal-backdrop"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Schema</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="editSchemaDialog.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <sqx-schema-edit-form [appName]="appName() | async" [name]="schema.name" [properties]="schema.properties" [version]="schema.version" (saved)="onSchemaSaved($event)" (cancelled)="editSchemaDialog.hide()"></sqx-schema-edit-form>
            </div>
        </div>
    </div>
</div>

<div class="modal" *sqxModalView="exportSchemaDialog;onRoot:true" [@fade]>
    <div class="modal-backdrop"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Export Schema</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="exportSchemaDialog.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <sqx-json-editor disabled [ngModel]="schemaExport"></sqx-json-editor>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>