<form [formGroup]="editForm" (ngSubmit)="saveSchema()">
	<div class="form-group">
		<label for="schemaName">Name</label>

		<input type="text" class="form-control" id="schemaName" [attr.value]="name" readonly />
	</div>

    <div class="form-group">
		<label for="schemaLabel">Label</label>
        
        <sqx-control-errors for="label" [submitted]="editFormSubmitted"></sqx-control-errors>

		<input type="text" class="form-control" id="schemaLabel" formControlName="label" />
	</div>

    <div class="form-group">
		<label for="schemaHints">Hints</label>
        
        <sqx-control-errors for="hints" [submitted]="editFormSubmitted"></sqx-control-errors>

        <textarea type="text" class="form-control" id="schemaHints" formControlName="hints" rows="4"></textarea>
	</div>

    <div class="form-group clearfix">
        <button type="reset" class="float-left btn btn-secondary" (click)="cancel()" [disabled]="editFormSubmitted">Cancel</button>
        <button type="submit" class="float-right btn btn-primary">Save</button>
    </div>
</form>