<form [formGroup]="editForm.form" (ngSubmit)="saveSchema()">
    <sqx-modal-dialog (closed)="complete()" large="true">
        <ng-container title>
            Scripts
        </ng-container>

        <ng-container tabs>
            <ul class="nav nav-tabs2">
                <li class="nav-item" *ngFor="let script of editForm.form.controls | sqxKeys">
                    <a class="nav-link" [class.active]="selectedField === script" (click)="selectField(script)">{{script.substr(6)}}</a>
                </li>
            </ul>
        </ng-container>

        <ng-container content>
            <div class="form-group">
                <div *ngFor="let script of editForm.form.controls | sqxKeys">
                    <ng-container *ngIf="selectedField === script">
                        <sqx-jscript-editor name="script" [formControlName]="script"></sqx-jscript-editor>
                    </ng-container>
                </div>
            </div>
        </ng-container>

        <ng-container footer>
            <button type="reset" class="float-left btn btn-secondary" (click)="complete()" [disabled]="editForm.submitted | async">Cancel</button>
            <button type="submit" class="float-right btn btn-primary">Save</button>
        </ng-container>
    </sqx-modal-dialog>
</form>
