@import 'mixins';
@import 'vars';

.btn-status {
    margin-left: 2rem;
}

.btn-outline-secondary {
    color: $color-text;
}

.btn-more {
    @include absolute(null, null, -.6125rem, 0);
    @include force-width(1.25rem);
    @include force-height(1.25rem);
    background-color: $color-white;
    line-height: 1;
    padding: 0;
    text-align: center;
    text-decoration: none;
    z-index: 600;
}

.nav-tabs2 {
    @include absolute(auto, auto, 0, 5rem);
    flex-wrap: nowrap;

    a {
        padding-bottom: 1.75rem;
    }
}

.menu {
    @include absolute(0, 0, 0);
    align-items: center;
    background: white;
    border-radius: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: $panel-padding;
}