@import '_vars';
@import '_mixins';

.dashboard {
    & {
        @include absolute(0, 0, 0, 0);
        overflow-y: auto;
    }

    &-title {
        font-weight: light;
        font-size: 1.4rem;
    }

    &-inner {
        padding: 2rem;
        padding-right: 1rem;
        max-width: 75rem;
    }
}

:host /deep/ canvas {
    height: 13rem !important;
}

.subtext {
    margin-top: .5rem;
    margin-bottom: .8rem;
    color: $color-text-decent;
}

.card {
    & {
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 16rem;
        float: left;
    }

    &-lg {
        width: 33rem;
    }

    &-block {
        min-height: 15.5rem;
    }

    &-image {
        text-align: center;
    }

    &-text {
        color: $color-text-decent;
        font-weight: normal;
        font-size: .9rem;
    }

    &-more {
        color: $color-text-decent;
        font-weight: normal;
        font-size: .8rem;
        margin-top: .4rem;
    }

    &-title {
        color: $color-title;
        font-weight: light;
        font-size: 1.2rem;
        margin-top: .4rem;
    }

    &-href {
        & {
            cursor: pointer;
        }

        &:hover {
            @include box-shadow(0, 3px, 16px, .2px);
        }

        &:focus {
            outline: none;
        }

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
}

.aggregation {
    & {
        text-align: center;
    }

    &-label {
        color: $color-text-decent;
    }

    &-value {
        font-size: 3rem;
        margin-top: 2rem;
        margin-bottom: .5rem;
    }
}

.app-name {
    color: $color-title;
}