<span>
    <input type="text" class="form-control" (blur)="blur()" [attr.name]="inputName" (keydown)="onKeyDown($event)" [attr.placeholder]="placeholder" #input
        [formControl]="queryInput"
        autocomplete="off" 
        autocorrect="off"
        autocapitalize="off">

    <ng-container *sqxModal="snapshot.suggestedItems.length > 0" position="bottom-left">
        <div class="control-dropdown" [sqxAnchoredTo]="input" #container>
            <div *ngFor="let item of snapshot.suggestedItems; let i = index" class="control-dropdown-item control-dropdown-item-selectable"
                [class.active]="i === snapshot.suggestedIndex"
                [container]="container"
                (mousedown)="selectItem(item)"
                (mouseover)="selectIndex(i)"
                [sqxScrollActive]="i === snapshot.suggestedIndex">

                <ng-container *ngIf="!itemTemplate">{{item}}</ng-container>

                <ng-template *ngIf="itemTemplate" [sqxTemplateWrapper]="itemTemplate" [item]="item" [index]="i"></ng-template>
            </div>
        </div>
    </ng-container>
</span>