@import '_mixins';
@import '_vars';

$color-input-disabled: #eef1f4;

.form-control {
    & {
        width: 100%;
    }

    &[readonly] {
        background: $color-input-background;
    }

    &:disabled {
        background: $color-input-disabled;
    }
}

.selection {
    & {
        position: relative;
        overflow: hidden;
    }

    .control-dropdown-item {
        @include absolute(0, 1rem, 0, 0);
        pointer-events: none;
        position: absolute;
        line-height: 1.2rem;
    }

    .icon-caret-down {
        @include absolute(30%, .4rem, auto, auto);
        font-size: .9rem;
        font-weight: normal;
        pointer-events: none;
    }

    .form-control {
        cursor: default;
    }
}