@import '_mixins';
@import '_vars';

// sass-lint:disable class-name-format

$editor-height: 20rem;

:host ::ng-deep {
    .ace_editor {
        background: $color-dark-foreground;
        border: 1px solid $color-input;
        height: $editor-height;
    }

    .ace_active-line,
    .ace_gutter-active-line {
        background: none !important;
    }

    .ace_gutter-active-line {
        background: darken($color-border, 5%) !important;
    }

    .ace_gutter {
        background: $color-border !important;
    }
}

.editor {
    height: $editor-height;
}