<div class="stars-container">
    <div *ngIf="maximumStars === 0 || maximumStars > 15" class="many-stars">
        Must not have more more than 15 stars
    </div>

    <ng-container *ngIf="maximumStars > 0 && maximumStars <= 15">
        <span class="stars" (mouseleave)="stopPreview()" [class.disabled]="isDisabled">
            <span class="star" *ngFor="let star of starsArray" (mouseenter)="setPreview(star)" (click)="setValue(star)" [class.selected]="star <= stars"></span>
        </span>

        <button class="btn btn-link" [class.hidden]="!value" (click)="reset()">Clear</button>
    </ng-container>
</div>