@import '_mixins';
@import '_vars';

.form-control {
    & {
        cursor: text;
    }
    
    &.focus {
        @include box-shadow-raw(0 0 0 0.2rem rgba(51, 137, 255, 0.25));
        border-color: #b3d3ff;
    }
}

.blank {
    & {
        padding: 0;
        border: 0;
        background: transparent;
        min-width: 40px;
    }

    &:focus,
    &.focus {
        @include box-shadow-none;
        outline: none;
    }
}

.icon-close {
    font-size: .6rem;
}

.items {
    margin-left: -2px;
}

.item {
    & {
        @include border-radius(10px);
        display: inline-block;
        color: $color-dark-foreground;
        cursor: default;
        height: 20px;
        padding: 0 .6rem;
        background: $color-theme-blue;
        border: 0;
        font-size: .8rem;
        font-weight: normal;
        line-height: 20px;
    }

    &-container {
        padding: 2px;
    }

    &.disabled {
        & {
            pointer-events: none;
        }

        &,
        &:hover {
            background: $color-theme-blue-light;
        }
    }

    &:hover {
        background: $color-theme-blue-dark;
    }
}