@import '_mixins';
@import '_vars';

.form-control {
    & {
        cursor: text;
    }

    &.disabled {
        cursor: inherit;
    }
    
    &.focus {
        @include box-shadow-raw(0 0 0 0.2rem rgba(51, 137, 255, 0.25));
        border-color: #b3d3ff;
    }
}

.blank {
    & {
        padding: 0;
        border: 0;
        background: transparent;
        min-width: 40px;
        max-width: 100%;
    }

    &:focus,
    &.focus {
        @include box-shadow-none;
        outline: none;
    }

    &:hover {
        background: transparent;
    }
}

.icon-close {
    font-size: .6rem;
}

.item {
    & {
        @include border-radius(10px);
        color: $color-dark-foreground;
        cursor: default;
        padding: 0 .6rem;
        background: $color-theme-blue;
        border: 0;
        font-size: .8rem;
        font-weight: normal;
        margin: 0px 2px 2px 0;
    }

    &,
    &-container {
        display: inline-block;
    }

    &-container {
        height: 24px;
        padding: 2px;
        padding-left: 0;
    }

    &.disabled {
        pointer-events: none;
    }

    &:hover {
        background: $color-theme-blue-dark;
    }
}