<div class="form-control {{class}}" (click)="input.focus()" [class.focus]="hasFocus" [class.disabled]="addInput.disabled">
    <span class="item" *ngFor="let item of items; let i = index" [class.disabled]="addInput.disabled">
        {{item}} <i class="icon-close" (click)="remove(i)"></i>
    </span>

    <input type="text" class="blank" #input
        (blur)="markTouched()"
        (focus)="focus()"
        (input)="adjustSize()"
        (keydown)="onKeyDown($event)"
        [formControl]="addInput"
        [attr.name]="inputName"
        [attr.placeholder]="placeholder"
        [class.hidden]="addInput.disabled"
        autocomplete="off" 
        autocorrect="off"
        autocapitalize="off">   
</div>