<div class="form-control {{class}}" (click)="input.focus()" [class.focus]="hasFocus">
    <span class="item" *ngFor="let item of items; let i = index" [class.disabled]="addInput.disabled">
        {{item}} <i class="icon-close" (click)="remove(i)"></i>
    </span>

    <input type="text" class="blank" [attr.name]="inputName" (keydown)="onKeyDown($event)" #input
        (focus)="focus()"
        (blur)="markTouched()"
        (input)="adjustSize($event.target)"
        [formControl]="addInput"
        autocomplete="off" 
        autocorrect="off"
        autocapitalize="off"
        placeholder="+Tag">   
</div>