@import '_vars';
@import '_mixins';

.form-group {
    & {
        margin-bottom: .375rem;
    }

    &:last-child {
        margin: 0;
    }
}

.rule-name {
    @include truncate;
}

.text-force {
    color: $color-text;
}

.built {
    font-weight: bold;
}

.table-items-row-details {
    &::before {
        right: 4.55rem;
    }
}