<div class="card">
    <div class="card-body">
        <h5>Create new Role</h5>

        <form [formGroup]="addRoleForm.form" (ngSubmit)="addRole()">
            <div class="row no-gutters">
                <div class="col">
                    <sqx-control-errors for="name"></sqx-control-errors>
    
                    <input type="text" class="form-control" formControlName="name" maxlength="40" placeholder="{{ 'roles.roleNamePlaceholder' | sqxTranslate }}" autocomplete="off">
                </div>
                <div class="col-auto pl-1">
                    <button type="submit" class="btn btn-success" [disabled]="addRoleForm.hasNoName | async">
                        {{ 'roles.add' | sqxTranslate }}
                    </button>
                </div>
                <div class="col-auto pl-1">
                    <button type="reset" class="btn btn-text-secondary2" (click)="cancel()">
                        {{ 'common.cancel' | sqxTranslate }}
                    </button>
                </div>
            </div>
        </form>

        <sqx-form-hint>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
        </sqx-form-hint>
    </div>
</div>