<div class="login-area">
    <div class="card">
        <div class="card-block text-center">
            <img class="login-icon" src="/images/logo-half.png" />

            <div>
                <button class="btn btn-success btn-lg login-button" (click)="login()">
                    Login to Squidex
                </button>
            </div>
        </div>
        <div class="card-footer text-muted" *ngIf="!isIE()">
            <i class="icon-info"></i>

            The login button will open a new popup. Once you are logged in successfull we will redirect you to the squidex management portal.
        </div>

        <div class="login-arms"></div>
    </div>

    <div class="proudly-made">
        Proudly made by Qaisar Ahmad &amp; Sebastian Stehle, 2016-2017
    </div>
</div>