@import '_mixins';
@import '_vars';

.content {
    margin: 8rem auto;
    max-width: 32rem;
    text-align: center;
}

.logo {
    height: 4rem;
}

.login {
    &-button {
        margin: 2.5rem 0;
    }

    &-hint {
        font-style: italic;
    }
}

.proudly-made {
    margin-top: 16rem;
    font-size: .8rem;
    font-style: italic;
}