@import '_mixins';
@import '_vars';

$color-footer: #f7f8fa;

.card-footer {
    background: $color-footer;
    padding-left: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
    border-top: 0;
    font-size: .8rem;
}

.card-block {
    padding: 4rem 1rem;
}

.icon-info {
    @include absolute(2rem, auto, auto, 2rem);
    color: $color-text-decent;
    font-weight: normal;
    font-size: 1.4rem;
}

.logo {
    height: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login {
    &-area {
        max-width: 40rem;
        margin: 4rem auto 0;
        padding: 0 1rem;
    }

    &-button {
        & {
            @include border-radius(1.5rem);
            cursor: pointer;
            border: 0;
            margin-top: 4rem;
            height: 3rem;
            padding-left: 1.4rem;
            padding-right: 1.4rem;
            text-transform: uppercase;
        }
    }

    &-icon {
        text-align: center;
    }

    &-button-text {
        vertical-align: middle;
    }

    &-hint {
        font-style: italic;
    }
}

.proudly-made {
    line-height: 3.4rem;
    font-size: .8rem;
    font-style: normal;
    color: $color-text-decent;
}