<div class="card" sqxTourStep="client">
    <div class="card-header">
        <div class="row g-1">
            <div class="col col-name">
                <sqx-editable-title [disabled]="!client.canUpdate" [inputTitle]="client.name" (inputTitleChange)="rename($event)" inputTitleLength="100" />
            </div>

            <div class="col-auto">
                <button class="btn btn-primary" (click)="connectDialog.show()" sqxTourStep="connect" type="button">
                    {{ "clients.connect" | sqxTranslate }}
                </button>
            </div>

            <div class="col-auto">
                <button
                    class="btn btn-text-danger"
                    confirmRememberKey="revokeClient"
                    confirmText="i18n:clients.deleteConfirmText"
                    confirmTitle="i18n:clients.deleteConfirmTitle"
                    [disabled]="!client.canRevoke"
                    (sqxConfirmClick)="revoke()"
                    type="button">
                    <i class="icon-bin2"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="container">
            <sqx-form-row #clientIdRow for="clientId" hideError label="common.clientId" [prefix]="client.id">
                <div class="input-group">
                    <input class="form-control" [id]="clientIdRow.fieldName" #clientId readonly value="{{ appsState.appName }}:{{ client.id }}" />
                    <button
                        class="btn btn-outline-secondary"
                        attr.aria-label="{{ 'clients.copyClientId' | sqxTranslate }}"
                        [sqxCopy]="clientId"
                        title="i18n:clients.copyClientId"
                        type="button">
                        <i class="icon-copy"></i>
                    </button>
                </div>
            </sqx-form-row>

            <sqx-form-row #clientSecretRow for="clientSecret" hideError label="common.clientSecret" [prefix]="client.id">
                <div class="input-group">
                    <input class="form-control" [id]="clientSecretRow.fieldName" #inputSecret readonly [value]="client.secret" />
                    <button
                        class="btn btn-outline-secondary"
                        attr.aria-label="{{ 'clients.copyClientSecret' | sqxTranslate }}"
                        [sqxCopy]="inputSecret"
                        title="i18n:clients.copyClientSecret"
                        type="button">
                        <i class="icon-copy"></i>
                    </button>
                </div>
            </sqx-form-row>

            <sqx-form-row #roleRow for="role" hideError label="common.role" [prefix]="client.id">
                <select
                    class="form-select"
                    [id]="roleRow.fieldName"
                    [disabled]="!client.canUpdate"
                    [ngModel]="client.role"
                    (ngModelChange)="updateRole($event)">
                    @for (role of clientRoles; track role.name) {
                        <option [ngValue]="role.name">{{ role.name }}</option>
                    }
                </select>
            </sqx-form-row>

            <sqx-form-row #allowAnonymousRow check for="allowAnonymous" hints="clients.allowAnonymousHint" label="clients.allowAnonymous" [prefix]="client.id">
                <input
                    class="form-check-input"
                    [id]="allowAnonymousRow.fieldName"
                    [disabled]="!client.canUpdate"
                    [ngModel]="client.allowAnonymous"
                    (ngModelChange)="updateAllowAnonymous($event)"
                    type="checkbox" />
            </sqx-form-row>

            <sqx-form-row #apiCallsLimitRow for="apiCallsLimit" hideError hint="clients.apiCallsLimitHint" label="clients.apiCallsLimit" [prefix]="client.id">
                <div class="row gx-2">
                    <div class="col">
                        <input
                            class="form-control"
                            [id]="apiCallsLimitRow.fieldName"
                            [disabled]="!client.canUpdate"
                            min="0"
                            [(ngModel)]="apiCallsLimit"
                            type="number" />
                    </div>

                    @if (client.canUpdate) {
                        <div class="col-auto">
                            <button class="btn btn-outline-secondary" (click)="updateApiCallsLimit(apiCallsLimit)">
                                {{ "common.save" | sqxTranslate }}
                            </button>
                        </div>
                    }
                </div>
            </sqx-form-row>
        </div>
    </div>
</div>
<sqx-client-connect-form [client]="client" (dialogClose)="connectDialog.hide()" *sqxModal="connectDialog" />
