@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?66xt8i');
  src:  url('fonts/icomoon.eot?66xt8i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?66xt8i') format('truetype'),
    url('fonts/icomoon.woff?66xt8i') format('woff'),
    url('fonts/icomoon.svg?66xt8i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e8b5";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-plus:before {
  content: "\e901";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-media:before {
  content: "\e90e";
}
.icon-content:before {
  content: "\e925";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-schemas:before {
  content: "\e92e";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-history:before {
  content: "\e94d";
}
.icon-settings:before {
  content: "\e994";
}
.icon-dashboard:before {
  content: "\e9a6";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-logo:before {
  content: "\e900";
}

