.apps {
    &-title {
        font-size: 1.4rem;
    }

    &-section {
        @include clearfix;
        padding: 2rem 1.25rem 0 $size-sidebar-width + .25rem;
    }
}

.card {
    & {
        @include hover-visible('.deeplinks', inline-block);
        display: inline-block;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 20rem;
    }

    &-lg {
        width: 33rem;
    }

    &-links {
        margin-top: .5rem;
    }

    &-left {
        padding-right: .75rem;
    }

    &-right {
        overflow: hidden;
    }

    &-image {
        text-align: center;
    }

    &-text {
        color: $color-text-decent;
        font-size: .9rem;
        font-weight: normal;
        margin-top: .5rem;
    }

    &-title {
        @include truncate;
        color: $color-title;
        margin-bottom: 0;
        margin-top: 0;
    }

    &-template {
        .card-body {
            min-height: 15.5rem;
        }

        .card-title {
            margin-bottom: .75rem;
            margin-top: 1rem;
        }
    }

    &-href {
        & {
            cursor: pointer;
        }

        &:hover {
            @include box-shadow(0, 3px, 16px, .2);
        }

        &:focus {
            outline: none;
        }

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
}

.card-image {
    img {
        height: 6rem;
    }
}

.info {
    color: $color-border-dark;
}