<ng-content></ng-content>

<ng-container *sqxModal="dialogView">
    <sqx-modal-dialog [showClose]="false" (close)="cancel()" *ngIf="snapshot.dialogRequest; let request">
        <ng-container title>
            {{request.title | sqxTranslate}}
        </ng-container>
    
        <ng-container content>
            <span [innerHTML]="request.text | sqxTranslate | sqxMarkdown"></span>

            <div class="custom-control custom-checkbox mt-4" *ngIf="request.canRemember">
                <input class="custom-control-input" type="checkbox" id="remember" [(ngModel)]="request.remember">

                <label class="custom-control-label" for="remember">
                    {{ 'common.remember' | sqxTranslate}}
                </label>
            </div>
        </ng-container>
    
        <ng-container footer>
            <button type="button" class="btn btn-text-secondary" (click)="cancel()">
                {{ 'common.no' | sqxTranslate }}
            </button>

            <button type="button" class="btn btn-danger" (click)="confirm()" sqxFocusOnInit>
                {{ 'common.yes' | sqxTranslate }}
            </button>
        </ng-container>
    </sqx-modal-dialog>
</ng-container>

<div class="notification-container notification-container-bottom-right">
    <div class="alert alert-dismissible alert-{{notification.messageType}} overlayed" *ngFor="let notification of snapshot.notifications" (click)="close(notification)" @fade>
        <button type="button" class="close" data-dismiss="alert" (close)="close(notification)">&times;</button>

        <span [innerHTML]="notification.message | sqxTranslate | sqxMarkdown"></span>

        <div class="overlay"></div>
    </div>
</div>

<ng-container *ngIf="snapshot.tooltip; let tooltip">
    <div class="tooltip2 tooltip2-{{tooltip.position}}" [sqxAnchoredTo]="tooltip.target" [position]="tooltip.position" [offset]="6">
        {{tooltip.text | sqxTranslate}}
    </div>
</ng-container>