@import '_mixins';
@import '_vars';

.onboarding {
    &-help {
        @include border-radius;
        background: $color-tooltip;
        border: 0;
        max-width: 20rem;
        padding: .75rem;
    }

    &-text {
        color: $color-dark-foreground;
        font-size: .9rem;
        font-weight: normal;
    }

    &-buttons {
        margin: .8rem -.5rem 0;
    }

    &-rect {
        @include box-shadow(0 0 0 9999px .5);
    }
}