$hide-shadow: rgba(0, 0, 0, .5);

.onboarding {
    &-help {
        @include border-radius;
        background: $color-tooltip;
        max-width: 20rem;
        min-width: 10rem;
        padding: .75rem 1rem;
    }

    &-text {
        color: $color-dark-foreground;
    }

    &-buttons {
        margin: .8rem -.5rem 0;
    }

    &-rect {
        box-shadow: 0 0 0 9999px $hide-shadow;
    }
}