<ng-container *sqxModal="tooltipModal">
    <div class="onboarding-rect" [sqxAnchoredTo]="for" [offset]="4" [position]="'full'"></div>
    <div class="onboarding-help" [sqxAnchoredTo]="for" [offset]="4" [position]="position" @fade>
        <small class="onboarding-text">
            <ng-content></ng-content>
        </small>

        <div class="onboarding-buttons clearfix">
            <button (click)="hideAll()" class="btn btn-text-primary btn-sm float-start">
                {{ 'tour.tooltipStop' | sqxTranslate }}
            </button>

            <button (click)="hideThis()" class="btn btn-text-success btn-sm float-end">
                {{ 'tour.tooltipConfirm' | sqxTranslate }}
            </button>
        </div>
    </div>
</ng-container>