.content {
    margin: 100px auto;
    max-width: 500px;
    text-align: center;
}

.logo {
    height: 60px;
    display: display-block;
}

.login-button {
    margin: 40px 0;
}

.login-hint {
    font-style: italic;
}

.proudly-made {
    margin-top: 100px;
    font-size: 11px;
    font-style: italic;
}