@import '_vars';
@import '_mixins';

.rule-element {
    padding-right: .25rem;
}

.wizard-title {
    background: $color-border;
    margin: -1.5rem -1.75rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.05rem;
    padding: 1rem 1.75rem;
}

