@import '_vars';
@import '_mixins';

.small {
    & {
        @include transition(background-color .4s ease);
        cursor: pointer;
        height: 3rem;
        position: relative;
    }

    &-text {
        @include absolute(0, 0, 0, 3rem);
        @include truncate;
        color: $color-dark-foreground;
        line-height: 3rem;
        font-size: 1rem;
        font-weight: normal;
        padding: 0 .8rem;
    }

    &-icon {
        @include absolute(0, auto, 0, 0);
        color: $color-dark-foreground;
        line-height: 3.2rem;
        font-size: 1.2rem;
        font-weight: normal;
        padding: 0 .8rem;
    }

    .icon {
        font-size: 20px;
    }

    .svg-icon {
        width: 20px;
    }
}

.large {
    & {
        cursor: pointer;
        min-height: 100px;
        max-height: 100px;
    }

    &-link {
        font-size: .8rem;
    }

    &-title {
        font-weight: bold;
        font-size: 1rem;
        line-height: 1;
    }

    &-text {
        font-size: .8rem;
        margin-top: .25rem;
        margin-bottom: .25rem;
    }

    &-icon {
        color: $color-dark-foreground;
        display: inline-block;
        margin-right: .5rem;
        position: relative;
        padding: 1rem;
        line-height: 1px;
    }

    .icon {
        font-size: 30px;
    }

    .svg-icon {
        width: 30px;
    }
}

.svg-icon {
    display: inline-block;
}

::ng-deep {
    svg {
        fill: $color-dark-foreground;
        display: block;
    }
}