<sqx-title message="{app} | Rules" parameter1="app" [value1]="appsState.appName"></sqx-title>

<sqx-panel desiredWidth="54rem" showSidebar="true">
    <ng-container title>
        Rules
    </ng-container>

    <ng-container menu>
        <button class="btn btn-link btn-secondary" (click)="reload()" title="Refresh Assets (CTRL + SHIFT + R)">
            <i class="icon-reset"></i> Refresh
        </button>

        <sqx-shortcut keys="ctrl+shift+r" (trigger)="reload()"></sqx-shortcut>
        <sqx-shortcut keys="ctrl+shift+g" (trigger)="buttonNew.click()"></sqx-shortcut>

        <button class="btn btn-success" #buttonNew (click)="createNew()" title="New Rule (CTRL + M)">
            <i class="icon-plus"></i> New
        </button>
    </ng-container>

    <ng-container content>
        <ng-container *ngIf="rulesState.rules | async; let rules">
            <div class="table-items-row table-items-row-empty" *ngIf="rules.length === 0">
                No Rule created yet.

                <button class="btn btn-success btn-sm ml-2" (click)="createNew()">
                    <i class="icon icon-plus"></i> Add Rule
                </button>
            </div>

            <table class="table table-items table-fixed" *ngIf="rules.length > 0">
                <tbody *ngFor="let rule of rules; trackBy: trackByRule">
                    <tr>
                        <td class="cell-separator">
                            <h3>If</h3>
                        </td>
                        <td class="cell-auto">
                            <span class="rule-element rule-element-{{rule.triggerType}}" (click)="editTrigger(rule)">
                                <span class="rule-element-icon">
                                    <i class="icon-trigger-{{rule.triggerType}}"></i>
                                </span>
                                <span class="rule-element-text">
                                    {{ruleTriggers[rule.triggerType].name}}
                                </span>
                            </span>
                        </td>
                        <td class="cell-separator">
                            <h3>then</h3>
                        </td>
                        <td class="cell-auto">
                            <span class="rule-element rule-element-{{rule.actionType}}" (click)="editAction(rule)">
                                <span class="rule-element-icon">
                                    <i class="icon-action-{{rule.actionType}}"></i>
                                </span>
                                <span class="rule-element-text">
                                    {{ruleActions[rule.actionType].name}}
                                </span>
                            </span>
                        </td>
                        <td class="cell-actions">
                            <sqx-toggle [ngModel]="rule.isEnabled" (ngModelChange)="toggle(rule)"></sqx-toggle>
                        </td>
                        <td class="cell-actions">
                            <button type="button" class="btn btn-link btn-danger"
                                (sqxConfirmClick)="delete(rule)"
                                confirmTitle="Delete rule" 
                                confirmText="Do you really want to delete the rule?">
                                <i class="icon-bin2"></i>
                            </button>
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                </tbody>
            </table>
        </ng-container>
    </ng-container>

    <ng-container sidebar>
        <a class="panel-link" routerLink="events" routerLinkActive="active" #linkHistory>
            <i class="icon-time"></i>
        </a>

        <a class="panel-link" routerLink="help" routerLinkActive="active" #linkHelp>
            <i class="icon-help"></i>
        </a>

        <sqx-onboarding-tooltip id="help" [for]="linkHelp" position="leftTop" after="180000">
            Click the help icon to show a context specific help page. Go to <a href="https://docs.squidex.io" target="_blank">https://docs.squidex.io</a> for the full documentation.
        </sqx-onboarding-tooltip>
    </ng-container>
</sqx-panel>

<ng-container *sqxModalView="addRuleDialog;onRoot:true;closeAuto:false">
    <sqx-rule-wizard [schemas]="schemasState.schemas | async" [rule]="wizardRule" [mode]="wizardMode"
        (completed)="addRuleDialog.hide()">
    </sqx-rule-wizard>
</ng-container>

<router-outlet></router-outlet>