<sqx-modal-dialog large="true" fullHeight="true" (closed)="complete()" [showFooter]="step === 2 || step === 4">
    <ng-container title>
        <ng-container *ngIf="mode === 'EditTrigger'">
            Edit Trigger
        </ng-container>
        <ng-container *ngIf="mode === 'EditAction'">
            Edit Action
        </ng-container>
        <ng-container *ngIf="mode === 'Wizard' && step === 1">
            Step 1 of 4: Select Trigger
        </ng-container>
        <ng-container *ngIf="mode === 'Wizard' && step === 2">
            Step 2 of 4: Configure Trigger
        </ng-container>
        <ng-container *ngIf="mode === 'Wizard' && step === 3">
            Step 3 of 4: Select Action
        </ng-container>
        <ng-container *ngIf="mode === 'Wizard' && step === 4">
            Step 4 of 4: Configure Action
        </ng-container>
    </ng-container>

    <ng-container content>
        <div class="row no-gutters" *ngIf="step === 1">
            <div *ngFor="let triggerType of ruleTriggers | sqxKeys" class="col-12 col-md-6">
                <div class="rule-element" (click)="selectTriggerType(triggerType)">
                    <sqx-rule-element [type]="triggerType" [isSmall]="false" [element]="ruleTriggers[triggerType]"></sqx-rule-element>
                </div>
            </div>
        </div>
        
        <ng-container *ngIf="step === 2 && schemas">
            <form [formGroup]="triggerForm.form" (submit)="saveTrigger()">  
                <h3 class="wizard-title">{{ruleTriggers[triggerType].display}}</h3>

                <ng-container [ngSwitch]="triggerType">
                    <ng-container *ngSwitchCase="'AssetChanged'">
                        <sqx-asset-changed-trigger
                            [trigger]="trigger"
                            [triggerForm]="triggerForm.form"
                            [triggerFormSubmitted]="triggerForm.submitted | async">
                        </sqx-asset-changed-trigger>
                    </ng-container>
                    <ng-container *ngSwitchCase="'ContentChanged'">
                        <sqx-content-changed-trigger
                            [schemas]="schemas"
                            [trigger]="trigger"
                            [triggerForm]="triggerForm.form"
                            [triggerFormSubmitted]="triggerForm.submitted | async">
                        </sqx-content-changed-trigger>
                    </ng-container>
                </ng-container>
            </form>
        </ng-container>
    
        <div class="row no-gutters" *ngIf="step === 3">
            <div *ngFor="let actionType of ruleActions | sqxKeys" class="col-12 col-md-6">
                <div class="rule-element" (click)="selectActionType(actionType)">
                    <sqx-rule-element [type]="actionType" [isSmall]="false" [element]="ruleActions[actionType]"></sqx-rule-element>
                </div>
            </div>
        </div>
    
        <ng-container *ngIf="step === 4">
            <form [formGroup]="actionForm.form" (submit)="saveAction()">
                    <h3 class="wizard-title">{{ruleActions[actionType].display}}</h3>

                <ng-container [ngSwitch]="actionType">
                    <ng-container *ngSwitchCase="'Algolia'">
                        <sqx-algolia-action
                            [action]="action"
                            [actionForm]="actionForm.form"
                            [actionFormSubmitted]="actionForm.submitted | async">
                        </sqx-algolia-action>
                    </ng-container>
                    <ng-container *ngSwitchCase="'AzureQueue'">
                        <sqx-azure-queue-action
                            [action]="action"
                            [actionForm]="actionForm.form"
                            [actionFormSubmitted]="actionForm.submitted | async">
                        </sqx-azure-queue-action>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Discourse'">
                        <sqx-discourse-action
                            [action]="action"
                            [actionForm]="actionForm.form"
                            [actionFormSubmitted]="actionForm.submitted | async">
                        </sqx-discourse-action>
                    </ng-container>
                    <ng-container *ngSwitchCase="'ElasticSearch'">
                        <sqx-elastic-search-action
                            [action]="action"
                            [actionForm]="actionForm.form"
                            [actionFormSubmitted]="actionForm.submitted | async">
                        </sqx-elastic-search-action>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Fastly'">
                        <sqx-fastly-action
                            [action]="action"
                            [actionForm]="actionForm.form"
                            [actionFormSubmitted]="actionForm.submitted | async">
                        </sqx-fastly-action>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Medium'">
                        <sqx-medium-action
                            [action]="action"
                            [actionForm]="actionForm.form"
                            [actionFormSubmitted]="actionForm.submitted | async">
                        </sqx-medium-action>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Prerender'">
                        <sqx-prerender-action
                            [action]="action"
                            [actionForm]="actionForm.form"
                            [actionFormSubmitted]="actionForm.submitted | async">
                        </sqx-prerender-action>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Slack'">
                        <sqx-slack-action
                            [action]="action"
                            [actionForm]="actionForm.form"
                            [actionFormSubmitted]="actionForm.submitted | async">
                        </sqx-slack-action>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Tweet'">
                        <sqx-tweet-action
                            [action]="action"
                            [actionForm]="actionForm.form"
                            [actionFormSubmitted]="actionForm.submitted | async">
                        </sqx-tweet-action>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Webhook'">
                        <sqx-webhook-action        
                            [action]="action"
                            [actionForm]="actionForm.form"
                            [actionFormSubmitted]="actionForm.submitted | async">
                        </sqx-webhook-action>
                    </ng-container>
                </ng-container>
            </form>
        </ng-container>
    </ng-container>

    <ng-container footer>
        <div>
            <ng-container *ngIf="mode === 'Wizard' && step === 2">
                <button type="reset" class="float-left btn btn-secondary" (click)="complete()">Cancel</button>
                <button type="submit" class="float-right btn btn-primary" (click)="saveTrigger()">Next</button>
            </ng-container>
            
            <ng-container *ngIf="mode !== 'Wizard' && step === 2">
                <button type="reset" class="float-left btn btn-secondary" (click)="complete()">Cancel</button>
                <button type="submit" class="float-right btn btn-primary" (click)="saveTrigger()">Save</button>
            </ng-container>

            <ng-container *ngIf="step === 4">
                <button type="reset" class="float-left btn btn-secondary" (click)="complete()">Cancel</button>
                <button type="submit" class="float-right btn btn-primary" (click)="saveAction()">Save</button>
            </ng-container>
        </div>
    </ng-container>
</sqx-modal-dialog>