<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" *ngIf="mode === 'EditTrigger'">
                Edit Trigger
            </h4>
            <h4 class="modal-title" *ngIf="mode === 'EditAction'">
                Edit Action
            </h4>
            <h4 class="modal-title" *ngIf="mode === 'Wizard' && step === 1">
                Step 1 of 4: Select Trigger
            </h4>
            <h4 class="modal-title" *ngIf="mode === 'Wizard' && step === 2">
                Step 2 of 4: Configure Trigger
            </h4>
            <h4 class="modal-title" *ngIf="mode === 'Wizard' && step === 3">
                Step 3 of 4: Select Action
            </h4>
            <h4 class="modal-title" *ngIf="mode === 'Wizard' && step === 4">
                Step 4 of 4: Configure Action
            </h4>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div *ngIf="step === 1">        
                <span *ngFor="let trigger of ruleTriggers | sqxKeys" class="rule-element rule-element-{{trigger}}" (click)="selectTriggerType(trigger)">
                    <span class="rule-element-icon">
                        <i class="icon-trigger-{{trigger}}"></i>
                    </span>
                    <span class="rule-element-text">
                        {{ruleTriggers[trigger].name}}
                    </span>
                </span>
            </div>
            
            <div *ngIf="step === 2 && schemas" class="modal-form">       
                <div [ngSwitch]="triggerType">
                    <div *ngSwitchCase="'AssetChanged'">
                        <sqx-asset-changed-trigger #triggerControl
                            [trigger]="trigger" 
                            (triggerChanged)="selectTrigger($event)">
                        </sqx-asset-changed-trigger>
                    </div>
                    <div *ngSwitchCase="'ContentChanged'">
                        <sqx-content-changed-trigger #triggerControl
                            [schemas]="schemas" 
                            [trigger]="trigger" 
                            (triggerChanged)="selectTrigger($event)">
                        </sqx-content-changed-trigger>
                    </div>
                </div>
            </div>
        
            <div *ngIf="step === 3">        
                <span *ngFor="let action of ruleActions | sqxKeys" class="rule-element rule-element-{{action}}" (click)="selectActionType(action)">
                    <span class="rule-element-icon">
                        <i class="icon-action-{{action}}"></i>
                    </span>
                    <span class="rule-element-text">
                        {{ruleActions[action].name}}
                    </span>
                </span>
            </div>
        
            <div *ngIf="step === 4" class="modal-form">
                <div [ngSwitch]="actionType">
                    <div *ngSwitchCase="'Algolia'">
                        <sqx-algolia-action #actionControl
                            [action]="action" 
                            (actionChanged)="selectAction($event)">
                        </sqx-algolia-action>
                    </div>
                    <div *ngSwitchCase="'AzureQueue'">
                        <sqx-azure-queue-action #actionControl
                            [action]="action" 
                            (actionChanged)="selectAction($event)">
                        </sqx-azure-queue-action>
                    </div>
                    <div *ngSwitchCase="'ElasticSearch'">
                        <sqx-elastic-search-action #actionControl
                            [action]="action" 
                            (actionChanged)="selectAction($event)">
                        </sqx-elastic-search-action>
                    </div>
                    <div *ngSwitchCase="'Fastly'">
                        <sqx-fastly-action #actionControl
                            [action]="action" 
                            (actionChanged)="selectAction($event)">
                        </sqx-fastly-action>
                    </div>
                    <div *ngSwitchCase="'Slack'">
                        <sqx-slack-action #actionControl
                            [action]="action" 
                            (actionChanged)="selectAction($event)">
                        </sqx-slack-action>
                    </div>
                    <div *ngSwitchCase="'Webhook'">
                        <sqx-webhook-action #actionControl
                            [action]="action" 
                            (actionChanged)="selectAction($event)">
                        </sqx-webhook-action>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" *ngIf="step === 2 || step === 4">
            <div class="clearfix" *ngIf="mode === 'Wizard' && step === 2">
                <button type="reset" class="float-left btn btn-secondary" (click)="cancel()">Cancel</button>
                <button type="submit" class="float-right btn btn-primary" (click)="triggerControl.save()">Next</button>
            </div>
            
            <div class="clearfix" *ngIf="mode !== 'Wizard' && step === 2">
                <button type="reset" class="float-left btn btn-secondary" (click)="cancel()">Cancel</button>
                <button type="submit" class="float-right btn btn-primary" (click)="triggerControl.save()">Save</button>
            </div>

            <div class="clearfix" *ngIf="step === 4">
                <button type="reset" class="float-left btn btn-secondary" (click)="cancel()">Cancel</button>
                <button type="submit" class="float-right btn btn-primary" (click)="actionControl.save()">Save</button>
            </div>
        </div>
    </div>
</div>