<ng-container [ngSwitch]="fieldName">
    <ng-container *ngSwitchCase="metaFields.id">
        <sqx-table-header text="Id"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.created">
        <sqx-table-header text="Created"
            [sortable]="true"
            [fieldPath]="'created'"
            [query]="query"
            (queryChange)="queryChange.emit($event)"
            [language]="language">
        </sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.createdByAvatar">
        <sqx-table-header text="By"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.createdByName">
        <sqx-table-header text="Created By"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.lastModified">
        <sqx-table-header text="Updated"
            [sortable]="true"
            [fieldPath]="'lastModified'"
            [query]="query"
            (queryChange)="queryChange.emit($event)"
            [language]="language">
        </sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.lastModifiedByAvatar">
        <sqx-table-header text="By"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.lastModifiedByName">
        <sqx-table-header text="Modified By"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.status">
        <sqx-table-header text="Status"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.statusNext">
        <sqx-table-header text="Next Status"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.statusColor">
        <sqx-table-header text="Status"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.version">
        <sqx-table-header text="Version"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <sqx-table-header [text]="fieldDisplayName"
            [sortable]="isSortable"
            [fieldPath]="fieldPath"
            [query]="query"
            (queryChange)="queryChange.emit($event)"
            [language]="language">
        </sqx-table-header>
    </ng-container>
</ng-container>