<tr [routerLink]="link">
    <td class="cell-select inline-edit" sqxStopClick>
        <input type="checkbox" class="form-check"
            [ngModel]="selected" 
            (ngModelChange)="emitSelectedChange($event)" />

        <ng-container *ngIf="isDirty">
            <div class="edit-menu">
                <button type="button" class="btn btn-text-secondary btn-cancel mr-2" (click)="cancel()" sqxStopClick>
                    <i class="icon-close"></i>
                </button>

                <button type="button" class="btn btn-success" (click)="save()" sqxStopClick>
                    <i class="icon-checkmark"></i>
                </button>
            </div>
        </ng-container>
    </td>
    
    <td class="cell-actions cell-actions-left" sqxStopClick>
        <div class="dropdown dropdown-options inline-edit" *ngIf="content">
            <button type="button" class="btn btn-text-secondary" (click)="dropdown.toggle()" [class.active]="dropdown.isOpen | async" #buttonOptions>
                <i class="icon-dots"></i>
            </button>
    
            <ng-container *sqxModal="dropdown;closeAlways:true">
                <div class="dropdown-menu" [sqxAnchoredTo]="buttonOptions" position="bottom-left" @fade>
                    <a class="dropdown-item" *ngFor="let info of content.statusUpdates" (click)="emitChangeStatus(info.status)">
                        Change to 

                        <sqx-content-status
                            [status]="info.status"
                            [statusColor]="info.color"
                            showLabel="true"
                            small="true">
                        </sqx-content-status>
                    </a>
                    <a class="dropdown-item" (click)="emitClone(); dropdown.hide()" *ngIf="canClone">
                        Clone
                    </a>
                    
                    <div class="dropdown-divider"></div>
        
                    <a class="dropdown-item dropdown-item-delete"
                        (sqxConfirmClick)="emitDelete()"
                        confirmTitle="Delete content" 
                        confirmText="Do you really want to delete the content?">
                        Delete
                    </a>
                </div>
            </ng-container>
        </div>
    </td>

    <td *ngFor="let field of listFields" [sqxContentListCell]="field" [sqxStopClick]="shouldStop(field)">
        <sqx-content-list-field
            [field]="field"
            [patchForm]="patchForm?.form"
            [patchAllowed]="patchAllowed"
            [content]="content"
            [language]="language">
        </sqx-content-list-field>
    </td>
</tr>
<tr class="spacer"></tr>