:host ::ng-deep {
    img {
        max-height: 50px;
        min-height: 50px;
        position: absolute;
        top: 5px;
    }

    img + span {
        padding-left: 60px;
    }

    span {
        @include truncate;
    }
}