<tr [sqxTabRouterLink]="link">
    <td class="cell-select inline-edit" sqxStopClick>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="{{content.id}}_selected" 
                [ngModel]="selected"
                (ngModelChange)="selectedChange.emit($event)" />

            <label class="form-check-label" for="{{content.id}}_selected" ></label>
        </div>

        <ng-container *ngIf="isDirty">
            <div class="edit-menu">
                <button type="button" class="btn btn-text-secondary btn-cancel me-2" (click)="cancel()" sqxStopClick>
                    <i class="icon-close"></i>
                </button>

                <button type="button" class="btn btn-success" (click)="save()" sqxStopClick>
                    <i class="icon-checkmark"></i>
                </button>
            </div>
        </ng-container>
    </td>
    
    <td class="cell-actions cell-actions-left" sqxStopClick>
        <button type="button" class="btn btn-text-secondary" (click)="dropdown.toggle()" #buttonOptions>
            <i class="icon-dots"></i>
        </button>

        <ng-container *sqxModal="dropdown;closeAlways:true">
            <div class="dropdown-menu" [sqxAnchoredTo]="buttonOptions" position="bottom-left" @fade>
                <a class="dropdown-item" *ngFor="let info of content.statusUpdates" (click)="statusChange.emit(info.status)">
                    {{ 'common.statusChangeTo' | sqxTranslate }} 

                    <sqx-content-status [small]="true"
                        layout="text"
                        [status]="info.status"
                        [statusColor]="info.color">
                    </sqx-content-status>
                </a>
                <a class="dropdown-item" (click)="clone.emit(); dropdown.hide()" *ngIf="cloneable">
                    {{ 'common.clone' | sqxTranslate }}
                </a>
                
                <div class="dropdown-divider"></div>
    
                <a class="dropdown-item dropdown-item-delete"
                    (sqxConfirmClick)="delete.emit()"
                    confirmTitle="i18n:contents.deleteConfirmTitle"
                    confirmText="i18n:contents.deleteConfirmText"
                    confirmRememberKey="deleteContent">
                    {{ 'common.delete' | sqxTranslate }}
                </a>
            </div>
        </ng-container>
    </td>

    <td *ngFor="let field of listFields" [sqxContentListCell]="field" [sqxStopClick]="shouldStop(field)">
        <sqx-content-list-field
            [field]="field"
            [patchForm]="patchForm?.form"
            [patchAllowed]="patchAllowed"
            [content]="content"
            [language]="language">
        </sqx-content-list-field>
    </td>
</tr>
<tr class="spacer"></tr>