<sqx-panel desiredWidth="20rem" isBlank="true" [isLazyLoaded]="false">
    <ng-container title>
        Filters
    </ng-container>

    <ng-container content>
        <h3>Tags</h3>

        <a class="sidebar-item" (click)="resetTags()" [class.active]="assetsState.isTagSelectionEmpty()">
            <div class="row">
                <div class="col">
                    All tags
                </div>
            </div>
        </a>

        <a class="sidebar-item" *ngFor="let tag of assetsState.tags | async; trackBy: trackByTag" (click)="toggleTag(tag.name)"
            [class.active]="assetsState.isTagSelected(tag.name)">
            <div class="row">
                <div class="col">
                    {{tag.name}}
                </div>
                <div class="col-auto">
                    {{tag.count}}
                </div>
            </div>
        </a>

        <hr />

        <div class="sidebar-section">
            <h3>Saved queries</h3>

            <ng-container *ngIf="queries.queries | async; let queries">
                <ng-container *ngIf="queries.length > 0; else noQuery">
                    <a class="sidebar-item" *ngFor="let query of queries; trackBy: trackByQuery" (click)="search(query.filter)"
                        [class.active]="isSelectedQuery(query.filter)">
                        
                        {{query.name}}
                        
                        <a class="sidebar-item-remove float-right" (click)="queries.remove(query.name)">
                            <i class="icon-close"></i>
                        </a>
                    </a>
                </ng-container>

                <ng-template #noQuery>
                    <div class="sidebar-item text-muted">
                        Search for assets and use <i class="icon-star-empty"></i> icon in search form to save query for all contributors.
                    </div>
                </ng-template>
            </ng-container>
        </div>
    </ng-container>
</sqx-panel>