<div class="asset">
    <div class="card">
        <div class="card-block">
            <div *ngIf="asset">
                <div class="file-type">{{fileType}}</div>
                
                <div *ngIf="asset.isImage" [@fade]>
                    <img [attr.src]="previewUrl | async" sqxHideInvalidImage>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="file-name">
                {{fileName}}
            </div>
            <div class="file-info">
                {{fileInfo}}
            </div>
        </div>
    </div>
</div>