@import '_vars';
@import '_mixins';

.file-drop {
    & {
        @include transition(border-color .4s ease);
        border: 2px dashed $color-border;
        background: transparent;
        padding: 1rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-right: 0;
    }

    &.drag {
        border-color: darken($color-border, 10%);
        border-style: dashed;
        cursor: copy;
    }

    &-or {
        font-size: .8rem;
    }

    &-info {
        color: $color-subtext;
    }

    &-button {
        margin: .5rem 0;
    }
}

.btn {
    cursor: pointer;
}

.btn-input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col-3 {
    padding-left: 8px;
    padding-right: 8px;
}

.dnd-sortable-drag {
    border: 0;
}