@import '_vars';
@import '_mixins';

$card-size: 240px;

:host {
    padding-bottom: 1rem;
}

.card {
    & {
        height: $card-size;
    }

    &-block {
        padding: .8rem .8rem 0;
    }

    &-footer {
        border: 0;
        font-size: .8rem;
        font-weight: normal;
        padding: .8rem;
    }
}