@import '_vars';
@import '_mixins';

$card-size: 240px;

$color-type-background: #000;
$color-type-foreground: #fff;

:host {
    padding-bottom: 1rem;
}

.drop-overlay {
    & {
        @include transition(opacity.4s ease);
        @include absolute(0, 0, 0, 0);
        @include opacity(0);
        pointer-events: none;
    }

    &-text {
        @include absolute(0, 0, 0, 0);
        text-align: center;
        line-height: 14rem;
        font-size: 1.2rem;
        font-weight: lighter;
        color: $color-type-foreground;
    }

    &-background {
        @include absolute(0, 0, 0, 0);
        @include opacity(.7);
        background: $color-type-background;
    }
}

.card {
    & {
        position: relative;
        height: $card-size;
    }

    &.drag {
        .drop-overlay {
            @include opacity(1);
        }
    }

    &-block {
        padding: .8rem .8rem 0;
        position: relative;
    }

    &-footer {
        border: 0;
        background: transparent;
        padding: .8rem;
        padding-top: .4rem;
    }
}

.upload-progress {
    margin: 60px 70px;
}

.file {
    &-info {
        font-size: .8rem;
    }

    &-icon {
        &-container {
            background: $color-border;
            border: 0;
            height: 155px;
            line-height: 155px;
            text-align: center;
        }
    }

    &-name {
        @include truncate;
        font-size: 1rem;
        font-weight: normal;
        line-height: 2rem;
    }

    &-type {
        @include absolute(1.1rem, auto, auto, 1.1rem);
        @include border-radius(2px);
        @include opacity(.8);
        background: $color-type-background;
        border: 0;
        padding: .1rem .3rem;
        text-transform: uppercase;
        font-size: .7rem;
        font-weight: normal;
        color: $color-type-foreground;
    }
}