@import '_vars';
@import '_mixins';

.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: $color-accent-dark;
        }
    }
}

.nav-link {
    @include truncate;
}

.drodown-button {
    padding: 3px 1.5rem;
}

.dropdown-menu {
    & {
        top: 44px;
    }

    &::before {
        @include absolute(-10px, auto, auto, 10px);
        @include caret-top;
        border-color: transparent transparent $color-accent-dark;
        border-width: 10px;
    }
}

.all-apps {
    & {
        position: relative;
    }

    &-text {
        font-weight: bold;
    }

    &-pill {
        @include absolute(6px, 10px, auto, auto);
        background: $color-theme-blue-lighter;
        border: 0;
        color: $color-theme-blue;
    }
}

#app-name {
    & {
        @include transition(opacity .4 ease);
        @include opacity(.95);
        @include no-selection;
        padding-right: 15px;
        color: $color-accent-dark;
        cursor: pointer;
    }

    &:hover {
        @include opacity(1);
    }

    &::after {
        @include absolute(50%, 0, auto, auto);
        color: $color-theme-blue-light;
    }
}