<ul class="nav navbar-nav" *ngIf="apps">
    <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle" id="app-name" (click)="modalMenu.toggle()">{{appName}}</span>

        <div class="dropdown-menu" *sqxModalView="modalMenu" closeAlways="true" [@fade]>
            <a class="dropdown-item all-apps" routerLink="/app">
                <span class="all-apps-text">All Apps</span> 
                <span class="all-apps-pill badge badge-pill badge-primary">{{apps.length}}</span>
            </a>

            <div class="dropdown-divider"></div>

            <div *ngIf="apps.length > 0">
                <a class="dropdown-item" *ngFor="let app of apps" [routerLink]="['/app', app.name]" routerLinkActive="active">{{app.name}}</a>

                <div class="dropdown-divider"></div>
            </div>

            <div class="drodown-button">
                <button class="btn btn-block btn-success" (click)="createApp()"><i class="icon-plus"></i> Create New App</button>
            </div>
        </div>
    </li>
</ul>

<div class="modal" *sqxModalView="modalDialog;onRoot:true" [@fade]>
    <div class="modal-backdrop"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create App</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalDialog.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <sqx-app-form (created)="modalDialog.hide()" (cancelled)="modalDialog.hide()"></sqx-app-form>
            </div>
        </div>
    </div>
</div>