<ul class="nav navbar-nav">
    <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle" id="app-name" (click)="appsMenu.toggle()">
            <ng-container *ngIf="appsState.selectedApp | async; let selectedApp; else noApp">
                {{selectedApp.name}}
            </ng-container>

            <ng-template #noApp>
                Apps Overview
            </ng-template>
        </span>

        <ng-container>
            <sqx-modal [model]="appsMenu" closeAlways="true" *ngIf="appsState.apps | async; let apps">
                <div class="dropdown-menu" @fade>
                    <a class="dropdown-item all-apps" routerLink="/app">
                        <span class="all-apps-text">All Apps</span> 
                        <span class="all-apps-pill badge badge-pill badge-primary">{{apps.length}}</span>
                    </a>
        
                    <ng-container *ngIf="apps.length > 0">
                        <div class="dropdown-divider"></div>

                        <div class="apps-list">
                            <a class="dropdown-item" *ngFor="let app of apps; trackBy: trackByApp" [routerLink]="['/app', app.name]" routerLinkActive="active">{{app.name}}</a>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="(uiState.settings | async).canCreateApps">
                        <div class="dropdown-divider"></div>
        
                        <div class="dropdown-button">
                            <button type="button" class="btn btn-block btn-success" (click)="addAppDialog.show()">
                                <i class="icon-plus"></i> Create New App
                            </button>
                        </div>
                    </ng-container>
                </div>
            </sqx-modal>
        </ng-container>
    </li>

    <ng-container *ngIf="appsState.selectedValidApp | async; let selectedApp">
        <li class="nav-item" *ngIf="selectedApp.planUpgrade && selectedApp.planName">
            <div class="btn-group app-upgrade">
                <button type="button" class="btn btn-primary btn-plan">
                    You are on the <strong>{{selectedApp.planName}}</strong> plan.
                </button>
                <button type="button" class="btn btn-warning" [routerLink]="['/app', selectedApp.name, 'settings', 'plans']">
                    Upgrade!
                </button>
            </div>
        </li>
    </ng-container>
</ul>


<sqx-modal [model]="addAppDialog">
    <sqx-app-form 
        (complete)="addAppDialog.hide()">
    </sqx-app-form>
</sqx-modal>