@import '_vars';
@import '_mixins';

$size-arrow: .6rem;

.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: $color-accent-dark;
        }
    }
}

.nav-link {
    @include truncate;
}

.drodown-button {
    padding: .25rem 1.5rem;
}

.dropdown-menu {
    & {
        top: $size-navbar-height - $size-arrow;
    }

    &::before {
        @include absolute(-$size-arrow, auto, auto, $size-arrow);
        @include caret-top;
        border-color: transparent transparent $color-accent-dark;
        border-width: $size-arrow;
    }
}

.all-apps {
    & {
        position: relative;
    }

    &-text {
        font-weight: bold;
    }

    &-pill {
        @include absolute(.3rem, .625rem, auto, auto);
        background: $color-theme-blue-lighter;
        border: 0;
        color: $color-theme-blue;
    }
}

#app-name {
    & {
        @include transition(opacity .4 ease);
        @include opacity(.95);
        @include no-selection;
        padding-right: 1rem;
        color: $color-accent-dark;
        cursor: pointer;
    }

    &:hover {
        @include opacity(1);
    }

    &::after {
        @include absolute(50%, 0, auto, auto);
        color: $color-theme-blue-light;
    }
}