<nav class="navbar fixed-top navbar-dark bg-primary bg-faded">
    <span class="navbar-brand" routerLink="/app">
        <i class="icon-logo"></i>
    </span>

    <div class="float-left apps-menu">
        <sqx-apps-menu></sqx-apps-menu>
    </div>

    <div class="float-right profile-menu">
        <sqx-profile-menu></sqx-profile-menu>
    </div>
</nav>

<div class="main">
    <router-outlet></router-outlet>
</div>

<a class="support-button row no-gutters" href="https://support.squidex.io" target="_blank">
    <div class="col col-auto support-icon">
        <i class="icon-support"></i>
    </div>

    <div class="col support-text">
        Get help and support
    </div>
</a>