@import '_vars';
@import '_mixins';

.navbar {
    @include box-shadow(0, 4px, 4px, .2px);
    display: block;
}

.navbar-brand {
    width: $size-sidebar-width - 2rem;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
    margin-top: -.2rem;
    margin-bottom: -.2rem;
    margin-right: 2rem;
    font-size: 1.8rem;
    text-align: center;
    float: left;
}

.github {
    &-button {
        & {
            @include fixed(50%, -103px, auto, auto);
            @include border-radius-left(3px);
            @include transition(transform .3s ease);
            background: lighten($color-extern-github, 10%);
            border: 0;
            cursor: pointer;
            color: $color-dark-foreground;
            margin-top: -60px;
            padding-left: 65px;
            font-size: .9rem;
            font-weight: bold;
            height: 44px;
            line-height: 40px;
            width: 147px;
            z-index: 1000000094;
        }

        &:hover {
            & {
                @include translate(-103px, 0);
                text-decoration: none;
            }

            .github-icon {
                background: $color-extern-github;
            }
        }
    }

    &-icon {
        @include absolute(0, auto, auto, 0);
        @include border-radius-left(3px);
        @include transition(background-color .4s ease);
        background: lighten($color-extern-github, 10%);
        display: inline-block;
        line-height: 44px;
        font-size: 1.5rem;
        font-weight: normal;
        width: 44px;
        text-align: center;
        color: $color-dark-foreground;
    }
}