@import '_mixins';
@import '_vars';

$size-avatar: 2.2rem;
$size-arrow: .6rem;

.user {
    &-picture {
        & {
            @include circle(2.2rem);
        }

        &:not([src]) {
            @include opacity(0);
        }
    }
}

.navbar-nav {
    .nav-link {
        @include no-selection;
        padding: 0;
        cursor: pointer;
        color: $color-accent-dark;
        line-height: 2.2rem;
    }
}

.nav-link {
    &::after {
        color: $color-theme-blue-light;
    }
}

.dropdown {
    &-item {
        cursor: pointer;
    }

    &-menu {
        & {
            @include absolute($size-navbar-height - $size-arrow, 0, auto, auto);
        }

        &::before {
            @include absolute(-$size-arrow, $size-arrow, auto, auto);
            @include caret-top;
            border-color: transparent transparent $color-accent-dark;
            border-width: $size-arrow;
        }
    }
}