<ul class="nav navbar-nav">
    <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle" (click)="modalMenu.toggle()">
            <span class="user">
                <img class="user-picture" [attr.src]="snapshot.profileId | sqxUserIdPicture" />
                
                <span>{{snapshot.profileDisplayName}}</span>
            </span>
        </span>

        <div class="dropdown-menu" *sqxModalView="modalMenu;closeAlways:true" @fade>
            <a class="dropdown-item" routerLink="/app/administration" *sqxPermission="'?squidex.admin.events|restore|users.read'">
                Administration
            </a>

            <a class="dropdown-item" [sqxPopupLink]="snapshot.profileUrl">
                Profile
            </a>

            <a class="dropdown-item" (click)="logout()">
                Logout
            </a>
        </div>
    </li>
</ul>