<ul class="nav navbar-nav">
    <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle" (click)="modalMenu.toggle()">
            <span class="user">
                <img class="user-picture" [attr.src]="profileId | sqxUserIdPicture" />
                
                <span>{{profileDisplayName}}</span>
            </span>
        </span>

        <div class="dropdown-menu" *sqxModalView="modalMenu" @fade>
            <a class="dropdown-item" routerLink="/app/administration" *ngIf="isAdmin">
                Administration
            </a>

            <a class="dropdown-item" [sqxPopupLink]="profileUrl">
                Profile
            </a>

            <a class="dropdown-item" (click)="logout()">
                Logout
            </a>
        </div>
    </li>
</ul>