@import '_vars';
@import '_mixins';

.nav {
    .nav-item {
        & {
            line-height: 2rem;
        }

        .nav-link {
            color: $color-dark-foreground;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.user-picture {
    margin-right: .5rem;
}

.dropdown {
    &-menu {
        @include absolute(2.6rem, 0, auto, auto);
    }

    &-item {
        cursor: pointer;
    }
}