<ul class="nav navbar-nav">
    <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle" (click)="modalMenu.toggle()">
            <span class="user">
                <img class="user-picture" [attr.src]="snapshot.profileId | sqxUserIdPicture" />
                
                <span>{{snapshot.profileDisplayName}}</span>
            </span>
        </span>

        <div class="dropdown-menu" *sqxModalView="modalMenu;closeAlways:true" @fade>
            <a class="dropdown-item dropdown-info" [sqxPopupLink]="snapshot.profileUrl">
                <div>Signed in with</div>
        
                <strong>{{snapshot.profileEmail}}</strong>
            </a>
            
            <div class="dropdown-divider"></div>

            <ng-container *ngIf="uiState.resources | async; let resources">
                <a class="dropdown-item" routerLink="/app/administration" *ngIf="resources | sqxHasLink:'admin/events':'admin/restore':'admin/users'">
                    Administration
                </a>
            </ng-container>

            <a class="dropdown-item" [sqxPopupLink]="snapshot.profileUrl">
                Profile
            </a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" (click)="logout()" sqxExternalLink>
                Logout
            </a>
        </div>
    </li>
</ul>