@import '_vars';
@import '_mixins';

.nav {
    .nav-item {
        & {
            line-height: 2rem;
        }

        .nav-link {
            color: $color-dark-foreground;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.user-picture {
    margin-right: .5rem;
}

.dropdown {
    &-menu {
        @include absolute($size-navbar-height, .25rem, auto, auto);
        margin: 0;
    }

    &-item {
        cursor: pointer;
    }

    &-info {
        line-height: 1.4rem;
        font-size: .9rem;
        font-weight: normal;
    }
}