<sqx-layout layout="right" overflow="true" padding="true" titleText="i18n:common.filters" white="true" width="20">
    @if (schemaQueries | async; as queries) {
        <sqx-query-list
            [queries]="queries.defaultQueries"
            [queryUsed]="contentsState.query | async"
            (search)="search($event)"
            [types]="'common.contents' | sqxTranslate"></sqx-query-list>
        <hr />
        <div class="sidebar-section">
            <h3>{{ "contents.statusQueries" | sqxTranslate }}</h3>
            <sqx-query-list
                [queries]="contentsState.statusQueries | async"
                [queryUsed]="contentsState.query | async"
                (search)="search($event)"
                [types]="'common.contents' | sqxTranslate"></sqx-query-list>
        </div>
        <hr />
        <sqx-shared-queries
            [queries]="queries"
            [queryUsed]="contentsState.query | async"
            (search)="search($event)"
            [types]="'common.contents' | sqxTranslate"></sqx-shared-queries>
    }
</sqx-layout>
