$button-size: calc(2.5rem - 2px);

.subheader-button {
    @include force-width($button-size);
    font-size: 1rem;
    height: $button-size;
    line-height: 2.5rem;
    margin: 0;
    margin-right: .4rem;
    padding: 0;
}

.new-category-input {
    & {
        background: 0;
        border-bottom-width: 1px !important;
        border-width: 0;
        margin-top: 1rem;
        padding-left: 0;
    }

    &:focus {
        box-shadow: none;
    }
}