<sqx-title message="i18n:common.schemas"></sqx-title>

<sqx-layout layout="left" width="18rem" [white]="true" [padding]="true" [overflow]="true">    
    <ng-container menu>
        <div class="row no-gutters">
            <div class="col-auto" *ngIf="schemasState.canCreate | async">
                <sqx-shortcut keys="ctrl+shift+g" (trigger)="addSchemaDialog.show()"></sqx-shortcut>
    
                <button type="button" class="btn btn-success mr-2" (click)="createSchema()" title="i18n:schemas.createSchemaTooltip" titlePosition="top-left">
                    <i class="icon-plus"></i>          
                </button>
            </div>
            
            <div class="col search-form">
                <sqx-shortcut keys="ctrl+shift+f" (trigger)="inputFind.focus()"></sqx-shortcut>

                <input class="form-control" #inputFind [formControl]="schemasFilter" placeholder="{{ 'schemas.searchPlaceholder' | sqxTranslate }}">
    
                <i class="icon-search"></i>
            </div>
        </div>
    </ng-container>

    <ng-container sidebarContent>
        <div cdkDropListGroup>
            <sqx-schema-category *ngFor="let category of schemasState.categories | async; trackBy: trackByCategory"
                [schemaCategory]="category"
                [schemasFilter]="schemasFilter.valueChanges | async"
                (remove)="removeCategory(category.displayName)">
            </sqx-schema-category>
        </div>

        <form [formGroup]="addCategoryForm.form" (ngSubmit)="addCategory()">
            <input class="form-control underlined" formControlName="name" placeholder="{{ 'schemas.createCategory' | sqxTranslate }}">
        </form>
    </ng-container>

    <ng-container>
        <router-outlet></router-outlet>
    </ng-container>
</sqx-layout>

<ng-container *sqxModal="addSchemaDialog">
    <sqx-schema-form [import]="import" (cancel)="addSchemaDialog.hide()" (complete)="redirectSchema($event)">
    </sqx-schema-form>
</ng-container>
