$icon-size: 4.5rem;

.btn-text {
    margin-left: -.5rem;
    margin-top: -1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.name-group {
    margin-bottom: 1.5rem;
}

.type {
    & {
        margin-bottom: .5rem;
    }

    &-title {
        font-weight: bold;
    }

    &-text {
        font-size: .9rem;
    }

    &-icon {
        & {
            @include border-radius;
            background: transparent;
            border: 1px solid $color-border;
            color: $color-theme-blue;
            cursor: pointer;
            font-size: 1.75rem;
            font-weight: normal;
            height: $icon-size;
            line-height: $icon-size;
            margin-right: .5rem;
            text-align: center;
            text-decoration: none;
            width: $icon-size;
        }

        .radio-input {
            display: none;
        }

        &.active {
            & {
                @include box-shadow-outer(0, 0, 10px, .5);
                background: $color-theme-blue;
                border-color: $color-theme-blue;
                color: $color-dark-foreground;
            }

            &:hover {
                color: $color-dark-foreground;
            }
        }

        &:hover {
            border-color: $color-border-dark;
        }
    }

    .radio-input {
        display: none;
    }
}