<h3 class="wizard-title">Send event payload to Azure Storage Queue</h3>

<form [formGroup]="actionForm" class="form-horizontal">
    <div class="form-group row">
        <label class="col col-3 col-form-label" for="connectionString">Connection String</label>

        <div class="col col-9">
            <sqx-control-errors for="connectionString" [submitted]="actionFormSubmitted"></sqx-control-errors>

            <input type="text" class="form-control" id="connectionString" formControlName="connectionString" />

            <small class="form-text text-muted">
                The connection string to the storage account.
            </small>
        </div>
    </div>

    <div class="form-group row">
    <label class="col col-3 col-form-label" for="queue">Queue Name</label>

        <div class="col col-9">
            <sqx-control-errors for="queue" [submitted]="actionFormSubmitted"></sqx-control-errors>

            <input type="text" class="form-control" id="queue" formControlName="queue" />

            <small class="form-text text-muted">
                The name of the queue.
            </small>
        </div>
    </div>
</form>