<form [formGroup]="actionForm" class="form-horizontal" (ngSubmit)="save()">
    <div class="form-group row">
        <label class="col col-2 col-form-label" for="indexName">Index name</label>

        <div class="col col-10">
            <sqx-control-errors for="url" [submitted]="actionFormSubmitted"></sqx-control-errors>

            <input type="url" class="form-control" id="indexName" formControlName="indexName" />

            <small class="form-text text-muted">
                The name of the index where the event data is going to be indexed to.
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col col-2 col-form-label" for="typeNameForSchema">Type name</label>

        <div class="col col-10">
            <sqx-control-errors for="sharedSecret" [submitted]="actionFormSubmitted"></sqx-control-errors>

            <input type="text" class="form-control" id="typeNameForSchema" formControlName="typeNameForSchema" />

            <small class="form-text text-muted">
                The name of the type which holds the <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping.html" target="_blank">elasticsearch mappings</a> for the selected schema. 
            </small>
        </div>
    </div>
</form>