<div [formGroup]="actionForm" class="form-horizontal">
    <div class="form-group row" *ngFor="let property of definition.properties">
        <label class="col-3 col-form-label" [for]="property.name">
            <span *ngIf="property.editor !== 'Checkbox'">{{property.display}}</span>
        </label>

        <div class="col-9">
            <sqx-control-errors [for]="property.name" [submitted]="actionFormSubmitted"></sqx-control-errors>

            <div [ngSwitch]="property.editor">
                <div *ngSwitchCase="'TextArea'">
                    <textarea class="form-control" id="{{property.name}}" [formControlName]="property.name"></textarea>
                </div>
                <div *ngSwitchCase="'Checkbox'">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [formControlName]="property.name" />
                        <label class="form-check-label" [for]="property.name">
                            {{property.display}}
                        </label>
                    </div>
                </div>
                <div *ngSwitchDefault>
                    <input type="{{property.editor | lowercase}}" class="form-control" id="{{property.name}}" [formControlName]="property.name" />
                </div>
            </div>

            <small class="form-text text-muted">
                {{property.description}}

                <ng-container *ngIf="property.isFormattable">
                    You can use advanced formatting: <a href="https://docs.squidex.io/concepts/rules#3-formatting" sqxExternalLink>Documentation</a>
                </ng-container>
            </small>
        </div>
    </div>
</div>