<sqx-title message="i18n:rules.ruleEvents.listPageTitle"></sqx-title>

<sqx-layout layout="main" titleText="i18n:common.events" titleIcon="events" width="50" hideSidebar="true">
    <ng-container menu>
        <button class="btn btn-text-secondary" (click)="reload()" type="button" title="i18n:rules.refreshEventsTooltip" shortcut="CTRL + B">
            <i class="icon-reset"></i>
            {{ "common.refresh" | sqxTranslate }}
        </button>

        @if (ruleEventsState.canCancelAll | async) {
            <button
                class="btn btn-danger ms-2"
                (sqxConfirmClick)="cancelAll()"
                type="button"
                confirmTitle="i18n:rules.ruleEvents.cancelAllConfirmTitle"
                confirmText="i18n:rules.ruleEvents.cancelAllConfirmText"
                confirmRememberKey="cancelAllRuleEvents">
                {{ "common.cancelAll" | sqxTranslate }}
            </button>
        }
    </ng-container>

    <ng-container>
        <sqx-list-view [isLoading]="ruleEventsState.isLoading | async" table="true">
            <table class="table table-items table-fixed">
                <thead>
                    <tr>
                        <th class="cell-label">
                            <span class="truncate">{{ "common.status" | sqxTranslate }}</span>
                        </th>
                        <th class="cell-40">
                            <span class="truncate">{{ "common.event" | sqxTranslate }}</span>
                        </th>
                        <th class="cell-60">
                            <span class="truncate">{{ "common.description" | sqxTranslate }}</span>
                        </th>
                        <th class="cell-time">
                            <span class="truncate">{{ "common.created" | sqxTranslate }}</span>
                        </th>
                        <th class="cell-actions">&nbsp;</th>
                    </tr>
                </thead>

                @for (event of ruleEventsState.ruleEvents | async; track event.id) {
                    <tbody
                        [sqxRuleEvent]="event"
                        [expanded]="event.id === selectedEventId"
                        (cancel)="cancel(event)"
                        (enqueue)="enqueue(event)"
                        (expandedChange)="selectEvent(event.id)"></tbody>
                }
            </table>

            <sqx-pager [paging]="ruleEventsState.paging | async" (pagingChange)="ruleEventsState.page($event)" autoHide="true"></sqx-pager>
        </sqx-list-view>
    </ng-container>
</sqx-layout>
