<tr class="table-items-row" [class.expanded]="expanded">
    <td class="cell-label">
        <span class="badge rounded-pill badge-{{ event.jobResult | sqxRuleClass }}">{{ event.jobResult }}</span>
    </td>
    <td class="cell-40">
        <span class="truncate">{{ event.eventName }}</span>
    </td>
    <td class="cell-60">
        <span class="truncate">{{ event.description }}</span>
    </td>
    <td class="cell-time">
        <small class="item-modified">{{ event.created | sqxFromNow }}</small>
    </td>
    <td class="cell-actions">
        <button class="btn btn-outline-secondary btn-expand" [class.expanded]="expanded" (click)="expandedChange.emit()" type="button">
            <span class="hidden">{{ "common.settings" | sqxTranslate }}</span>
            <i class="icon-settings"></i>
        </button>
    </td>
</tr>
@if (expanded) {
    <tr>
        <td class="details" colspan="5">
            <div class="event-header">
                <h4>{{ "rules.ruleEvents.lastInvokedLabel" | sqxTranslate }}</h4>
            </div>
            <div class="row g-0 event-stats align-items-center">
                <div class="col-3">
                    <span class="badge rounded-pill badge-{{ event.result | sqxRuleClass }}">{{ event.result }}</span>
                </div>
                <div class="col-2">{{ "rules.ruleEvents.numAttemptsLabel" | sqxTranslate }}: {{ event.numCalls }}</div>
                <div class="col-4">
                    {{ "rules.ruleEvents.nextAttemptLabel" | sqxTranslate }}:
                    @if (event.nextAttempt) {
                        {{ event.nextAttempt | sqxFromNow }}
                    }
                </div>
                <div class="col-3 text-end">
                    @if (event.canDelete) {
                        <button
                            class="btn btn-danger me-1"
                            confirmRememberKey="cancelRuleEvent"
                            confirmText="i18n:rules.ruleEvents.cancelConfirmText"
                            confirmTitle="i18n:rules.ruleEvents.cancelConfirmTitle"
                            (sqxConfirmClick)="cancel.emit()"
                            type="button">
                            {{ "common.cancel" | sqxTranslate }}
                        </button>
                    }
                    @if (event.canUpdate) {
                        <button class="btn btn-success" (click)="enqueue.emit()" type="button">
                            {{ "rules.ruleEvents.enqueue" | sqxTranslate }}
                        </button>
                    }
                </div>
            </div>
            @if (event.lastDump) {
                <div class="row event-dump">
                    <div class="col-12">
                        <sqx-code-editor
                            disabled="true"
                            height="auto"
                            mode="ace/mode/text"
                            [ngModel]="event.lastDump"
                            wordWrap="true"></sqx-code-editor>
                    </div>
                </div>
            }
        </td>
    </tr>
}
<tr class="spacer"></tr>
