@import 'mixins';
@import 'vars';

td {
    &.details {
        border-top: 0;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        padding: 0 !important;
    }
}

.table-items-row {
    &.expanded {
        td {
            border-bottom: 0;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    }
}

.event {
    &-header,
    &-dump,
    &-stats {
        padding: .75rem 1.25rem;
    }

    &-stats {
        font-size: $font-smallest;
        font-weight: normal;
        height: 4rem;
    }

    &-header {
        background: $color-border-light;
        border: 0;
        border-bottom: 2px solid $color-border;
        position: relative;

        h4 {
            font-size: 1rem;
            font-weight: 500;
            margin: 0;
        }
    }
}