<div class="assets-container" [class.disabled]="snapshot.isDisabled" (sqxDropFile)="addFiles($event)" tabindex="1000">
    <div class="header list">
        <div class="row no-gutters">
            <div class="col">
                <div class="drop-area align-items-center" (click)="assetsDialog.show()" (sqxDropFile)="addFiles($event)">
                    Drop files or click
                </div>
            </div>
            <div class="col-auto pl-1">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary btn-toggle" [class.btn-primary]="snapshot.isListView" [disabled]="snapshot.isListView" (click)="changeView(true)">
                        <i class="icon-list"></i>
                    </button>
                    <button type="button" class="btn btn-secondary btn-toggle" [class.btn-primary]="!snapshot.isListView" [disabled]="!snapshot.isListView" (click)="changeView(false)">
                        <i class="icon-grid"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row no-gutters" [class.unrow]="snapshot.isListView">
            <sqx-asset *ngFor="let file of snapshot.assetFiles" [assetFile]="file" 
                (loadError)="removeLoadingAsset(file)"
                (load)="addAsset(file, $event)">
            </sqx-asset>
            <sqx-asset *ngFor="let asset of snapshot.assets; trackBy: trackByAsset" [asset]="asset" 
                [isCompact]="isCompact" removeMode="true"
                [isListView]="snapshot.isListView"
                (update)="notifyOthers(asset)"
                (remove)="removeLoadedAsset(asset)">
            </sqx-asset>
        </div>
    </div>
</div>

<ng-container *sqxModal="assetsDialog">
    <sqx-assets-selector
        (select)="selectAssets($event)">
    </sqx-assets-selector>
</ng-container>