@import '_vars';
@import '_mixins';

:host ::ng-deep {
    .modal-body {
        background: $color-background;
    }

    .modal-tabs {
        background: $color-dark-foreground;
    }
}

.col-selector {
    position: relative;

    .form-control {
        @include absolute(-.4rem, auto, auto, 0);
        max-width: 300px;
        min-width: 300px;
        color: $color-dark-foreground;
    }
}

.table-container {
    display: inline-block;
    padding: 0;
    padding-right: 1.5rem;
    min-width: 100%;
}

.grid-content {
    overflow-y: auto;
    overflow-x: auto;
    padding-right: 0;
}