@import '_vars';
@import '_mixins';

.inline-edit {
    & {
        position: relative;
    }

    .edit-menu {
        @include absolute(.75rem, auto, auto, .25rem);
        border-right: 1px solid $color-border;
        min-height: 2.4rem;
        max-height: 2.4rem;
        padding-right: 1rem;
        white-space: nowrap;
        background: $color-table-background;
        z-index: 100;
    }
}