<ng-container *ngIf="scheduledTo; else noSchedule">
    <span class="content-status pending mr-1" title="{{tooltipText}}">
        <i class="icon-clock" [class.icon-sm]="small"></i>
    </span>
</ng-container>

<ng-template #noSchedule>
    <span class="content-status default mr-1" [style.color]="statusColor" title="{{tooltipText}}">
        <i class="icon-circle" [class.icon-sm]="small"></i>
    </span>
</ng-template>

<span class="content-status-label" *ngIf="showLabel">{{displayStatus}}</span>