@import '_vars';
@import '_mixins';

.sidebar {
    @include fixed($size-navbar-height, auto, 0, 0);
    min-width: $size-sidebar-width;
    max-width: $size-sidebar-width;
    z-index: 100;
}

.nav {
    & {
        text-align: center;
    }

    &-icon {
        font-size: 2rem;
    }

    &-text {
        display: block;
    }

    &-item {
        & {
            color: $color-dark-foreground;
        }

        &:hover {
            i {
                color: $color-theme-blue;
            }
        }
    }

    &-link {
        & {
            padding: 1.25rem;
        }

        &.active {
            & {
                background: $color-theme-blue-dark;
            }

            i {
                color: $color-theme-blue;
            }
        }
    }
}