<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item" *ngIf="permission !== 'Editor'">
            <a class="nav-link" routerLink="schemas" routerLinkActive="active">
                <i class="nav-icon icon-schemas"></i> <div class="nav-text">Schemas</div>
            </a>
        </li>
        <li class="nav-item" *ngIf="permission">
            <a class="nav-link" routerLink="content" routerLinkActive="active">
                <i class="nav-icon icon-contents"></i> <div class="nav-text">Content</div>
            </a>
        </li>
        <li class="nav-item" *ngIf="permission">
            <a class="nav-link" routerLink="assets" routerLinkActive="active">
                <i class="nav-icon icon-assets"></i> <div class="nav-text">Assets</div> 
            </a>
        </li>
        <li class="nav-item" *ngIf="permission !== 'Editor'">
            <a class="nav-link" routerLink="webhooks" routerLinkActive="active">
                <i class="nav-icon icon-webhooks"></i> <div class="nav-text">Webhooks</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="settings" routerLinkActive="active">
                <i class="nav-icon icon-settings"></i> <div class="nav-text">Settings</div>
            </a>
        </li>
        <li class="nav-item" *ngIf="permission !== 'Editor'">
            <a class="nav-link" routerLink="api" routerLinkActive="active">
                <i class="nav-icon icon-api"></i> <div class="nav-text">API</div>
            </a>
        </li>
    </ul>
</div>