<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item" *ngIf="permission !== 'Editor'">
            <a class="nav-link" routerLink="schemas" routerLinkActive="active">
                <i class="nav-icon icon-schemas"></i> <div class="nav-text">Schemas</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="content" routerLinkActive="active">
                <i class="nav-icon icon-content"></i> <div class="nav-text">Content</div>
            </a>
        </li>
        <li class="nav-item" *ngIf="permission === 'Owner'">
            <a class="nav-link" routerLink="settings" routerLinkActive="active">
                <i class="nav-icon icon-settings"></i> <div class="nav-text">Settings</div>
            </a>
        </li>
    </ul>
</div>