$color-apps-border: #65a6ff;

$color-nav-shadow: rgba(26, 93, 184, .26);

.dropdown {
    &-button {
        padding: 1rem 1.5rem;
    }

    &-item {
        border-radius: 0;
    }
}

h3 {
    margin: 0;
}

.btn-block {
    white-space: nowrap;
}

.icon-plus {
    font-size: .8rem;
}

.apps-list {
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

.breadcrumb {
    border: 0;
    border-radius: 0;
    padding: 0;

    &-item {
        &.active {
            color: $color-text-decent;
        }

        a {
            color: inherit !important;
        }
    }
}