<ul class="nav navbar-nav align-items-center">
    <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle" id="app-name" (click)="appsMenu.toggle()" #button>
            <ng-container *ngIf="appsState.selectedApp | async; let app; else noApp">
                {{app.displayName}}
            </ng-container>

            <ng-template #noApp>
                {{ 'apps.appsButtonFallbackTitle' | sqxTranslate }}
            </ng-template>
        </span>

        <ng-container *ngIf="appsState.apps | async; let apps">
            <ng-container *sqxModal="appsMenu;closeAlways:true;onRoot:false">
                <div class="dropdown-menu" [sqxAnchoredTo]="button" position="bottom-left" @fade>
                    <a class="dropdown-item all-apps" routerLink="/app">
                        <span class="all-apps-text">{{ 'apps.allApps' | sqxTranslate }}</span> 
                        <span class="all-apps-pill badge badge-pill badge-primary">{{apps.length}}</span>
                    </a>
        
                    <ng-container *ngIf="apps.length > 0">
                        <div class="dropdown-divider"></div>

                        <div class="apps-list">
                            <a class="dropdown-item" *ngFor="let app of apps; trackBy: trackByApp" [routerLink]="['/app', app.name]" routerLinkActive="active">{{app.displayName}}</a>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="(uiState.settings | async)?.canCreateApps">
                        <div class="dropdown-divider"></div>
        
                        <div class="dropdown-button">
                            <button type="button" class="btn btn-block btn-success" (click)="addAppDialog.show()">
                                <i class="icon-plus"></i> {{ 'apps.appsButtonCreate' | sqxTranslate }}
                            </button>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
    </li>

    <ng-container *ngIf="appsState.selectedApp | async; let app">
        <li class="nav-item" *ngIf="app.planUpgrade && app.planName">
            <div class="btn-group app-upgrade">
                <button type="button" class="btn btn-primary btn-plan">
                    <span [innerHTML]="'apps.upgradeHintCurrent' | sqxTranslate: { plan: app.planName } | sqxMarkdownInline"></span>
                </button>

                <button type="button" class="btn btn-warning" [routerLink]="['/app', app.name, 'settings', 'plans']">
                    {{ 'apps.upgradeHintUpgrade' | sqxTranslate }}
                </button>
            </div>
        </li>
    </ng-container>
</ul>


<ng-container *sqxModal="addAppDialog">
    <sqx-app-form (complete)="addAppDialog.hide()">
    </sqx-app-form>
</ng-container>