.navbar {
    @include box-shadow-outer(0, 2px, 3px, .13);
    padding-left: $size-sidebar-width + 2rem;
}

.navbar-brand {
    @include absolute(0, null, 0, 0);
    background: $color-theme-brand;
    color: $color-white !important;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: normal;
    width: $size-sidebar-width;
}