<nav class="navbar fixed-top navbar-dark bg-primary bg-faded navbar-expand">
    <span class="navbar-brand" routerLink="/app">
        <sqx-logo [isLoading]="loadingService.loading | async"></sqx-logo>
    </span>

    <div class="float-left apps-menu">
        <sqx-apps-menu></sqx-apps-menu>
    </div>

    <div class="float-right profile-menu">
        <sqx-profile-menu></sqx-profile-menu>
    </div>

    <div class="float-right notifications-menu">
        <sqx-notifications-menu></sqx-notifications-menu>
    </div>

    <div class="float-right assets-menu">
        <sqx-asset-uploader></sqx-asset-uploader>
    </div>
</nav>

<div class="main">
    <router-outlet></router-outlet>
</div>