<ul class="nav navbar-nav">
    <li class="nav-item nav-icon dropdown" #button>
        <span class="nav-link dropdown-toggle" (click)="modalMenu.show()">
            <i class="icon-comments"></i>

            <span class="badge badge-pill" *ngIf="unread">{{unread}}</span>
        </span>
    </li>
</ul> 

<ng-container *sqxModal="modalMenu;onRoot:false">
    <div class="dropdown-menu" [scrollTop]="scrollMe.scrollHeight" [sqxAnchoredTo]="button" [offset]="10" @fade #scrollMe>
        <ng-container *ngIf="commentsState.comments | async; let comments">
            <small class="text-muted" *ngIf="comments.length === 0">
                No notifications yet.
            </small>

            <sqx-comment *ngFor="let comment of comments; trackBy: trackByComment"
                [comment]="comment"
                [commentsState]="commentsState"
                [confirmDelete]="false"
                [canDelete]="true"
                [canFollow]="true"
                [userToken]="userToken">
            </sqx-comment>
        </ng-container>
    </div>
</ng-container>