<ul class="nav navbar-nav align-items-center">
    <li class="nav-item nav-icon dropdown" #button>
        <span class="nav-link dropdown-toggle" (click)="toggleProfile()">
            <span class="user">
                <img class="user-picture" [src]="snapshot.profileId | sqxUserIdPicture">
            </span>
        </span>
    </li>
</ul>

<ng-container *sqxModal="modalMenu;onRoot:false;closeAlways:true">
    <div class="dropdown-menu" [sqxAnchoredTo]="button" [offset]="10" @fade>
        <a class="dropdown-item dropdown-info" [sqxPopupLink]="snapshot.profileUrl">
            <div>{{ 'profile.userEmail' | sqxTranslate }}</div>
    
            <strong>{{snapshot.profileEmail}}</strong>
        </a>
        
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" routerLink="/app/administration" *ngIf="uiState.canUserAdminResource | async">
            {{ 'common.administration' | sqxTranslate }}
        </a>

        <a class="dropdown-item" [sqxPopupLink]="snapshot.profileUrl">
            {{ 'profile.title' | sqxTranslate }}
        </a>

        <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" (click)="toggleSubmenu()" sqxStopClick>
                {{ 'common.language' | sqxTranslate }}
            </a>

            <div class="dropdown-menu" [class.open]="snapshot.showSubmenu">
                <a class="dropdown-item" *ngFor="let availableLanguage of languages" [class.active]="availableLanguage.iso2Code === language" (click)="changeLanguage(availableLanguage.iso2Code)">
                    {{ availableLanguage.localName }}
                </a>
            </div>
          </div>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" (click)="logout()" sqxExternalLink>
            {{ 'common.logout' | sqxTranslate }}
        </a>
    </div>
</ng-container>