@import '_vars';
@import '_mixins';

.user-picture {
    margin-right: .5rem;
}

.dropdown {
    &-menu {
        @include absolute($size-navbar-height - .5rem, 0, auto, auto);
        margin: 0;
    }

    &-item {
        cursor: pointer;
    }

    &-info {
        font-size: .9rem;
        font-weight: normal;
        line-height: 1.4rem;
    }
}