.user-picture {
    margin-right: .5rem;
}

.dropdown {
    &-item {
        cursor: pointer;
    }

    &-info {
        font-size: .9rem;
        font-weight: normal;
        line-height: 1.4rem;
    }
}

@media (max-width: 1200px) {
    .profile-name {
        display: none;
    }
}

@media (max-width: 1000px) {
    .nav-item-help {
        display: none;
    }
}