@import '_vars';
@import '_mixins';

.nav {
    .nav-item {
        & {
            line-height: 2rem;
        }

        .nav-link {
            color: $color-dark-foreground;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.nav-item-help {
    padding-right: 1rem;
    font-size: 1.4rem;
    font-weight: lighter;
    vertical-align: middle;
}

.user-picture {
    margin-right: .5rem;
}

.dropdown {
    &-menu {
        @include absolute($size-navbar-height - .5rem, 0, auto, auto);
        margin: 0;
    }

    &-item {
        cursor: pointer;
    }

    &-info {
        line-height: 1.4rem;
        font-size: .9rem;
        font-weight: normal;
    }
}