<h3>Label com!!!</h3>
<div class="form-group row">
    <label class="col-3 col-form-label" for="{{field.fieldId}}_fieldDefaultValues">{{ 'common.label' | sqxTranslate }}</label>

    <div class="col-9">
        <sqx-control-errors for="label"></sqx-control-errors>

        <input type="text" class="form-control" id="{{field.fieldId}}_fieldDefaultValues" maxlength="100" formControlName="label">

        <sqx-form-hint>
            {{ 'schemas.field.labelHint' | sqxTranslate }}
        </sqx-form-hint>
    </div>
</div>


<div class="form-group row">
    <label class="col-3 col-form-label" for="{{field.fieldId}}_fieldHints">{{ 'common.hints' | sqxTranslate }}</label>

    <div class="col-9">
        <sqx-control-errors for="hints"></sqx-control-errors>

        <input type="text" class="form-control" id="{{field.fieldId}}_fieldHints" maxlength="100" formControlName="hints">

        <sqx-form-hint>
            {{ 'schemas.field.hintsHint' | sqxTranslate }}
        </sqx-form-hint>
    </div>
</div>

<div class="form-group row">
    <label class="col-3 col-form-label" for="{{field.fieldId}}_fieldDefaultValues">{{ 'common.label' | sqxTranslate }}</label>

    <div class="col-9">
        <sqx-control-errors for="label"></sqx-control-errors>
        <h3>Localized label!!!</h3>
        <sqx-localized-input type="text" [languages]="languages" formControlName="label" id="{{field.fieldId}}_fieldDefaultValues"></sqx-localized-input>

        <sqx-form-hint>
            {{ 'schemas.field.labelHint' | sqxTranslate }}
        </sqx-form-hint>
    </div>
</div>