:host ::ng-deep {
    .modal-tabs {
        background: $color-white;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }

    .modal-content {
        background: $color-background;
    }

    .form-control-dark {
        border: 1px solid darken($color-modal-header-foreground, 20%);
    }
}