:host ::ng-deep {
    .modal-body {
        background: $color-background;
    }

    .modal-tabs {
        background: $color-dark-foreground;
    }

    .form-control-dark {
        border: 1px solid darken($color-modal-header-foreground, 20%);
    }
}

.col-selector {
    position: relative;

    .form-control {
        @include absolute(-.125rem, auto, auto, 0);
        @include force-width(300px);
        color: $color-dark-foreground;
    }
}

.table-container {
    display: inline-block;
    min-width: 100%;
    padding: 0;
    padding-right: 1.5rem;
}