.disabled {
    pointer-events: none;
}

.invalid {
    color: darken($color-border, 30%);
    font-size: 1.2rem;
    font-weight: normal;
    padding: 2rem;
    text-align: center;
}

.references-container {
    background: $color-background;
    max-height: 20rem;
    min-height: 6rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
}

.drop-area {
    & {
        @include border-radius;
        border: 2px dashed darken($color-border, 10%);
        color: darken($color-border, 30%);
        cursor: pointer;
        font-size: 1rem;
        font-weight: normal;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        transition: border-color .4s ease;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.table {
    margin-bottom: -.25rem;
    margin-top: 1rem;
}