<form [formGroup]="userForm.form" (ngSubmit)="save()">
    <input name="foilautofill" style="display: none" type="password" />
    <sqx-layout layout="right" overflow="true" padding="true" white="true" width="30">
        <ng-container title>
            @if (usersState.selectedUser | async) {
                <sqx-title message="i18n:users.editPageTitle" />
                <h3>{{ "users.editTitle" | sqxTranslate }}</h3>
            } @else {
                <sqx-title message="i18n:users.createPageTitle" />
                <h3>{{ "users.createTitle" | sqxTranslate }}</h3>
            }
        </ng-container>
        <ng-container menu>
            @if (usersState.selectedUser | async; as user) {
                @if (isEditable) {
                    <button class="btn btn-primary" shortcut="CTRL + SHIFT + S" type="submit">{{ "common.save" | sqxTranslate }}</button>
                }
            } @else {
                <button class="btn btn-primary" shortcut="CTRL + SHIFT + S" type="submit">{{ "common.save" | sqxTranslate }}</button>
            }
        </ng-container>
        <ng-container>
            <sqx-form-error [error]="userForm.error | async" />
            <sqx-form-row for="email" label="common.email" required vertical>
                <input class="form-control" id="email" autocomplete="off" formControlName="email" maxlength="100" type="email" />
            </sqx-form-row>

            <sqx-form-row for="displayName" label="common.displayName" required vertical>
                <input class="form-control" id="displayName" autocomplete="off" formControlName="displayName" maxlength="100" spellcheck="false" />
            </sqx-form-row>

            <div class="form-group form-group-section">
                <sqx-form-row for="password" label="common.password" vertical>
                    <input class="form-control" id="password" autocomplete="off" formControlName="password" maxlength="100" type="password" />
                </sqx-form-row>

                <sqx-form-row for="passwordConfirm" label="common.passwordConfirm" vertical>
                    <input class="form-control" id="passwordConfirm" autocomplete="off" formControlName="passwordConfirm" maxlength="100" type="password" />
                </sqx-form-row>
            </div>

            <div class="form-group form-group-section">
                <sqx-form-row for="permissions" label="common.permissions" vertical>
                    <textarea
                        class="form-control"
                        id="permissions"
                        autocomplete="off"
                        formControlName="permissions"
                        placeholder="{{ 'common.separateByLine' | sqxTranslate }}"
                        spellcheck="false"></textarea>
                </sqx-form-row>
            </div>
        </ng-container>
    </sqx-layout>
</form>
