:host ::ng-deep {
    .user-ref {
        font-weight: 500;
    }

    .marker-ref {
        font-weight: 500;
    }
}

.user-picture {
    margin-top: .25rem;
}

.user-ref {
    padding-right: .25rem;
}

.event {
    & {
        color: $color-text-decent;
        font-size: .9rem;
        font-weight: normal;
        margin-bottom: 1.5rem;
    }

    &-created {
        font-size: .75rem;
    }

    &-right {
        overflow: hidden;
    }

    &-message {
        overflow-wrap: break-word;
    }
}