.user-ref {
    padding-right: .25rem;
}

:host ::ng-deep {
    .user-ref {
        font-weight: 500;
    }

    .marker-ref {
        font-weight: 500;
    }
}

.user-picture {
    margin-top: .25rem;
}

.event {
    font-size: $font-small;
    font-weight: normal;
    margin-bottom: 1.5rem;

    &-created {
        font-size: $font-smallest;
    }

    &-right {
        overflow: hidden;
    }

    &-message {
        overflow-wrap: break-word;
    }
}