@import '_vars';
@import '_mixins';

$color-selection-background: #ebf0f2;
$color-subnav-text: #818181;
$color-subnav-dot: #bdc6d0;
$color-border-left-width: 4px;

@mixin build-item($color) {
    & .nav-link {
        &:hover,
        &.active {
            border-color: $color;
        }
    }

    & i {
        margin-right: .5rem;
        color: $color;
    }
}

.nav {
    & {
        list-style: none;
        padding: 0;
        margin-left: -$padding-layout-h - 1px;
        margin-right: -$padding-layout-h;
    }

    &-item {
        &--media {
            @include build-item($color-section-media);
        }

        &--content {
            @include build-item($color-section-content);
        }

        &--dashboard {
            @include build-item($color-section-dashboard);
        }

        &--schemas {
            @include build-item($color-section-schemas);
        }

        &--settings {
            @include build-item($color-section-settings);
        }
    }

    &-item-group > a {
        & {
            position: relative;
        }

        &::after {
            @include absolute(50%, 30px, auto, auto);
            @include caret-bottom;
        }
    }

    &-link {
        & {
            @include transition(background .2s ease);
            border-left: $color-border-left-width solid transparent;
            color: $color-text;
            cursor: pointer;
            display: block;
            font-size: 1rem;
            font-weight: 450;
            line-height: 3rem;
            padding-left: $padding-layout-h - $color-border-left-width;
            padding-right: $padding-layout-h;
        }

        &:hover,
        &.active {
            background: $color-selection-background;
        }

        &.active {
            font-weight: bold;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.subnav {
    & {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .nav-link {
        & {
            color: $color-subnav-text;
            padding-left: 55px;
            font-size: .9rem;
            font-weight: 450;
            line-height: 2rem;
        }
    }

    &-item {
        &::before {
            content: '•';
            color: $color-subnav-dot;
            float: left;
            font-weight: bold;
            line-height: 2rem;
            margin-left: 35px;
        }
    }
}