@import '_vars';
@import '_mixins';

$color-selection-background: #ebf0f2;

$color-border-left-width: 4px;

@mixin build-item($color) {
    &:hover,
    &.active {
        border-color: $color;
    }

    & i {
        color: $color;
    }
}

.nav {
    & {
        list-style: none;
        padding: 0;
        margin-top: 40px;
        margin-left: -$padding-layout - 1px;
        margin-right: -$padding-layout;
    }

    &-link {
        & {
            @include transition(background .2s ease);
            border-left: $color-border-left-width solid transparent;
            color: $color-text;
            cursor: pointer;
            display: block;
            font-size: 1rem;
            font-weight: 450;
            line-height: 3rem;
            padding-left: $padding-layout - $color-border-left-width;
            padding-right: $padding-layout;
        }

        &.active {
            font-weight: bold;
        }

        &:hover {
            text-decoration: none;
        }

        &:hover,
        &.active {
            background: $color-selection-background;
        }

        &--media {
            @include build-item($color-section-media);
        }

        &--content {
            @include build-item($color-section-content);
        }

        &--dashboard {
            @include build-item($color-section-dashboard);
        }

        &--schemas {
            @include build-item($color-section-schemas);
        }

        &--settings {
            @include build-item($color-section-settings);
        }
    }
}