<ul class="nav">
    <li class="nav-item">
        <a class="nav-link nav-link--dashboard" routerLink="../dashboard" routerLinkActive="active">
            <i class="icon-dashboard"></i> Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link--schemas" routerLink="../schemas" routerLinkActive="active">
            <i class="icon-schemas"></i> Schemas
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link--content">
            <i class="icon-content"></i> Content
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link--media">
            <i class="icon-media"></i> Media</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link--settings">
            <i class="icon-settings"></i> Settings
        </a>
    </li>
</ul>