<sqx-title message="i18n:users.listPageTitle"></sqx-title>

<sqx-panel desiredWidth="50rem" [grid]="true" closeQueryParamsHandling="">
    <ng-container title>
        {{ 'users.listTitle' | sqxTranslate }}
    </ng-container>

    <ng-container menu>
        <button type="button" class="btn btn-text-secondary mr-1" (click)="reload()" title="i18n:users.refreshTooltip">
            <i class="icon-reset"></i> {{ 'common.refresh' | sqxTranslate }}
        </button>

        <sqx-shortcut keys="ctrl+shift+r" (trigger)="reload()"></sqx-shortcut>
        <sqx-shortcut keys="ctrl+shift+f" (trigger)="inputFind.focus()"></sqx-shortcut>

        <form class="form-inline mr-1" (ngSubmit)="search()">
            <input class="form-control" #inputFind [formControl]="usersFilter" placeholder="{{ 'users.search' | sqxTranslate }}">
        </form>

        <ng-container *ngIf="usersState.canCreate | async">
            <sqx-shortcut keys="ctrl+shift+n" (trigger)="buttonNew.click()"></sqx-shortcut>

            <button type="button" class="btn btn-success" #buttonNew routerLink="new" title="i18n:users.createTooltip">
                <i class="icon-plus"></i> {{ 'users.create' | sqxTranslate }}
            </button>
        </ng-container>
    </ng-container>

    <ng-container content>
        <sqx-list-view [isLoading]="usersState.isLoading | async" [table]="true">
            <ng-container header>
                <table class="table table-items table-fixed" #header>
                    <thead>
                        <tr>
                            <th class="cell-user">
                                &nbsp;
                            </th>
                            <th class="cell-auto">
                                <span class="truncate">{{ 'common.name' | sqxTranslate }}</span>
                            </th>
                            <th class="cell-auto">
                                <span class="truncate">{{ 'common.email' | sqxTranslate }}</span>
                            </th>
                            <th class="cell-actions-lg">
                                <span class="truncate">{{ 'common.actions' | sqxTranslate }}</span>
                            </th>
                        </tr>
                    </thead>
                </table>
            </ng-container>
                
            <div content>
                <table class="table table-items table-fixed" *ngIf="usersState.users | async; let users" [sqxSyncWidth]="header">
                    <tbody *ngFor="let user of users; trackBy: trackByUser" [sqxUser]="user"></tbody>
                </table>
            </div>
    
            <ng-container footer>
                <sqx-pager [paging]="usersState.paging | async" (pagingChange)="usersState.page($event)"></sqx-pager>
            </ng-container>
        </sqx-list-view>
    </ng-container>
</sqx-panel>

<router-outlet></router-outlet>