<form *ngIf="renaming; else noRenaming" (ngSubmit)="rename()">
    <div class="row g-1 align-items-center">
        <div class="col">
            <div class="form-group">
                <sqx-control-errors [for]="renameForm"></sqx-control-errors>
                
                <input class="form-control form-control-{{size}}" [formControl]="renameForm" [maxLength]="inputTitleLength" sqxFocusOnInit (keydown)="onKeyDown($event)" spellcheck="false">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-{{size}}" data-testid="save" [disabled]="!renameForm.valid || !renameForm.dirty">
                <span class="hidden">{{ 'common.save' | sqxTranslate }}</span>
                <i class="icon-checkmark"></i>
            </button>
        </div>
        <div class="col-auto" *ngIf="closeButton">
            <button type="button" class="btn btn-text-secondary btn-{{size}} btn-cancel" data-testid="cancel" (click)="toggleRename()">
                <span class="hidden">{{ 'common.cancel' | sqxTranslate }}</span>
                <i class="icon-close"></i>
            </button>
        </div>
    </div>
</form>

<ng-template #noRenaming>
    <div class="row g-0 align-items-center title-view d-nowrap">
        <div class="col">
            <h3 class="truncate {{size}}" [class.fallback]="!inputTitle" (dblclick)="toggleRename()">
                {{inputTitle || displayFallback}}
            </h3>
        </div>
        <div class="col-auto title-edit" *ngIf="!disabled" >
            <button type="button" class="btn btn-text-secondary btn-{{size}}" (click)="toggleRename()">
                <i class="icon-pencil text-decent"></i>
            </button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-text-secondary btn-{{size}} btn-placeholder" (click)="toggleRename()">
                &nbsp;
            </button>
        </div>
    </div>
</ng-template>