@import '_mixins';
@import '_vars';

$color-input-border: rgba(0, 0, 0, .15);

.items {
    &-container {
        position: relative;
    }

    & {
        @include absolute(2px, auto, auto, 0);
        @include border-radius(.25em);
        @include box-shadow;
        width: 18rem;
        max-height: 12rem;
        border: 1px solid $color-input-border;
        background: $color-dark-foreground;
        padding: .3rem 0;
        overflow-y: auto;
    }
}

.item {
    & {
        padding: .3rem .8rem;
        background: transparent;
        cursor: pointer;
    }

    &.active {
        color: $color-dark-foreground;
        background: $color-theme-blue;
    }

    &-image {
        @include circle(2.5rem);
        float: left;
    }

    &-title,
    &-description {
        @include truncate;
        margin-left: 3rem;
    }

    &-description {
        font-size: .8rem;
        font-style: italic;
    }
}