@import '_mixins';
@import '_vars';

.code {
    background: $color-code-background;
    padding-left: .5rem;
    padding-right: 3rem;
    margin: .25rem 0;
}

.code,
.code-copy {
    font-size: .8rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    min-height: 27px;
}

.copy-container {
    position: relative;
}

.code-copy {
    & {
        @include absolute(0, 0, auto, auto);
        border: 0;
        background: darken($color-border-dark, 30%);
        padding-left: .375rem;
        padding-right: .375rem;
        color: $color-dark-foreground;
    }

    &:focus {
        background: darken($color-border-dark, 40%);
    }
}