@import '_mixins';
@import '_vars';

$color-size: 24px;
$color-button: #1875cc;
$color-button-hover: #1460a8;
$color-border: #fff;
$button-size: 1.81rem;

.color-palette {
    & {
        @include clearfix;
        padding: 6px;
        width: 8 * ($color-size + 6);
    }

    &-box {
        & {
            border: 2px solid transparent;
            margin: 2px;
            height: $color-size;
            width: $color-size;
            float: left;
        }

        &:hover {
            border-color: $color-button-hover;
        }

        &.selected {
            & {
                border-color: $color-button;
            }

            &:hover {
                border-color: $color-button;
            }
        }

        &.disabled {
            border-color: transparent;
        }
    }

    &-color {
        border: 1px solid $color-border;
        width: $color-size - 4;
        height: $color-size - 4;
        display: block;
    }
}

.dropdown-menu {
    background: $color-border;
}

.btn-group {
    > .btn {
        &:first-child {
            @include border-radius(.25em);
        }
    }
}

.btn {
    width: $button-size;
    height: $button-size;
}