@import '_mixins';
@import '_vars';

.notification-container {
    & {
        margin: .625rem;
        max-width: 30rem;
        min-width: 30rem;
        position: fixed;
        z-index: 100000;
    }

    .alert {
        max-height: 20rem;
    }

    &-topright {
        @include fixed(0, 0, auto, auto);
    }

    &-topleft {
        @include fixed(0, auto, auto, 0);
    }

    &-bottomright {
        @include fixed(auto, 0, 0, auto);
    }

    &-bottomleft {
        @include fixed(auto, auto, 0, 0);
    }
}