<div class="modal" *sqxModalView="dialogView;onRoot:true">
    <div class="modal-backdrop"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{dialogRequest.title}}</h4>
            </div>

            <div class="modal-body">
                {{dialogRequest.text}}
            </div>

            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="float-left btn btn-secondary" (click)="cancel()">No</button>
                    <button type="button" class="float-right btn btn-danger" (click)="confirm()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="notification-container notification-container-{{position}}">
    <div class="alert alert-dismissible alert-{{notification.messageType}}" *ngFor="let notification of notifications" (click)="close(notification)" @fade>
        <button type="button" class="close" data-dismiss="alert" (close)="close(notification)">&times;</button>

        {{notification.message}}
    </div>
</div>