<span>
    <div class="selection">
        <input type="text" class="form-control" [disabled]="isDisabled" (click)="open()" readonly (keydown)="onKeyDown($event)" #input
            autocomplete="off" 
            autocorrect="off"
            autocapitalize="off">
        
        <div class="control-dropdown-item" *ngIf="selectedItem">
            <span *ngIf="!selectionTemplate">{{selectedItem}}</span>
            
            <ng-template *ngIf="selectionTemplate" [sqxTemplateWrapper]="selectionTemplate" [item]="selectedItem"></ng-template>
        </div>

        <i class="icon-caret-down"></i>
    </div>

    <div class="items-container">
        <div class="control-dropdown" #container *sqxModalView="dropdown" [sqxModalTarget]="input" position="bottomLeft">
            <div *ngFor="let item of items; let i = index;" class="control-dropdown-item control-dropdown-item-selectable" [class.active]="i === selectedIndex" (mousedown)="selectIndexAndClose(i)" [sqxScrollActive]="i === selectedIndex" [container]="container">
                <span *ngIf="!itemTemplate">{{item}}</span>
                
                <ng-template *ngIf="itemTemplate" [sqxTemplateWrapper]="itemTemplate" [item]="item" [index]="i"></ng-template>
            </div>
        </div>
    </div>
</span>