<div>
    <div class="editor" #editor></div>
    
    <div>
        <form class="form-inline" [formGroup]="geolocationForm" (submit)="updateValueByInput()">
            <div class="form-group latitude-group">
                <input type="number" class="form-control" formControlName="latitude" step="any" #dateInput />
            </div>
            <div class="form-group longitude-group">
                <input type="number" class="form-control" formControlName="longitude" step="any" />
            </div>
            <div class="form-group" [class.hidden]="!hasValue">
                <button type="reset" class="btn btn-link clear" [disabled]="isDisabled" (click)="reset()">Clear</button>
            </div>

            <button type="submit" class="hidden"></button>
        </form>
    </div>
</div>