@import '_mixins';
@import '_vars';

$background: #fff;

.editor {
    height: 30rem;
}

.fullscreen {
    @include fixed(0, 0, 0, 0);
    border: 0;
    background: $background;
    z-index: 100000;
}