<div #panel>
    <div class="panel panel-{{theme}}" [@slideRight]>
        <ng-content select=[inner] *ngIf="isFullSize"></ng-content>

        <div class="panel-header" [class.large]="showSecondHeader" *ngIf="!isFullSize">
            <div class="panel-title-row">
                <div class="float-right">
                    <ng-content select=[menu]></ng-content>
                </div>

                <h3 class="panel-title">
                    <ng-content select=[title]></ng-content>
                </h3>
            </div>

            <a class="panel-close" sqxParentLink [isLazyLoaded]="isLazyLoaded" *ngIf="showClose">
                <i class="icon-close"></i>
            </a>

            <div class="panel-header-row" *ngIf="showSecondHeader">
                <ng-content select=[secondHeader]></ng-content>
            </div>
        </div>

        <div class="panel-main">
            <div class="panel-content {{contentClass}}" [class.panel-content-scroll]="showScrollbar" [class.panel-content-blank]="isBlank">
                <ng-content select=[content]></ng-content>
            </div>

            <div class="panel-sidebar" *ngIf="showSidebar">
                <ng-content select=[sidebar]></ng-content>
            </div>
        </div>
    </div>
</div>