<ng-container [ngSwitch]="status">
    <div *ngSwitchCase="'Failed'" class="status status-failed {{size}}" [title]="statusText">
        <i class="icon-exclamation"></i>
    </div>
    <div *ngSwitchCase="'Success'" class="status status-success {{size}}" [title]="statusText">
        <i class="icon-checkmark"></i>
    </div>
    <div *ngSwitchCase="'Completed'" class="status status-success {{size}}" [title]="statusText">
        <i class="icon-checkmark"></i>
    </div>
    <div *ngSwitchDefault class="status status-pending spin {{size}}" [title]="statusText">
        <i class="icon-hour-glass"></i>
    </div>
</ng-container>