@import '_mixins';
@import '_vars';

.items {
    margin-top: .4rem;
    min-height: 1.6rem;
}

.item {
    & {
        @include border-radius(.8rem);
        display: inline-block;
        color: $color-dark-foreground;
        margin-right: .4rem;
        margin-bottom: .25rem;
        min-height: 1.6rem;
        padding: 0 .6rem;
        background: $color-theme-blue;
        border: 0;
        font-size: .8rem;
        font-weight: normal;
        line-height: 1.6rem;
    }

    &.disabled {
        & {
            pointer-events: none;
        }

        &,
        &:hover {
            background: $color-theme-blue-light;
        }
    }

    &:hover {
        background: $color-theme-blue-dark;
    }
}