@import '_vars';
@import '_mixins';

.apps {
    @include clearfix();
    padding: 1.25rem;
    padding-left: $size-sidebar-width + .25rem;
    display: block;
}

.app {
    float: left;
    width: 20rem;
    margin: .625rem;
}

.empty {
    & {
        text-align: center;
    }

    &-headline {
        margin: 1.25rem;
        margin-top: 6.25rem;
    }
}