<sqx-title message="Apps"></sqx-title>

<div class="apps">
    <div class="empty text-center" *ngIf="(apps | async)?.length === 0">
        <h3 class="empty-headline">You are not collaborating to any app yet</h3>

        <button class="apps-empty-button btn btn-success" (click)="addAppDialog.show()"><i class="icon-plus"></i> Create New App</button>
    </div>

    <div class="app card float-left" *ngFor="let app of (apps | async)" title="{{app.name}}">
        <div class="card-block app-content">
            <h4 class="card-title app-title">{{app.name}}</h4>

            <a [routerLink]="['/app', app.name]">Edit</a>
        </div>
    </div>
</div>

<div class="modal" *sqxModalView="addAppDialog;onRoot:true" @fade>
    <div class="modal-backdrop"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create App</h4>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="addAppDialog.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <sqx-app-form 
                    (created)="addAppDialog.hide()"
                    (cancelled)="addAppDialog.hide()"></sqx-app-form>
            </div>
        </div>
    </div>
</div>