<sqx-title message="Apps"></sqx-title>

<div class="apps-section">
    <h1 class="apps-title">Hi {{authState.user?.displayName}}</h1>

    <div class="subtext">
        Welcome to  Squidex.
    </div>
</div>

<ng-container *ngIf="appsState.apps | async; let apps">
    <div class="apps-section">
        <div class="empty" *ngIf="apps.length === 0">
            <h3 class="empty-headline">You are not collaborating to any app yet</h3>
        </div>

        <div class="card card-href card-app float-left" *ngFor="let app of apps" [routerLink]="['/app', app.name]">
            <div class="card-body">
                <h4 class="card-title">{{app.name}}</h4>

                <div class="card-text">
                    <a [routerLink]="['/app', app.name]">Edit</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div class="apps-section">
    <div class="card card-template card-href" (click)="createNewApp('')">
        <div class="card-body">
            <div class="card-image">
                <img src="/images/add-app.png" />
            </div>

            <h4 class="card-title">New App</h4>

            <div class="card-text">
                Create a new blank app without content and schemas.
            </div>
        </div>
    </div>

    <div class="card card-template card-href" (click)="createNewApp('Blog')">
        <div class="card-body">
            <div class="card-image">
                <img src="/images/add-blog.png" />
            </div>

            <h4 class="card-title">New Blog Sample</h4>

            <div class="card-text">
                <div>Start with our ready to use blog.</div>
                <div>
                    Sample Code: <a href="https://github.com/Squidex/squidex-samples/tree/master/csharp/Sample.Blog" (click)="$event.stopPropagation()" target="_blank">C#</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-template card-href" (click)="createNewApp('Profile')">
        <div class="card-body">
            <div class="card-image">
                <img src="/images/add-profile.png" />
            </div>

            <h4 class="card-title">New Profile Sample</h4>

            <div class="card-text">
                <div>Create your profile page.</div>
                <div>
                    Sample Code: <a href="https://github.com/Squidex/squidex-samples/tree/master/csharp/Sample.Profile" (click)="$event.stopPropagation()" target="_blank">C#</a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *sqxModalView="addAppDialog;onRoot:true">
    <sqx-app-form [template]="addAppTemplate"
        (completed)="addAppDialog.hide()">
    </sqx-app-form>
</ng-container>

<ng-container *sqxModalView="onboardingModal;onRoot:true;closeAuto:false">
    <sqx-onboarding-dialog (closed)="onboardingModal.hide()"></sqx-onboarding-dialog>
</ng-container>