@import '_vars';
@import '_mixins';

content {
    padding: 1.25rem;
}

.empty {
    & {
        text-align: center;
    }

    &-headline {
        margin: 1.25rem;
        margin-top: 6.25rem;
    }
}

.app {
    float: left;
    width: 20rem;
    margin: .625rem;
}