@import '_vars';
@import '_mixins';

.apps {
    &-title {
        font-weight: light;
        font-size: 1.4rem;
    }

    &-section {
        @include clearfix;
        padding-top: 2rem;
        padding-right: 1.25rem;
        padding-bottom: 0;
        display: block;
    }
}

.col-left {
    padding-left: $size-sidebar-width + .25rem;
}

.col-right {
    border-left: 1px solid darken($color-border, 3%);
    min-height: 200px;
    min-width: 300px;
    max-width: 300px;
    padding: 0 2rem 0 1rem;
}

.card {
    & {
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 16rem;
        float: left;
    }

    &-lg {
        width: 33rem;
    }

    &-image {
        text-align: center;
    }

    &-text {
        color: $color-text-decent;
        font-weight: normal;
        font-size: .9rem;
    }

    &-more {
        color: $color-text-decent;
        font-weight: normal;
        font-size: .8rem;
        margin-top: .4rem;
    }

    &-title {
        @include truncate;
        color: $color-title;
        font-weight: light;
        font-size: 1.2rem;
        margin-top: .4rem;
    }

    &-template {
        .card-body {
            min-height: 15.5rem;
        }
    }

    &-href {
        & {
            cursor: pointer;
        }

        &:hover {
            @include box-shadow(0, 3px, 16px, .2px);
        }

        &:focus {
            outline: none;
        }

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
}

$cicle-size: 1.5rem;

.restore {
    &-card {
        float: none;
    }

    &-status {
        & {
            @include circle($cicle-size);
            line-height: $cicle-size + .1rem;
            text-align: center;
            font-size: .6 * $cicle-size;
            font-weight: normal;
            background: $color-border;
            color: $color-dark-foreground;
            vertical-align: middle;
        }
    
        &-pending {
            color: inherit;
        }
    
        &-failed {
            background: $color-theme-error;
        }
    
        &-success {
            background: $color-theme-green;
        }
    }
}