@import '_vars';
@import '_mixins';

:host ::ng-deep {
    img {
        @include box-shadow(0, 4px, 20px, .2);
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
    }

    p {
        margin-bottom: 1.5rem;
    }
}