<sqx-title message="{app} | Schemas" parameter1="app" value1="{{appName() | async}}"></sqx-title>

<sqx-panel theme="dark" panelWidth="16rem">
    <div class="panel-header">
        <div class="panel-title-row">
            <h3 class="panel-title">Schemas</h3>
        </div>

        <a class="panel-close" sqxParentLink isLazyLoaded="true">
            <i class="icon-close"></i>
        </a>

        <div class="panel-header-row">
            <sqx-shortcut keys="ctrl+shift+f" (trigger)="findInput.focus()"></sqx-shortcut>

            <div class="search-form">
                <input class="form-control form-control-dark" #findInput [formControl]="schemasFilter" placeholder="Search for schemas" />

                <i class="icon-search"></i>
            </div>
        </div>
    </div>

    <div class="panel-main">
        <div class="panel-content">
            <ul class="nav nav-panel nav-dark nav-dark-bordered flex-column">
                <li class="nav-item" *ngFor="let schema of schemasFiltered | async">
                    <a class="nav-link" [routerLink]="schema.name" routerLinkActive="active">{{schema | sqxDisplayName}} <i class="icon-angle-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
</sqx-panel>

<router-outlet></router-outlet>