@import '_vars';
@import '_mixins';

.panel {
    min-width: 20rem;
    max-width: 20rem;
}

.panel-header {
    min-height: 8rem;
    max-height: 8rem;
}

.subheader {
    @include flex-box;
    @include flex-flow(row);
    margin-top: 2rem;
    margin-right: -2.5rem;
}

.search-form {
    & {
        @include flex-grow(1);
        position: relative;
    }

    .form-control {
        padding-left: 3rem;
    }

    .icon-search {
        @include absolute(.625rem, auto, auto, 1rem);
        color: $color-dark-foreground-selected;
        font-size: 1.3rem;
        font-weight: lighter;
    }
}

.schemas {
    margin-left: -$panel-padding;
    margin-right: -$panel-padding;
}

.schema {
    & {
        padding-left: $panel-padding;
        padding-right: $panel-padding;
    }

    &:hover,
    &.active {
        & {
            background: $color-dark-background-selected;
        }

        & + .schema > .schema-inner {
            border-color: transparent;
        }

        .schema-inner {
            border-color: transparent;
        }
    }

    &-inner {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 1px solid darken($color-dark-foreground, 10%);
    }

    &-name {
        @include truncate;
        color: $color-dark-foreground-selected;
        font-size: 1rem;
        font-weight: normal;
    }

    &:first-child {
        .schema-inner {
            border: 0;
        }
    }
}