<div class="card card-lg card-chart">
    <div class="card-header">
        {{ "dashboard.apiCallsCard" | sqxTranslate }}

        @if (app) {
            <div class="float-end">
                <a class="force" (click)="downloadLog(app)">
                    <small>{{ "dashboard.downloadLog" | sqxTranslate }}</small>
                </a>
            </div>
        }
    </div>
    <div class="card-body">
        <canvas baseChart [data]="chartData" [options]="chartOptions" type="bar"></canvas>
    </div>
</div>
