<div class="card card-lg card-chart">
    <div class="card-header">
        {{ "dashboard.apiCallsCard" | sqxTranslate }}
        @if (app) {
            <div class="float-end">
                <button class="btn-inline-link" (click)="downloadLog(app)" type="button">
                    <small>{{ "dashboard.downloadLog" | sqxTranslate }}</small>
                </button>
            </div>
        }
    </div>

    <div class="card-body"><canvas baseChart [data]="chartData" [options]="chartOptions" type="bar"></canvas></div>
</div>
