<form [formGroup]="fieldForm.form" (ngSubmit)="saveSchema()">
    <h5>{{ "common.generalSettings" | sqxTranslate }}</h5>

    <div class="card">
        <div class="card-body">
            <sqx-form-row for="name" label="common.name" vertical>
                <input class="form-control" id="name" [ngModel]="schema.name" [ngModelOptions]="{ standalone: true }" readonly />
            </sqx-form-row>
            
            <sqx-form-row for="label" label="common.label" vertical hint="schemas.schemaLabelHint">
                <input class="form-control" id="label" formControlName="label" />
            </sqx-form-row>

            <sqx-form-row for="hints" label="common.hints" vertical hint="schemas.schemaHintsHint">
                <textarea class="form-control" id="hints" formControlName="hints" rows="4"></textarea>
            </sqx-form-row>

            <sqx-form-row for="contentsSidebarUrl" label="schemas.contentsSidebarUrl" vertical hint="schemas.contentsSidebarUrlHint">
                <input class="form-control" id="contentsSidebarUrl" formControlName="contentsSidebarUrl" type="url" />
            </sqx-form-row>

            <sqx-form-row for="contentSidebarUrl" label="schemas.contentSidebarUrl" vertical hint="schemas.contentSidebarUrlHint">
                <input class="form-control" id="contentSidebarUrl" formControlName="contentSidebarUrl" type="url" />
            </sqx-form-row>

            <sqx-form-row for="contentEditorUrl" label="schemas.contentEditorUrl" vertical hint="schemas.contentEditorUrlHint">
                <input class="form-control" id="contentEditorUrl" formControlName="contentEditorUrl" type="url" />
            </sqx-form-row>

            <sqx-form-row for="contentsListUrl" label="schemas.contentsListUrl" vertical hint="schemas.contentsListUrlHint">
                <input class="form-control" id="contentsListUrl" formControlName="contentsListUrl" type="url" />
            </sqx-form-row>

            <sqx-form-row for="tags" label="common.tags" vertical hint="schemas.schemaTagsHint">
                <sqx-tag-editor id="tags" formControlName="tags" />
            </sqx-form-row>

            <sqx-form-row for="validateOnPublish" label="schemas.validateOnPublish" check vertical hint="schemas.validateOnPublishHint" alert="schemas.validateOnPublishHint">
                    <input class="form-check-input" id="validateOnPublish" formControlName="validateOnPublish" type="checkbox" />
            </sqx-form-row>
        </div>

        <div class="card-footer">
            @if (isEditable) {
                <button class="float-end btn btn-primary" type="submit">{{ "common.save" | sqxTranslate }}</button>
            }
        </div>
    </div>
</form>
