<sqx-modal-dialog (dialogClose)="contentSelect.emit()" size="lg" fullHeight="true" flexBody="true">
    <ng-container title>
        {{ "chat.title" | sqxTranslate }}
    </ng-container>

    <ng-container content>
        <div class="scroll-container" #container>
            @for (item of snapshot.chatItems; track item; let isLast = $last; let isFirst = $first) {
                <sqx-chat-item
                    [content]="item.content"
                    [copyMode]="copyMode"
                    [isFirst]="isFirst"
                    [isLast]="isLast"
                    [type]="item.type"
                    [user]="user"
                    (contentSelect)="contentSelect.emit($event)"
                    (done)="setCompleted()"></sqx-chat-item>
            }
        </div>
    </ng-container>

    <ng-container footer>
        <form (ngSubmit)="ask()">
            <div class="row row-cols-0 g-2">
                <div class="col">
                    <input
                        class="form-control"
                        #input
                        [ngModel]="snapshot.chatQuestion"
                        [ngModelOptions]="{ standalone: true }"
                        [disabled]="snapshot.isRunning"
                        (ngModelChange)="setQuestion($event)"
                        placeholder="{{ 'chat.prompt' | sqxTranslate }}"
                        sqxFocusOnInit />
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" [disabled]="snapshot.isRunning" type="submit">
                        {{ "chat.ask" | sqxTranslate }}
                    </button>
                </div>
            </div>
        </form>
    </ng-container>
</sqx-modal-dialog>
