@import 'mixins';
@import 'vars';

.cursor {
    position: absolute;
    pointer-events: none;
    z-index: 100;
}

.user {
    @include absolute(-20px, null, null, 10px);
    color: $color-white;
    font-size: $font-small;
    font-weight: normal;
    padding: .125rem .25rem;
    white-space: nowrap;
}