@import 'mixins';
@import 'vars';

button {
    color: $color-text;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        text-decoration: none;
    }
}