<form [formGroup]="createForm.form" (ngSubmit)="createTeam()">
    <sqx-modal-dialog (close)="emitComplete()">
        <ng-container title>
            {{ 'teams.create' | sqxTranslate }}
        </ng-container>

        <ng-container content>
            <sqx-form-error [error]="createForm.error | async"></sqx-form-error>
        
            <div class="form-group mt-2">
                <label for="teamName">{{ 'common.name' | sqxTranslate }} <small class="hint">({{ 'common.requiredHint' | sqxTranslate }})</small></label>
                
                <sqx-control-errors for="name"></sqx-control-errors>
        
                <input class="form-control" id="name" formControlName="name" autocomplete="off" sqxTransformInput="LowerCase" sqxFocusOnInit>
                    
                <sqx-form-hint>
                    {{ 'teams.teamNameHint' | sqxTranslate }}
                </sqx-form-hint>
            </div>

            <div class="form-group">
                <sqx-form-alert marginTop="2" marginBottom="0">
                    {{ 'teams.teamNameWarning' | sqxTranslate }}
                </sqx-form-alert>
            </div>
        </ng-container>

        <ng-container footer>
            <button type="button" class="btn btn-secondary" (click)="emitComplete()">
                {{ 'common.cancel' | sqxTranslate }}
            </button>

            <button type="submit" class="btn btn-success">
                {{ 'common.create' | sqxTranslate }}
            </button>
        </ng-container>
    </sqx-modal-dialog>
</form>