<div class="row g-0" [class.compare]="formModelCompare">
    <div [class.col-12]="!formModelCompare" [class.col-6]="formModelCompare">
        <div class="table-items-row table-items-row-summary" [class.field-invalid]="isInvalid | async" *ngIf="!(formModel.hiddenChanges | async)">
            <div class="languages-container">
                <div class="languages-buttons">
                    <div class="languages-inner">
                        <button *ngIf="!formModel.field.isDisabled && isTranslatable" type="button" class="btn btn-text-secondary btn-sm me-1" title="i18n:contents.autotranslate" (click)="translate()" tabindex="-1">
                            <i class="icon-translate"></i>
                        </button>
        
                        <sqx-field-languages 
                            [formModel]="formModel"
                            (languageChange)="languageChange.emit($event)"
                            [language]="language"
                            [languages]="languages"
                            [showAllControls]="showAllControls"
                            (showAllControlsChange)="changeShowAllControls($event)">
                        </sqx-field-languages>
    
                        <sqx-field-copy-button [formModel]="formModel" [languages]="languages"></sqx-field-copy-button>
                    </div>
                </div>
            </div>
            
            <ng-container *ngIf="showAllControls; else singleControl">
                <div class="form-group" *ngFor="let language of languages">
                    <sqx-field-editor
                        [canUnset]="!(isDisabled | async)"
                        [displaySuffix]="prefix(language)"
                        [form]="form"
                        [formContext]="formContext"
                        [formLevel]="formLevel"
                        [formModel]="formModel.get(language)"
                        [isComparing]="!!formModelCompare"
                        [language]="language"
                        [languages]="languages">
                    </sqx-field-editor>
                </div>
            </ng-container>
        
            <ng-template #singleControl>
                <sqx-field-editor
                    [canUnset]="!(isDisabled | async)"
                    [form]="form"
                    [formContext]="formContext"
                    [formLevel]="formLevel"
                    [formModel]="getControl()"
                    [isComparing]="!!formModelCompare"
                    [language]="language"
                    [languages]="languages">
                </sqx-field-editor>
            </ng-template>
        </div>
    </div>

    <div class="col-6 col-right" *ngIf="formModelCompare && formCompare">
        <div class="copy-button-container" *ngIf="!(isDisabled | async)">
            <button type="button" class="btn btn-primary btn-sm field-copy" (click)="copy()" *ngIf="isDifferent | async">
                <i class="icon-arrow_back"></i>
            </button>
        </div>

        <div class="table-items-row table-items-row-summary" *ngIf="!(formModelCompare!.hiddenChanges | async)">
            <div class="languages-container">
                <div class="languages-buttons-compare">
                    <div class="languages-inner">
                        <sqx-field-languages
                            [formModel]="formModelCompare!"
                            (languageChange)="languageChange.emit($event)"
                            [language]="language"
                            [languages]="languages"
                            [showAllControls]="showAllControls"
                            (showAllControlsChange)="changeShowAllControls($event)">
                        </sqx-field-languages>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="showAllControls; else singleControlCompare">
                <div class="form-group" *ngFor="let language of languages">
                    <sqx-field-editor
                        [displaySuffix]="prefix(language)"
                        [form]="formCompare"
                        [formContext]="formContext"
                        [formLevel]="formLevel"
                        [formModel]="formModelCompare.get(language)"
                        [isComparing]="!!formModelCompare"
                        [language]="language"
                        [languages]="languages">
                    </sqx-field-editor>
                </div>
            </ng-container>
        
            <ng-template #singleControlCompare>
                <sqx-field-editor
                    [form]="formCompare"
                    [formContext]="formContext"
                    [formLevel]="formLevel"
                    [formModel]="getControlCompare()!"
                    [language]="language"
                    [languages]="languages"
                    [isComparing]="!!formModelCompare">
                </sqx-field-editor>
            </ng-template>
        </div>
    </div>
</div>