<ng-container *ngIf="formModel.field.isLocalizable && languages.length > 1">
    <button *ngIf="!formModel.field.properties.isComplexUI" type="button" class="btn btn-text-secondary btn-sm me-1" (click)="toggleShowAllControls()">
        <ng-container *ngIf="showAllControls; else singleLanguage">
            <span>{{ 'contents.languageModeSingle' | sqxTranslate }}</span>
        </ng-container>

        <ng-template #singleLanguage>
            <span>{{ 'contents.languageModeAll' | sqxTranslate }}</span>
        </ng-template>
    </button>

    <ng-container *ngIf="formModel.field.properties.isComplexUI || !showAllControls">
        <div class="button-container">
            <sqx-language-selector size="sm" #buttonLanguages
                [exists]="formModel.translationStatus | async"
                (languageChange)="languageChange.emit($event)"
                [language]="language"
                [languages]="languages">
            </sqx-language-selector>
        </div>

        <sqx-onboarding-tooltip helpId="languages" [for]="buttonLanguages" position="top-right" [after]="120000">
            {{ 'contents.validationHint' | sqxTranslate }}
        </sqx-onboarding-tooltip>
    </ng-container>
</ng-container>