<sqx-title message="Event Consumers"></sqx-title>

<sqx-panel theme="light" desiredWidth="50rem">
    <ng-container title>
        Consumers
    </ng-container>

    <ng-container menu>
        <button type="button" class="btn btn-text-secondary" (click)="reload()" title="Refresh event consumers (CTRL + SHIFT + R)">
            <i class="icon-reset"></i> Refresh
        </button>

        <sqx-shortcut keys="ctrl+shift+r" (trigger)="reload()"></sqx-shortcut>
    </ng-container>

    <ng-container content>
        <table class="table table-items table-fixed">
            <thead>
                <tr>
                    <th class="cell-auto">
                        Name
                    </th>
                    <th class="cell-auto-right">
                        Position
                    </th>
                    <th class="cell-actions-lg">
                        Actions
                    </th>
                </tr>
            </thead>

            <tbody *ngFor="let eventConsumer of eventConsumersState.eventConsumers | async; trackBy: trackByEventConsumer">
                <tr [class.faulted]="eventConsumer.error && eventConsumer.error.length > 0">
                    <td class="auto-auto">
                        <span class="truncate">
                            <i class="faulted-icon icon icon-bug" (click)="showError(eventConsumer)" [class.hidden]="!eventConsumer.error || eventConsumer.error.length === 0"></i>

                            {{eventConsumer.name}}
                        </span>
                    </td>
                    <td class="cell-auto-right">
                        <span>{{eventConsumer.position}}</span>
                    </td>
                    <td class="cell-actions-lg">
                        <button type="button" class="btn btn-text" (click)="reset(eventConsumer)" *ngIf="eventConsumer.canReset" title="Reset Event Consumer">
                            <i class="icon icon-reset"></i>
                        </button>
                        <button type="button" class="btn btn-text" (click)="start(eventConsumer)" *ngIf="eventConsumer.canStart" title="Start Event Consumer">
                            <i class="icon icon-play"></i>
                        </button>
                        <button type="button" class="btn btn-text" (click)="stop(eventConsumer)" *ngIf="eventConsumer.canStop" title="Stop Event Consumer">
                            <i class="icon icon-pause"></i>
                        </button>
                    </td>
                </tr>
                <tr class="spacer"></tr>
            </tbody>
        </table>
    </ng-container>
</sqx-panel>

<sqx-modal [model]="eventConsumerErrorDialog">
    <sqx-modal-dialog (close)="eventConsumerErrorDialog.hide()">
        <ng-container title>
            Error
        </ng-container>
    
        <ng-container content>
            <textarea readonly class="form-control error-message">{{eventConsumerError}}</textarea>
        </ng-container>
    </sqx-modal-dialog>
</sqx-modal>