<sqx-title message="Event Consumers"></sqx-title>

<sqx-panel theme="light" panelWidth="50rem">
    <div class="panel-header">
        <div class="panel-title-row">
            <div class="float-right">
                <button class="btn btn-link btn-decent" (click)="load(true)" title="Refresh Event Consumers (CTRL + SHIFT + R)">
                    <i class="icon-reset"></i> Refresh
                </button>

                <sqx-shortcut keys="ctrl+shift+r" (trigger)="load(true)"></sqx-shortcut>
            </div>

            <h3 class="panel-title">Event Consumers</h3>
        </div>

        <a class="panel-close" sqxParentLink isLazyLoaded="true">
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content panel-content-scroll">
            <table class="table table-items table-fixed">
                <colgroup>
                    <col style="width: 50%" />
                    <col style="width: 50%" />
                    <col style="width: 160px" />
                </colgroup>

                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th class="text-right">
                            Position
                        </th>
                        <th class="text-right">
                            Actions
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <ng-template ngFor let-eventConsumer [ngForOf]="eventConsumers">
                        <tr [class.faulted]="eventConsumer.error && eventConsumer.error.length > 0">
                            <td>
                                <span class="truncate">
                                    <i class="faulted-icon icon icon-bug" (click)="showError(eventConsumer)" [class.hidden]="!eventConsumer.error || eventConsumer.error.length === 0"></i>

                                    {{eventConsumer.name}}
                                </span>
                            </td>
                            <td class="text-right">
                                <span>{{eventConsumer.position}}</span>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-link" (click)="reset(eventConsumer)" *ngIf="!eventConsumer.isResetting" title="Reset Event Consumer">
                                    <i class="icon icon-reset"></i>
                                </button>
                                <button class="btn btn-link" (click)="start(eventConsumer)" *ngIf="eventConsumer.isStopped" title="Start Event Consumer">
                                    <i class="icon icon-play"></i>
                                </button>
                                <button class="btn btn-link" (click)="stop(eventConsumer)" *ngIf="!eventConsumer.isStopped" title="Stop Event Consumer">
                                    <i class="icon icon-pause"></i>
                                </button>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</sqx-panel>

<div class="modal" *sqxModalView="eventConsumerErrorDialog;onRoot:true" [@fade]>
    <div class="modal-backdrop"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="eventConsumerErrorDialog.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <textarea readonly class="form-control error-message">{{eventConsumerError}}</textarea>
            </div>
        </div>
    </div>
</div>