@import '_vars';
@import '_mixins';

.faulted {
    & {
        color: $color-theme-error;
    }

    &-icon {
        & {
            @include transition(color .3s ease);
            cursor: pointer;
            color: $color-theme-error;
        }

        &:hover {
            color: darken($color-theme-error, 10%);
        }
    }
}

.error-message {
    height: 18rem;
    font-size: .8rem;
    font-weight: normal;
}