@import 'mixins';
@import 'vars';

.index-button {
    @include circle(5.25rem);
    @include box-shadow-outer(0, 8px, 16px, .3);
    @include absolute(auto, 6rem, 1rem, auto);

    &-icon {
        font-weight: bold;
    }

    &-text {
        font-size: $font-small;
    }
}

.section {
    font-size: $font-small;
    font-weight: normal;
    margin-top: 1rem;
}
