<sqx-title message="i18n:backups.restorePageTitle"></sqx-title>

<sqx-panel theme="light" desiredWidth="70rem">
    <ng-container title>
        {{ 'backups.restoreTitle' | sqxTranslate }}
    </ng-container>

    <ng-container content>
        <div class="card section" *ngIf="restoreJob | async; let job">
            <div class="card-header">
                <div class="row no-gutters">
                    <div class="col-auto pr-2">
                        <div *ngIf="job.status === 'Started'" class="restore-status restore-status-pending spin">
                            <i class="icon-hour-glass"></i>
                        </div>
                        <div *ngIf="job.status === 'Failed'" class="restore-status restore-status-failed">
                            <i class="icon-exclamation"></i>
                        </div>
                        <div *ngIf="job.status === 'Completed'" class="restore-status restore-status-success">
                            <i class="icon-checkmark"></i>
                        </div>
                    </div>
                        
                    <div class="col">
                        <h3>{{ 'backups.restoreLastStatus' | sqxTranslate }}</h3>
                    </div>

                    <div class="col text-right restore-url">
                        {{job.url}}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div *ngFor="let row of job.log">
                    {{row}}
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col">
                        {{ 'backups.restoreStartedLabel' | sqxTranslate }}: {{job.started | sqxISODate}}
                    </div>
                    <div class="col text-right" *ngIf="job.stopped">
                        {{ 'backups.restoreStoppedLabel' | sqxTranslate }}: {{job.stopped | sqxISODate}}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="table-items-row">
            <form [formGroup]="restoreForm.form" (ngSubmit)="restore()">
                <div class="row no-gutters">
                    <div class="col">
                        <input class="form-control" formControlName="url" placeholder="{{ 'backups.restoreLastUrl' | sqxTranslate }}">
                    </div>
                    <div class="col pl-1">
                        <input class="form-control" formControlName="name" placeholder="{{ 'backups.restoreNewAppName' | sqxTranslate }}">
                    </div>
                    <div class="col-auto pl-1">
                        <button type="submit" class="btn btn-success" [disabled]="restoreForm.hasNoUrl | async">
                            {{ 'backups.restore' | sqxTranslate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ng-container>
</sqx-panel>