$circle-size: 2rem;

h3 {
    margin: 0;
}

.section {
    margin-bottom: .8rem;
}

.card {
    &-header {
        h3 {
            line-height: $circle-size;
        }
    }

    &-footer {
        font-size: .9rem;
    }

    &-body {
        background: $color-border;
        font-family: monospace;
        font-size: .9rem;
        max-height: 400px;
        min-height: 300px;
        overflow-y: scroll;
    }
}

.restore {
    &-status {
        & {
            @include circle-icon($circle-size);
            background: $color-border;
        }

        &-failed,
        &-success {
            color: $color-dark-foreground;
        }

        &-failed {
            background: $color-theme-error;
        }

        &-success {
            background: $color-theme-green;
        }
    }

    &-url {
        @include truncate;
        line-height: $circle-size;
    }
}