<ng-container *ngIf="isPlain; else html">
    <div class="value-container" [title]="title" titlePosition="top-start">
        <div #valueElement [class.truncate]="!snapshot.wrapping">{{value}}</div>
    </div>

    <button class="btn btn-icon" *ngIf="isString && fields" (click)="toggle()" sqxStopClick>
        <i class="icon-wrap_text"></i>
    </button>
</ng-container>
<ng-template #html>
    <div #htmlValue 
        (sqxLongHover)="show()"
        (longHoverCancelled)="hide()"
        [longHoverSelector]="'img'"
        [longHoverDuration]="1500"
        [innerHTML]="value.html"
        class="html-value">
    </div>

    <div *sqxModal="previewModal;closeAuto:false" [sqxAnchoredTo]="htmlValue" class="preview" position="bottom-start">
        <img [src]="value.preview" />
    </div>
</ng-template>