@import 'mixins';
@import 'vars';

/* stylelint-disable */

.html-value {
    position: relative;
}

:host {
    display: block;

    .btn {
        @include absolute(.5rem, .25rem);
        background-color: $color-white;
        border: 1px solid $color-border;
        border-radius: $border-radius;
        display: none;
    }

    &:hover {
        .btn {
            display: block;
        }
    }
}

:host ::ng-deep {
    img {
        margin-top: -25px;
        max-height: 50px;
        min-height: 50px;
        position: absolute;
        top: 50%;
    }

    img + span {
        padding-left: 60px;
    }

    .html-value {
        span {
            @include truncate;
        }
    }
}

.value-container {
    cursor: default;
    max-height: 10rem;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    word-wrap: break-word;
}