@import 'mixins';
@import 'vars';

:host {
    display: block;
}

.icon-caret-right {
    color: $color-text-decent;
    margin-left: 5px;
    margin-right: 5px;
}

.status-grid {
    .col {
        overflow: hidden;
    }
}