@model  Squidex.Areas.Api.Controllers.DocsVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>API Docs</title>
    
    <base href="~/">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body { margin: 0; padding: 0; }

        .menu-content {
            position: fixed !important;
        }

        .api-content {
            margin-left: 260px;
        }

        @@media print, screen and (max-width: 50rem) {
            .api-content {
                margin-left: 0;
            }
        }
    </style>
</head>
<body>
    <div id="redoc-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/redoc@2.0.0-rc.57/bundles/redoc.standalone.js"></script>
    <script>
        Redoc.init('@Url.Content(Model!.Specification)', {
            theme: {
                colors: {
                    primary: {
                        main: '#3f83df'
                    }
                }
            },
            nativeScrollbars: true
        }, document.getElementById('redoc-container'))
    </script>
</body>
</html>