@import 'mixins';
@import 'vars';

:host ::ng-deep {
    .user-ref {
        @include text-variable;
    }

    .marker-ref {
        @include text-variable;
    }
}

.events {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.event {
    margin-bottom: 1rem;

    &-message {
        font-size: $font-small;
    }

    &-created {
        font-size: $font-smallest;
        font-weight: normal;
        margin: .25rem 0;
    }

    &-right {
        overflow: hidden;
    }
}

.user-picture {
    margin-top: .25rem;
}