@if (!isDisabled && (assetsState.canCreate | async)) {
    <div class="file-drop" (sqxDropFile)="addFiles($event)" sqxTourStep="upload">
        <h3 class="file-drop-header">{{ "assets.uploadByDrop" | sqxTranslate }}</h3>
        <div class="file-drop-or">{{ "common.or" | sqxTranslate }}</div>
        <div class="file-drop-button">
            <span class="btn btn-success" (click)="fileInput.click()">
                <span>{{ "assets.uploadByDialog" | sqxTranslate }})</span>
                <input class="file-drop-button-input" #fileInput (change)="addFiles($any($event.target!)['files'])" type="file" multiple />
            </span>
        </div>
        <div class="file-drop-info">{{ "assets.uploadHint" | sqxTranslate }}</div>
    </div>
}

@if (assetsState.path | async; as path) {
    <div cdkDropListGroup>
        @if (path.length > 0) {
            <div class="folders">
                @if ((assetsState.hasFolders | async) || (assetsState.parentFolder | async)) {
                    <h5>{{ "common.folders" | sqxTranslate }}</h5>
                }
                <div class="row g-0">
                    @if (assetsState.parentFolder | async; as parent) {
                        <div class="folder-container" [cdkDropListData]="parent?.id" (cdkDropListDropped)="move($event)" cdkDropList>
                            <div class="folder-container-over"></div>
                            <sqx-asset-folder [assetPathItem]="parent" (navigate)="assetsState.navigate($event.id)"></sqx-asset-folder>
                        </div>
                    }
                    @for (assetFolder of assetsState.folders | async; track trackByAssetFolder($index, assetFolder)) {
                        <div
                            class="folder-container"
                            [cdkDropListEnterPredicate]="canEnter"
                            [cdkDropListData]="assetFolder.id"
                            (cdkDropListDropped)="move($event)"
                            cdkDropList
                            cdkDropListSortingDisabled>
                            <div class="folder-container-over"></div>
                            <sqx-asset-folder
                                [assetPathItem]="assetFolder"
                                [cdkDragData]="assetFolder"
                                [cdkDragDisabled]="isDisabled || !assetFolder.canMove"
                                (navigate)="assetsState.navigate($event.id)"
                                (delete)="deleteAssetFolder($event)"
                                cdkDrag></sqx-asset-folder>
                        </div>
                    }
                </div>
            </div>
        }
        @if (assetsState.assets | async; as assets) {
            @if (assets.length > 0 || snapshot.newFiles.length > 0) {
                <h5>{{ "common.files" | sqxTranslate }}</h5>
            }
            <div class="row g-0" [class.unrow]="isListView" cdkDropList cdkDropListSortingDisabled>
                @for (file of snapshot.newFiles; track file) {
                    <sqx-asset
                        [assetFile]="file"
                        [isDisabled]="isDisabled"
                        [isListView]="isListView"
                        [folderId]="assetsState.parentId"
                        (loadDone)="add(file, $event)"
                        (loadError)="remove(file)"></sqx-asset>
                }
                @for (asset of assets; track trackByAsset($index, asset)) {
                    <sqx-asset
                        [asset]="asset"
                        [cdkDragData]="asset"
                        [cdkDragDisabled]="isDisabled || !asset.canMove"
                        [folderIcon]="showFolderIcon && path.length === 0"
                        [isDisabled]="isDisabled"
                        [isListView]="isListView"
                        [isSelectable]="!!selectedIds"
                        [isSelected]="!!isSelected(asset)"
                        (delete)="deleteAsset(asset)"
                        (edit)="edit.emit($event)"
                        (loadDone)="replaceAsset($event)"
                        (selectAsset)="assetSelect.emit(asset)"
                        (selectFolder)="selectFolder(asset)"
                        cdkDrag></sqx-asset>
                }
            </div>
        }
    </div>
}
