@import 'mixins';
@import 'vars';

:host ::ng-deep {
    .user-ref {
        @include text-variable;
    }

    .marker-ref {
        @include text-variable;
    }
}

.events {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.event {
    font-size: $font-small;
    font-weight: normal;
    margin-bottom: 1.5rem;

    &-created {
        font-size: $font-small;
        font-weight: normal;
        margin: .25rem 0;
    }
}

.user-picture {
    margin-top: .25rem;
}