<div class="card card">
    <div class="card-header">{{ 'common.apps' | sqxTranslate }}</div>
    <div class="card-body">
        <ng-container *ngIf="snapshot.apps; let apps">
            <small class="team-empty" *ngIf="apps.length === 0">
                {{ 'teams.empty' | sqxTranslate }}
            </small>

            <div class="row" *ngFor="let app of apps">
                <div class="col">
                    {{app.displayName}}
                </div>
                <div class="col-auto">
                    <a [routerLink]="['/app', app.name]" sqxStopClick>{{ 'common.edit' | sqxTranslate }}</a>
                </div>
            </div>
        </ng-container>
    </div>
</div>