.plan {
    & {
        margin: .5rem;
        max-width: 20rem;
        min-width: 13rem;
    }

    &-price {
        color: $color-theme-blue;
        margin-bottom: 0;
        margin-top: 0;
    }

    &-selected {
        pointer-events: none;
    }

    &-fact {
        line-height: 1.8rem;
    }

    .btn {
        margin-top: 1rem;
    }
}

.card-footer,
.card-header,
.card-body {
    padding: 1rem;
}

.empty {
    margin: 1.25rem;
    margin-top: 6.25rem;
}

.billing-portal-link {
    padding: 2rem .5rem 0;
}