<sqx-title message="i18n:common.subscription"></sqx-title>

<sqx-panel desiredWidth="65rem" [showSidebar]="true" [scrollX]="true" [grid]="true">
    <ng-container title>
        {{ 'common.subscription' | sqxTranslate }}
    </ng-container>

    <ng-container menu>
        <sqx-notifo topic="apps/{{plansState.appId}}/settings/plan"></sqx-notifo>

        <button type="button" class="btn btn-text-secondary" (click)="reload()" title="i18n:plans.refreshTooltip">
            <i class="icon-reset"></i> {{ 'common.refresh' | sqxTranslate }}
        </button>

        <sqx-shortcut keys="ctrl+shift+r" (trigger)="reload()"></sqx-shortcut>
    </ng-container>

    <ng-container content>
        <sqx-list-view [isLoading]="plansState.isLoading | async">
            <ng-container topHeader>
                <ng-container *ngIf="(plansState.isLoaded | async) && (plansState.plans | async); let plans">
                    <div class="panel-alert panel-alert-danger" *ngIf="(plansState.isOwner | async) === false">
                        {{ 'plans.notPlanOwner' | sqxTranslate }}
                    </div>
                </ng-container>
            </ng-container>

            <div content>
                <ng-container *ngIf="(plansState.isLoaded | async) && (plansState.plans | async); let plans">
                    <div class="text-muted text-center empty" *ngIf="plans.length === 0">
                        {{ 'plans.noPlanConfigured' | sqxTranslate }}
                    </div>

                    <div class="clearfix">
                        <sqx-plan *ngFor="let planInfo of plans; trackBy: trackByPlan" [planInfo]="planInfo">
                        </sqx-plan>
                    </div>

                    <div *ngIf="plansState.hasPortal | async" class="billing-portal-link">
                        {{ 'plans.billingPortalHint' | sqxTranslate }} <a [href]="portalUrl" sqxExternalLink>{{ 'plans.billingPortal' | sqxTranslate }}</a>
                    </div>
                </ng-container>
            </div>
        </sqx-list-view>
    </ng-container>

    <ng-container sidebar>
        <div class="panel-nav">        
            <a class="panel-link" routerLink="history" routerLinkActive="active" queryParamsHandling="preserve" title="i18n:common.history" titlePosition="left">
                <i class="icon-time"></i>
            </a>
        </div>
    </ng-container>
</sqx-panel>

<router-outlet></router-outlet>
