@{
    ViewBag.Theme = "white";

    ViewBag.Title = T.Get("users.accessDeniedText");
}

<img class="splash-image" src="@Url.RootContentUrl("~/squid.svg?title=STOP%20HERE&text=You%20shall%20not%20pass!")" />

<h1 class="splash-h1">@T.Get("users.accessDeniedText")</h1>

<p class="splash-text">
    @T.Get("users.accessDeniedText")
</p>

<p class="splash-text">
    <a href="~/account/logout-redirect">@T.Get("common.logout")</a>
</p>