@{
    ViewBag.Title = "Account locked";
}

<img class="splash-image" src="@Url.RootContentUrl("~/squid.svg?title=STOP HERE&text=You%20shall%20not%20pass!")" />

<h1 class="splash-h1">Account locked</h1>

<p class="splash-text">
    Your account is locked, please contact the administrator.
</p>

<p class="splash-text">
    <a asp-controller="Account" asp-action="LogoutRedirect">Logout</a>
</p>