@{
    ViewBag.Title = T.Get("users.logout.title");
}

<img class="splash-image" src="squid.svg?title=BYE%20BYE&text=Hope%20to%20see%20you%20again%20soon!&face=happy" />

<h1 class="splash-h1">@T.Get("users.logout.headline")</h1>

<p class="splash-text">
    @T.Get("users.logout.text")
</p>
