@import '_vars';
@import '_mixins';

.minmax {
    &-col {
        position: relative;
    }

    &-label {
        @include absolute(0, -.2rem, auto, auto);
    }
}

.form-group {
    margin-top: .5rem;
}