/* stylelint-disable */
@import 'colors';

$border-radius:             .25rem;

$input-shadow:              inset 0 1px 2px $color-input-shadow;

$size-navbar-height:        3.75rem;
$size-sidebar-width:        5rem;

$card-bg:                   $color-surface;

$table-bg:                  $color-surface;


$panel-padding:             1.5rem;
$panel-header:              5.4rem;
$panel-sidebar:             3.75rem;

$font-small:                85%;
$font-smallest:             80%;

$headings-line-height:      1.3;

$btn-disabled-color:        inherit;
$btn-disabled-bg:           inherit;
$btn-disabled-border-color: inherit;

$dropdown-bg:               $color-surface;

$modal-content-bg:          $color-surface;

$history-dot-size:          10px;
$history-dot-offset-x:      -($history-dot-size * .5 + 1px);
$history-dot-sm-size:       6px;
$history-dot-sm-offset-x:   -($history-dot-sm-size * .5 + 1px);

$asset-width:               14.5rem;
$asset-folder-height:       4rem;
$asset-header:              12rem;
$asset-image:               12rem;
$asset-footer:              7rem;
$asset-background:          url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAIAAAC1nk4lAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjEuMWMqnEsAAACbSURBVGhD7c6hDQAxAMPA33+m7vYlJh7AoFKOBMbfyfyZRRsPgUUbD4FFGw+BRRsPgUUbD4FFGw+BRRsPgUUbD4FFGw+BRRsPgUUbD4FFGw+BRRsPgUUbD4E3o9kA7YFFGw+BRRsPgUUbD4FFGw+BRRsPgUUbD4FFGw+BRRsPgUUbD4FFGw+BRRsPgUUbD4FFGw+BRRsPgQejz7nPYYKl8IqSfgAAAABJRU5ErkJggg==');

$gutter-y: 0;

$nf-color-border:           $color-border;
$nf-color-add-background:   $color-theme-success;
$nf-color-primary:          $color-theme-brand;
$nf-color-text:             $color-text;
$nf-color-text-muted:       $color-text-decent;