@import 'bootstrap-vars';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Bootstrap Overrides
@import 'bootstrap';

// Icomoon
@import 'icomoon/style';

// GraphiQL
@import 'graphiql/graphiql.css';

// Filter
@import 'ngx-inline-filter/styles/layout';

// Custom files
@import 'common';
@import 'animations';
@import 'panels2';
@import 'forms';
@import 'lists';
@import 'static';