<div class="editor" #editor></div>

<sqx-asset-selector *sqxModal="assetsDialog"
    (assetSelect)="insertAssets($event)">
</sqx-asset-selector>

<sqx-asset-dialog *sqxModal="assetToEdit | async; let asset;isDialog:true" (dialogClose)="closeAssetDialog()"
    [asset]="asset" >
</sqx-asset-dialog>

<sqx-content-selector *sqxModal="contentsDialog"
    (contentSelect)="insertContents($event)"
    [language]="language"
    [languages]="languages"
    [schemaIds]="schemaIds">
</sqx-content-selector>

<sqx-chat-dialog *sqxModal="chatDialog" showFormatHint="false"
    (textSelect)="insertText($event)">
</sqx-chat-dialog>