@import '_vars';
@import '_mixins';

:host ::ng-deep {
    .dashed {
        @include placeholder-color($color-theme-secondary);
        border-style: dashed;
        border-width: 1px;
    }

    .color {
        line-height: 2.8rem;
    }

    .col-label {
        padding: 0 .5rem;
    }

    .col-step {
        min-width: 10rem;
        max-width: 10rem;
        padding-left: .5rem;
    }

    .transition {
        & {
            margin-top: .25rem;
            margin-bottom: .5rem;
            line-height: 2.2rem;
        }

        &-to {
            padding: .5rem .75rem;
            padding-right: 0;
            line-height: 1.2rem;
        }
    }
}

.step {
    & {
        margin-bottom: 1.5rem;
    }

    &-inner {
        padding-left: 2.4rem;
    }

    &-header {
        &:hover {
            .enabled {
                visibility: visible;
            }
        }
    }
}

.btn-initial {
    & {
        visibility: hidden;
        line-height: 1.6rem;
        padding-left: 0;
        padding-right: 0;
        width: 2rem;
        text-align: center;
    }

    &:disabled {
        @include opacity(1);
    }

    &.active {
        visibility: visible;
    }
}

.col-step-role {
    width: 56px;
    padding-left: 0rem;
    padding-right: 4rem;
}

.col-step-expression {
    padding-left: 0;
    padding-right: 0
}

.transition-prevent-updates {
    & {
        margin-top: .25rem;
        margin-bottom: .5rem;
        line-height: 2.5rem;
    }

    &-to {
        padding: .5rem .75rem;
        padding-right: 0;
        line-height: 1.2rem;
    }
}

.col-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e1e4e8;
    margin: 1em 0;
}

.col-div-line {
    padding-top: 0.5rem
}

.transition-prevent-updates-checkbox {
    margin-top: 0.8rem;
}