.table-items-row-details {
    &::before {
        right: 4.55rem;
    }
}

.workflow {
    &-name {
        @include truncate;
    }
}

.col-form-label {
    @include force-width(4rem);
}

.col-tags {
    padding: .375rem 1rem 0;
}

.form-group {
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.btn-success {
    margin-bottom: 1rem;
    margin-left: 2rem;
}