<div class="table-items-row">
    <form [formGroup]="webhookForm" (ngSubmit)="save()">
        <table class="table table-middle table-sm table-borderless table-fixed">
            <colgroup>
                <col style="width: 120px; text-align: right;" />
                <col style="width: 100%" />
                <col style="width: 40px" />
            </colgroup>

            <tr>
                <td class="text-right" colspan="2">
                    <button type="submit" class="btn btn-primary" [disabled]="!hasUrl">Save</button>
                </td>
                <td class="client-delete">
                    <button type="button" class="btn btn-link btn-danger"
                        (sqxConfirmClick)="deleting.emit()"
                        confirmTitle="Delete webhook" 
                        confirmText="Do you really want to delete the webhook?">
                        <i class="icon-bin2"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Url:</td>
                <td>
                    <input type="url" class="form-control" formControlName="url" [attr.value]="webhook.url" #inputUrl />
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-link" [sqxCopy]="inputUrl">
                        <i class="icon-copy"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Secret:</td>
                <td>
                    <input readonly class="form-control" [attr.value]="webhook.sharedSecret" #inputSecret />
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-link" [sqxCopy]="inputSecret">
                        <i class="icon-copy"></i>
                    </button>
                </td>
            </tr>
        </table>
    </form>

    <div class="webhook-section" *ngIf="schemas.length > 0">
        <table class="table table-middle table-sm table-fixed table-borderless">
            <colgroup>
                <col style="width: 100%" />
                <col style="width: 40px" />
                <col style="width: 40px" />
                <col style="width: 40px" />
                <col style="width: 40px" />
                <col style="width: 40px" />
                <col style="width: 40px" />
                <col style="width: 40px" />
            </colgroup>

            <tr>
                <th>
                    Schema
                </th>
                <th class="text-center" title="All">
                    All
                </th>
                <th class="text-center" title="Created">
                    Cr
                </th>
                <th class="text-center" title="Updated">
                    Up
                </th>
                <th class="text-center" title="Deleted">
                    Dl
                </th>
                <th class="text-center" title="Published">
                    Pu
                </th>
                <th class="text-center" title="Unpublished">
                    Up
                </th>
                <th></th>
            </tr>

            <tr *ngFor="let schema of schemas">
                <td>
                    <span class="truncate">{{schema.schema.name}}</span>
                </td>
                <td class="text-center" title="Created">
                    <input type="checkbox" [ngModel]="schema.sendAll" (ngModelChange)="toggleAll(schema)" />
                </td>
                <td class="text-center" title="Created">
                    <input type="checkbox" [ngModel]="schema.sendCreate" (ngModelChange)="toggle(schema, 'sendCreate')" />
                </td>
                <td class="text-center" title="Updated">
                    <input type="checkbox" [ngModel]="schema.sendUpdate" (ngModelChange)="toggle(schema, 'sendUpdate')" />
                </td>
                <td class="text-center" title="Deleted">
                    <input type="checkbox" [ngModel]="schema.sendDelete" (ngModelChange)="toggle(schema, 'sendDelete')" />
                </td>
                <td class="text-center" title="Published">
                    <input type="checkbox" [ngModel]="schema.sendPublish" (ngModelChange)="toggle(schema, 'sendPublish')" />
                </td>
                <td class="text-center" title="Unpublished">
                    <input type="checkbox" [ngModel]="schema.sendUnpublish" (ngModelChange)="toggle(schema, 'sendUnpublish')" />
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-link btn-secondary"
                        (sqxConfirmClick)="removeSchema(schema)"
                        confirmTitle="Remove schema" 
                        confirmText="Do you really want to remove the schema?">
                        <i class="icon-close"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div class="webhook-section" *ngIf="schemasToAdd.length > 0">
        <form class="form-inline" (ngSubmit)="addSchema()">
            <div class="form-group mr-1">
                <select class="form-control schemas-control" [(ngModel)]="schemaToAdd" name="schema">
                    <option *ngFor="let schema of schemasToAdd" [ngValue]="schema">{{schema.name}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!hasSchema">Add Schema</button>
        </form>
    </div>
    
    <div class="webhook-section" *ngIf="webhook.averageRequestTimeMs > 0">
        <div class="row">
            <div class="col-3">
                <span title="Succeeded Requests" [class.success]="webhook.totalSucceeded > 0">
                    <i class="icon-checkmark"></i> {{webhook.totalSucceeded}}
                </span>
            </div>
            <div class="col-3">
                <span title="Failed Requests" [class.failed]="webhook.totalFailed > 0">
                    <i class="icon-bug"></i> {{webhook.totalFailed}}
                </span>
            </div>
            <div class="col-3">
                <span title="Timeout Requests" [class.failed]="webhook.totalTimedout > 0">
                    <i class="icon-timeout"></i> {{webhook.totalTimedout}}
                </span>
            </div>
            <div class="col-3">
                <span title="Average Response Time">
                    <i class="icon-elapsed"></i> {{webhook.averageRequestTimeMs}} ms
                </span>
            </div>
        </div>
    </div>
</div>