@import '_vars';
@import '_mixins';

h3 {
    margin-bottom: 1rem;
}

.event {
    &-stats {
        font-size: .8rem;
        font-weight: normal;
        line-height: 1.5rem;
    }

    &-dump {
        margin-top: 1rem;
        font-size: .8rem;
        font-weight: normal;
        height: 20rem;
    }

    &-header {
        & {
            padding: 1rem 1.25rem;
            position: relative;
            background: $color-border;
            border: 0;
            margin: -1.25rem;
            margin-bottom: 1rem;
        }

        &::before {
            @include caret-top;
            @include absolute(-.5rem, 1.9rem, auto, auto);
            border-color: transparent transparent $color-border;
            border-width: .6rem;
        }

        h3 {
            margin: 0;
        }
    }
}