<sqx-title message="{app} | Webhooks" parameter1="app" value1="{{appName() | async}}"></sqx-title>

<sqx-panel panelWidth="50rem">
    <div class="panel-header">
        <div class="panel-title-row">
            <div class="float-right">
                <button class="btn btn-link btn-decent" (click)="load(true)" title="Refresh Assets (CTRL + SHIFT + R)">
                    <i class="icon-reset"></i> Refresh
                </button>

                <sqx-shortcut keys="ctrl+shift+r" (trigger)="load(true)"></sqx-shortcut>
            </div>

            <h3 class="panel-title">Webhooks</h3>
        </div>

        <a class="panel-close" sqxParentLink isLazyLoaded="true">
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content panel-content-scroll">
            <div class="table-items-row table-items-row-empty" *ngIf="webhooks && webhooks.length === 0">
                No Webhook created yet.
            </div>

            <div *ngIf="webhooks">
                <sqx-webhook *ngFor="let webhook of webhooks" [webhook]="webhook" [allSchemas]="schemas"  
                    (updating)="updateWebhook(webhook, $event)"
                    (deleting)="deleteWebhook(webhook)"></sqx-webhook>

                <div class="table-items-footer">
                    <form [formGroup]="addWebhookForm" (ngSubmit)="addWebhook()">
                        <div class="row no-gutters">
                            <div class="col">
                                <sqx-control-errors for="url" [submitted]="addWebhookFormSubmitted"></sqx-control-errors>
    
                                <input type="text" class="form-control url-control" formControlName="url" placeholder="Enter webhook url" autocomplete="off" />
                            </div>
                            <div class="col col-auto pl-1">
                                <button type="submit" class="btn btn-success" [disabled]="!hasUrl">Add Webhook</button>
                            </div>
                            <div class="col col-auto pl-1">
                                <button type="reset" class="btn btn-secondary" (click)="cancelAddWebhook()" [disabled]="addWebhookFormSubmitted">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel-sidebar">
            <a class="panel-link" routerLink="events" routerLinkActive="active">
                <i class="icon-time"></i>
            </a>
            <a class="panel-link" routerLink="help" routerLinkActive="active">
                <i class="icon-help"></i>
            </a>
        </div>
    </div>
</sqx-panel>

<router-outlet></router-outlet>