@import '_vars';
@import '_mixins';

content {
    padding: 20px;
}

.apps-empty {
    & {
        text-align: center;
    }

    &-headline {
        margin-bottom: 20px;
        margin-top: 100px;
    }
}