@import '_vars.scss';
@import '_mixins.scss';

content {
    padding: 20px;
}

.apps-empty {
    & {
        text-align: center;
    }

    &-headline {
        margin-top: 100px;
        margin-bottom: 20px;
    }
}