@{
    ViewBag.Theme = "white";
    ViewBag.Title = "Account locked";
}

<img class="splash-image" src="~/../squid.svg?title=STOP%20HERE&text=You%20shall%20not%20pass!" />

<h1 class="splash-h1">Access denied</h1>

<p class="splash-text">
    This operation is not allowed, your account might be locked.
</p>

<p class="splash-text">
    <a href="~/account/logout-redirect">Logout</a>
</p>