@{
    ViewBag.Theme = "white";
    ViewBag.Title = "Logout";
}

<img class="splash-image" src="~/images/error-access.png" />

<h1 class="splash-h1">Logged out!</h1>

<p class="splash-text">
    Please close this popup.
</p>