<div [formGroup]="fieldForm">
    <div class="form-group row">
        <label class="col-3 col-form-label" for="{{field.fieldId}}_fieldName">{{ 'common.name' | sqxTranslate }}</label>

        <div class="col-9">
            <input readonly class="form-control" id="{{field.fieldId}}_fieldName" [ngModel]="field.name" [ngModelOptions]="{ standalone: true }">

            <sqx-form-hint>
                {{ 'schemas.field.nameHint' | sqxTranslate }}
            </sqx-form-hint>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-3 col-form-label" for="{{field.fieldId}}_fieldLabel">{{ 'common.label' | sqxTranslate }}</label>

        <div class="col-9">
            <sqx-control-errors for="label"></sqx-control-errors>

            <input class="form-control" id="{{field.fieldId}}_fieldLabel" maxlength="100" formControlName="label">

            <sqx-form-hint>
                {{ 'schemas.field.labelHint' | sqxTranslate }}
            </sqx-form-hint>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-3 col-form-label" for="{{field.fieldId}}_fieldHints">{{ 'common.hints' | sqxTranslate }}</label>

        <div class="col-9">
            <sqx-control-errors for="hints"></sqx-control-errors>

            <input class="form-control" id="{{field.fieldId}}_fieldHints" maxlength="1000" formControlName="hints">

            <sqx-form-hint>
                {{ 'schemas.field.hintsHint' | sqxTranslate }}
            </sqx-form-hint>
        </div>
    </div>

    <div class="form-group row" *ngIf="field.properties.isContentField">
         <label class="col-3 col-form-label">{{ 'common.tags' | sqxTranslate }}</label>

        <div class="col-9">
            <sqx-tag-editor id="schemaTags" formControlName="tags"></sqx-tag-editor>

            <sqx-form-hint>
                {{ 'schemas.field.tagsHint' | sqxTranslate }}
            </sqx-form-hint>
        </div>
    </div>
</div>