<div [formGroup]="fieldForm" class="mb-3">
    <sqx-form-row for="editorUrl" hints="schemas.field.editorUrlHint" label="schemas.field.editorUrl" [prefix]="field.fieldId">
        <input class="form-control" id="{{ field.fieldId }}_editorUrl" formControlName="editorUrl" type="url" />
    </sqx-form-row>
</div>

@switch (field.rawProperties.fieldType) {
    @case ("Array") {
        <sqx-array-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("Assets") {
        <sqx-assets-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("Boolean") {
        <sqx-boolean-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("Component") {
        <sqx-component-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("Components") {
        <sqx-components-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("DateTime") {
        <sqx-date-time-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("Geolocation") {
        <sqx-geolocation-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("Json") {
        <sqx-json-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("Number") {
        <sqx-number-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("References") {
        <sqx-references-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("RichText") {
        <sqx-rich-text-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("String") {
        <sqx-string-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("Tags") {
        <sqx-tags-ui [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }
}

<div [formGroup]="fieldForm" class="mt-3">
    <sqx-form-row check for="isHalfWidth" hint="schemas.field.halfWidthHint" label="schemas.field.halfWidth" [prefix]="field.fieldId">
        <input class="form-check-input" id="{{ field.fieldId }}_fieldHalfWidth" formControlName="isHalfWidth" type="checkbox" />
    </sqx-form-row>
</div>
