<div [formGroup]="fieldForm" class="mb-3">
    <sqx-form-row #requiredRow check for="isRequired" label="schemas.field.required" [prefix]="field.fieldId">
        <input class="form-check-input" [id]="requiredRow.fieldName" formControlName="isRequired" type="checkbox" />
    </sqx-form-row>

    <sqx-form-row #requiredOnPublishRow check for="isRequiredOnPublish" label="schemas.field.requiredOnPublish" [prefix]="field.fieldId">
        <input class="form-check-input" [id]="requiredOnPublishRow.fieldName" formControlName="isRequiredOnPublish" type="checkbox" />
    </sqx-form-row>

    <sqx-form-row #createOnlyRow check for="isCreateOnly" label="schemas.field.createOnly" [prefix]="field.fieldId">
        <input class="form-check-input" [id]="createOnlyRow.fieldName" formControlName="isCreateOnly" type="checkbox" />
    </sqx-form-row>
</div>

@switch (field.rawProperties.fieldType) {
    @case ("Array") {
        <sqx-array-validation [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("Assets") {
        <sqx-assets-validation
            [field]="field"
            [fieldForm]="fieldForm"
            [isLocalizable]="isLocalizable"
            [languages]="languages"
            [properties]="field.rawProperties" />
    }

    @case ("Boolean") {
        <sqx-boolean-validation
            [field]="field"
            [fieldForm]="fieldForm"
            [isLocalizable]="isLocalizable"
            [languages]="languages"
            [properties]="field.rawProperties" />
    }

    @case ("Component") {
        <sqx-component-validation [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("Components") {
        <sqx-components-validation [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("DateTime") {
        <sqx-date-time-validation
            [field]="field"
            [fieldForm]="fieldForm"
            [isLocalizable]="isLocalizable"
            [languages]="languages"
            [properties]="field.rawProperties" />
    }

    @case ("Geolocation") {
        <sqx-geolocation-validation [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("Json") {
        <sqx-json-validation [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("Number") {
        <sqx-number-validation
            [field]="field"
            [fieldForm]="fieldForm"
            [isLocalizable]="isLocalizable"
            [languages]="languages"
            [properties]="field.rawProperties"
            [schema]="schema" />
    }

    @case ("References") {
        <sqx-references-validation
            [field]="field"
            [fieldForm]="fieldForm"
            [isLocalizable]="isLocalizable"
            [languages]="languages"
            [properties]="field.rawProperties" />
    }

    @case ("RichText") {
        <sqx-rich-text-validation [field]="field" [fieldForm]="fieldForm" [properties]="field.rawProperties" />
    }

    @case ("String") {
        <sqx-string-validation
            [field]="field"
            [fieldForm]="fieldForm"
            [isLocalizable]="isLocalizable"
            [languages]="languages"
            [properties]="field.rawProperties"
            [schema]="schema"
            [settings]="settings" />
    }

    @case ("Tags") {
        <sqx-tags-validation
            [field]="field"
            [fieldForm]="fieldForm"
            [isLocalizable]="isLocalizable"
            [languages]="languages"
            [properties]="field.rawProperties" />
    }
}
