<div class="layout">
    <div class="layout-left">
        <sqx-left-menu></sqx-left-menu>
    </div>
    <div class="layout-middle">
        <div class="layout-middle-header">
            <h1>
                <i class="layout-title-icon icon-settings"></i> Credentials
            </h1>
        </div>
        <div class="layout-middle-content">
            <div class="card">
                <div class="card-block">
                    <table class="table table-borderless table-fixed">
                        <colgroup>
                            <col style="width: 100%" />
                            <col style="width: 160px" />
                            <col style="width: 120px" />
                        </colgroup>

                        <tr *ngFor="let clientKey of appClientKeys">
                            <td>
                                <input readonly class="form-control" [ngModel]="clientKey.clientKey" />
                            </td>
                            <td>
                                <button class="btn btn-block btn-default">Create Token</button>
                            </td>
                            <td>
                                <button class="btn btn-block btn-danger">Revoke</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" (click)="createClientKey()">Create Client Key</button>
                </div>
            </div>
        </div>
    </div>
</div>