<div class="layout">
    <div class="layout-left">
        <sqx-left-menu></sqx-left-menu>
    </div>
    <div class="layout-middle">
        <div class="layout-middle-header">
            <div class="pull-right">
                <button class="btn btn-success" (click)="saveLanguages()" [disabled]="isSaving">{{isSaving ? 'Saving...' : 'Save Changes'}}</button>
            </div>

            <h1>
                <i class="layout-title-icon icon-settings"></i> Languages
            </h1>
        </div>
        <div class="layout-middle-content">
            <div class="card">
                <div class="card-block">
                    <table class="table table-borderless-top table-fixed languages-table" dnd-sortable-container [sortableData]="appLanguages">
                        <colgroup>
                            <col style="width: 60px" />
                            <col style="width: 100%" />
                            <col style="width: 110px" />
                        </colgroup>

                        <tr *ngFor="let language of appLanguages; let i = index" dnd-sortable [sortableIndex]="i">
                            <td>
                                <span class="language-code">
                                    {{language.iso2Code}}
                                </span>
                            </td>
                            <td>
                                <span class="language-name">
                                    {{language.englishName}}
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-block btn-sm btn-danger" [disabled]="i === 0" (click)="removeLanguage(language)">Remove</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <form class="form-inline" (submit)="addLanguage()" name="addLanguageForm">
                        <div class="form-group">
                            <select class="form-control language-select" [(ngModel)]="selectedLanguage" name="newLanguage">
                                <option *ngFor="let language of allLanguages" [ngValue]="language">{{language.englishName}}</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success" [disabled]="!selectedLanguage">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>