<sqx-title message="{app} | Languages | Settings" parameter="app" value="{{appName() | async}}"></sqx-title>

<div class="layout">
    <div class="layout-left">
        <sqx-left-menu></sqx-left-menu>
    </div>
    <div class="layout-middle">
        <div class="layout-middle-header">
            <h1>
                <i class="layout-title-icon icon-settings"></i> Languages
            </h1>
        </div>
        <div class="layout-middle-content">
            <table class="table table-items table-fixed">
                <colgroup>
                    <col style="width: 60px" />
                    <col style="width: 100%" />
                    <col style="width: 200px" />
                    <col style="width: 80px" />
                </colgroup>

                <thead>
                    <tr>
                        <th>
                            Code
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <template ngFor let-language [ngForOf]="appLanguages">
                        <tr>
                            <td>
                                <span class="language-code">
                                    {{language.iso2Code}}
                                </span>
                            </td>
                            <td>
                                <span class="language-name">
                                    {{language.englishName}}
                                </span>
                            </td>
                            <td>
                                <label class="language-default">
                                    <input type="radio" [value]="true" [ngModel]="language.isMasterLanguage" (ngModelChange)="setMasterLanguage(language)"> Master Language
                                </label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link btn-danger" [disabled]="language.isMasterLanguage" (click)="removeLanguage(language)">
                                    <i class="icon-bin"></i>
                                </button>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </template>
                </tbody>
            </table>

            <div class="table-items-footer">
                <form class="form-inline" (submit)="addLanguage()" name="addLanguageForm">
                    <div class="form-group">
                        <select class="form-control language-select" [(ngModel)]="selectedLanguage" name="newLanguage">
                            <option *ngFor="let language of allLanguages" [ngValue]="language">{{language.englishName}}</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success" [disabled]="!selectedLanguage">Add Language</button>
                </form>
            </div>
        </div>
    </div>
</div>