@import '_vars';
@import '_mixins';

.layout-title-icon {
    color: $color-section-settings;
}

.language {
    &-select {
        max-width: 200px;
    }

    &-name {
        @include truncate;
    }

    &-default {
        margin: 0;
    }
}