@model Squidex.Areas.IdentityServer.Controllers.Error.ErrorViewModel

@{
    ViewBag.Theme = "white";
    ViewBag.Title = "Operation failed";
}

<img class="splash-image" src="~/../squid.svg?title=OH%20DAMN&text=I%20am%20sorry%2C%20that%20something%20went%20wrong" />

<h1 class="splash-h1">Operation failed</h1>

<p class="splash-text">
    @if (Model.Error?.ErrorDescription != null)
    {
        @Model.Error.ErrorDescription
    }
    else
    {
        <span>We are really sorry that something went wrong.</span>
    }
</p>
