<div
    class="references-container"
    [class.expanded]="isExpanded"
    (sqxResizeCondition)="setCompact($event)"
    sqxResizeMaxWidth="0"
    sqxResizeMinWidth="600">
    <ng-container>
        <div class="drop-area-container" [class.disabled]="snapshot.isDisabled">
            <div class="drop-area">
                <a (click)="createContent()">{{ "contents.referencesCreateNew" | sqxTranslate }}</a>

                &middot;

                <a (click)="contentSelectorDialog.show()">{{ "contents.referencesSelectExisting" | sqxTranslate }}</a>
            </div>
        </div>

        @if (snapshot.contentItems && snapshot.contentItems.length > 0) {
            <table
                class="table table-items table-fixed"
                cdkDropList
                [cdkDropListData]="snapshot.contentItems"
                [cdkDropListDisabled]="snapshot.isDisabled"
                (cdkDropListDropped)="sort($event)"
                [class.disabled]="snapshot.isDisabled">
                @for (content of snapshot.contentItems; track content.id) {
                    <tbody
                        class="table-drag"
                        cdkDrag
                        cdkDragLockAxis="y"
                        (clone)="createContent(content)"
                        [columns]="snapshot.contentItems | sqxContentsColumns"
                        (delete)="remove(content)"
                        [isCompact]="snapshot.isCompact"
                        [isDisabled]="snapshot.isDisabled"
                        [language]="language"
                        [languages]="languages"
                        [sqxReferenceItem]="content">
                        <i class="icon-drag2 drag-handle" cdkDragHandle></i>
                    </tbody>
                }
            </table>
        }
    </ng-container>
</div>

<sqx-content-creator
    (contentCreate)="select($event)"
    [formContext]="formContext"
    [initialData]="clonedContent?.data"
    [language]="language"
    [languages]="languages"
    [schemaIds]="schemaIds"
    [schemaName]="clonedContent?.schemaName"
    *sqxModal="contentCreatorDialog"></sqx-content-creator>

<sqx-content-selector
    [allowDuplicates]="allowDuplicates"
    [alreadySelected]="snapshot.contentItems"
    (contentSelect)="select($event)"
    [language]="language"
    [languages]="languages"
    [query]="query"
    [schemaIdentifiers]="schemaIds"
    *sqxModal="contentSelectorDialog"></sqx-content-selector>
