<tr>
    <td class="cell-select">
        <ng-content></ng-content>
    </td>

    <td class="content-field" sqxContentListCell [field]="metaFields.lastModifiedByAvatar">
        <sqx-content-list-field 
            [content]="content"
            [field]="metaFields.lastModifiedByAvatar"
            [language]="language"
            [languages]="languages"
            [schema]="undefined">
        </sqx-content-list-field>
    </td>

    <td class="cell-auto cell-content" *ngFor="let value of values">
        <sqx-content-value [value]="value"></sqx-content-value>
    </td>

    <td class="cell-valid" *ngIf="validityVisible">
        <span class="badge rounded-pill badge-success" *ngIf="isValid === true">VALID</span>
        <span class="badge rounded-pill badge-danger" *ngIf="isValid === false">INVALID</span>
    </td>

    <td sqxContentListCell [field]="metaFields.statusColor">
        <sqx-content-list-field 
            [content]="content"
            [field]="metaFields.statusColor"
            [language]="language" 
            [languages]="languages"
            [schema]="undefined">
        </sqx-content-list-field>
    </td>

    <td class="cell-label" *ngIf="!isCompact">
        <div class="bg-container d-flex align-items-center">
            <span class="badge badge-primary rounded-pill truncate-inline">{{content.schemaDisplayName}}</span>
        </div>
    </td>

    <td class="cell-actions">
        <div class="reference-edit">
            <button type="button" class="btn btn-text-secondary">
                <i class="icon-dots"></i>
            </button>

            <div class="reference-menu">
                <button class="btn btn-text-secondary" title="{{ 'common.clone' | sqxTranslate }}" (click)="clone.emit()">
                    <i class="icon-copy"></i>
                </button>

                <a class="btn btn-text-secondary" target="_blank" [routerLink]="['../..', content.schemaName, content.id]">
                    <i class="icon-pencil"></i>
                </a>

                <button type="button" class="btn btn-text-secondary" *ngIf="canRemove"
                    (sqxConfirmClick)="delete.emit()"
                    confirmTitle="i18n:contents.removeConfirmTitle"
                    confirmText="i18n:contents.removeConfirmText"
                    confirmRememberKey="removeReference">
                    <i class="icon-close"></i>
                </button>
            </div>
        </div>
    </td>
</tr>
<tr class="spacer"></tr>