@import 'mixins';
@import 'vars';

.references-container {
    background: $color-background;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    height: 12rem;
    margin-top: .5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
    padding-bottom: 0;

    &.expanded {
        @include absolute(5.5rem, 1.25rem, .75rem, 1.25rem);
        height: auto;
    }
}

.disabled {
    pointer-events: none;
}

.invalid {
    color: darken($color-border, 30%);
    font-size: 1.2rem;
    font-weight: normal;
    padding: 2rem;
    text-align: center;
}

.table {
    margin-bottom: -.25rem;
}