@import '_vars';
@import '_mixins';

.faulted {
    & {
        color: $color-theme-error;
    }

    &-icon {
        @include build-icon($color-theme-error);
    }
}

.error-message {
    font-size: .8rem;
    font-weight: normal;
    height: 18rem;
}