<sqx-title message="i18n:contents.schemasPageTitle"></sqx-title>

<sqx-layout layout="left" width="18rem" [white]="true" [padding]="true" [overflow]="true">
    <ng-container menu>
        <sqx-shortcut keys="ctrl+shift+f" (trigger)="inputFind.focus()"></sqx-shortcut>

        <div class="search-form">
            <input class="form-control" #inputFind [formControl]="schemasFilter" placeholder="{{ 'contents.searchSchemasPlaceholder' | sqxTranslate }}">

            <i class="icon-search"></i>
        </div>
    </ng-container>

    <ng-container sidebarContent>
        <ng-container *ngIf="schemasState.publishedSchemas | async; let schemas">
            <sqx-schema-category *ngFor="let category of schemasState.categories | async; trackBy: trackByCategory"
                [schemaCategory]="category"
                [schemasFilter]="schemasFilter.valueChanges | async"
                [forContent]="true">
            </sqx-schema-category>
        </ng-container>
    </ng-container>

    <ng-container>
        <router-outlet></router-outlet>
    </ng-container>
</sqx-layout>
