@import '_vars';
@import '_mixins';

.panel-header {
    min-height: 8rem;
    max-height: 8rem;
}

.nav-link {
    position: relative;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.icon-angle-right {
    @include absolute(14px, 2rem, auto, auto);
}