@if (events) {
    @for (event of events; track event.eventId) {
        <div class="event row g-0">
            <div class="col-auto">
                <img class="user-picture" [src]="event.actor | sqxUserPictureRef" title="{{ event.actor | sqxUserNameRef }}" />
            </div>
            <div class="col ps-2 event-right">
                <div class="event-message">
                    <span class="user-ref" [title]="event.actor | sqxUserNameRef: null">{{ event.actor | sqxUserNameRef: null }}</span>
                    <span [innerHTML]="event | sqxHistoryMessage"></span>
                </div>
                <div class="event-created">{{ event.created | sqxFromNow }}</div>
            </div>
        </div>
    }
}
