@import 'mixins';
@import 'vars';

::ng-deep {
    .nf-details {
        background-color: $color-white;

        input, select, button {
            height: auto;
        }
    }

    .nf {
        svg {
            fill: $color-text-decent;
        }

        .btn-success {
            svg {
                fill: $color-white;
            }
        }
    }

    .nf-dropdown {
        .nf-dropdown-description {
            color: $color-text-decent
        }

        .control-dropdown-item.active {
            .nf-dropdown-description {
                color: $color-white;
            }
        }
    }

    .nf-button {
        &.btn-sm {
            padding-top: .25rem;
            padding-bottom: .25rem;
        }
    }

    .nf-comparison-inline {
        font-size: $font-small;

        * {
            font-size: .9rem;
        }

        input {
            box-shadow: none;
        }

        .btn,
        .form-control,
        .form-select {
            background: none !important;
            border: 0;
            border-radius: 0;
            height: calc(1.75rem - 2px);
            padding-top: 0.1875rem;
            padding-bottom: .25rem;
        }
    }

    .dropdown-user {
        margin-right: .5rem;
    }
}