@if (enableShortcut) {
    <sqx-shortcut keys="CTRL + I" (trigger)="inputFind.focus()" />
}

<div hintAfter="60000" hintPosition="bottom-end" hintText="i18n:search.advancedTour" sqxTourStep="search">
    <filter-input
        #inputFind
        [isBookmarked]="!!(saveKey | async)"
        (isBookmarkedChange)="bookmark($event)"
        [model]="filterModel"
        [options]="options"
        [query]="cleanedQuery"
        (queryChange)="cleanedQuery = $event"
        (search)="queryChange.emit($event)"
        [valueTemplate]="valueTemplate" />

    <ng-template #valueTemplate let-field="field" let-grid="grid" let-onChange="onChange" let-value="value">
        @switch (field.args.editor) {
            @case ("Date") {
                <sqx-date-time-editor hideDateButtons="true" mode="Date" [ngModel]="value" (ngModelChange)="onChange($event)" />
            }

            @case ("DateTime") {
                <sqx-date-time-editor hideDateButtons="true" mode="DateTime" [ngModel]="value" (ngModelChange)="onChange($event)" />
            }

            @case ("Reference") {
                <sqx-reference-input
                    [language]="language"
                    [languages]="languages"
                    mode="Single"
                    [ngModel]="value"
                    (ngModelChange)="onChange($event)"
                    [query]="undefined"
                    [schemaIds]="field.args?.schemaIds" />
            }

            @case ("Status") {
                <sqx-dropdown canSearch="false" [items]="field.args.statuses" [ngModel]="value" (ngModelChange)="onChange($event)" valueProperty="status">
                    <ng-template let-status="$implicit"> <i class="icon-circle" [style.color]="status.color"></i> {{ status.status }} </ng-template>
                </sqx-dropdown>
            }

            @case ("User") {
                @if (contributorsState.isLoaded | async) {
                    <sqx-dropdown
                        [items]="contributorsState.contributors | async"
                        [ngModel]="value"
                        (ngModelChange)="onChange($event)"
                        searchProperty="contributorName"
                        valueProperty="token">
                        <ng-template let-context="context" let-user="$implicit">
                            <span class="dropdown-user">
                                <img class="user-picture" [src]="user | sqxUserDtoPicture" />
                                <span class="user-name" [innerHTML]="user.contributorName | sqxHighlight: context"></span>
                            </span>
                        </ng-template>
                        <ng-template let-user="$implicit">
                            <span class="user-name">{{ user.contributorName }}</span>
                        </ng-template>
                    </sqx-dropdown>
                } @else {
                    <input class="form-control" [ngModel]="value" (ngModelChange)="onChange($event)" />
                }
            }
        }
    </ng-template>
</div>

<ng-container *sqxModal="saveQueryDialog">
    <form [formGroup]="saveQueryForm.form" (ngSubmit)="saveQueryComplete()">
        <sqx-modal-dialog (dialogClose)="saveQueryDialog.hide()">
            <ng-container title> {{ "search.nameQuery" | sqxTranslate }} </ng-container>
            <ng-container content>
                <div class="form-group mt-2">
                    <sqx-control-errors for="name" />
                    <input class="form-control" id="appName" autocomplete="off" formControlName="name" sqxFocusOnInit />
                </div>

                <div class="form-check">
                    <input class="form-check-input" id="user" formControlName="user" type="checkbox" />
                    <label class="form-check-label" for="user"> {{ "search.saveQueryMyself" | sqxTranslate }} </label>
                </div>
            </ng-container>
            <ng-container footer>
                <button class="btn btn-text-secondary" (click)="saveQueryDialog.hide()" type="button">
                    {{ "common.cancel" | sqxTranslate }}
                </button>
                <button class="btn btn-success" type="submit">{{ "common.create" | sqxTranslate }}</button>
            </ng-container>
        </sqx-modal-dialog>
    </form>
</ng-container>
