<form [formGroup]="createForm" (ngSubmit)="createSchema()">
    <div *ngIf="creationError">
        <div class="form-error">
            {{creationError}}
        </div>
    </div>

	<div class="form-group">
		<label for="schema-name">Name</label>
        
        <sqx-control-errors for="name" [submitted]="createFormSubmitted"></sqx-control-errors>

		<input type="text" class="form-control" id="schema-name" formControlName="name" />
        
        <span class="form-hint">
            The schema name becomes part of the api url,<br /> e.g https://{{appName}}.squidex.io/<b>{{schemaName | async}}</b>/.
        </span>
        <span class="form-hint">
            It must contain lower case letters (a-z), numbers and dashes only, and cannot be longer than 40 characters. The name cannot be changed later.
        </span>
	</div>

    <div class="form-group clearfix">
        <button type="reset" class="float-left btn btn-secondary" (click)="cancel()">Cancel</button>
        <button type="submit" class="float-right btn btn-success">Create</button>
    </div>
</form>