@import '_mixins';
@import '_vars';

$button-size: calc(2.5rem - 2px);

.subheader-button {
    height: $button-size;
    margin-right: .4rem;
    min-width: $button-size;
    max-width: $button-size;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
    line-height: 2.5rem;
}

.new-category-input {
    & {
        margin-top: 1rem;
        background: 0;
        border-width: 0;
        border-bottom-width: 1px;
        padding-left: 0;
    }

    &:focus {
        @include box-shadow-none;
    }
}