<form [formGroup]="createForm.form" (ngSubmit)="createSchema()">     
    <sqx-modal-dialog (closed)="cancel()" [large]="false">
        <ng-container title>
            <ng-container *ngIf="import; else noImport">
                Clone Schema
            </ng-container>
            <ng-template #noImport>
                Create Schema
            </ng-template>
        </ng-container>

        <ng-container content>
            <sqx-form-error [error]="createForm.error | async"></sqx-form-error>
        
            <div class="form-group name-group">
                <label for="schemaName">Name</label>
                
                <sqx-control-errors for="name" submitOnly="true" [submitted]="createForm.submitted | async"></sqx-control-errors>
        
                <input type="text" class="form-control" id="schemaName" formControlName="name" autocomplete="off" sqxTransformInput="LowerCase" sqxFocusOnInit />

                <small class="form-text text-muted">
                    You can only use letters, numbers and dashes and not more than 40 characters. The name cannot be changed later.
                </small>
                
                <small class="form-text text-muted">
                    The schema name becomes part of the api url:
                </small>

                <sqx-code>{{apiUrl.buildUrl("api/content/")}}{{appsState.appName}}/{{createForm.schemaName | async}}</sqx-code>
            </div>

            <div class="form-group">
                <div class="row no-gutters">
                    <div class="col-6 type">
                        <label>
                            <input type="radio" class="radio-input" formControlName="isSingleton" [value]="false" />
                        
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <div class="type-icon" [class.active]="createForm.form.controls['isSingleton'].value !== true">
                                        <i class="icon-multiple-content"></i>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="type-title">Multiple contents</div>
                                    <div class="type-text text-muted">Best for multiple instances like blog posts, pages, authors, products...</div>
                                </div>
                            </div>

                        </label>
                    </div>
                    <div class="col-6 type">
                        <label>
                            <input type="radio" class="radio-input" formControlName="isSingleton" [value]="true" />
                        
                            <div class="row no-gutters">
                                <div class="col-auto">
                                    <div class="type-icon" [class.active]="createForm.form.controls['isSingleton'].value === true">
                                        <i class="icon-single-content"></i>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="type-title">Single content</div>
                                    <div class="type-text text-muted">Best for single instances like the home page, privacy policies, settings...</div>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-sm btn-text" (click)="toggleImport()" [class.hidden]="showImport">
                    Import schema
                </button>
                <button type="button" class="btn btn-sm btn-text force" (click)="toggleImport()" [class.hidden]="!showImport">
                    Hide
                </button>
        
                <sqx-json-editor *ngIf="showImport" formControlName="import"></sqx-json-editor>
            </div>
        </ng-container>

        <ng-container footer>
            <button type="reset" class="float-left btn btn-secondary" (click)="cancel()">Cancel</button>
            <button type="submit" class="float-right btn btn-success">Create</button>
        </ng-container>
    </sqx-modal-dialog>
</form>