<sqx-title message="{app} | Schemas" parameter1="app" [value1]="appsState.appName"></sqx-title>

<sqx-panel theme="dark" desiredWidth="30rem" showSecondHeader="true">
    <ng-container title>
        Schemas
    </ng-container>
    
    <ng-container secondHeader>
        <sqx-shortcut keys="ctrl+shift+g" (trigger)="addSchemaDialog.show()"></sqx-shortcut>
        <sqx-shortcut keys="ctrl+shift+f" (trigger)="inputFind.focus()"></sqx-shortcut>

        <button class="btn btn-success subheader-button" (click)="createSchema()" title="New Schema (CTRL + SHIFT + G)">
            <i class="icon-plus"></i>          
        </button>
        
        <div class="search-form">
            <input class="form-control form-control-dark" #inputFind [formControl]="schemasFilter" placeholder="Search for schemas..." />

            <i class="icon-search"></i>
        </div>
    </ng-container>

    <ng-container content>
        <sqx-schema-category *ngFor="let category of schemasState.categories | async; trackBy: trackByCategory"
            [name]="category"
            [schemas]="schemasState.schemas | async"
            [schemasFilter]="schemasFilter.valueChanges | async"
            (removing)="removeCategory(category)">
        </sqx-schema-category>

        <form [formGroup]="addCategoryForm.form" (submit)="addCategory()">
            <input class="form-control form-control-dark new-category-input" formControlName="name" placeholder="Create new category..." />
        </form>
    </ng-container>
</sqx-panel>

<ng-container *sqxModalView="addSchemaDialog;onRoot:true">
    <sqx-schema-form [import]="import"
        (cancelled)="addSchemaDialog.hide()"
        (created)="onSchemaCreated($event)">
    </sqx-schema-form>
</ng-container>

<router-outlet></router-outlet>