@import '_mixins';
@import '_vars';

$button-size: calc(2.5rem - 2px);

.panel-header {
    min-height: 8rem;
    max-height: 8rem;
}

.subheader-button {
    height: $button-size;
    margin-right: .4rem;
    min-width: $button-size;
    max-width: $button-size;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
    line-height: 2.5rem;
}

.nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.schema {
    &-name {
        @include truncate;
        color: $color-dark-foreground;
    }

    &-modified {
        text-align: right;
        width: auto;
        white-space: nowrap;
        padding-left: 0;
    }

    &-user {
        @include border-radius(1px);
        @include truncate;
        display: inline-block;
        background: $color-dark2-control;
        padding: .1rem .3rem;
        font-size: .8rem;
        font-weight: normal;
        margin-left: 10px;
        margin-bottom: 2px;
        max-width: 100%;
        vertical-align: middle;
    }
}