<sqx-title message="i18n:contents.calendar"></sqx-title>

<sqx-layout layout="main" titleText="i18n:contents.calendar" [hideSidebar]="true">
    <ng-container menu>
        <button type="button" class="btn btn-outline-secondary btn-navigate ms-2" (click)="goPrev()">
            <i class="icon-caret-left"></i>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-navigate ms-2" (click)="goNext()">
            <i class="icon-caret-right"></i>
        </button>
    </ng-container>

    <ng-container content>
        <div class="calendar" #calendarContainer></div>
    </ng-container>
</sqx-layout>

<ng-container *sqxModal="contentDialog">
    <sqx-modal-dialog (close)="contentDialog.hide()">
        <ng-container title>
            {{ 'common.content' | sqxTranslate }}
        </ng-container>

        <ng-container content>
            <div *ngIf="content && content.scheduleJob">
                <div class="form-group row">
                    <label class="col-4 col-form-label">{{ 'common.id' | sqxTranslate }}</label>
            
                    <div class="col-8">
                        <div class="input-group">
                            <input readonly class="form-control" name="id" id="id" value="{{content.id}}" #inputId>
        
                            <button type="button" class="btn btn-outline-secondary" [sqxCopy]="inputId">
                                <i class="icon-copy"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group-aligned  row">
                    <label class="col-4 col-form-label">{{ 'common.content' | sqxTranslate }}</label>
            
                    <div class="col-8">
                        <a [routerLink]="['../', content.schemaName, content.id]">
                            {{createContentName(content)}}
                        </a>
                    </div>
                </div>

                <div class="form-group form-group-aligned  row">
                    <label class="col-4 col-form-label">{{ 'common.schema' | sqxTranslate }}</label>
            
                    <div class="col-8">
                        <a [routerLink]="['../', content.schemaName]">
                            {{content.schemaDisplayName}}
                        </a>
                    </div>
                </div>

                <div class="form-group form-group-aligned  row">
                    <label class="col-4 col-form-label">{{ 'common.status' | sqxTranslate }}</label>
            
                    <div class="col-8">
                        <sqx-content-status
                            layout="text"
                            [status]="content.scheduleJob.status"
                            [statusColor]="content.scheduleJob.color">
                        </sqx-content-status>
                    </div>
                </div>

                <div class="form-group form-group-aligned  row">
                    <label class="col-4 col-form-label">{{ 'common.by' | sqxTranslate }}</label>
            
                    <div class="col-8">
                        <img class="user-picture" [src]="content.scheduleJob.scheduledBy | sqxUserPictureRef"> {{content.scheduleJob.scheduledBy | sqxUserNameRef}}
                    </div>
                </div>
            </div>
        </ng-container>
    </sqx-modal-dialog>
</ng-container>