<ng-container *ngIf="queries && queries.length > 0; else noQuery">
    <a class="sidebar-item" *ngFor="let saved of queries; trackBy: trackByQuery" (click)="search.emit(saved.query)"
        [class.active]="isSelectedQuery(saved)">

        <i class="icon-circle" [style.color]="saved.color" [class.hidden]="!saved.color"></i> {{saved.name | sqxTranslate}}

        <a class="sidebar-item-remove float-right" (click)="remove.emit(saved)" *ngIf="canRemove" sqxStopClick>
            <i class="icon-close"></i>
        </a>
    </a>
</ng-container>

<ng-template #noQuery>
    <div class="sidebar-item inactive text-muted" *ngIf="canRemove" [innerHTML]="'search.queriesEmpty' | sqxTranslate: { types: types }"></div>
</ng-template>