<div class="input-group">
    <input readonly class="form-control" [ngModel]="snapshot.selectedName" (click)="openDialog()" />

    <button type="button" class="btn btn-outline-secondary" [disabled]="snapshot.isDisabled" (click)="selectContent()" sqxStopClick>
        <i class="icon-close"></i>
    </button>
</div>

<sqx-content-selector *sqxModal="contentSelectorDialog"
    (contentSelect)="select($event)"
    [language]="language"
    [languages]="languages"
    [query]="query"
    [schemaIdentifiers]="schemaIds"
    maxItems="1">
</sqx-content-selector>