<div class="nav nav-light flex-column">
    <div class="nav-item">
        <button class="nav-link" [class.active]="isEmpty()" (click)="tagsReset.emit()" type="button">{{ "common.tagsAll" | sqxTranslate }}</button>
    </div>

    @for (tag of tags; track tag.name) {
        <div class="nav-item">
            <button class="nav-link" [class.active]="isSelected(tag)" (click)="toggle.emit(tag.name)" type="button">
                <div class="row g-0">
                    <div class="col">
                        <span class="truncate">{{ tag.name }}</span>
                    </div>

                    <div class="col-auto">
                        <div class="badge badge-secondary rounded-pill">{{ tag.count }}</div>

                        @if (canRename) {
                            <button
                                class="btn-sm btn-text-secondary btn-rename"
                                attr.aria-label="{{ 'common.rename' | sqxTranslate }}"
                                (click)="renameTag(tag)"
                                sqxStopClick
                                type="button">
                                <i class="icon-pencil"></i>
                            </button>
                        }
                    </div>
                </div>
            </button>
        </div>
    }
</div>
<sqx-asset-tag-dialog (dialogClose)="tagRenameDialog.hide()" *sqxModal="tagRenameDialog" [tagName]="tagRenaming!.name" />
