<sqx-title message="{app} | Patterns | Settings" parameter1="app" [value1]="appsState.appName"></sqx-title>

<sqx-panel desiredWidth="60rem">
    <ng-container title>
        Patterns
    </ng-container>

    <ng-container content>
        <ng-container *ngIf="patternsState.patterns | async; let patterns">
            <div class="table-items-row table-items-row-empty" *ngIf="patterns.length === 0">
                No pattern created yet.
            </div>
            
            <sqx-pattern *ngFor="let pattern of patterns" [pattern]="pattern"></sqx-pattern>
            <sqx-pattern></sqx-pattern>
        </ng-container>
    </ng-container>
</sqx-panel>

<router-outlet></router-outlet>