<sqx-title message="{app} | Patterns | Settings" parameter1="app" [value1]="appsState.appName"></sqx-title>

<sqx-panel desiredWidth="60rem">
    <ng-container title>
        Contributors
    </ng-container>

    <ng-container content>
        <ng-container *ngIf="appPatterns">
            <div *ngFor="let pattern of appPatterns.patterns">
                <sqx-pattern [pattern]="pattern"
                    (removing)="removePattern(pattern)"
                    (updating)="updatePattern(pattern, $event)">
                </sqx-pattern>
            </div>
            <sqx-pattern [isNew]="true"
                (updating)="addPattern($event)">
            </sqx-pattern>
        </ng-container>
    </ng-container>
</sqx-panel>

<router-outlet></router-outlet>