<div class="table-items-row" [class.table-items-footer]="!pattern">
    <form [formGroup]="editForm.form" (ngSubmit)="save()" class="row no-gutters">
        <div class="col col-name">
            <sqx-control-errors for="name" [submitted]="editForm.submitted | async"></sqx-control-errors>

            <input type="text" class="form-control" id="pattern-name" maxlength="100" formControlName="name" placeholder="Name" />
            
        </div>

        <div class="col pl-1 pr-1">
            <sqx-control-errors for="pattern" [submitted]="editForm.submitted | async"></sqx-control-errors>

            <input type="text" class="form-control" id="pattern-pattern" maxlength="1000" formControlName="pattern" placeholder="Pattern" />
        </div>

        <div class="col col-message">
            <sqx-control-errors for="message" [submitted]="editForm.submitted | async"></sqx-control-errors>

            <input type="text" class="form-control" id="pattern-message" maxlength="1000" formControlName="message" placeholder="Message" />
        </div>

        <div class="col-auto pl-1 col-options" *ngIf="pattern">
            <button type="submit" class="btn btn-primary mr-1" [disabled]="!editForm.form.dirty || !isEditable">
                <i class="icon-checkmark"></i>
            </button>

            <button type="button" class="btn btn-text-danger"
                [disabled]="!isDeletable"
                (sqxConfirmClick)="delete()"
                confirmTitle="Remove pattern" 
                confirmText="Do you really want to remove this pattern?">
                <i class="icon-bin2"></i>
            </button>
        </div>
        
        <div class="col-auto pl-1 col-options" *ngIf="!pattern">
            <button type="submit" class="btn btn-success mr-1">
                <i class="icon-add"></i>
            </button>

            <button type="reset" class="btn btn-text-secondary" (click)="cancel()">
                <i class="icon-close"></i>
            </button>
        </div>
    </form>
</div>