<ng-container *ngIf="!(formSection.hiddenChanges | async)">
    <div class="header" *ngIf="formSection.separator; let separator">
        <h3>{{separator!.displayName}}</h3>

        <sqx-form-hint *ngIf="separator.properties.hints && separator.properties.hints.length > 0">
            <span [innerHTML]="separator.properties.hints | sqxMarkdownInline"></span>
        </sqx-form-hint>
    </div>
    
    <div class="form-group" *ngFor="let child of formSection.fields; trackBy: trackByField">
        <sqx-field-editor *ngIf="!(child.hiddenChanges | async)"
            [canUnset]="canUnset"
            [form]="form"
            [formContext]="formContext"
            [formModel]="child"
            [index]="index"
            [canUnset]="canUnset"
            [language]="language"
            [languages]="languages">
        </sqx-field-editor>
    </div>
</ng-container>