<div class="field" *ngIf="formModel">
    <label>
        {{field.displayName}} {{displaySuffix}} <span class="field-required" [class.hidden]="!field.properties.isRequired">*</span>
    </label> 

    <small class="field-disabled ps-1" *ngIf="field.isDisabled">Disabled</small>

    <sqx-control-errors *ngIf="form" [for]="editorControl" [fieldName]="field.displayName"></sqx-control-errors>

	<div>
		<ng-container *ngIf="field.properties.editorUrl; else noEditor">
            <sqx-iframe-editor [url]="field.properties.editorUrl" #editor
                [context]="formContext"
                [formControl]="editorControl"
                [formValue]="form.valueChanges | async"
                [formIndex]="index"
                [language]="language?.iso2Code">
            </sqx-iframe-editor>
		</ng-container>

		<ng-template #noEditor>
			<ng-container [ngSwitch]="field.properties.fieldType">
                <ng-container *ngSwitchCase="'Array'">
                    <sqx-array-editor
                        [canUnset]="canUnset"
                        [form]="form"
                        [formModel]="$any(formModel)"
                        [formContext]="formContext"
                        [language]="language"
                        [languages]="languages">
                    </sqx-array-editor>
                </ng-container>
                <ng-container *ngSwitchCase="'Assets'">
                    <sqx-assets-editor [formControl]="editorControl" [folderId]="field.rawProperties.folderId"></sqx-assets-editor>
                </ng-container>
                <ng-container *ngSwitchCase="'Boolean'">
                    <ng-container [ngSwitch]="field.rawProperties.editor">
                        <ng-container *ngSwitchCase="'Toggle'">
                            <sqx-toggle [formControl]="editorControl" [threeStates]="!field.properties.isRequired"></sqx-toggle>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Checkbox'">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [formControl]="editorControl" id="{{uniqueId}}" sqxIndeterminateValue [threeStates]="!field.properties.isRequired">
                                <label class="form-check-label" for="{{uniqueId}}"></label>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'Component'">
                    <sqx-component
                        [canUnset]="canUnset"
                        [form]="form"
                        [formModel]="$any(formModel)"
                        [formContext]="formContext"
                        [language]="language"
                        [languages]="languages">
                    </sqx-component>
                </ng-container>
                <ng-container *ngSwitchCase="'Components'">
                    <sqx-array-editor
                        [canUnset]="canUnset"
                        [form]="form"
                        [formModel]="$any(formModel)"
                        [formContext]="formContext"
                        [language]="language"
                        [languages]="languages">
                    </sqx-array-editor>
                </ng-container>
                <ng-container *ngSwitchCase="'DateTime'">
                    <sqx-date-time-editor [formControl]="editorControl" [mode]="field.rawProperties.editor" [enforceTime]="true"></sqx-date-time-editor>
                </ng-container>
				<ng-container *ngSwitchCase="'Geolocation'">
					<sqx-geolocation-editor [formControl]="editorControl"></sqx-geolocation-editor>
				</ng-container>
				<ng-container *ngSwitchCase="'Json'">
					<sqx-code-editor [formControl]="editorControl" valueMode="Json" [height]="350"></sqx-code-editor>
				</ng-container>
				<ng-container *ngSwitchCase="'Number'">
					<ng-container [ngSwitch]="field.rawProperties.editor">
						<ng-container *ngSwitchCase="'Input'">
							<input class="form-control" type="number" [formControl]="editorControl" [placeholder]="field.displayPlaceholder">
						</ng-container>
						<ng-container *ngSwitchCase="'Stars'">
							<sqx-stars [formControl]="editorControl" [maximumStars]="field.rawProperties.maxValue"></sqx-stars>
						</ng-container>
						<ng-container *ngSwitchCase="'Dropdown'">
							<select class="form-select" [formControl]="editorControl">
								<option [ngValue]="null"></option>
								<option *ngFor="let value of field.rawProperties.allowedValues" [ngValue]="value">{{value}}</option>
							</select>
						</ng-container>
						<ng-container *ngSwitchCase="'Radio'">
							<div class="form-check" *ngFor="let value of field.rawProperties.allowedValues">
								<input class="form-check-input" type="radio" [value]="value" [formControl]="editorControl" [name]="uniqueId" id="{{uniqueId}}_{{value}}">
								<label class="form-check-label" for="{{uniqueId}}_{{value}}">
									{{value}}
								</label>
							</div>
						</ng-container>
					</ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'References'">
                    <ng-container [ngSwitch]="field.rawProperties.editor">
                        <ng-container *ngSwitchCase="'List'">
                            <sqx-references-editor
                                [formControl]="editorControl" 
                                [allowDuplicates]="field.rawProperties.allowDuplicated"
                                [formContext]="formContext"
                                [language]="language"
                                [languages]="languages"
                                [schemaIds]="field.rawProperties.schemaIds">
                            </sqx-references-editor>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Dropdown'">
                            <sqx-reference-dropdown
                                mode="Array"
                                [formControl]="editorControl" 
                                [language]="language"
								[schemaId]="field.rawProperties.singleId">
                            </sqx-reference-dropdown>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Tags'">
                            <sqx-references-tags
                                [formControl]="editorControl" 
                                [language]="language"
								[schemaId]="field.rawProperties.singleId">
                            </sqx-references-tags>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Checkboxes'">
                            <sqx-references-checkboxes
                                [formControl]="editorControl" 
                                [language]="language"
								[schemaId]="field.rawProperties.singleId">
                            </sqx-references-checkboxes>
                        </ng-container>
                    </ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'String'">
					<ng-container [ngSwitch]="field.rawProperties.editor">
						<ng-container *ngSwitchCase="'Input'">
							<input class="form-control" type="text" [formControl]="editorControl" [placeholder]="field.displayPlaceholder">
						</ng-container>
						<ng-container *ngSwitchCase="'Slug'">
							<input class="form-control" type="text" [formControl]="editorControl" [placeholder]="field.displayPlaceholder" sqxTransformInput="Slugify">
						</ng-container>
						<ng-container *ngSwitchCase="'TextArea'">
							<textarea class="form-control" [formControl]="editorControl" [placeholder]="field.displayPlaceholder" rows="5"></textarea>
						</ng-container>
						<ng-container *ngSwitchCase="'RichText'">
							<sqx-rich-editor [formControl]="editorControl" #editor [folderId]="field.rawProperties.folderId"></sqx-rich-editor>
						</ng-container>
						<ng-container *ngSwitchCase="'Html'">
							<sqx-code-editor [formControl]="editorControl" #editor mode="ace/mode/html" [height]="350"  ></sqx-code-editor>
						</ng-container>
						<ng-container *ngSwitchCase="'Markdown'">
							<sqx-markdown-editor [formControl]="editorControl" #editor [folderId]="field.rawProperties.folderId"></sqx-markdown-editor>
						</ng-container>
						<ng-container *ngSwitchCase="'StockPhoto'">
							<sqx-stock-photo-editor [formControl]="editorControl"></sqx-stock-photo-editor>
						</ng-container>
						<ng-container *ngSwitchCase="'Dropdown'">
							<select class="form-select" [formControl]="editorControl">
								<option [ngValue]="null"></option>
								<option *ngFor="let value of field.rawProperties.allowedValues" [ngValue]="value">{{value}}</option>
							</select>
						</ng-container>
						<ng-container *ngSwitchCase="'Radio'">
							<div class="form-check custom-control-inline" *ngFor="let value of field.rawProperties.allowedValues">
								<input class="form-check-input" type="radio" [value]="value" [formControl]="editorControl" [name]="uniqueId" id="{{uniqueId}}_{{value}}">
								<label class="form-check-label" for="{{uniqueId}}_{{value}}">
									{{value}}
								</label>
							</div>
						</ng-container>
						<ng-container *ngSwitchCase="'Color'">
                            <sqx-color-picker [formControl]="editorControl" [placeholder]="field.displayPlaceholder"></sqx-color-picker>
						</ng-container>
					</ng-container>
				</ng-container>
				<ng-container *ngSwitchCase="'Tags'">
                    <ng-container [ngSwitch]="field.rawProperties.editor">
                        <ng-container *ngSwitchCase="'Tags'">
                            <sqx-tag-editor [formControl]="editorControl" [placeholder]="field.displayPlaceholder" [suggestions]="field.rawProperties.allowedValues"></sqx-tag-editor>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Checkboxes'">
                            <sqx-checkbox-group [formControl]="editorControl" [values]="field.rawProperties.allowedValues"></sqx-checkbox-group>
                        </ng-container>
                        <ng-container *ngSwitchCase="'Dropdown'">
                            <select multiple class="form-select" [formControl]="editorControl">
                                <option *ngFor="let value of field.rawProperties.allowedValues" [ngValue]="value">{{value}}</option>
                            </select>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'UI'">
                    <h4 class="ui-separator">{{field.displayName}}</h4>
                </ng-container>
			</ng-container>
		</ng-template>
    </div>

    <div *ngIf="canUnset" class="unset" >
        <button type="button" class="btn btn-sm btn-text-secondary force" [disabled]="isEmpty | async"
            (sqxConfirmClick)="unset()"
            confirmTitle="i18n:contents.unsetValueConfirmTitle"
            confirmText="i18n:contents.unsetValueConfirmText"
            confirmRememberKey="unsetValue"
            title="i18n:contents.unsetValue">
            <i class="icon-close"></i>
        </button>
    </div>

    <sqx-form-hint *ngIf="field.properties.hints && field.properties.hints.length > 0">
        <span [innerHTML]="field.properties.hints | sqxMarkdownInline"></span>
    </sqx-form-hint>
</div>
