.field {
    position: relative;

    &-required {
        color: $color-theme-error;
    }

    &-disabled {
        color: $color-border-dark;
        font-size: $font-smallest;
        font-weight: normal;
    }
}

.unset {
    @include absolute(-.5rem, 0);

    i {
        font-size: $font-smallest;
    }
}

.ui {
    margin-bottom: 1rem;

    &-separator {
        border-bottom: 1px solid darken($color-border, 5%);
        color: lighten($color-text, 20%);
        font-size: 1.3rem;
        font-weight: normal;
        margin-bottom: 0;
        margin-top: 1.5rem;
        padding: .25rem 0;
    }
}