@if (commentsTab | async; as tab) {
    <sqx-layout layout="right" white="true" width="20">
        <ng-container menu>
            <ul class="nav nav-tabs2">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="tab === 'unresolved'" [queryParams]="{ commentsTab: 'unresolved' }" [routerLink]="[]">
                        {{ "comments.unresolved" | sqxTranslate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="tab === 'all'" [queryParams]="{ commentsTab: 'all' }" [routerLink]="[]">
                        {{ "comments.all" | sqxTranslate }}
                    </a>
                </li>
            </ul>
        </ng-container>

        <sqx-comments [commentsId]="commentsId | async" [resolved]="tab === 'all'" />
    </sqx-layout>
}
