<sqx-title [message]="schemasState.schemaName"></sqx-title>

<sqx-panel desiredWidth="50rem" contentClass="grid" [showSidebar]="true">
    <ng-container header>
        <ul class="nav nav-tabs2">
            <li class="nav-item" *ngFor="let tab of selectableTabs">
                <a class="nav-link" [routerLink]="['./', tab.toLowerCase()]" routerLinkActive="active">{{tab}}</a>
            </li>
        </ul>
    </ng-container>

    <ng-container menu>
        <div class="btn-group mr-1" #buttonPublish>
            <button type="button" class="btn btn-publishing btn-toggle" [class.btn-success]="schema.isPublished" [disabled]="!schema.canPublish" (click)="publish()">
                Published
            </button>
            <button type="button" class="btn btn-publishing btn-toggle" [class.btn-danger]="!schema.isPublished" [disabled]="!schema.canUnpublish" (click)="unpublish()">
                Unpublished
            </button>
        </div>

        <div class="dropdown dropdown-options">
            <button type="button" class="btn btn-text-secondary ml-1" (click)="editOptionsDropdown.toggle()" [class.active]="editOptionsDropdown.isOpen | async" #buttonOptions>
                <i class="icon-dots"></i>
            </button>

            <ng-container *sqxModal="editOptionsDropdown;closeAlways:true">
                <div class="dropdown-menu" [sqxAnchoredTo]="buttonOptions" @fade>                    
                    <ng-container *ngIf="schemasState.canCreate">
                        <div class="dropdown-divider"></div>
        
                        <a class="dropdown-item" (click)="cloneSchema()">
                            Clone
                        </a>
                    </ng-container>
                    
                    <ng-container>
                        <div class="dropdown-divider"></div>
        
                        <a class="dropdown-item dropdown-item-delete"
                            [class.disabled]="!schema.canDelete"
                            (sqxConfirmClick)="deleteSchema()" 
                            confirmTitle="Delete schema" 
                            confirmText="Do you really want to delete the schema?">
                            Delete
                        </a>
                    </ng-container>
                </div>
            </ng-container>
        </div>

        <sqx-onboarding-tooltip helpId="history" [for]="buttonOptions" position="bottom-right" after="60000">
            Open the context menu to delete the schema or to create some scripts for content changes.
        </sqx-onboarding-tooltip>

        <sqx-onboarding-tooltip helpId="history" [for]="buttonPublish" position="bottom-right" after="240000">
            Note, that you have to publish the schema before you can add content to it.
        </sqx-onboarding-tooltip>
    </ng-container>

    <ng-container content>
        <ng-container [ngSwitch]="selectedTab">
            <ng-container *ngSwitchCase="'fields'">
                <sqx-schema-fields [schema]="schema"></sqx-schema-fields>
            </ng-container>
            <ng-container *ngSwitchCase="'scripts'">
                <sqx-schema-scripts-form [schema]="schema"></sqx-schema-scripts-form>
            </ng-container>
            <ng-container *ngSwitchCase="'json'">
                <sqx-schema-export-form [schema]="schema"></sqx-schema-export-form>
            </ng-container>
            <ng-container *ngSwitchCase="'more'">
                <div class="cards">
                    <sqx-schema-preview-urls-form [schema]="schema"></sqx-schema-preview-urls-form>
                    <sqx-schema-edit-form [schema]="schema"></sqx-schema-edit-form>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container sidebar>
        <div class="panel-nav">        
            <a class="panel-link" [routerLink]="[selectedTab, 'help']" routerLinkActive="active" title="Help" titlePosition="left">
                <i class="icon-help2"></i>
            </a>
        </div>
    </ng-container>
</sqx-panel>

<router-outlet></router-outlet>