@import '_vars';
@import '_mixins';

:host,
.inner-form,
.inner-main {
    @include flex-box;
    @include flex-grow(1);
    @include flex-direction(column);
}

.inner-header,
.inner-main {
    position: relative;
}

.inner-header {
    background: $color-theme-secondary;
    border: 0;
    padding: 1rem $panel-padding;
}

:host ::ng-deep {
    .editor {
        @include absolute(0, 0, 0, 0);
    }
}