@import '_vars';
@import '_mixins';

.fields {
    padding: $panel-padding;
}

.field-button {
    & {
        @include circle(5.25rem);
        @include box-shadow(0, 8px, 16px, .3);
        @include absolute(auto, 6rem, 1rem, auto);
    }

    &-icon {
        font-weight: bold;
    }

    &-text {
        font-size: .9rem;
    }
}