@import '_vars';
@import '_mixins';

.btn-publishing {
    &.disabled,
    &:disabled {
        @include opacity(1);
    }
}

.cards {
    padding: $panel-padding;
    overflow-y: auto;
}

.nav-tabs2 {
    @include absolute(auto, auto, 0, auto);

    a {
        padding-bottom: 1.5rem;
    }
}