@import '_vars';
@import '_mixins';

.content {
    margin-top: 1rem;
}

.card-header,
.card-footer {
    padding: 1.25rem;
}

.col-options {
    @include force-width(6rem);
}

.col-name {
    @include force-width(14rem);
}