<form class="inner-form" [formGroup]="editForm.form" (ngSubmit)="saveSchema()">
    <div class="inner-main">
        <div class="table-items-row table-items-row-empty" *ngIf="editForm.form.controls.length === 0">
            No preview URL configured.
        </div>

        <div class="table-items-row" *ngFor="let form of editForm.form.controls; let i = index">
            <div class="form-group row no-gutters">
                <div class="col col-name">
                    <sqx-control-errors [for]="form.get('name')" fieldName="Name" [submitted]="editForm.submitted | async"></sqx-control-errors>

                    <input type="text" class="form-control" maxlength="1000" [formControl]="form.get('name')" placeholder="Web or Mobile" />
                </div>

                <div class="col pl-1">
                    <sqx-control-errors [for]="form.get('url')" fieldName="Url" [submitted]="editForm.submitted | async"></sqx-control-errors>

                    <input type="text" class="form-control" maxlength="1000" [formControl]="form.get('url')" placeholder="Url with placeholders like ${id} or ${data.slug}" />
                </div>

                <div class="col-auto pl-1 col-options">
                    <button type="button" class="btn btn-text-danger"
                        [disabled]="!isEditable"
                        (sqxConfirmClick)="editForm.remove(i)"
                        confirmTitle="Remove url" 
                        confirmText="Do you really want to remove this url?">
                        <i class="icon-bin2"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="table-items-row table-items-footer">
            <div class="form-group row no-gutters" [formGroup]="addForm.form" *ngIf="isEditable">
                <div class="col col-name">
                    <sqx-control-errors for="name" [submitted]="addForm.submitted | async"></sqx-control-errors>
    
                    <input type="text" class="form-control" maxlength="1000" formControlName="name" placeholder="Web or Mobile" />
                </div>
    
                <div class="col pl-1">
                    <sqx-control-errors for="url" [submitted]="addForm.submitted | async"></sqx-control-errors>
    
                    <input type="text" class="form-control" maxlength="1000" formControlName="url" placeholder="Url with placeholders like ${id} or ${data.slug}" />
                </div>
        
                <div class="col-auto pl-1 col-options" *ngIf="!pattern">
                    <button type="button" class="btn btn-success mr-1" (click)="add()">
                        <i class="icon-add"></i>
                    </button>
    
                    <button type="button" class="btn btn-text-secondary" (click)="cancelAdd()">
                        <i class="icon-close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button type="submit" class="float-right btn btn-primary" [class.invisible]="!isEditable">Save</button>
    </div>
</form>
