.btn-publishing {
    &.disabled,
    &:disabled {
        opacity: 1;
    }
}

.cards {
    overflow-y: auto;
    padding: $panel-padding;
}

.nav-tabs2 {
    @include absolute(auto, auto, 0, auto);

    a {
        padding-bottom: 1.5rem;
    }
}