:host {
    overflow-x: hidden;
    overflow-y: auto;
    padding: $panel-padding;
    padding-bottom: 8rem;
}

.field-button {
    @include circle(5.25rem);
    @include box-shadow-outer(0, 8px, 16px, .3);
    @include absolute(auto, 6rem, 1rem, auto);

    &-icon {
        font-weight: bold;
    }

    &-text {
        font-size: $font-small;
    }
}