<sqx-title message="i18n:rules.ruleSimulator.listPageTitle"></sqx-title>

<sqx-layout layout="main" titleText="i18n:rules.simulator" [width]="50" [hideSidebar]="true">    
    <ng-container menu>
        <button type="button" class="btn btn-text-secondary" (click)="simulate()" title="i18n:rules.simulateTooltip">
            <i class="icon-play-line"></i> {{ 'rules.simulate' | sqxTranslate }}
        </button>
    </ng-container>
    
    <ng-container>
        <sqx-list-view [isLoading]="ruleSimulatorState.isLoading | async" [table]="true">
            <table class="table table-items table-fixed">
                <thead>
                    <tr>
                        <th class="cell-label">
                            <span class="truncate">{{ 'common.status' | sqxTranslate }}</span>
                        </th>
                        <th class="cell-40">
                            <span class="truncate">{{ 'common.event' | sqxTranslate }}</span>
                        </th>
                        <th class="cell-40">
                            <span class="truncate">{{ 'common.skipped' | sqxTranslate }}</span>
                        </th>
                        <th class="cell-actions">&nbsp;</th>
                    </tr>
                </thead>

                <tbody *ngFor="let event of ruleSimulatorState.simulatedRuleEvents | async; trackBy: trackByEvent"
                    [sqxSimulatedRuleEvent]="event"
                    [expanded]="event.eventId === selectedRuleEvent"
                    (expandedChange)="selectEvent(event)">
                </tbody>
            </table>
        </sqx-list-view>
    </ng-container>
</sqx-layout>