@if (text) {
    <sqx-history-step [isLast]="isLast && filteredErrors.length === 0" small="true">
        <ng-container summary>
            <div class="col text-sm truncate">
                {{ text | sqxTranslate }}
            </div>
        </ng-container>
    </sqx-history-step>
}

@for (error of filteredErrors; track error; let last = $last) {
    <sqx-history-step [isLast]="isLast && last" small="true">
        <ng-container summary>
            <div class="col text-sm text-danger truncate">
                {{ error | sqxTranslate }}
            </div>
        </ng-container>
    </sqx-history-step>
}
