
@if (text) {
    <sqx-history-step small="true">
        <ng-container summary>
            <div class="col text-sm">
                {{ text | sqxTranslate }}
            </div>
        </ng-container>
    </sqx-history-step>
}

@if (filteredErrors; as errors) {
    @for (error of errors; track error) {
        <sqx-history-step small="true">
            <ng-container summary>
                <div class="col text-sm text-danger">
                    {{ error | sqxTranslate }}
                </div>
            </ng-container>
        </sqx-history-step>
    }
}
