<ng-container [ngSwitch]="fieldName">
    <ng-container *ngSwitchCase="metaFields.id">
        <sqx-table-header text="i18n:contents.tableHeaders.id"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.created">
        <sqx-table-header text="i18n:contents.tableHeaders.created"
            [sortable]="true"
            [fieldPath]="'created'"
            [query]="query"
            (queryChange)="queryChange.emit($event)"
            [language]="language">
        </sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.createdByAvatar">
        <sqx-table-header text="i18n:contents.tableHeaders.createdByShort"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.createdByName">
        <sqx-table-header text="i18n:contents.tableHeaders.createdBy"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.lastModified">
        <sqx-table-header text="i18n:contents.tableHeaders.lastModified" defaultOrder="ascending"
            [sortable]="true"
            [fieldPath]="'lastModified'"
            [query]="query"
            (queryChange)="queryChange.emit($event)"
            [language]="language">
        </sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.lastModifiedByAvatar">
        <sqx-table-header text="i18n:contents.tableHeaders.lastModifiedByShort"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.lastModifiedByName">
        <sqx-table-header text="i18n:contents.tableHeaders.lastModifiedBy"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.status">
        <sqx-table-header text="i18n:contents.tableHeaders.status"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.statusNext">
        <sqx-table-header text="i18n:contents.tableHeaders.nextStatus"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.statusColor">
        <sqx-table-header text="i18n:contents.tableHeaders.status"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchCase="metaFields.version">
        <sqx-table-header text="i18n:contents.tableHeaders.version"></sqx-table-header>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <sqx-table-header [text]="fieldDisplayName"
            [sortable]="isSortable"
            [fieldPath]="fieldPath"
            [query]="query"
            (queryChange)="queryChange.emit($event)"
            [language]="language">
        </sqx-table-header>
    </ng-container>
</ng-container>