<sqx-title message="{app} | Settings" parameter1="app" value1="{{appName() | async}}"></sqx-title>

<sqx-panel theme="dark" panelWidth="16rem">
    <div class="panel-header">
        <div class="panel-title-row">
            <h3 class="panel-title">Settings</h3>
        </div>

        <a class="panel-close" sqxParentLink isLazyLoaded="true">
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content">
            <ul class="nav flex-column nav-dark">
                <li class="nav-item">
                    <a class="nav-link" routerLink="clients" routerLinkActive="active">
                        Clients
                        <i class="icon-angle-right"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contributors" routerLinkActive="active">
                        Contributors
                        <i class="icon-angle-right"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="languages" routerLinkActive="active">
                        Languages
                        <i class="icon-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</sqx-panel>

<router-outlet></router-outlet>