<div class="panel panel-dark">
    <div class="panel-header">
        <div class="panel-header-title-row">
            <h3 class="panel-title">Settings</h3>

            <a class="panel-close" dashboardLink>
                <i class="icon-close"></i>
            </a>
        </div>
    </div>

    <div class="panel-main">
        <div class="panel-content">
            <ul class="nav nav-pills nav-stacked nav-dark">
                <li class="nav-item">
                    <a class="nav-link" routerLink="clients" routerLinkActive="active">
                        Clients
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contributors" routerLinkActive="active">
                        Contributors
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="languages" routerLinkActive="active">
                        Languages
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>