<li class="nav-item nav-icon dropdown d-flex align-items-center position-relative" #button>
    <span class="nav-link dropdown-toggle" (click)="modalMenu.show()">
        <i class="icon-comments"></i>

        <span class="badge rounded-pill badge-danger" *ngIf="commentsState.unreadCountChanges| async; let unread">{{unread}}</span>
    </span>
</li>

<sqx-dropdown-menu *sqxModal="modalMenu;onRoot:false" [sqxAnchoredTo]="button" scrollY="true" offset="8" [scrollTop]="scrollMe.nativeElement.scrollHeight" #scrollMe>
    <ng-container *ngIf="commentItems | async; let items">
        <small class="text-muted" *ngIf="items.length === 0">
            {{ 'notifications.empty' | sqxTranslate}}
        </small>

        <sqx-comment *ngFor="let item of items.slice().reverse(); trackBy: trackByComment; let i = index"
            canAnswer="false"
            confirmDelete="false"
            canDelete="true"
            canFollow="true"
            [commentItem]="item"
            [comments]="commentsState"
            [mentionConfig]="{}"
            [mentionUsers]="undefined"
            [userToken]="commentUser">
        </sqx-comment>
    </ng-container>
</sqx-dropdown-menu>