<ul class="nav navbar-nav align-items-center">
    <li class="nav-item nav-icon dropdown" #button>
        <span class="nav-link dropdown-toggle" (click)="toggleProfile()">
            <span class="user"> <img class="user-picture" [src]="snapshot.profileId | sqxUserIdPicture" /> </span>
        </span>
    </li>
</ul>
<sqx-dropdown-menu offset="8" [sqxAnchoredTo]="button" *sqxModal="modalMenu; closeAlways: true; onRoot: false">
    <a class="dropdown-item dropdown-info" href="{{ snapshot.profileUrl }}" sqxExternalLink="noicon">
        <div>{{ "profile.userEmail" | sqxTranslate }}</div>
        <strong>{{ snapshot.profileEmail }}</strong>
    </a>
    <div class="dropdown-divider"></div>

    @if (uiState.canUseAdminResource | async) {
        <button class="dropdown-item" routerLink="/app/administration" type="button">{{ "common.administration" | sqxTranslate }}</button>
    }
    <a class="dropdown-item" href="{{ snapshot.profileUrl }}" sqxExternalLink="noicon"> {{ "profile.title" | sqxTranslate }} </a>
    <div class="dropdown-submenu">
        <button class="dropdown-item dropdown-toggle" (click)="toggleSubmenu()" sqxStopClick type="button">{{ "common.language" | sqxTranslate }}</button>
        <div class="dropdown-menu" [class.open]="snapshot.showSubmenu">
            @for (availableLanguage of languages; track availableLanguage) {
                <button
                    class="dropdown-item"
                    [class.active]="availableLanguage.iso2Code === language"
                    (click)="changeLanguage(availableLanguage.iso2Code)"
                    type="button">
                    {{ availableLanguage.localName }}
                </button>
            }
        </div>
    </div>

    <div class="dropdown-divider"></div>
    <button class="dropdown-item" (click)="logout()" sqxExternalLink type="button">{{ "common.logout" | sqxTranslate }}</button>
</sqx-dropdown-menu>
