<ng-container *ngIf="(formSection.visibleChanges | async) || formCompare">
    <div class="header" *ngIf="formSection.separator; let separator">
        <div class="row g-0">
            <div class="col-auto">
                <button type="button" class="btn btn-sm btn-text-secondary" (click)="toggle()">
                    <i [class.icon-caret-right]="snapshot.isCollapsed" [class.icon-caret-down]="!snapshot.isCollapsed"></i> 
                </button>
            </div>
            <div class="col">
                <h3>{{separator.displayName}}</h3>

                <sqx-form-hint *ngIf="separator.properties.hints && separator.properties.hints.length > 0">
                    <span [innerHTML]="separator.properties.hints | sqxMarkdownInline"></span>
                </sqx-form-hint>
            </div>
        </div>
    </div>
</ng-container>

<div class="row gx-1" [class.hidden]="snapshot.isCollapsed && !formCompare">
    <sqx-content-field *ngFor="let field of formSection.fields; trackBy: trackByField"
        (languageChange)="languageChange.emit($event)"
        [isCompact]="isCompact"
        [form]="form"
        [formCompare]="formCompare"
        [formContext]="formContext"
        [formModel]="field"
        [formModelCompare]="getFieldFormCompare(field)"
        [language]="language"
        [languages]="languages"
        [schema]="schema">
    </sqx-content-field>
</div>