:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    padding: 0;
}

.alert {
    border: 0;
    border-radius: 0;
    margin: 0;

    a {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.form-control {
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 1px;
}