<form [formGroup]="createForm.form" (ngSubmit)="createApp()">
    <sqx-modal-dialog (closed)="complete()">
        <ng-container title>
            <ng-container *ngIf="template; else noTemplate">
                Create {{template}} Sample
            </ng-container>

            <ng-template #noTemplate>
                Create App
            </ng-template>
        </ng-container>

        <ng-container content>
            <sqx-form-error [error]="createForm.error | async"></sqx-form-error>
        
            <div class="form-group">
                <label for="appName">Name</label>
                
                <sqx-control-errors for="name" submitOnly="true" [submitted]="createForm.submitted | async"></sqx-control-errors>
        
                <input type="text" class="form-control" id="appName" formControlName="name" autocomplete="off" sqxTransformInput="LowerCase" sqxFocusOnInit />
                
                <small class="form-text text-muted">
                    The app name becomes part of the api url,<br /> e.g {{apiUrl.buildUrl("api/content/")}}<b>{{createForm.appName | async}}</b>/.
                </small>
                    
                <small class="form-text text-muted">
                    It must contain lower case letters (a-z), numbers and dashes only, and cannot be longer than 40 characters. The name cannot be changed later.
                </small>
            </div>
        </ng-container>

        <ng-container footer>
            <button type="reset" class="float-left btn btn-secondary" (click)="complete()" [disabled]="createForm.submitted | async">Cancel</button>
            <button type="submit" class="float-right btn btn-success">Create</button>
        </ng-container>
    </sqx-modal-dialog>
</form>