<div class="file-drop" (sqxDropFile)="addFiles($event)" *ngIf="!isDisabled && (state.canCreate | async)">
    <h3 class="file-drop-header">Drop files here to upload</h3>

    <div class="file-drop-or">or</div>

    <div class="file-drop-button">
        <span class="btn btn-success" (click)="fileInput.click()">
            <span>Select File(s)</span>

            <input class="file-drop-button-input" type="file" (change)="addFiles($event.target.files)" #fileInput multiple />
        </span>
    </div>

    <div class="file-drop-info">Drop file on existing item to replace the asset with a newer version.</div>
</div>

<div class="row assets" [class.unrow]="isListView" *ngIf="state.tagsNames | async; let tags" (paste)="addFiles($event)">
    <sqx-asset *ngFor="let file of newFiles" [initFile]="file"
        [isListView]="isListView"
        (loadError)="remove(file)" 
        (load)="add(file, $event)">
    </sqx-asset>

    <ng-container *ngIf="state.assets | async; let assets">
        <sqx-asset *ngFor="let asset of assets; trackBy: trackByAsset" [asset]="asset"
            [isListView]="isListView"
            [isDisabled]="isDisabled"
            [isSelectable]="selectedIds"
            [isSelected]="isSelected(asset)"
            [allTags]="tags"
            (update)="update($event)"
            (select)="emitSelect($event)"
            (delete)="delete($event)">
        </sqx-asset>
    </ng-container>
</div>

<sqx-pager [hideWhenButtonsDisabled]="true" [pager]="state.assetsPager | async" (prevPage)="goPrev()" (nextPage)="goNext()"></sqx-pager>