<ng-container *ngIf="!isListView; else listTemplate">
    <div class="card" [class.selectable]="isSelectable" [class.border-primary]="isSelected" (click)="emitSelect()" 
        (sqxDropFile)="updateFile($event)"
        [sqxDropDisabled]="!asset || !asset.canUpload"
        [noDrop]="true">
        <div class="card-body">
            <div class="file-preview" *ngIf="asset && snapshot.progress === 0" @fade>
                <span class="file-type" *ngIf="asset.fileType">
                    {{asset.fileType}}
                </span>
                
                <div *ngIf="asset.canPreview" class="file-image">
                    <img [sqxImageSource]="asset | sqxAssetPreviewUrl" class="bg" layoutKey="asset-large">
                </div>
                <div *ngIf="!asset.canPreview" class="file-icon">
                    <img [attr.src]="asset | sqxFileIcon">
                </div>

                <div class="overlay">
                    <div class="overlay-background"></div>
                    
                    <div class="overlay-menu">
                        <a class="file-edit ml-2" (click)="edit()" *ngIf="!isDisabled">
                            <i class="icon-pencil"></i>
                        </a>
                        <a class="file-download ml-2" [href]="asset | sqxAssetUrl" sqxStopClick sqxExternalLink="noicon">
                            <i class="icon-download"></i>
                        </a>
                        <a class="file-delete ml-2" *ngIf="!isDisabled && !removeMode && asset.canDelete"
                            (sqxConfirmClick)="emitDelete()"
                            confirmTitle="Delete asset" 
                            confirmText="Do you really want to delete the asset?">
                            <i class="icon-delete"></i>
                        </a>
                        <a class="file-delete ml-2" (click)="emitRemove()" *ngIf="removeMode">
                            <i class="icon-close"></i>
                        </a>
                    </div>

                    <span class="overlay-type" *ngIf="asset.fileType">
                        {{asset.fileType}}
                    </span>

                    <div class="overlay-user">
                        <div>
                            <i class="icon-user"></i> {{asset.lastModifiedBy | sqxUserNameRef}}
                        </div>
                        <div>
                            {{asset.lastModified | sqxFromNow}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="upload-progress" *ngIf="snapshot.progress > 0">
                <sqx-progress-bar mode="Circle" [value]="snapshot.progress"></sqx-progress-bar>
            </div>
        
            <div class="drop-overlay align-items-center justify-content-center" *ngIf="asset && snapshot.progress === 0">
                <div class="drop-overlay-background"></div>
                <div class="drop-overlay-text">Drop to update</div>
            </div>
        </div>
        <div class="card-footer" (dblclick)="edit()">
            <ng-container *ngIf="asset">
                <div>
                    <div class="file-name editable" (click)="edit()">
                        {{asset.fileName}}
                    </div>
                </div>
                <div class="file-tags tags">
                    <sqx-tag-editor [ngModel]="asset.tags" disabled="true" styleBlank="true" placeholder="+Tag"></sqx-tag-editor>
                </div>
                <div class="file-info">
                    <ng-container *ngIf="asset.pixelWidth">{{asset.pixelWidth}}x{{asset.pixelHeight}}px, </ng-container> {{asset.fileSize | sqxFileSize}}
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-template #listTemplate>
    <div class="table-items-row" [class.selectable]="isSelectable" (click)="emitSelect()" 
        (sqxDropFile)="updateFile($event)"
        [sqxDropDisabled]="!asset || !asset.canUpload"
        [noDrop]="true">
        <div class="left-border" [class.hidden]="!isSelectable" [class.selected]="isSelected" ></div>

        <div *ngIf="asset && asset.canPreview && snapshot.progress === 0" class="image drag-handle" [class.image-left]="!isSelectable" @fade>
            <img [sqxImageSource]="asset | sqxAssetPreviewUrl" class="bg2" layoutKey="asset-small">
        </div>
        <div *ngIf="asset && !asset.canPreview && snapshot.progress === 0" class="image drag-handle image-padded" [class.image-left]="!isSelectable" @fade>
            <img class="icon" [attr.src]="asset | sqxFileIcon">
        </div>

        <table class="table-fixed" *ngIf="asset && snapshot.progress === 0" @fade>
            <tr>
                <td class="col-name">
                    <div class="file-name editable" (click)="edit()">
                        {{asset.fileName}}
                    </div>
                </td>
                <td class="col-info" *ngIf="!isCompact">
                    <ng-container *ngIf="asset.pixelWidth">{{asset.pixelWidth}}x{{asset.pixelHeight}}px, </ng-container> {{asset.fileSize | sqxFileSize}}
                </td>
                <td class="col-user" *ngIf="!isCompact">
                    <img class="user-picture" title="{{asset.lastModifiedBy | sqxUserNameRef}}" [attr.src]="asset.lastModifiedBy | sqxUserPictureRef" />
                </td>
                <td class="col-actions text-right" *ngIf="!isCompact">
                    <a class="btn btn-text-secondary" [href]="asset | sqxAssetUrl" sqxStopClick sqxExternalLink="noicon">
                        <i class="icon-download"></i>
                    </a>
                </td>
                <td class="col-actions text-right" *ngIf="!isDisabled || removeMode">
                    <button type="button" class="btn btn-text-danger" *ngIf="!isDisabled && !removeMode && asset.canDelete"
                        (sqxConfirmClick)="emitDelete()"
                        confirmTitle="Delete asset" 
                        confirmText="Do you really want to delete the asset?">
                        <i class="icon-bin2"></i>
                    </button>
                    <button type="button" class="btn btn-text-secondary" (click)="emitRemove()" *ngIf="removeMode">
                        <i class="icon-close"></i>
                    </button>
                </td>
            </tr>
        </table>

        <div class="upload-progress" *ngIf="snapshot.progress > 0">
            <sqx-progress-bar [value]="snapshot.progress" [trailWidth]="0.8" [strokeWidth]="0.8" [showText]="false"></sqx-progress-bar>
        </div>

        <div class="drop-overlay align-items-center justify-content-center" *ngIf="asset && snapshot.progress === 0">
            <div class="drop-overlay-background"></div>
            <div class="drop-overlay-text">Drop to update</div>
        </div>
    </div>
</ng-template>

<ng-container *ngIf="asset">
    <sqx-modal [model]="editDialog">
        <sqx-asset-dialog
            [allTags]="allTags"
            [asset]="asset"
            (cancel)="cancelEdit()"
            (complete)="updateAsset($event, true)">
        </sqx-asset-dialog>
    </sqx-modal>
</ng-container>