@import '_vars';
@import '_mixins';

@mixin overlay-container {
    position: relative;
    padding: 0;
    overflow: hidden;
}

@mixin overlay {
    & {
        @include transition(opacity .4s ease);
        @include absolute(0, 0, 0, 0);
        @include opacity(0);
        color: $color-dark-foreground;
    }

    &-background {
        @include absolute(0, 0, 0, 0);
        @include opacity(.7);
        background: $color-dark-black;
    }
}

@mixin asset-type {
    padding: .1rem .25rem;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: normal;
    cursor: none;
    color: $color-dark-foreground;
}

@mixin asset-link {
    
}

.drop-overlay {
    & {
        @include overlay;
        pointer-events: none;
    }

    &-text {
        @include absolute(40%, 0, 0, 0);
        text-align: center;
        font-size: 1.25rem;
        font-weight: lighter;
    }
}

:host {
    padding-bottom: 1rem;
    padding-left: 8px;
    padding-right: 8px;
}

.card {
    & {
        @include overlay-container;
        width: $asset-width;
    }

    &-body,
    &-footer {
        position: relative;
        padding: 1rem;
    }

    &-body {
        padding: 0;
        min-height: $asset-header;
        max-height: $asset-header;
    }

    &-footer {
        padding-top: .5rem;
        min-height: $asset-footer;
        max-height: auto;
    }

    &.drag {
        .drop-overlay {
            @include opacity(1);
        }

        .file-type {
            @include opacity(0);
        }
    }

    &.selectable {
        cursor: pointer;
    }
}

.upload-progress {
    @include absolute(1rem, 3em, 1rem, 3rem);
}

.file {
    &-preview {
        & {
            @include absolute(0, 0, 0, 0);
        }

        &:hover {
            .overlay {
                @include opacity(1);
            }

            .file-type {
                @include opacity(0);
            }
        }
    }

    &-type {
        @include transition(opacity .4s ease);
        @include absolute(1rem, auto, auto, 1rem);
        @include asset-type;
        @include border-radius(3px);
        background: $color-dark-black;
    }

    &-name,
    &-info {
        @include truncate;
    }

    &-image,
    &-icon {
        height: $asset-image;
    }

    &-name {
        line-height: 2rem;
    }

    &-tags {
        margin-bottom: .25rem;
    }

    &-info {
        font-size: .75rem;
    }

    &-icon {
        line-height: $asset-image;
        background: $color-border;
        border: 0;
        text-align: center;
    }
}

.overlay {
    & {
        @include overlay;
        font-size: .8rem;
        font-weight: normal;
    }

    &-menu {
        & {
            @include absolute(1rem, 1rem, auto, auto);
        }

        a {
            & {
                font-size: 1.1rem;
                font-weight: normal;
                cursor: pointer;
                color: darken($color-dark-foreground, 10%);
            }
        
            &:hover {
                color: $color-dark-foreground;
            }
        
            &:focus,
            &:hover {
                text-decoration: none;
            }
        }
    }

    &-type {
        @include absolute(1rem, auto, auto, 1rem);
        @include asset-type;
    }

    &-user {
        @include absolute(auto, auto, 1rem, 1rem);
    }
}

.editable {
    height: 2rem;
}

.tags {
    min-height: 26px;
}