@import '_vars';
@import '_mixins';

.panel {
    min-width: 250px;
    max-width: 250px;
}

.event {
    & {
        margin-bottom: .8rem;
    }

    &-message {
        font-size: .9rem;
    }

    &-created {
        font-size: .65rem;
        font-weight: normal;
        color: $color-empty;
    }
}