<sqx-title message="{app} | Contributors | Settings" parameter="app" value="{{appName() | async}}"></sqx-title>

<div class="panel panel-light">
    <div class="panel-header">
        <h3 class="panel-title">History</h3>

        <a class="panel-close" routerLink="../">
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content panel-content-blank">
            <div *ngFor="let event of events">
                {{event.message}}
            </div>            
        </div>
    </div>
</div>