@import '_vars';
@import '_mixins';

.event {
    & {
        @include flex-box;
        margin-bottom: 1rem;
    }

    &-message {
        font-size: .9rem;
    }

    &-main {
        @include flex-grow(1);
    }

    &-left {
        min-width: 2.8rem;
        max-width: 2.8rem;
        margin-top: .3rem;
    }

    &-created {
        font-size: .65rem;
        font-weight: normal;
        color: $color-text-decent;
    }
}