@import '_vars';
@import '_mixins';

.btn {
    font-family: monospace;
}

.active {
    color: $color-accent-dark;
}

.dropdown-item {
    cursor: pointer;
}

.iso-code {
    font-family: monospace;
}