@import '_mixins';
@import '_vars';

.editor {
    background: $color-dark-foreground;
    border: 1px solid $color-input;
    height: 30rem;
}
.editor-container {
    position: relative;

    .drop-zone {
        background: rgba(238, 241, 244, 0.89);
        z-index: 5000;
        position: absolute;
        top: 92px;
        left: 20px;
        right: 30px;
        border-color: #c8d2db;
        border-style: dashed;
        opacity: 0;
        display: none;
    }

    h3 {
        text-align: center;
        padding-top: 35%;
    }

    .drop-zone.active {
        opacity: 1;
        display:block;
    }
}