@import '_mixins';
@import '_vars';

.editor {
    background: $color-dark-foreground;
    border: 1px solid $color-input;
    height: 30rem;
}
.asset-selector {
    z-index: 65560;

    .modal-header {
        background: transparent;
        border-bottom: 1px solid #c5c5c5;

        .modal-title {
            text-decoration: none;
            color: #333;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            text-shadow: none;
        }
    }

    .modal-content {
        width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
    }
    .modal-dialog {
        max-width: 900px;
    }

    .btn {
        border-radius: 0;
    }
}