<div *ngIf="!forContent || snapshot.filtered.length > 0" dnd-droppable class="droppable category" [allowDrop]="allowDrop" (onDropSuccess)="changeCategory($event.dragData)">
    <div class="drop-indicator"></div>

    <div class="header clearfix">
        <button type="button" class="btn btn-sm btn-text-secondary" (click)="toggle()">
            <i [class.icon-caret-right]="!snapshot.isOpen" [class.icon-caret-down]="snapshot.isOpen"></i> 
        </button>

        <h3>{{schemaCategory.name}} ({{snapshot.filtered.length}})</h3>
        
        <button type="button" class="btn btn-sm btn-text-secondary float-right" *ngIf="schemaCategory.schemas.length === 0 && !forContent" (click)="emitRemove()">
            <i class="icon-bin2"></i> 
        </button>
    </div>

    <ul class="nav nav-panel nav-dark nav-dark-bordered flex-column" *ngIf="snapshot.isOpen" @fade>
        <ng-container *ngIf="!forContent; else simpleMode">
            <li *ngFor="let schema of snapshot.filtered; trackBy: trackBySchema" class="nav-item" dnd-draggable [dragEnabled]="schema.canUpdateCategory" [dragData]="schema">
                <a class="nav-link" [routerLink]="schemaRoute(schema)" routerLinkActive="active">
                    <div class="row">
                        <div class="col-4">
                            <span class="schema-name schema-name-accent">{{schema.displayName}}</span> 
                        </div>
                        <div class="col-4">
                            <span class="schema-user">
                                <i class="icon-user"></i> {{schema.lastModifiedBy | sqxUserNameRef}}
                            </span>
                        </div>
                        <div class="col-4 schema-modified">
                            <small class="item-modified">{{schema.lastModified | sqxFromNow}}</small>
                            
                            <span class="item-published" [class.unpublished]="!schema.isPublished"></span>
                        </div>
                    </div>
                </a>
            </li>
        </ng-container>

        <ng-template #simpleMode>
            <li *ngFor="let schema of snapshot.filtered; trackBy: trackBySchema" class="nav-item">
                <a class="nav-link" [routerLink]="schemaRoute(schema)" routerLinkActive="active">
                    <span class="schema-name" *ngIf="forContent">{{schema.displayName}}</span>
                </a>
            </li>
        </ng-template>
    </ul>
</div>
