@import '_vars';
@import '_mixins';

.search-form {
    display: inline-block;
}

.form-inline {
    position: relative;
}

.form-control-expandable {
    padding-right: 3rem;
}

.dropdown-menu {
    max-height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

.form-horizontal {
    padding: 1rem 1.5rem;
    position: relative;
    min-width: 60rem;
    max-width: 60rem;
}

.submit {
    @include absolute(.5rem, 1rem, auto, auto);
}

.buttons {
    @include absolute(8px, 8px, auto, auto);
}

.save-search {
    color: $color-border-dark !important;
    font-size: .9rem;
    font-weight: normal;
    cursor: pointer !important;
}

.expand-search {
    & {
        color: $color-border-dark !important;
        font-size: .9rem;
        font-weight: normal;
        cursor: pointer !important;
        padding: 0 .5rem;
    }

    &.highlighted {
        color: $color-title !important;
    }
}

.link {
    margin-top: 1.5rem;
    font-size: .8rem;
    font-weight: normal;
}

.col-form-label {
    text-align: left;
}