<div class="row gx-2 mb-1 align-items-center" *ngIf="fieldModel">
    <div class="col-auto path">
        <sqx-query-path 
            (pathChange)="changePath($event)"
            [path]="filter.path"
            [model]="model">
        </sqx-query-path>
    </div>
    <div class="col-auto operator">
        <select class="form-select" [ngModel]="filter.op" (ngModelChange)="changeOp($event)">
            <option *ngFor="let operator of fieldModel.operators" [ngValue]="operator.value">{{operator.name | sqxTranslate}}</option>
        </select>
    </div>
    <div class="col" *ngIf="!noValue" [ngSwitch]="fieldModel.type">
        <ng-container *ngSwitchCase="'boolean'">
            <div class="form-check form-check-inline ps-2">
                <input type="checkbox" class="form-check-input"
                    [ngModel]="filter.value"
                    (ngModelChange)="changeValue($event)" />
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'date'">
            <sqx-date-time-editor mode="Date"
                [hideDateButtons]="true"
                [ngModel]="filter.value"
                (ngModelChange)="changeValue($event)">
            </sqx-date-time-editor>
        </ng-container>
        <ng-container *ngSwitchCase="'datetime'">
            <sqx-date-time-editor mode="DateTime"
                [hideDateButtons]="true"
                [ngModel]="filter.value"
                (ngModelChange)="changeValue($event)">
            </sqx-date-time-editor>
        </ng-container>
        <ng-container *ngSwitchCase="'number'">
            <input type="number" class="form-control"
                [ngModel]="filter.value"
                (ngModelChange)="changeValue($event)" />
        </ng-container>
        <ng-container *ngSwitchCase="'reference'">
            <sqx-reference-input [schemaIds]="fieldModel.extra"
                mode="Single"
                [ngModel]="filter.value"
                (ngModelChange)="changeValue($event)"
                [language]="language"
                [languages]="languages">
            </sqx-reference-input>
        </ng-container>
        <ng-container *ngSwitchCase="'status'">
            <sqx-dropdown 
                valueProperty="status"
                [items]="fieldModel.extra"
                [ngModel]="filter.value"
                (ngModelChange)="changeValue($event)"
                [canSearch]="false">
                <ng-template let-status="$implicit">
                    <i class="icon-circle" [style.color]="status.color"></i> {{status.status}}
                </ng-template>
            </sqx-dropdown>
        </ng-container>
        <ng-container *ngSwitchCase="'user'">
            <ng-container *ngIf="contributorsState.isLoaded | async; else noPermission">
                <sqx-dropdown
                    valueProperty="token"
                    [items]="contributorsState.contributors | async"
                    [ngModel]="filter.value"
                    (ngModelChange)="changeValue($event)"
                    searchProperty="contributorName">
                    <ng-template let-user="$implicit" let-context="context">
                        <span class="dropdown-user">
                            <img class="user-picture" [src]="user | sqxUserDtoPicture">

                            <span class="user-name" [innerHTML]="user.contributorName | sqxHighlight:context"></span>
                        </span>
                    </ng-template>
                    <ng-template let-user="$implicit">
                        <span class="user-name">{{user.contributorName}}</span>
                    </ng-template>
                </sqx-dropdown>
            </ng-container>
            <ng-template #noPermission>
                <input type="text" class="form-control" *ngIf="!fieldModel.extra"
                    [ngModel]="filter.value"
                    (ngModelChange)="changeValue($event)"
                />
            </ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="'string'">
            <input type="text" class="form-control" *ngIf="!fieldModel.extra"
                [ngModel]="filter.value"
                (ngModelChange)="changeValue($event)" />
        </ng-container>
    </div>
    <div class="col-auto ps-2">
        <button type="button" class="btn btn-text-danger" (click)="remove.emit()">
            <i class="icon-bin2"></i>
        </button>
    </div>
</div>