<sqx-dropdown [items]="model.fields | sqxKeys" 
    [ngModel]="path"
    (ngModelChange)="pathChange.emit($event)" 
    [canSearch]="false" [separated]="true">
    <ng-template let-field="$implicit">
        <div class="row">
            <div class="col-auto">
                <div class="badge badge-pill badge-primary">{{model.fields[field].displayName}}</div>
            </div>
            <div class="col text-right">
                <sqx-form-hint>{{model.fields[field].description | sqxTranslate: model.fields[field]}}</sqx-form-hint>
            </div>
        </div>
    </ng-template>

    <ng-template let-field="$implicit">
        {{model.fields[field].displayName}}
    </ng-template>
</sqx-dropdown>