<sqx-dropdown
    [items]="model.fields | sqxKeys"
    [itemsBordered]="true"
    [ngModel]="path"
    (ngModelChange)="pathChange.emit($event)" 
    [canSearch]="false">
    <ng-template let-field="$implicit">
        <div class="row">
            <div class="col-auto">
                <div class="badge rounded-pill badge-primary">{{model.fields[field].displayName}}</div>
            </div>
            <div class="col text-end">
                <sqx-form-hint>{{model.fields[field].description | sqxTranslate: model.fields[field]}}</sqx-form-hint>
            </div>
        </div>
    </ng-template>

    <ng-template let-field="$implicit">
        {{model.fields[field].displayName}}
    </ng-template>
</sqx-dropdown>