.content {
    margin-top: 1rem;
}

.card-header,
.card-footer {
    padding: 1.25rem;
}

.col-name {
    @include force-width(14rem);
}

.preview {
    background-color: $color-input;
    border: 0;
    border-radius: 4px;
    opacity: .4;
}