.nav-link {
    padding-bottom: .6rem;
    padding-top: .6rem;
    position: relative;
}

.header-link {
    & {
        color: inherit;
    }

    &:hover {
        text-decoration: none;
    }
}

.icon-angle-right {
    @include absolute(14px, 2rem, auto, auto);
}