<sqx-title message="{{ 'common.settings' | translate }}"></sqx-title>

<sqx-panel theme="dark" desiredWidth="16rem">
    <ng-container title>
        <a class="header-link" routerLink="./">
            Settings
        </a>
    </ng-container>
    
    <ng-container content>
        <ul class="nav nav-panel nav-dark flex-column" *ngIf="appsState.selectedApp | async; let app">
            <li class="nav-item" *ngIf="app.canReadBackups">
                <a class="nav-link" routerLink="backups" routerLinkActive="active">
                    {{ 'common.backups' | translate }}
                    <i class="icon-angle-right"></i>
                </a>
            </li>
            <li class="nav-item" *ngIf="app.canReadClients">
                <a class="nav-link" routerLink="clients" routerLinkActive="active">
                    {{ 'common.clients' | translate }}
                    <i class="icon-angle-right"></i>
                </a>
            </li>
            <li class="nav-item" *ngIf="app.canReadContributors">
                <a class="nav-link" routerLink="contributors" routerLinkActive="active">
                    {{ 'common.contributors' | translate }}
                    <i class="icon-angle-right"></i>
                </a>
            </li>
            <li class="nav-item" *ngIf="app.canReadRoles">
                <a class="nav-link" routerLink="roles" routerLinkActive="active">
                    {{ 'common.roles' | translate }}
                    <i class="icon-angle-right"></i>
                </a>
            </li>
            <li class="nav-item" *ngIf="app.canReadLanguages">
                <a class="nav-link" routerLink="languages" routerLinkActive="active">
                    {{ 'common.languages' | translate }}
                    <i class="icon-angle-right"></i>
                </a>
            </li>
            <li class="nav-item" *ngIf="app.canReadPatterns">
                <a class="nav-link" routerLink="patterns" routerLinkActive="active">
                    {{ 'common.patterns' | translate }}
                    <i class="icon-angle-right"></i>
                </a>
            </li>
            <li class="nav-item" *ngIf="app.canReadWorkflows">
                <a class="nav-link" routerLink="workflows" routerLinkActive="active">
                    {{ 'common.workflows' | translate }}
                    <i class="icon-angle-right"></i>
                </a>
            </li>
            <li class="nav-item" *ngIf="app.canReadPlans">
                <a class="nav-link" routerLink="plans" routerLinkActive="active">
                    {{ 'common.subscription' | translate }}
                    <i class="icon-angle-right"></i>
                </a>
            </li>
        </ul>
    </ng-container>
</sqx-panel>

<router-outlet></router-outlet>