@import '_vars';
@import '_mixins';

.navbar {
    @include box-shadow(0, 4px, 4px, .2px);
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -.2rem;
    margin-bottom: -.2rem;
    font-size: 1.8rem;
}

.search-form {
    margin-left: 15px;
}

.container {
    margin-top: 54px;
}