<ng-container *ngIf="commentsArray | async; let comments">
    <ng-container *ngIf="mentionUsers | async; let users">
        <div class="comments-list" #scrollContainer>
            <div (sqxResized)="scrollDown()">
                <sqx-comment *ngFor="let comment of comments.itemsChanges | async; trackBy: trackByComment; let i = index"
                    [comment]="comment"
                    [commentIndex]="i"
                    [comments]="comments"
                    [mentionUsers]="users"
                    canEdit="true"
                    canFollow="false"
                    [userToken]="userToken">
                </sqx-comment>
            </div>
        </div>
        
        <div class="comments-footer">                
            <form [formGroup]="commentForm.form" (ngSubmit)="comment(comments)">
                <input class="form-control" name="text" formControlName="text" placeholder="{{ 'comments.create' | sqxTranslate }}"
                    [mention]="$any(users)"
                    [mentionConfig]="mentionConfig"
                    autocomplete="off"
                    autocorrect="off"
                    autocapitalize="off">
            </form>
        </div>
    </ng-container>
</ng-container>



