@if (mentionUsers | async; as users) {
    <div class="comments-header">
        <form [formGroup]="commentForm.form" (ngSubmit)="comment()">
            <input
                class="form-control"
                #input
                autocapitalize="off"
                autocomplete="off"
                autocorrect="off"
                (blur)="blurComment()"
                formControlName="text"
                [mention]="$any(users)"
                [mentionConfig]="mentionConfig"
                name="text"
                placeholder="{{ 'comments.create' | sqxTranslate }}" />
        </form>
    </div>
    <div class="comments-list" #scrollContainer>
        @for (comment of commentsItems | async; track comment.index) {
            <sqx-comment
                canAnswer="true"
                canEdit="true"
                canFollow="false"
                [commentItem]="comment"
                [comments]="commentsState"
                [currenUrl]="router.url"
                [mentionConfig]="mentionConfig"
                [mentionUsers]="users"
                [scrollContainer]="'.comments-list'"
                [userToken]="commentUser"></sqx-comment>
        }
    </div>
}
