<div
    class="comment row g-0"
    [@bounce]="commentItem.isSelected"
    [class.selected]="commentItem.isSelected"
    [class.reply]="commentItem.comment.replyTo"
    [sqxScrollActive]="true"
    [sqxScrollOffset]="20"
    [sqxScrollContainer]="scrollContainer">
    @if (snapshot.mode !== "Edit") {
        <div
            class="comment-text row g-0"
            [sqxScrollActive]="commentItem.isSelected"
            [sqxScrollOffset]="-20"
            [sqxScrollContainer]="scrollContainer"
            sqxSc>
            <div class="col-auto pe-2">
                <img
                    class="user-picture"
                    [src]="commentItem.comment.user | sqxUserPictureRef"
                    title="{{ commentItem.comment.user | sqxUserNameRef }}" />
            </div>
            <div class="col col-text">
                <div class="comment-message">
                    <div class="user-row">
                        <div class="user-ref" [title]="commentItem.comment.user | sqxUserNameRef: null">
                            {{ commentItem.comment.user | sqxUserNameRef: null }}
                        </div>
                    </div>
                    <div [innerHTML]="commentItem.comment.text | sqxMarkdown | sqxSafeHtml"></div>
                    <div class="comment-created text-muted">
                        @if (canFollow && commentItem.comment.url) {
                            <a [routerLink]="commentItem.comment.url">{{ "comments.follow" | sqxTranslate }}</a>
                            &nbsp;
                        }
                        {{ commentItem.comment.time | sqxFromNow }}
                    </div>
                </div>
            </div>
            <div class="actions">
                @if (canAnswer) {
                    <button class="btn btn-sm btn-text-secondary" (click)="startReply()" type="button">
                        <i class="icon-enter"></i>
                    </button>
                }
                @if (isEditable && canEdit) {
                    <button class="btn btn-sm btn-text-secondary" (click)="startEdit()" type="button">
                        <i class="icon-pencil"></i>
                    </button>
                }
                @if (isDeletable || canDelete) {
                    <button
                        class="btn btn-sm btn-text-danger"
                        [confirmRequired]="confirmDelete"
                        (sqxConfirmClick)="delete()"
                        type="button"
                        confirmTitle="i18n:comments.deleteConfirmTitle"
                        confirmText="i18n:comments.deleteConfirmText"
                        confirmRememberKey="deleteComment">
                        <i class="icon-bin2"></i>
                    </button>
                }
            </div>
        </div>
    }

    @if (snapshot.mode === "Edit") {
        <form (ngSubmit)="update()">
            <textarea
                class="form-control mb-1"
                [(ngModel)]="editingText"
                [mention]="$any(mentionUsers)"
                [mentionConfig]="mentionConfig"
                (keydown)="updateOnEnter($event)"
                name="{{ commentItem.comment }}"
                sqxFocusOnInit
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"></textarea>
            <div>
                <button class="btn btn-sm btn-primary" type="submit">
                    <i class="icon-enter"></i>
                    {{ "common.save" | sqxTranslate }}
                </button>
                <button class="btn btn-sm btn-text-secondary me-1" (click)="cancelEditOrReply()" type="button">
                    {{ "common.cancel" | sqxTranslate }}
                </button>
            </div>
        </form>
    }

    @if (commentItem.replies.length > 0 || snapshot.mode === "Reply") {
        <div class="replies">
            @for (item of commentItem.replies; track $index) {
                <sqx-comment
                    [commentItem]="item"
                    [comments]="comments"
                    [mentionConfig]="mentionConfig"
                    [mentionUsers]="mentionUsers"
                    [userToken]="userToken"
                    canEdit="true"
                    canFollow="false"></sqx-comment>
            }
            @if (snapshot.mode === "Reply") {
                <form [formGroup]="replyForm.form" (ngSubmit)="reply()">
                    <textarea
                        class="form-control mb-1"
                        [mention]="$any(mentionUsers)"
                        [mentionConfig]="mentionConfig"
                        (keydown)="replayOnEnter($event)"
                        name="text"
                        formControlName="text"
                        sqxFocusOnInit
                        autocomplete="off"
                        autocorrect="off"
                        autocapitalize="off"></textarea>
                    <div>
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="icon-enter"></i>
                            {{ "common.reply" | sqxTranslate }}
                        </button>
                        <button class="btn btn-sm btn-text-secondary me-1" (click)="cancelEditOrReply()" type="button">
                            {{ "common.cancel" | sqxTranslate }}
                        </button>
                    </div>
                </form>
            }
        </div>
    }
</div>
