<sqx-title message="{app} | More | Settings" parameter1="app" [value1]="ctx.appName"></sqx-title>

<sqx-panel desiredWidth="50rem">
    <div class="panel-header">
        <div class="panel-title-row">
            <h3 class="panel-title">More</h3>
        </div>

        <a class="panel-close" sqxParentLink>
            <i class="icon-close"></i>
        </a>
    </div>

    <div class="panel-main">
        <div class="panel-content">
            <div class="card border-danger">
                <h3 class="card-header">Danger Zone</h3>

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4>Archive App</h4>

                            <div>Once you archive an app, there is no going back. Please be certain.</div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-danger"
                                (sqxConfirmClick)="archiveApp()"
                                confirmTitle="Archive App" 
                                confirmText="Do you really want to archive this app?">
                                Archive App
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sqx-panel>