.btn {
    color: $color-text-decent;

    &.data {
        color: $color-text;
    }
}

.dropdown-menu {
    max-height: 20rem;
    overflow-x: inherit;
    overflow-y: auto;
}

.dropdown-item {
    color: $color-text-decent;
    cursor: pointer;

    td {
        padding: .25rem 1rem;
    }

    &.data {
        color: $color-text;
    }
}

tr {
    display: inherit !important;
}

.btn-outline-secondary {
    color: $color-text;
}

.iso-code {
    font-family: monospace;
}