.dropdown-menu {
    max-height: 20rem;
    overflow-x: inherit;
    overflow-y: auto;
}

.dropdown-item {
    cursor: pointer;

    td {
        padding: .25rem 1rem;
    }
}

tr {
    display: inherit !important;
}

.btn-outline-secondary {
    color: $color-text;
}

.iso-code {
    font-family: monospace;
}