.dropdown-menu {
    max-height: 20rem;
    overflow-x: inherit;
    overflow-y: scroll;
}

.dropdown-item {
    cursor: pointer;
}

.iso-code {
    font-family: monospace;
}

.iso-code-dropdown {
    display: inline-block;
    max-width: 60px;
    min-width: 40px;
}