<div>
    <div class="panel2">
        <div class="panel2-sidebar panel2-sidebar-left" [style.width]="sidebarWidth" [class.collapsed]="isCollapsed">
            <div class="panel2-header">
                <div class="panel2-header-inner" [style.width]="sidebarWidth">
                    <ng-container *ngIf="customHeader; else defaultHeader">
                        <ng-content select="[sidebarHeader]"></ng-content>
                    </ng-container>

                    <ng-template #defaultHeader>
                        <h3><i class="icon-{{titleIcon}}" *ngIf="titleIcon"></i> {{title}}</h3>
                    </ng-template>
                </div>

                <button class="btn panel2-collapse" (click)="toggle()">
                    <i class="icon-angle-left"></i>
                </button>

                <div class="panel2-sidebar-title">{{title}}</div>
            </div>

            <div class="panel2-main" [style.width]="sidebarWidth">
                <ng-content select="[sidebarContent]"></ng-content>
            </div>
        </div>
        <div class="panel2-content">
            <ng-content select="[content]"></ng-content>
        </div>
    </div>
</div>