<div class="top-header">
    <ng-content select="[topHeader]"></ng-content>
</div>

<ng-container *ngIf="!syncedHeader">
    <div class="grid-header" [class.loading-indicator]="isLoading" #headerElement>
        <ng-content select="[header]"></ng-content>
    </div>
    
    <div class="grid-content normal" [class.loading-indicator]="isLoading" [class.tabled]="table" #contentElement>
        <ng-content select="[content]"></ng-content>
    </div>
</ng-container>

<ng-container *ngIf="syncedHeader">
    <div class="grid-header synced" [class.loading-indicator]="isLoading" #headerElement>
        <span class="inner" #header>
            <ng-content select="[syncedHeader]"></ng-content>
        </span>
    </div>
    
    <div class="grid-content synced" [class.loading-indicator]="isLoading" [class.tabled]="table" [sqxSyncScrolling]="header">
        <ng-content select="[syncedContent]"></ng-content>
    </div>
</ng-container>

<div class="grid-footer" [class.loading-indicator]="isLoading" #footerElement>
    <ng-content select="[footer]"></ng-content>
</div>

<div class="loader text-center" *ngIf="isLoading">
    <i class="icon-spinner2 spin2"></i>
</div>