.custom-select {
    display: inline-block;
    margin-right: 2rem;
    margin-top: .25rem;
    width: auto;
}

.page-info {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    width: 14rem;
}