<div class="clearfix" *ngIf="!autoHide || canGoPrev || canGoNext">
    <div class="float-right pagination" *ngIf="paging">
        <select class="custom-select custom-select-sm" [ngModel]="paging.pageSize" (ngModelChange)="setPageSize($event)">
            <option *ngFor="let pageSize of pageSizes" [ngValue]="pageSize">{{pageSize}}</option>
        </select>

        <span class="page-info">
            <span *ngIf="paging.count > 0" class="pagination-text">{{ 'common.pagerInfo' | sqxTranslate: translationInfo }}</span>
    
            <button type="button" class="btn btn-text-secondary pagination-button" [disabled]="!canGoPrev" (click)="goPrev()">
                <i class="icon-angle-left"></i>
            </button>
            <button type="button" class="btn btn-text-secondary pagination-button" [disabled]="!canGoNext" (click)="goNext()">
                <i class="icon-angle-right"></i>
            </button>
        </span>
    </div>
</div>