.form-select {
    display: inline-block;
    margin-right: 2rem;
    margin-top: 0;
    width: auto;
}

.page-info {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    width: 15rem;
}