<div #panel>
    <div class="panel panel-{{theme}}" [@slideRight]>
        <ng-content select="[inner]" *ngIf="isFullSize"></ng-content>

        <div class="panel-header" [class.large]="showSecondHeader" *ngIf="!isFullSize">
            <div class="panel-title-row">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <h3 class="panel-title">
                            <ng-content select="[title]"></ng-content>
                        </h3>
                    </div>
                    <div class="col text-right">
                        <ng-content select="[menu]"></ng-content>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="showClose">
                <ng-container *ngIf="customClose; else defaultClose">
                    <a class="panel-close" (click)="close.emit()">
                        <i class="icon-close"></i>
                    </a>
                </ng-container>
                <ng-template #defaultClose>
                    <a class="panel-close" sqxParentLink [isLazyLoaded]="isLazyLoaded" [queryParamsHandling]="closeQueryParamsHandling">
                        <i class="icon-close"></i>
                    </a>
                </ng-template>
            </ng-container>

            <ng-content select="[header]"></ng-content>

            <div class="panel-header-row" *ngIf="showSecondHeader">
                <ng-content select="[secondHeader]"></ng-content>
            </div>
        </div>

        <div class="panel-main">
            <div class="panel-content" [class.grid]="grid" [class.no-padding]="noPadding" [class.panel-content-scroll-x]="scrollX" [class.panel-content-scroll]="showScrollbar" [class.panel-content-blank]="isBlank" [class.panel-content-blank-bordered]="isBlank && showSidebar">
                <ng-content select="[content]"></ng-content>
            </div>

            <div class="panel-sidebar" *ngIf="showSidebar">
                <ng-content select="[sidebar]"></ng-content>
            </div>
        </div>
    </div>
</div>