<div class="panel2">
    <div class="panel2-content">
        <div class="panel2-header">
            <div>
                <h3>
                    <ng-content select="[title]"></ng-content>
                </h3>
            </div>
            <div>
                <ng-content select="[menu]"></ng-content>
            </div>            
        </div>
        <div class="panel2-main">
            <ng-content select="[content]"></ng-content>
        </div>
    </div>
    <div class="panel2-sidebar panel2-sidebar-left" [class.collapsed]="isCollapsed">
        <ng-content select="[sidebarContent]"></ng-content>
    </div>
</div>