name: Dev
concurrency: build

on:
  push:
    branches:
      - master
      - 'release/*'
  pull_request:
    branches:
      - master
      - 'release/*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4.3.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1

      - name: Login to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: BUILD
        uses: docker/build-push-action@v3.2.0
        with:
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: squidex/squidex-build

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4.3.2
        
      - name: Pull from Cache
        run: docker pull squidex/squidex-build

      - name: Replace Image Name1
        uses: mikefarah/yq@v4.28.2
        with:
          cmd: yq e '.services.squidex1.image = "squidex/squidex-build"' -i backend/tests/docker-compose.yml

      - name: Replace Image Name2
        uses: mikefarah/yq@v4.28.2
        with:
          cmd: yq e '.services.squidex2.image = "squidex/squidex-build"' -i backend/tests/docker-compose.yml

      - name: Replace Image Name3
        uses: mikefarah/yq@v4.28.2
        with:
          cmd: yq e '.services.squidex3.image = "squidex/squidex-build"' -i backend/tests/docker-compose.yml

      - name: Start Test
        run: docker-compose up -d
        working-directory: backend/tests

      - name: RUN TEST
        uses: kohlerdominik/docker-run-action@v1.1.0
        with:
          image: squidex/build:7
          environment: |
            CONFIG__BACKUPURL=http://localhost:5000
            CONFIG__WAIT=60
            CONFIG__SERVER__URL=http://localhost:8080
            WEBHOOKCATCHER__HOST__ENDPOINT=webhookcatcher
          default_network: host
          options: --name test1
          volumes: ${{ github.workspace }}:/src
          run: dotnet test /src/backend/tools/TestSuite/TestSuite.ApiTests/TestSuite.ApiTests.csproj --filter Category!=NotAutomated

      - name: RUN TEST on path
        uses: kohlerdominik/docker-run-action@v1.1.0
        with:
          image: squidex/build:7
          environment: |
            CONFIG__BACKUPURL=http://localhost:5000
            CONFIG__WAIT=60
            CONFIG__SERVER__URL=http://localhost:8081/squidex
            WEBHOOKCATCHER__HOST__ENDPOINT=webhookcatcher
          default_network: host
          options: --name test2
          volumes: ${{ github.workspace }}:/src
          run: dotnet test /src/backend/tools/TestSuite/TestSuite.ApiTests/TestSuite.ApiTests.csproj --filter Category!=NotAutomated

      - name: RUN TEST with dedicated collections
        uses: kohlerdominik/docker-run-action@v1.1.0
        with:
          image: squidex/build:7
          environment: |
            CONFIG__BACKUPURL=http://localhost:5000
            CONFIG__WAIT=60
            CONFIG__SERVER__URL=http://localhost:8082
            WEBHOOKCATCHER__HOST__ENDPOINT=webhookcatcher
          default_network: host
          options: --name test3
          volumes: ${{ github.workspace }}:/src
          run: dotnet test /src/backend/tools/TestSuite/TestSuite.ApiTests/TestSuite.ApiTests.csproj --filter Category!=NotAutomated
       
      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2.2.1
        with:
         images: 'squidex-tmp,squidex/resizer,squidex/caddy-proxy-path'
         tail: '100'

      - name: Cleanup Test
        if: always()
        run: docker-compose down
        working-directory: backend/tests

  publish:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v4.3.2

      - name: Calculate Version
        env:
          BUILD_NUMBER: ${{ github.run_number }}
        run: |
          echo "BUILD_NUMBER=$(($BUILD_NUMBER + 6000))" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1

      - name: Login to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: BUILD
        uses: docker/build-push-action@v3.2.0
        with:
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            squidex/squidex:dev
            squidex/squidex:dev-${{ env.BUILD_NUMBER }}
