name: Dev
concurrency: build

on:
  push:
    branches:
      - 'master'
      - 'release/*'
  pull_request:
    branches:
      - 'master'
      - 'release/*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare - Checkout
        uses: actions/checkout@v4.2.2

      - name: Prepare - Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.10.0

      - name: Build
        uses: docker/build-push-action@v6.15.0
        with:
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: squidex-local

  test-containers:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Prepare - Checkout
        uses: actions/checkout@v4.2.2

      - name: Prepare - Setup DotNet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Test - TestContainers
        run: dotnet test backend/Squidex.sln --filter Category==TestContainers

  test-mongo:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Prepare - Checkout
        uses: actions/checkout@v4.2.2

      - name: Prepare - Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.10.0

      - name: Prepare - Setup DotNet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Prepare - Setup Node
        uses: actions/setup-node@v4.2.0
        with:
          node-version: 18

      - name: Build
        uses: docker/build-push-action@v6.15.0
        with:
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: squidex-local

      - name: Start Compose
        run: docker compose up -d
        working-directory: tools/TestSuite

      - name: RUN on Mongo
        run: dotnet test tools/TestSuite/TestSuite.ApiTests/TestSuite.ApiTests.csproj --filter Category!=NotAutomated
        env:
          CONFIG__BACKUPURL: http://localhost:5000
          CONFIG__WAIT: 60
          CONFIG__SERVER__URL: http://localhost:8080
          WEBHOOKCATCHER__HOST__ENDPOINT: webhookcatcher

      - name: RUN on Mongo on path with worker
        run: dotnet test tools/TestSuite/TestSuite.ApiTests/TestSuite.ApiTests.csproj --filter Category!=NotAutomated
        env:
          CONFIG__BACKUPURL: http://localhost:5000
          CONFIG__WAIT: 60
          CONFIG__SERVER__URL: http://localhost:8081/squidex
          WEBHOOKCATCHER__HOST__ENDPOINT: webhookcatcher

      - name: Install Playwright Dependencies
        run: npm ci
        working-directory: './tools/e2e'

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
        working-directory: './tools/e2e'

      - name: Run Playwright Tests
        run: npx playwright test --retries=3
        working-directory: './tools/e2e'
        env:
          BASE__URL: http://localhost:8080

      - name: Upload Playwright Artifacts
        if: always()
        uses: actions/upload-artifact@v4.6.1
        with:
          name: playwright-report
          path: tools/e2e/playwright-report/
          retention-days: 30
       
      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2.2.2
        with:
          dest: './docker-logs'

      - name: Upload docker logs
        if: failure()
        uses: actions/upload-artifact@v4.6.1
        with:
          name: docker-logs
          path: './docker-logs'

      - name: Cleanup
        if: always()
        run: docker compose down
        working-directory: tools/TestSuite

  test-sql:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        include:
          - name: mysql
            compose: docker-compose-mysql.yml
          - name: postgres
            compose: docker-compose-postgres.yml
          - name: sqlserver
            compose: docker-compose-sqlserver.yml

    steps:
      - name: Prepare - Checkout
        uses: actions/checkout@v4.2.2

      - name: Prepare - Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.10.0

      - name: Prepare - Setup DotNet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Prepare - Setup Node
        uses: actions/setup-node@v4.2.0
        with:
          node-version: 18

      - name: Build
        uses: docker/build-push-action@v6.15.0
        with:
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: squidex-local

      - name: Start Compose
        run: docker compose -f ${{ matrix.compose }} up -d 
        working-directory: tools/TestSuite

      - name: RUN on Mongo
        run: dotnet test tools/TestSuite/TestSuite.ApiTests/TestSuite.ApiTests.csproj --filter Category!=NotAutomated
        env:
          CONFIG__BACKUPURL: http://localhost:5000
          CONFIG__WAIT: 60
          CONFIG__SERVER__URL: http://localhost:8080
          WEBHOOKCATCHER__HOST__ENDPOINT: webhookcatcher
       
      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2.2.2
        with:
          dest: './docker-logs'

      - name: Upload docker logs
        if: failure()
        uses: actions/upload-artifact@v4.6.1
        with:
          name: docker-logs-${{ matrix.name }}
          path: './docker-logs'

      - name: Cleanup
        if: always()
        run: docker compose down
        working-directory: tools/TestSuite
    
  publish:
    runs-on: ubuntu-latest
    needs: [test-containers, test-mongo, test-sql]
    steps:
      - name: Prepare - Checkout
        uses: actions/checkout@v4.2.2

      - name: Prepare - Inject short Variables
        uses: rlespinasse/github-slug-action@v5.0.0

      - name: Prepare - Setup QEMU
        uses: docker/setup-qemu-action@v3.6.0

      - name: Prepare - Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.10.0

      - name: Prepare - Remove unnecessary files
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Calculate Version
        if: github.event_name != 'pull_request'
        env:
          BUILD_NUMBER: ${{ github.run_number }}
        run: |
          echo "BUILD_NUMBER=$(($BUILD_NUMBER + 6000))" >> $GITHUB_ENV

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push for Multi-Platforms
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@v6.15.0
        with:
          push: true
          build-args: "SQUIDEX__RUNTIME__VERSION=7.0.0-dev-${{ env.BUILD_NUMBER }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
          tags: squidex/squidex:dev,squidex/squidex:dev-${{ env.BUILD_NUMBER }}

