name: Screenshot
concurrency: build

on:
  workflow_dispatch:

jobs:
  screenshot:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare - Checkout
        uses: actions/checkout@v4.1.7

      - name: Prepare - Setup QEMU
        uses: docker/setup-qemu-action@v3.1.0

      - name: Prepare - Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.4.0

      - name: Prepare - Setup Node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: 18

      - name: Build - BUILD
        uses: docker/build-push-action@v6.3.0
        with:
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: squidex-local

      - name: Test - Start Compose
        run: docker-compose up -d
        working-directory: tools/TestSuite

      - name: Test - Install Playwright Dependencies
        run: npm ci
        working-directory: './tools/e2e'

      - name: Test - Install Playwright Browsers
        run: npx playwright install --with-deps
        working-directory: './tools/e2e'

      - name: Test - Run Playwright Tests
        run: npx playwright test --update-snapshots
        working-directory: './tools/e2e'
        env:
          BASE__URL: http://localhost:8080

      - name: Test - Upload Playwright Artifacts
        if: always()
        uses: actions/upload-artifact@v4.3.4
        with:
          name: snapshots
          path: tools/e2e/snapshots/
          retention-days: 30
