name: Release
concurrency: build

on:
  push:
    tags:
      - "*"

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare - Checkout
        uses: actions/checkout@v3.1.0

      - name: Prepare - Inject short Variables
        uses: rlespinasse/github-slug-action@v4.3.2

      - name: Prepare - Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0

      - name: Prepare - Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1

      - name: Build - BUILD
        uses: docker/build-push-action@v3.2.0
        with:
          load: true
          build-args: "SQUIDEX__BUILD__VERSION=${{ env.GITHUB_REF_SLUG }},SQUIDEX__RUNTIME__VERSION=${{ env.GITHUB_REF_SLUG }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: squidex-local

      - name: Test - Start Compose
        run: docker-compose up -d
        working-directory: tools/TestSuite

      - name: Test - RUN
        uses: kohlerdominik/docker-run-action@v1.1.0
        with:
          image: squidex/build:7
          environment: |
            CONFIG__BACKUPURL=http://localhost:5000
            CONFIG__WAIT=60
            CONFIG__SERVER__URL=http://localhost:8080
            WEBHOOKCATCHER__HOST__ENDPOINT=webhookcatcher
          default_network: host
          options: --name test1
          volumes: ${{ github.workspace }}:/src
          run: dotnet test /src/tools/TestSuite/TestSuite.ApiTests/TestSuite.ApiTests.csproj --filter Category!=NotAutomated

      - name: Test - RUN on path
        uses: kohlerdominik/docker-run-action@v1.1.0
        with:
          image: squidex/build:7
          environment: |
            CONFIG__BACKUPURL=http://localhost:5000
            CONFIG__WAIT=60
            CONFIG__SERVER__URL=http://localhost:8081/squidex
            WEBHOOKCATCHER__HOST__ENDPOINT=webhookcatcher
          default_network: host
          options: --name test2
          volumes: ${{ github.workspace }}:/src
          run: dotnet test /src/tools/TestSuite/TestSuite.ApiTests/TestSuite.ApiTests.csproj --filter Category!=NotAutomated

      - name: Test - RUN with dedicated collections
        uses: kohlerdominik/docker-run-action@v1.1.0
        with:
          image: squidex/build:7
          environment: |
            CONFIG__BACKUPURL=http://localhost:5000
            CONFIG__WAIT=60
            CONFIG__SERVER__URL=http://localhost:8082
            WEBHOOKCATCHER__HOST__ENDPOINT=webhookcatcher
          default_network: host
          options: --name test3
          volumes: ${{ github.workspace }}:/src
          run: dotnet test /src/tools/TestSuite/TestSuite.ApiTests/TestSuite.ApiTests.csproj --filter Category!=NotAutomated
       
      - name: Test - Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2.2.1
        with:
         images: 'squidex-local,squidex/resizer'
         tail: '100'

      - name: Test - Cleanup
        if: always()
        run: docker-compose down
        working-directory: tools/TestSuite

      - name: Publish - Get Major Version
        id: version
        uses: rishabhgupta/split-by@v1
        with:
          string: "${{ env.GITHUB_REF_SLUG }}"
          split-by: "."

      - name: Publish - Check Tag
        id: normal-version
        run: |
          if [[ ${{ env.GITHUB_REF_SLUG }} =~ ^[0-9]+\.[0-9]+$ ]]; then
              echo "STABLE_VERSION=true" >> $GITHUB_ENV
          fi

      - name: Publish - Login to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Publish - Rename Tags
        run: |
          docker tag squidex-local squidex/squidex:latest
          docker tag squidex-local squidex/squidex:${{ env.GITHUB_REF_SLUG }}
          docker tag squidex-local squidex/squidex:${{ steps.version.outputs._0 }}
    
      - name: Publish - Push Tags
        if: env.STABLE_VERSION == 'true'
        run: |
          docker tag squidex-local squidex/squidex:latest
          docker tag squidex-local squidex/squidex:${{ env.GITHUB_REF_SLUG }}
          docker tag squidex-local squidex/squidex:${{ steps.version.outputs._0 }}

      - name: Release - Make directories
        run: sudo mkdir /build /release

      - name: Release - Create container
        run: docker create --name squidex-container squidex-local

      - name: Release - Get binaries
        run: sudo docker cp squidex-container:/app/. /build

      - name: Release - Zip Binaries
        run: sudo zip -r /release/binaries.zip .
        working-directory: /build

      - name: Release - Get Changelog Entry
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v2
        with:
          version: ${{ env.GITHUB_REF_SLUG }}
          path: ./CHANGELOG.md

      - name: Release - Publish Binaries
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: "/release/binaries.zip"
          body: ${{ steps.changelog_reader.outputs.changes }}
          name: ${{ env.GITHUB_REF_SLUG }}
          replacesArtifacts: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Release - Cleanup Binaries
        if: always()
        run: docker rm squidex-container