<div [formGroup]="fieldForm">
    <div class="form-group row">
        <label class="col-3 col-form-label" for="{{field.fieldId}}_fieldName">{{ 'common.name' | sqxTranslate }}</label>

        <div class="col-9">
            <input type="text" class="form-control" id="{{field.fieldId}}_fieldName" readonly [ngModel]="field.name" [ngModelOptions]="standalone">

            <sqx-form-hint>
                {{ 'schemas.field.nameHint' | sqxTranslate }}
            </sqx-form-hint>
        </div>
    </div>

    <sqx-field-form-common-label></sqx-field-form-common-label>

    <div class="form-group row" *ngIf="field.properties.isContentField">
        <label class="col-3 col-form-label">{{ 'common.tags' | sqxTranslate }}</label>

        <div class="col-9">
            <sqx-tag-editor id="schemaTags" formControlName="tags"></sqx-tag-editor>

            <sqx-form-hint>
                {{ 'schemas.field.tagsHint' | sqxTranslate }}
            </sqx-form-hint>
        </div>
    </div>
</div>