<sqx-panel desiredWidth="50rem" isBlank="true" [isLazyLoaded]="false">
    <ng-container title>
        Workflows
    </ng-container>

    <ng-container menu>
        <button type="button" class="btn btn-text-secondary" (click)="reload()" title="Refresh roles (CTRL + SHIFT + R)">
            <i class="icon-reset"></i> Refresh
        </button>

        <sqx-shortcut keys="ctrl+shift+r" (trigger)="reload()"></sqx-shortcut>

        <ng-container>
            <button type="button" class="btn btn-primary" (click)="save()" title="Save (CTRL + S)">
                Save
            </button>
    
            <sqx-shortcut keys="ctrl+s" (trigger)="save()"></sqx-shortcut>
        </ng-container>
    </ng-container>

    <ng-container content>
        <ng-container *ngIf="rolesState.roles | async; let roles">
            <sqx-workflow-step *ngFor="let step of workflow.steps; trackBy: trackByStep"
                [workflow]="workflow"
                [step]="step"
                [roles]="roles"
                (makeInitial)="setInitial(step)"
                (rename)="renameStep(step, $event)"
                (remove)="removeStep(step)"
                (transitionAdd)="addTransiton(step, $event)"
                (transitionRemove)="removeTransition(step, $event)"
                (transitionUpdate)="updateTransition($event)"
                (update)="updateStep(step, $event)">
            </sqx-workflow-step>
        </ng-container>

        <button class="btn btn-success" (click)="addStep()">
            Add Step
        </button>
    </ng-container>
</sqx-panel>