<div class="row transition no-gutters">
    <div class="col-auto">
        <i class="icon-corner-down-right text-decent"></i>
    </div>
    <div class="col col-step">
        <div class="transition-to">
            <i class="icon-circle" [style.color]="transition.step.color"></i> {{transition.to}}
        </div>
    </div>
    <div class="col-auto col-label">
        <span class="text-decent">when</span>
    </div>
    <div class="col">
        <input class="form-control" [class.dashed]="!transition.expression" spellcheck="false"
            [disabled]="disabled"
            [ngModelOptions]="onBlur"
            [ngModel]="transition.expression"
            (ngModelChange)="changeExpression($event)"
            placeholder="Add Expression" /> 
    </div>
    <div class="col-auto col-label">
        <span class="text-decent">for</span>
    </div>
    
    <div class="col">
        <sqx-tag-editor
            [disabled]="disabled"
            [suggestions]="roleSuggestions"
            [singleLine]="true"
            [ngModelOptions]="onBlur"
            [ngModel]="transition.roles"
            (ngModelChange)="changeRole($event)"
            placeholder="Add Role">
        </sqx-tag-editor>
    </div>

    <div class="col-auto pl-2">
        <button type="button" class="btn btn-text-danger" (click)="emitRemove()" [disabled]="disabled">
            <i class="icon-bin2"></i>
        </button>
    </div>
</div>