<div class="step">
    <div class="row no-gutters">
        <div class="col-auto color pr-2">
            <sqx-color-picker mode="Circle"
                [ngModelOptions]="onBlur"
                [ngModel]="step.color"
                (ngModelChange)="changeColor($event)"
                [disabled]="step.isLocked">
            </sqx-color-picker>
        </div>
        <div class="col">
            <sqx-editable-title 
                [name]="step.name"
                (nameChanged)="changeName($event)"
                [disabled]="step.isLocked">
            </sqx-editable-title>
        </div>
        <div class="col-auto" *ngIf="step.isLocked">
            <small class="text-decent">(Cannot be removed)</small>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-text-danger" (click)="remove.emit()" *ngIf="!step.isLocked">
                <i class="icon-bin2"></i>
            </button>
        </div>
    </div>
        
    <div class="row transition no-gutters" *ngFor="let transition of transitions">
        <div class="col-auto">
            <i class="icon-arrow-right text-decent"></i>
        </div>
        <div class="col col-step">
            <div class="transition-to">
                <div class="color-circle" [style.background]="transition.step.color"></div> {{transition.to}}
            </div>
        </div>
        <div class="col-auto col-label">
            <span class="text-decent">when</span>
        </div>
        <div class="col">
            <button class="btn btn-block btn-outline-secondary dashed">
                Add Expression
            </button>
        </div>
        <div class="col-auto col-label">
            <span class="text-decent">for</span>
        </div>
        <div class="col">
            <button class="btn btn-block btn-outline-secondary dashed">
                Add Role
            </button>
        </div>
        <div class="col-auto pl-2">
            <button type="button" class="btn btn-text-danger" (click)="transitionRemove.emit(transition)">
                <i class="icon-bin2"></i>
            </button>
        </div>
    </div>
        
    <div class="row transition no-gutters" *ngIf="openSteps.length > 0">
        <div class="col-auto">
            <i class="icon-arrow-right text-decent"></i>
        </div>
        <div class="col col-step">
            <sqx-dropdown [items]="openSteps" [(ngModel)]="openStep">
                <ng-template let-target="$implicit">
                    <div class="color-circle" [style.background]="target.color"></div> {{target.name}}
                </ng-template>
            </sqx-dropdown>
        </div>
        <div class="col pl-2">
            <button class="btn btn-outline-secondary" (click)="transitionAdd.emit(openStep)">
                <i class="icon-plus"></i>
            </button>
        </div>
    </div>
</div>