@import '_vars';
@import '_mixins';

.dashed {
    @include placeholder-color($color-theme-secondary);
    border-style: dashed;
    border-width: 1px;
}

.select-placeholder {
    @include absolute(0, 0, 0, 0);
    color: $color-theme-secondary;
    padding: .5rem .75rem;
    pointer-events: none;
    line-height: 1.2rem;
    border: 1px solid transparent;
}

.form-control {
    &:disabled,
    &.disabled {
        background: $panel-light-background;
    }
}